<template>
    <button class="button" :type="type" :class="[mode, radius, small]">
        <slot></slot>
    </button>
</template>
<script>
export default {
    props: ['type', 'mode', 'radius', 'small']
}
</script>
<style lang="scss" scoped>
button {
    background: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
}

span {
    display: inline-block;
    transform: skew(21deg);
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

button:hover {
    color: #fff;
}

button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}
</style>