<template>
    <div class="list-group">
        Append Data
        <button class="btn btn-xs btn-danger" @click="addEvent">Add</button>
        <div class="list-group-item" v-for="(data, index) in events" :key="index">
            <h4 class="list-group-item-heading">
                Item {{ data }}
            </h4>
            <button class="btn btn-xs btn-danger" @click="deleteEvent(index)">Delete</button>
        </div>

    </div>
</template>
<style scoped>
.list-group {
    padding: 40px;
}
</style>
<script>
import { ref } from 'vue';

export default {
    setup() {
        const events = ref([])

        const data = ref(0);

        const addEvent = () => {
            events.value.push(data.value);
            data.value++;
        }

        const deleteEvent = (index) => {
            events.value.splice(index, 1);
        }

        return {
            events,
            deleteEvent,
            addEvent
        }
    },
}
</script>