<template>
   <div class="todo_list_area section_padding">
        <div class="row">
            <div class="col-lg-6">
                <div class="todo_items">
                    <div 
                        v-for="(todo, index) in state.todos" :key="index" 
                        class="todo_item shadow-sm rounded px-3 py-2 mb-3 d-flex justify-content-between align-items-center"
                        :class="{'bg-eee':todo.done}"
                        >
                        <div class="text">
                            <h5>{{ todo.text }}</h5>
                            <p class="text-black-50">create_at</p>
                        </div>
                        <div class="item_action">
                            <span v-if="todo.done == false" @click="markAsDone(index)" class="text-success p-2 c-p" title="Mark as done">&#10003;</span>
                            <span v-else @click="markAsUndone(index)" class="text-success p-2 c-p"  title="Mark as undone">&#8630;</span>
                            <span @click="removeTodo(index)" class="text-danger p-2 c-p ms-2" title="Todo item delete">&#10005;</span>
                        </div>
                    </div>
                    <!-- Todo Empty Msg -->
                    <div 
                        v-if="state.todos.length === 0"
                        class="todo_empty shadow-sm rounded px-3 py-3 mb-3"
                    >
                        You don't have any task to do.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shadow rounded px-2 py-3">
                    <div class="form-group">
                        <input type="text" 
                            class="form-control shadow-none border-0 border-bottom" 
                            placeholder="Todo Text"
                            v-model="state.todoText"
                            @keydown.enter="addTodo"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<style scoped>
.section_padding {
    padding: 40px;
}
</style>
<script>
import { reactive } from 'vue';

export default {
    setup() {
       const state = reactive({
            todos: [],
            todoText: ""
        });

        function addTodo() {
            state.todos.unshift({
                text: state.todoText,
                createAt: new Date(),
                done: false
            });
            state.todoText = "";
        }

        function markAsDone(index) {
            state.todos[index].done = true
        }

        function markAsUndone(index) {
            state.todos[index].done = false
        }

        function removeTodo(index) {
            if(!confirm("Are you sure?")){
                return
            }

            state.todos.splice(index, 1);
        }



        return {
            state,
            addTodo,
            markAsDone,
            markAsUndone,
            removeTodo,
        }

    },
}
</script>