<template>
    <div class="form-group" v-for="(input,k) in inputs" :key="k">
        <input type="text" class="form-control" v-model="input.name">
        <span>
            <i class="fas fa-minus-circle" @click="remove(k)" v-show="k || ( !k && inputs.length > 1)"></i>
            <i class="fas fa-plus-circle" @click="add(k)" v-show="k == inputs.length-1"></i>
        </span>
    </div>
</template>
<script>
import { ref } from 'vue';

export default {
    setup() {
        const inputs = ref([
            { name:'' }
        ])

        const add = () => {
            inputs.value.push({ name: '' });
        }
        const remove = (index) => {
            inputs.value.splice(index, 1);
        }

        return {
            inputs,
            add,
            remove
        }
    }
}
</script>