<template>
    <div class="mobile_option1">
        <div class="navigation">
            <ul class="listWrap">
                <li class="list active">
                    <a href="javascript:void(0);">
                        <i class="icon">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </i>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="javascript:void(0);">
                        <i class="icon">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </i>
                        <span class="text">About</span>
                    </a>
                </li>
                <li class="list">
                    <a href="javascript:void(0);">
                        <i class="icon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </i>
                        <span class="text">Profile</span>
                    </a>
                </li>
                <li class="list">
                    <a href="javascript:void(0);">
                        <i class="icon">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </i>
                        <span class="text">Settings</span>
                    </a>
                </li>

                <li class="list">
                    <a href="javascript:void(0);">
                        <i class="icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </i>
                        <span class="text">Settings</span>
                    </a>
                </li>


                <li class="indicator"></li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        const listItem = document.querySelectorAll('.mobile_option1 .list');

        listItem.forEach(select_item => {
            select_item.addEventListener('click', function () {
                listItem.forEach(item => {
                    item.classList.remove('active');
                });
                select_item.classList.add('active');
            });
        });
    }
}
</script>
<style>
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
</style>
<style lang="scss" >
.mobile_option1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    padding: 60px 0;

    .navigation {
        width: 360px;
        height: 70px;
        background: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 0 20px;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 100%;

            li {
                width: 70px;
                height: 70px;
                position: relative;
                z-index: 1;

                a {
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: #222327;
                    position: relative;
                    display: block;

                    &:hover {
                        text-decoration: none;
                    }

                    .icon {
                        position: relative;
                        display: block;
                        line-height: 75px;
                        text-align: center;
                        transition: 0.5s;
                        color: #222;

                        ion-icon {
                            font-size: 2.2rem;
                        }
                    }

                    .text {
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        text-align: center;
                        color: #222;
                        font-weight: 600;
                        font-size: 12px;
                        letter-spacing: 0.05em;
                        transition: 0.5s;
                        // transform: translateY(20px);
                        opacity: 0;
                        z-index: 1;
                    }
                }

                &:active,
                &.active {
                    a {
                        .icon {
                            color: #fff;
                            transform: translateY(-35px);
                        }

                        .text {
                            opacity: 1;
                            transform: translateY(-15px);
                        }
                    }
                }


                &.indicator {
                    position: absolute;
                    width: 64px;
                    height: 64px;
                    top: -44%;
                    border-radius: 50%;
                    border: 6px solid transparent;
                    background: #aaa;
                    box-shadow: 0 8px 8px -1px rgb(0 0 0 / 52%);
                    transition: 0.3s;
                    z-index: 0;

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        width: 20px;
                        height: 20px;
                        background: blue;
                        background: transparent;
                    }

                    &:after {
                        right: -22px;
                        box-shadow: -2px -10px 0 0 transparent;
                        border-top-left-radius: 20px;
                    }

                    &:before {
                        left: -22px;
                        box-shadow: 2px -10px 0 0 transparent;
                        border-top-right-radius: 20px;
                    }
                }

                &:nth-child(1).active~.indicator {
                    transform: translateX(calc(64px * 0));
                }

                &:nth-child(2).active~.indicator {
                    transform: translateX(calc(64px * 1));
                }

                &:nth-child(3).active~.indicator {
                    transform: translateX(calc(64px * 2));
                }

                &:nth-child(4).active~.indicator {
                    transform: translateX(calc(64px * 3));
                }

                &:nth-child(5).active~.indicator {
                    transform: translateX(calc(64px * 4));
                }
            }
        }
    }
}
</style>