<template>
    <div class="product_page">
        <div class="page_setup">
            <h4 class="heading">Add new product</h4>
            <form class="form_data">
                <div class="left">
                    <div class="_top">
                        <div class="mb_5">
                            <base-input label="Product Title" placeholder="Product Title"></base-input>
                        </div>
                        <div class="mb_2">
                            <base-textarea rowNum="16" placeholder="Description"></base-textarea>
                        </div>
                    </div>
                    <div class="_bottom">
                        <div class="_head">
                            <h4>Form Data</h4>
                        </div>
                        <div class="_body">
                            <div class="_left">
                                <button type="button" id="Generalbt" class="tablink active"
                                    @click="openShortSlide(this, 'General')">General</button>
                                <button type="button" id="Inventorybt" class="tablink"
                                    @click="openShortSlide(this, 'Inventory')">Inventory</button>
                                <button type="button" id="Shippingbt" class="tablink"
                                    @click="openShortSlide(this, 'Shipping')">Shipping</button>
                                <button type="button" id="LinkedProductsbt" class="tablink"
                                    @click="openShortSlide(this, 'LinkedProducts')">Linked Products</button>
                                <button type="button" id="Attributesbt" class="tablink"
                                    @click="openShortSlide(this, 'Attributes')">Attributes</button>
                                <button type="button" id="Advancedbt" class="tablink"
                                    @click="openShortSlide(this, 'Advanced')">Advanced</button>
                            </div>
                            <div class="_right">
                                <div class="content">
                                    <div id="General" class="text cnt_txt">
                                        <div class="mb_2">
                                            <base-input divClass="d-flex" label="Regular price (TK)" labelClass="w_200"
                                                placeholder="Regular Price (TK)" classValue="w_400"></base-input>
                                        </div>
                                        <div class="mb_2">
                                            <base-input divClass="d-flex" label="Sale price (TK)" labelClass="w_200"
                                                placeholder="Sale Price (TK)" classValue="w_400"></base-input>
                                        </div>
                                        <!-- <div class="mb_2">
                                            <base-input 
                                                divClass="mb_2 d-flex" 
                                                label="Sale price dates"
                                                labelClass="w_200"
                                                classValue="w_400"
                                            ></base-input>
                                            <base-input 
                                                divClass="d-flex"
                                                labelClass="w_200"
                                                classValue="w_400"
                                            ></base-input>
                                        </div> -->
                                        <span class="link">Schedule</span>
                                    </div>

                                    <div id="Inventory" class="text cnt_txt" style="display:none">
                                        <div class="mb_2">
                                            <base-input divClass="d-flex" label="SKU" labelClass="w_200"
                                                placeholder="SKU" classValue="w_400"></base-input>
                                        </div>
                                        <div class="mb_2">
                                            <base-checkbox divClass="d-flex" label="Manage stock?" labelClass="w_200"
                                                classValue="w_400"
                                                checkboxTxt="Enable stock management at product level"></base-checkbox>
                                        </div>
                                        <div class="mb_2">
                                            <base-input divClass="d-flex" label="Stock status" labelClass="w_200"
                                                placeholder="Stock" classValue="w_400"></base-input>
                                        </div>
                                        <div class="mb_2 brdr_t mt_5">
                                            <base-checkbox divClass="d-flex" label="Sold individually"
                                                labelClass="w_200" classValue="w_400"
                                                checkboxTxt="Enable this to only allow one of this item to be bought in a single order">
                                            </base-checkbox>
                                        </div>
                                    </div>

                                    <div id="Shipping" class="text cnt_txt" style="display:none">
                                        <div class="mb_2">
                                            <base-input divClass="d-flex" label="Shipping class" labelClass="w_200"
                                                classValue="w_400" placeholder="Shipping"></base-input>
                                        </div>
                                        <div class="mb_2">
                                            <div class="vue_input input_grp">
                                                <label for="">Dimensions (cm)</label>
                                                <!-- add -->
                                                <div class="_grp mb_4" v-for="(input,k) in inputs" :key="k">
                                                    <div class="_l">
                                                        <base-input v-model="input.length" type="text" divClass="d-flex" labelClass="" classValue="" placeholder="Length"></base-input>

                                                        <base-input v-model="input.width" type="text" divClass="d-flex" labelClass="" classValue="" placeholder="Width"></base-input>

                                                        <base-input v-model="input.height" type="text" divClass="d-flex" labelClass="" classValue="" placeholder="Height"></base-input>

                                                        <base-input v-model="input.unit" type="text" divClass="d-flex" labelClass="" classValue="" placeholder="Unit"></base-input>
                                                    </div>
                                                    <div class="_r">
                                                        <base-button type="button" small="bg_c" v-show="k < inputs.length-1 || ( !k && inputs.length > 1)"
                                                            @click="remove(k)">-
                                                        </base-button>
                                                        <base-button type="button" @click="add(k)" v-show="k == inputs.length-1">+
                                                        </base-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb_2 brdr_t mt_5">

                                            <BaseSelect label="Weight (kg)" :options="communities"
                                                :default="'Community'" class="select w_200 w_400"
                                                @input="displayToCommunity($event)" />
                                        </div>
                                    </div>

                                    <div id="LinkedProducts" class="text cnt_txt" style="display:none">
                                        <div class="mb_2">
                                            <base-input divClass="d-flex" label="Upsells" labelClass="w_200"
                                                classValue="w_400" placeholder="Upsells"></base-input>
                                        </div>
                                        <div class="mb_2">
                                            <base-input divClass="d-flex" label="Cross-sells" labelClass="w_200"
                                                classValue="w_400" placeholder="Crose Sells"></base-input>
                                        </div>
                                    </div>

                                    <div id="Attributes" class="text cnt_txt" style="display:none">
                                        <div class="mb_2">
                                            <base-input placeholder="Regular Price (TK)" divClass="d-flex"
                                                label="Regular price (TK)" labelClass="w_200" classValue="w_400">
                                            </base-input>
                                        </div>
                                        <div class="mb_2">
                                            <base-input placeholder="Sale Price (TK)" divClass="d-flex"
                                                label="Sale price (TK)" labelClass="w_200" classValue="w_400">
                                            </base-input>
                                        </div>
                                    </div>

                                    <div id="Advanced" class="text cnt_txt" style="display:none">
                                        <div class="mb_2">
                                            <base-textarea divClass="d-flex" label="Purchase note" labelClass="w_200"
                                                classValue="w_400" rowNum="3"></base-textarea>
                                        </div>
                                        <div class="mb_2">
                                            <base-input divClass="d-flex" label="Menu order" labelClass="w_200"
                                                classValue="w_400" placeholder="0"></base-input>
                                        </div>
                                        <div class="mb_2 brdr_t mt_5">
                                            <base-checkbox id="reviews" divClass="d-flex" label="Enable reviews"
                                                labelClass="w_200" classValue="w_400"></base-checkbox>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="page_sidebar">
                        <div class="publish step mh">
                            <div class="_head">
                                <div class="title">Publish</div>
                            </div>
                            <div class="_body">
                                <base-button small="boder_radius1 fs_1 light_color">Submit</base-button>
                            </div>
                        </div>
                        <div class="category step">
                            <div class="_head">
                                <div class="title">Categories</div>
                            </div>
                            <div class="_body">
                                <div class="mb_2">
                                    <BaseSelect label="Category" :options="communities" :default="'Community'"
                                        class="select" @input="displayToCommunity($event)" />
                                </div>
                                <div class="mb_2">
                                    <BaseSelect label="Sub Category" :options="communities" :default="'Community'"
                                        class="select" @input="displayToCommunity($event)" />
                                </div>
                            </div>
                            <div class="_foot">
                                <span>
                                    <router-link to="" class="link">+ Add New Category</router-link>
                                </span>
                            </div>
                        </div>
                        <div class="brand step">
                            <div class="_head">
                                <div class="title">Brands</div>
                            </div>
                            <div class="_body">
                                <div class="mb_2">
                                    <BaseSelect label="Brand" :options="communities" :default="'Community'"
                                        class="select" @input="displayToCommunity($event)" />
                                </div>
                            </div>
                            <div class="_foot">
                                <span>
                                    <router-link to="" class="link">+ Add New Brand</router-link>
                                </span>
                            </div>
                        </div>
                        <div class="tags step">
                            <div class="_head">
                                <div class="title">Tags</div>
                            </div>
                            <div class="_body">
                                <div class="mb_2 _lr">
                                    <base-input label="Tags" placeholder="Tags"></base-input>
                                    <base-button type="button" class="boder_radius1 btn-border">Add</base-button>
                                </div>
                            </div>
                            <div class="_foot">
                                <span>
                                    <router-link to="" class="link">Choose from the most used tags</router-link>
                                </span>
                            </div>
                        </div>
                        <div class="feature_img step">
                            <div class="_head">
                                <div class="title">Image</div>
                            </div>
                            <div class="_body">
                                <div class="img_set">
                                    <img src="@/assets/admin/dummy-image.jpg" alt="Feature Image">
                                </div>
                                <input style="opacity:0" type="file" ref="image">
                                <span>
                                    <router-link to="" @click="$refs.image.click()" class="link">Set product image
                                    </router-link>
                                </span>
                            </div>
                        </div>
                        <div class="tags"></div>
                        <div class="mt_3 ms">
                            <base-button small="boder_radius1 fs_1 light_color">Submit</base-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import { reactive } from 'vue';

export default {
    setup() {
        const displayToCommunity = (event) => {
            console.log(event)
        }

        const inputs = reactive([
            { length:'', width:'', height:'', unit:'' },
        ])

        const add = () => {
            inputs.push({ length: '', width: '', height: '', unit: '' });
        }
        const remove = (index) => {
            inputs.splice(index, 1);
        }

        return { displayToCommunity, inputs, add, remove }
    },

    data() {
        return {
            communities: []
        }
    },
    methods: {
        openShortSlide(evt, slideName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("cnt_txt");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";

            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");

            }
            document.getElementById(slideName).style.display = "block";

            if (slideName == 'General') {
                document.getElementById('Generalbt').classList.add("active");
            } else if (slideName == 'Inventory') {
                document.getElementById('Inventorybt').classList.add("active");
            } else if (slideName == 'Shipping') {
                document.getElementById('Shippingbt').classList.add("active");
            } else if (slideName == 'LinkedProducts') {
                document.getElementById('LinkedProductsbt').classList.add("active");
            } else if (slideName == 'Attributes') {
                document.getElementById('Attributesbt').classList.add("active");
            } else if (slideName == 'Advanced') {
                document.getElementById('Advancedbt').classList.add("active");
            }
        },
    }
}
</script>

<style lang="scss" scoped>
.mb_1 {
    margin-bottom: 4px;
}

.mb_2 {
    margin-bottom: 8px;
}

.mb_3 {
    margin-bottom: 12px;
}

.mb_4 {
    margin-bottom: 16px;
}

.mb_5 {
    margin-bottom: 20px;
}

.mb_6 {
    margin-bottom: 24px;
}

.mb_7 {
    margin-bottom: 28px;
}

.mb_8 {
    margin-bottom: 32px;
}

.mt_1 {
    margin-top: 4px;
}

.mt_2 {
    margin-top: 8px;
}

.mt_3 {
    margin-top: 12px;
}

.mt_4 {
    margin-top: 16px;
}

.mt_5 {
    margin-top: 20px;
}

.mt_6 {
    margin-top: 24px;
}

.mt_7 {
    margin-top: 28px;
}

.mt_8 {
    margin-top: 32px;
}
.bg_c {
    background-color: #ff3111;
}
.bg_c:hover {
    background-color: #f46853;
    box-shadow: 0px 15px 20px rgba(243, 74, 36, 0.4);
}
.page_setup {
    &>h4 {
        font-size: 16px;
        font-weight: 600;
        color: #444;
        margin-bottom: 20px;
    }

    .form_data {
        display: flex;
        column-gap: 20px;

        .left {
            width: calc(100% - 260px);

            ._top {}

            ._bottom {
                border: 1px solid #ddd;
                margin-top: 40px;

                ._head {
                    border-bottom: 1px solid #ddd;
                    padding: 12px 16px;

                    h4 {
                        color: #444;
                    }
                }

                ._body {
                    display: flex;

                    ._left {
                        border-right: 1px solid #ddd;
                        width: 180px;
                        background-color: #f2f2f2;

                        button {
                            width: 100%;
                            border: none;
                            text-align: left;
                            padding: 12px 16px;
                            font-size: 14px;
                            border-bottom: 1px solid #ddd;
                            display: block;

                            &:last-child {
                                border-bottom: 0px solid #ddd;
                            }

                            &.active {
                                background-color: #e3e3e3;
                            }
                        }
                    }

                    ._right {
                        width: calc(100% - 180px);

                        .content {
                            padding: 16px;

                            .cnt_txt {
                                &>span {
                                    font-size: 12px;
                                    color: #5492bc;
                                    padding-left: 200px;
                                    cursor: pointer;
                                    text-decoration: underline;
                                }

                                .brdr_t {
                                    border-top: 1px solid #ddd;
                                    padding-top: 20px;
                                }

                                .input_grp {
                                    display: block;

                                    label {
                                        margin-bottom: 6px;
                                        display: inline-block;
                                        font-size: 14px;
                                        width: 200px;
                                    }

                                    ._grp {
                                        width: 100%;
                                        display: flex;
                                        column-gap: 12px;
                                        ._l {
                                            display: flex;
                                            column-gap: 8px;
                                            width: 90%;
                                        }
                                        ._right {
                                            width: 10%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .right {
            width: 260px;

            .page_sidebar {
                .step {
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    ._head {
                        border-bottom: 1px solid #ddd;
                        padding: 12px 0;

                        .title {
                            font-size: 14px;
                            font-weight: 600;
                            color: #444;
                            padding: 0 16px;
                        }
                    }

                    ._body {
                        padding: 12px 16px;
                    }

                    ._foot {
                        border-top: 1px solid #ddd;

                        span {
                            padding: 12px 16px;
                            display: block;

                            .link {
                                font-size: 13px;
                                color: #5492bc;
                            }
                        }
                    }
                }
                .tags {
                    ._body {
                        ._lr {
                            display: flex;
                            column-gap: 8px;
                            align-items: flex-end;

                            button {
                                height: 36px;
                                font-size: 14px;
                                padding: 0 16px;
                                line-height: 36px;
                            }
                        }
                    }
                }
                .feature_img {
                    .img_set {
                        img {
                            max-width: 100%;
                        }
                    }
                    span {
                        padding: 12px 16px;
                        display: block;

                        .link {
                            font-size: 13px;
                            color: #5492bc;
                        }
                    }
                }

                .ms {
                    display: none;
                }
            }
        }
    }
}






$phone-width-small: 360px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {}

@media (max-width: #{$tablet-width}) {
    .ms {
        display: block;
    }

    .mh {
        display: none;
    }

    .input_grp {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .page_setup {
        .form_data {
            flex-direction: column;

            .left {
                width: 100% !important;

                ._top {}

                ._bottom {
                    ._body {
                        flex-direction: column;
                        ._left {
                            display: flex;
                            width: 100%;
                        }
                        ._right {
                            width: 100%;

                            .content {
                                padding: 16px;

                                .cnt_txt {
                                    .input_grp {
                                        display: flex;
                                        align-items: flex-start;
                                        flex-direction: column;

                                        ._grp {
                                            width: 100%;
                                            ._l {}
                                            ._r {}
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }

            .right {
                width: 100% !important;

                .page_sidebar {
                    .step {}

                    .ms {
                        display: block !important;
                    }

                }
            }
        }
    }
}

@media (max-width: #{$phone-width}) {
    ._half {
        width: 50%!important;
    }
    .page_setup {
        .form_data {
            flex-direction: column;

            .left {
                ._top {}

                ._bottom {
                    ._body {
                        ._left {
                        }

                        ._right {
                            .content {
                                .cnt_txt {
                                    .input_grp {
                                        ._grp {
                                            flex-wrap: wrap;
                                            row-gap: 20px;
                                            ._l {
                                                display: grid;
                                                height: auto;
                                                align-content: start;
                                                grid-template-columns: repeat(2, minmax(160px, 1fr));
                                                gap: 30px;
                                                width: 100%;
                                            }
                                            ._r {}
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
            .right {
                .page_sidebar {
                    .step {}
                    .ms {
                    }
                }
            }
        }
    }
}

@media (max-width: #{$phone-width-small}) {}
</style>