<template>
    <div class="pdt_item" :class="{'_list':grid_list}">
        <div class="thumb">
            <router-link to="" class="link">
                <img src="https://woodmart.xtemos.com/wp-content/uploads/2017/04/dock-black-walnut-ip6-grid-A4_7-430x490.jpg.webp" alt="Image">
            </router-link>
            <router-link to="" class="link_hover"></router-link>
            <div class="actions">
                <span class="action">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                        <g>
                            <path class="st0" d="M62.52,55.58c-3.49-3.57-7.02-7.09-10.55-10.62c-0.91-0.91-2.01-1.44-3.32-1.46
                                c-0.29-0.01-0.46-0.17-0.64-0.34c-1.29-1.3-2.6-2.58-3.87-3.91c-0.41-0.43-0.6-0.5-1,0.03c-1.11,1.49-2.42,2.81-3.89,3.95
                                c-0.42,0.33-0.32,0.48-0.01,0.79c1.34,1.31,2.64,2.66,3.97,3.98c0.22,0.22,0.34,0.43,0.36,0.76c0.08,1.22,0.55,2.29,1.42,3.16
                                c3.59,3.59,7.17,7.18,10.76,10.77c0.91,0.91,2.04,1.29,3.21,1.33c2.03,0,3.83-1.14,4.58-2.94C64.39,59.03,64.05,57.14,62.52,55.58z
                                "/>
                            <path class="st0" d="M46,23.12C46,10.35,35.7,0,23,0C10.3,0,0,10.35,0,23.12s10.3,23.11,23,23.11C35.7,46.23,46,35.88,46,23.12z
                                M22.96,41.46C12.84,41.44,4.67,33.2,4.7,23.05C4.74,12.85,12.89,4.7,23.03,4.71c10.13,0.01,18.28,8.23,18.26,18.4
                                C41.28,33.28,33.08,41.49,22.96,41.46z"/>
                        </g>
                    </svg>
                </span>
                <span class="action">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                        <path class="st0" d="M63.92,30c-0.06-0.84-0.06-1.69-0.3-2.51c-0.38-3.2-1.3-6.24-2.73-9.13c-0.18-0.37-0.34-0.75-0.53-1.12
                            c-1.62-3.1-3.66-5.9-6.24-8.28c-0.04-0.05-0.07-0.1-0.12-0.14c-4.87-4.6-10.6-7.43-17.22-8.47c-0.77-0.12-1.56-0.09-2.3-0.36
                            c-1.71,0-3.42,0-5.12,0c-0.05,0.12-0.16,0.12-0.26,0.13c-4.3,0.39-8.36,1.6-12.16,3.64c-2.5,1.34-4.82,2.96-6.84,4.96
                            c-2.46,2.24-4.49,4.82-6.07,7.75c-1.18,2.06-2.11,4.22-2.73,6.51c-0.67,2.08-1.03,4.21-1.21,6.38c-0.04-0.01-0.07-0.01-0.1,0.01
                            c0,1.75,0,3.5,0,5.25c0.3,0.8,0.21,1.68,0.43,2.5h0c0.51,3.3,1.52,6.43,3.09,9.38c1.72,3.5,4.07,6.52,6.97,9.13
                            c0.26,0.24,0.51,0.49,0.78,0.71c5.52,4.68,11.91,7.22,19.12,7.62c4.96,0.27,9.74-0.6,14.29-2.59c3.11-1.36,5.97-3.11,8.47-5.43
                            c0.49-0.32,0.88-0.76,1.29-1.17c2.11-2.09,3.95-4.37,5.35-7c1.21-2,2.13-4.13,2.77-6.37c0.6-2,1.1-4.02,1.24-6.12
                            C64.04,33.51,64.04,31.76,63.92,30z M50.5,9.25c-0.1,0.01-0.2,0.06-0.27,0.18C50.3,9.3,50.4,9.26,50.5,9.25z M59.73,40.41
                            c-0.08,0.28-0.16,0.55-0.24,0.83c-0.8,2.22-1.83,4.34-3.05,6.36c-1.37,2.01-2.88,3.91-4.68,5.57c-0.92,0.85-1.89,1.62-2.87,2.39
                            c0,0,0,0,0,0c-1.95,1.32-3.98,2.49-6.17,3.36c-3.9,1.55-7.95,2.25-12.14,2.03c-5.61-0.3-10.74-2.06-15.33-5.32
                            c-0.17-0.12-0.35-0.22-0.52-0.33c-0.15,0.1-0.3,0.14-0.47,0.16c0.16-0.02,0.32-0.06,0.47-0.16c-1.84-1.36-3.44-2.96-4.93-4.68
                            c-1.14-1.33-2.08-2.79-3.02-4.27c-0.18,0.07-0.36,0.11-0.55,0.13c0.18-0.02,0.37-0.06,0.55-0.13c-1.61-2.91-2.72-5.99-3.35-9.25
                            c-0.47-2.56-0.52-5.14-0.33-7.74C3.25,27.19,3.82,25.1,4.39,23c0.79-2.22,1.79-4.35,2.99-6.38c1.76-2.69,3.85-5.09,6.34-7.13
                            c0.14-0.12,0.28-0.25,0.41-0.37c2.3-1.7,4.72-3.2,7.42-4.17C31.7,1.32,41.1,2.71,49.77,9.1c0.15,0.11,0.3,0.22,0.45,0.33l0,0
                            c3.02,2.52,5.48,5.5,7.39,8.94c0.97,2.02,1.88,4.07,2.41,6.26c0.23,0.95,0.42,1.91,0.63,2.86c0.37,2.58,0.43,5.16,0.19,7.75
                            C60.56,36.99,60.23,38.72,59.73,40.41z"/>
                        <path class="st0" d="M49.78,23.49c-0.42-1.13-1.1-2.12-1.91-2.99c-1.84-1.99-4.18-2.99-6.86-3.1c-3.2-0.13-5.98,1.03-8.45,2.99
                            c-0.45,0.36-0.7,0.34-1.14-0.01c-3.02-2.35-6.39-3.6-10.24-2.74c-3.57,0.8-6.01,2.97-7.21,6.47c-1.03,2.84-0.84,5.63,0.32,8.38
                            c1.43,3.46,3.81,6.22,6.54,8.71c0.17,0.18,0.33,0.37,0.51,0.54c3,2.66,6.24,4.99,9.68,7.04c0.69,0.41,1.31,0.39,1.98-0.01
                            c1.39-0.84,2.76-1.71,4.09-2.64c1.85-1.31,3.68-2.65,5.32-4.23c0.36-0.19,0.52-0.57,0.83-0.82c1.84-1.52,3.37-3.31,4.67-5.3
                            c0.32-0.25,0.43-0.65,0.62-0.97c1-1.63,1.77-3.35,1.98-5.28C50.87,27.42,50.62,25.42,49.78,23.49z"/>
                    </svg>
                </span>
                <span class="action">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                        <g>
                            <path class="st1" d="M54.46,13.39c-1.08-0.01-2.16-0.02-3.25,0.01c-0.43,0.01-0.58-0.12-0.57-0.56c0.03-1.08,0.01-2.16,0.01-3.25
                                c0-0.41-0.05-0.8-0.35-1.1c-0.4-0.4-0.87-0.55-1.42-0.34c-0.6,0.23-0.86,0.7-0.87,1.31c-0.02,1.12-0.02,2.25,0,3.37
                                c0.01,0.43-0.1,0.58-0.55,0.57c-1.06-0.03-2.12-0.01-3.18-0.01c-0.29,0-0.58,0-0.85,0.14c-0.54,0.27-0.81,0.83-0.69,1.46
                                c0.12,0.62,0.61,1.04,1.35,1.05c1.16,0.02,2.33,0.02,3.5,0c0.32,0,0.44,0.09,0.43,0.42C47.98,17.03,48,17.62,48,18.2
                                c0,0.54-0.01,1.08,0,1.62c0.02,0.93,0.51,1.51,1.3,1.52c0.82,0.02,1.34-0.55,1.35-1.52c0.01-1.1,0.02-2.21-0.01-3.31
                                c-0.01-0.39,0.12-0.5,0.5-0.49c1.1,0.02,2.21,0.02,3.31,0.01c0.94-0.01,1.56-0.57,1.54-1.36C55.97,13.91,55.38,13.4,54.46,13.39z"
                                />
                            <path class="st0" d="M12.2,14.21c-0.05-0.26-0.09-0.53-0.14-0.8c-0.44-2.17-0.88-4.35-1.32-6.52c-0.23-1.17-0.63-1.5-1.82-1.5
                                c-2.35,0-4.69,0.02-7.04-0.01C1.06,5.36,0.42,5.55,0,6.29c0,0.29,0,0.58,0,0.88c0.47,0.72,1.14,0.91,1.98,0.89
                                c1.89-0.04,3.79,0,5.69-0.02c0.43-0.01,0.61,0.09,0.7,0.54c2.08,10.51,4.19,21.01,6.27,31.51c0.97,4.9,4.65,7.96,9.65,7.96
                                c9.96,0,19.92,0,29.87,0c0.31,0,0.62,0.01,0.93-0.09c0.57-0.2,0.96-0.77,0.9-1.35c-0.06-0.61-0.51-1.1-1.11-1.18
                                c-0.27-0.04-0.54-0.03-0.81-0.03c-9.9,0-19.79,0-29.69,0c-2.41,0-4.43-0.82-5.89-2.82c-1.13-1.55-1.3-3.38-1.62-5.18
                                c-0.42-2.01-0.84-4.02-1.24-6.03C14.48,25.64,13.34,19.92,12.2,14.21z"/>
                            <path class="st0" d="M20.53,51.06c-2.56,0.88-4.4,3.3-4.52,5.94c-0.15,3.21,1.88,5.97,5,6.82c0.16,0.04,0.39,0.01,0.48,0.22
                                c0.75,0,1.5,0,2.25,0c0.1-0.22,0.33-0.15,0.49-0.19c4.9-1.29,6.69-6.96,3.43-10.84C25.95,50.97,23.07,50.18,20.53,51.06z
                                M28.06,59.1c-0.59,1.88-2.08,3.25-4.08,3.78c-0.25,0.01-0.45,0.07-0.61,0.15h-1.49c-0.24-0.14-0.48-0.17-0.6-0.18
                                c-2.68-0.73-4.4-3.07-4.27-5.81c0.1-2.23,1.68-4.3,3.84-5.04c0.58-0.2,1.18-0.3,1.79-0.3c1.64,0,3.23,0.73,4.25,1.95
                                C28.23,55.24,28.66,57.22,28.06,59.1z"/>
                            <path class="st0" d="M52.76,51.66c-3.16-1.9-7.25-0.87-9.14,2.29c-2.27,3.78-0.28,8.7,3.97,9.84c0.19,0.05,0.42,0.02,0.54,0.24
                                c0.75,0,1.5,0,2.25,0c0.05-0.16,0.2-0.11,0.31-0.14c1.89-0.42,3.34-1.47,4.34-3.1C56.96,57.67,55.92,53.56,52.76,51.66z
                                M54.18,60.28c-0.86,1.4-2.11,2.29-3.71,2.64c-0.19,0-0.35,0.05-0.48,0.11h-1.5c-0.25-0.14-0.49-0.18-0.61-0.2
                                c-1.75-0.47-3.12-1.69-3.79-3.35c-0.67-1.66-0.53-3.49,0.39-5.02c1.04-1.73,2.86-2.76,4.86-2.76c1.02,0,2.03,0.28,2.91,0.81
                                c1.31,0.79,2.23,2.03,2.59,3.52C55.2,57.5,54.96,59.01,54.18,60.28z"/>
                            <path class="st0" d="M44.37,31.23c-7.34-2.27-12.26-9.39-11.96-17.17c0.02-0.56-0.11-0.69-0.66-0.69
                                c-4.21,0.02-8.42,0.01-12.64,0.01c-2.14,0-4.27,0.01-6.41,0.02c0.05,0.27,0.09,0.53,0.14,0.8c1.13,5.72,2.25,11.44,3.38,17.15
                                c0.4,2.01,0.82,4.02,1.23,6.03c11.59,0,23.17,0,34.76,0c1.96,0,3.71-0.54,5.14-1.98c1.83-1.84,2.03-4.21,2.14-6.61
                                c-0.23-0.01-0.36,0.17-0.52,0.28C54.44,32.09,49.54,32.83,44.37,31.23z M56.66,34.69c-1.15,1.15-2.56,1.69-4.45,1.69l-33.96,0
                                l-0.24-1.15c-0.28-1.36-0.56-2.72-0.83-4.08c-1.01-5.12-2.02-10.23-3.03-15.35l-0.28-1.41l0.76,0c1.49-0.01,2.98-0.01,4.47-0.01
                                l6.15,0c2.05,0,4.09,0,6.14-0.01c-0.16,8.15,5.01,15.45,12.67,17.81c1.86,0.57,3.71,0.87,5.51,0.87c3.03,0,5.98-0.82,8.78-2.44
                                C58.19,32.21,57.78,33.57,56.66,34.69z"/>
                            <path class="st0" d="M59.49,28.79c0,0,0.01,0,0.01,0l-0.01-0.01C59.49,28.79,59.49,28.79,59.49,28.79z"/>
                            <path class="st0" d="M49.42,0.04c-8.06-0.08-14.75,6.49-14.75,14.64c0,8.09,6.38,14.66,14.63,14.68C57.5,29.38,63.9,22.85,64,14.79
                                C64.08,6.75,57.53,0.12,49.42,0.04z M49.35,28.36h-0.04c-7.65-0.02-13.64-6.03-13.64-13.68c0-7.52,6.1-13.64,13.6-13.64l0.14,0
                                c3.66,0.04,7.09,1.49,9.66,4.1c2.57,2.6,3.97,6.03,3.93,9.65C62.91,22.39,56.91,28.36,49.35,28.36z"/>
                            <path class="st0" d="M54.47,12.39c-0.57-0.01-1.14-0.01-1.7-0.01c-0.37,0-0.74,0-1.11,0.01c0.01-0.59,0-1.16,0-1.74l0-1.06
                                c0-0.5-0.06-1.23-0.65-1.81c-0.61-0.6-1.23-0.73-1.65-0.73c-0.28,0-0.56,0.05-0.84,0.16c-0.95,0.36-1.5,1.18-1.51,2.23
                                c-0.01,0.98-0.02,1.96-0.01,2.94c-0.31-0.01-0.62-0.01-0.92-0.01l-1.81,0.01c-0.36,0-0.82,0-1.3,0.24
                                c-0.94,0.48-1.42,1.47-1.23,2.53c0.21,1.11,1.12,1.84,2.32,1.87c0.56,0.01,1.11,0.02,1.67,0.02c0.42,0,0.84,0,1.26-0.01
                                c0,0.22,0,1.65,0,1.65c0,0.38,0,0.76,0,1.15c0.03,1.47,0.94,2.47,2.27,2.51c0,0,0,0,0,0c1.43,0,2.36-1.01,2.37-2.51
                                c0.01-0.93,0.02-1.87,0-2.8c0.38,0,0.75,0.01,1.12,0.01c0.56,0,1.13,0,1.69-0.01c0.77-0.01,1.45-0.28,1.92-0.76
                                c0.41-0.43,0.63-1.01,0.62-1.62C56.95,13.33,55.92,12.4,54.47,12.39z M54.45,16.04c-1.1,0.01-2.21,0.02-3.31-0.01
                                c-0.38-0.01-0.5,0.1-0.5,0.49c0.02,1.1,0.02,2.21,0.01,3.31c-0.01,0.97-0.53,1.54-1.35,1.52c-0.79-0.02-1.28-0.59-1.3-1.52
                                c-0.01-0.54,0-1.08,0-1.62c0-0.58-0.02-1.17,0.01-1.75c0.01-0.33-0.1-0.42-0.43-0.42c-1.17,0.02-2.33,0.02-3.5,0
                                c-0.74-0.01-1.24-0.43-1.35-1.05c-0.12-0.63,0.15-1.18,0.69-1.46c0.27-0.14,0.56-0.14,0.85-0.14c1.06,0,2.12-0.02,3.18,0.01
                                c0.45,0.01,0.56-0.14,0.55-0.57c-0.03-1.12-0.02-2.25,0-3.37c0.01-0.61,0.27-1.08,0.87-1.31c0.55-0.21,1.02-0.06,1.42,0.34
                                c0.3,0.3,0.35,0.69,0.35,1.1c0,1.08,0.02,2.16-0.01,3.25c-0.01,0.44,0.13,0.57,0.57,0.56c1.08-0.03,2.16-0.02,3.25-0.01
                                c0.92,0.01,1.51,0.52,1.53,1.29C56.01,15.47,55.39,16.03,54.45,16.04z"/>
                            <path class="st0" d="M59.53,28.74c-0.01,0.01-0.01,0.02-0.01,0.03c0.02-0.01,0.03-0.02,0.05-0.02
                                C59.55,28.75,59.53,28.74,59.53,28.74z"/>
                            <path class="st0" d="M59.5,28.79c0-0.01,0.01-0.01,0.01-0.02c-0.01,0-0.01,0.01-0.02,0.01C59.49,28.78,59.5,28.79,59.5,28.79z"/>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div class="content">
            <div class="data">
                <h2 class="title">
                    <router-link to="" class="link">
                        Product Name Demo
                    </router-link>
                </h2>
                <div class="price">
                    <div class="new">
                        <span class="symbol">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                <path class="st0" d="M53.75,21.39c-6.98,0.02-13.96,0-20.93,0.03c-0.77,0-0.91-0.22-0.9-0.88c0.04-3.2,0.01-6.4,0.02-9.6
                                    c0-1.01-0.13-2.01-0.4-2.98c-1.37-4.93-6.6-8.35-12-7.86C14.01,0.61,9.55,4.88,9.2,9.96c-0.04,0.59,0.05,0.82,0.77,0.8
                                    c2.02-0.05,4.04-0.03,6.06-0.01c0.53,0.01,0.71-0.09,0.82-0.63c0.38-1.9,2.15-3.11,4.1-2.92c1.96,0.19,3.38,1.7,3.39,3.65
                                    c0.02,3.29-0.02,6.58,0.02,9.86c0.01,0.63-0.23,0.71-0.8,0.7c-2.02-0.03-4.04,0.01-6.06-0.02c-0.55-0.01-0.76,0.08-0.75,0.66
                                    c0.05,1.92,0.05,3.85,0,5.78c-0.02,0.64,0.25,0.7,0.81,0.69c1.96-0.03,3.92,0.02,5.87-0.03c0.71-0.02,0.95,0.12,0.94,0.85
                                    c-0.05,3.52-0.02,7.05-0.02,10.57c0,0,0,0,0.01,0c0,3.44-0.04,6.87,0.01,10.31c0.11,7.44,6.81,13.7,14.73,13.83
                                    c8.12,0.13,14.78-5.47,15.53-13.05c0.42-4.19-2.15-7.58-6.43-8.15c-2.75-0.37-5.55-0.07-8.32-0.12c-0.48-0.01-0.36,0.31-0.36,0.55
                                    c-0.01,1.98,0.02,3.97-0.02,5.95c-0.01,0.53,0.18,0.63,0.7,0.62c1.7-0.03,3.41-0.01,5.11-0.01c2.08,0,2.08,0,1.48,1.94
                                    c-1.04,3.36-4.59,5.59-8.17,5.13c-3.85-0.5-6.66-3.41-6.68-7.03c-0.03-6.84,0-13.69-0.03-20.53c0-0.71,0.22-0.85,0.93-0.85
                                    c6.98,0.03,13.96,0,20.93,0.03c0.76,0,0.92-0.2,0.91-0.88c-0.05-1.81-0.06-3.61,0-5.42C54.71,21.52,54.46,21.39,53.75,21.39z"/>
                                </svg>
                        </span>
                        <span class="amount">10.00</span>
                    </div>
                    <div class="old">
                        <span class="symbol">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                <path class="st0" d="M53.75,21.39c-6.98,0.02-13.96,0-20.93,0.03c-0.77,0-0.91-0.22-0.9-0.88c0.04-3.2,0.01-6.4,0.02-9.6
                                    c0-1.01-0.13-2.01-0.4-2.98c-1.37-4.93-6.6-8.35-12-7.86C14.01,0.61,9.55,4.88,9.2,9.96c-0.04,0.59,0.05,0.82,0.77,0.8
                                    c2.02-0.05,4.04-0.03,6.06-0.01c0.53,0.01,0.71-0.09,0.82-0.63c0.38-1.9,2.15-3.11,4.1-2.92c1.96,0.19,3.38,1.7,3.39,3.65
                                    c0.02,3.29-0.02,6.58,0.02,9.86c0.01,0.63-0.23,0.71-0.8,0.7c-2.02-0.03-4.04,0.01-6.06-0.02c-0.55-0.01-0.76,0.08-0.75,0.66
                                    c0.05,1.92,0.05,3.85,0,5.78c-0.02,0.64,0.25,0.7,0.81,0.69c1.96-0.03,3.92,0.02,5.87-0.03c0.71-0.02,0.95,0.12,0.94,0.85
                                    c-0.05,3.52-0.02,7.05-0.02,10.57c0,0,0,0,0.01,0c0,3.44-0.04,6.87,0.01,10.31c0.11,7.44,6.81,13.7,14.73,13.83
                                    c8.12,0.13,14.78-5.47,15.53-13.05c0.42-4.19-2.15-7.58-6.43-8.15c-2.75-0.37-5.55-0.07-8.32-0.12c-0.48-0.01-0.36,0.31-0.36,0.55
                                    c-0.01,1.98,0.02,3.97-0.02,5.95c-0.01,0.53,0.18,0.63,0.7,0.62c1.7-0.03,3.41-0.01,5.11-0.01c2.08,0,2.08,0,1.48,1.94
                                    c-1.04,3.36-4.59,5.59-8.17,5.13c-3.85-0.5-6.66-3.41-6.68-7.03c-0.03-6.84,0-13.69-0.03-20.53c0-0.71,0.22-0.85,0.93-0.85
                                    c6.98,0.03,13.96,0,20.93,0.03c0.76,0,0.92-0.2,0.91-0.88c-0.05-1.81-0.06-3.61,0-5.42C54.71,21.52,54.46,21.39,53.75,21.39z"/>
                                </svg>
                        </span>
                        <span class="amount">10.00</span>
                    </div>
                </div>
            </div>
            <div class="actions">
                <span class="action">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                        <g>
                            <path class="st0" d="M62.52,55.58c-3.49-3.57-7.02-7.09-10.55-10.62c-0.91-0.91-2.01-1.44-3.32-1.46
                                c-0.29-0.01-0.46-0.17-0.64-0.34c-1.29-1.3-2.6-2.58-3.87-3.91c-0.41-0.43-0.6-0.5-1,0.03c-1.11,1.49-2.42,2.81-3.89,3.95
                                c-0.42,0.33-0.32,0.48-0.01,0.79c1.34,1.31,2.64,2.66,3.97,3.98c0.22,0.22,0.34,0.43,0.36,0.76c0.08,1.22,0.55,2.29,1.42,3.16
                                c3.59,3.59,7.17,7.18,10.76,10.77c0.91,0.91,2.04,1.29,3.21,1.33c2.03,0,3.83-1.14,4.58-2.94C64.39,59.03,64.05,57.14,62.52,55.58z
                                "/>
                            <path class="st0" d="M46,23.12C46,10.35,35.7,0,23,0C10.3,0,0,10.35,0,23.12s10.3,23.11,23,23.11C35.7,46.23,46,35.88,46,23.12z
                                M22.96,41.46C12.84,41.44,4.67,33.2,4.7,23.05C4.74,12.85,12.89,4.7,23.03,4.71c10.13,0.01,18.28,8.23,18.26,18.4
                                C41.28,33.28,33.08,41.49,22.96,41.46z"/>
                        </g>
                    </svg>
                </span>
                <span class="action">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                        <g>
                            <path class="st1" d="M54.46,13.39c-1.08-0.01-2.16-0.02-3.25,0.01c-0.43,0.01-0.58-0.12-0.57-0.56c0.03-1.08,0.01-2.16,0.01-3.25
                                c0-0.41-0.05-0.8-0.35-1.1c-0.4-0.4-0.87-0.55-1.42-0.34c-0.6,0.23-0.86,0.7-0.87,1.31c-0.02,1.12-0.02,2.25,0,3.37
                                c0.01,0.43-0.1,0.58-0.55,0.57c-1.06-0.03-2.12-0.01-3.18-0.01c-0.29,0-0.58,0-0.85,0.14c-0.54,0.27-0.81,0.83-0.69,1.46
                                c0.12,0.62,0.61,1.04,1.35,1.05c1.16,0.02,2.33,0.02,3.5,0c0.32,0,0.44,0.09,0.43,0.42C47.98,17.03,48,17.62,48,18.2
                                c0,0.54-0.01,1.08,0,1.62c0.02,0.93,0.51,1.51,1.3,1.52c0.82,0.02,1.34-0.55,1.35-1.52c0.01-1.1,0.02-2.21-0.01-3.31
                                c-0.01-0.39,0.12-0.5,0.5-0.49c1.1,0.02,2.21,0.02,3.31,0.01c0.94-0.01,1.56-0.57,1.54-1.36C55.97,13.91,55.38,13.4,54.46,13.39z"
                                />
                            <path class="st0" d="M12.2,14.21c-0.05-0.26-0.09-0.53-0.14-0.8c-0.44-2.17-0.88-4.35-1.32-6.52c-0.23-1.17-0.63-1.5-1.82-1.5
                                c-2.35,0-4.69,0.02-7.04-0.01C1.06,5.36,0.42,5.55,0,6.29c0,0.29,0,0.58,0,0.88c0.47,0.72,1.14,0.91,1.98,0.89
                                c1.89-0.04,3.79,0,5.69-0.02c0.43-0.01,0.61,0.09,0.7,0.54c2.08,10.51,4.19,21.01,6.27,31.51c0.97,4.9,4.65,7.96,9.65,7.96
                                c9.96,0,19.92,0,29.87,0c0.31,0,0.62,0.01,0.93-0.09c0.57-0.2,0.96-0.77,0.9-1.35c-0.06-0.61-0.51-1.1-1.11-1.18
                                c-0.27-0.04-0.54-0.03-0.81-0.03c-9.9,0-19.79,0-29.69,0c-2.41,0-4.43-0.82-5.89-2.82c-1.13-1.55-1.3-3.38-1.62-5.18
                                c-0.42-2.01-0.84-4.02-1.24-6.03C14.48,25.64,13.34,19.92,12.2,14.21z"/>
                            <path class="st0" d="M20.53,51.06c-2.56,0.88-4.4,3.3-4.52,5.94c-0.15,3.21,1.88,5.97,5,6.82c0.16,0.04,0.39,0.01,0.48,0.22
                                c0.75,0,1.5,0,2.25,0c0.1-0.22,0.33-0.15,0.49-0.19c4.9-1.29,6.69-6.96,3.43-10.84C25.95,50.97,23.07,50.18,20.53,51.06z
                                M28.06,59.1c-0.59,1.88-2.08,3.25-4.08,3.78c-0.25,0.01-0.45,0.07-0.61,0.15h-1.49c-0.24-0.14-0.48-0.17-0.6-0.18
                                c-2.68-0.73-4.4-3.07-4.27-5.81c0.1-2.23,1.68-4.3,3.84-5.04c0.58-0.2,1.18-0.3,1.79-0.3c1.64,0,3.23,0.73,4.25,1.95
                                C28.23,55.24,28.66,57.22,28.06,59.1z"/>
                            <path class="st0" d="M52.76,51.66c-3.16-1.9-7.25-0.87-9.14,2.29c-2.27,3.78-0.28,8.7,3.97,9.84c0.19,0.05,0.42,0.02,0.54,0.24
                                c0.75,0,1.5,0,2.25,0c0.05-0.16,0.2-0.11,0.31-0.14c1.89-0.42,3.34-1.47,4.34-3.1C56.96,57.67,55.92,53.56,52.76,51.66z
                                M54.18,60.28c-0.86,1.4-2.11,2.29-3.71,2.64c-0.19,0-0.35,0.05-0.48,0.11h-1.5c-0.25-0.14-0.49-0.18-0.61-0.2
                                c-1.75-0.47-3.12-1.69-3.79-3.35c-0.67-1.66-0.53-3.49,0.39-5.02c1.04-1.73,2.86-2.76,4.86-2.76c1.02,0,2.03,0.28,2.91,0.81
                                c1.31,0.79,2.23,2.03,2.59,3.52C55.2,57.5,54.96,59.01,54.18,60.28z"/>
                            <path class="st0" d="M44.37,31.23c-7.34-2.27-12.26-9.39-11.96-17.17c0.02-0.56-0.11-0.69-0.66-0.69
                                c-4.21,0.02-8.42,0.01-12.64,0.01c-2.14,0-4.27,0.01-6.41,0.02c0.05,0.27,0.09,0.53,0.14,0.8c1.13,5.72,2.25,11.44,3.38,17.15
                                c0.4,2.01,0.82,4.02,1.23,6.03c11.59,0,23.17,0,34.76,0c1.96,0,3.71-0.54,5.14-1.98c1.83-1.84,2.03-4.21,2.14-6.61
                                c-0.23-0.01-0.36,0.17-0.52,0.28C54.44,32.09,49.54,32.83,44.37,31.23z M56.66,34.69c-1.15,1.15-2.56,1.69-4.45,1.69l-33.96,0
                                l-0.24-1.15c-0.28-1.36-0.56-2.72-0.83-4.08c-1.01-5.12-2.02-10.23-3.03-15.35l-0.28-1.41l0.76,0c1.49-0.01,2.98-0.01,4.47-0.01
                                l6.15,0c2.05,0,4.09,0,6.14-0.01c-0.16,8.15,5.01,15.45,12.67,17.81c1.86,0.57,3.71,0.87,5.51,0.87c3.03,0,5.98-0.82,8.78-2.44
                                C58.19,32.21,57.78,33.57,56.66,34.69z"/>
                            <path class="st0" d="M59.49,28.79c0,0,0.01,0,0.01,0l-0.01-0.01C59.49,28.79,59.49,28.79,59.49,28.79z"/>
                            <path class="st0" d="M49.42,0.04c-8.06-0.08-14.75,6.49-14.75,14.64c0,8.09,6.38,14.66,14.63,14.68C57.5,29.38,63.9,22.85,64,14.79
                                C64.08,6.75,57.53,0.12,49.42,0.04z M49.35,28.36h-0.04c-7.65-0.02-13.64-6.03-13.64-13.68c0-7.52,6.1-13.64,13.6-13.64l0.14,0
                                c3.66,0.04,7.09,1.49,9.66,4.1c2.57,2.6,3.97,6.03,3.93,9.65C62.91,22.39,56.91,28.36,49.35,28.36z"/>
                            <path class="st0" d="M54.47,12.39c-0.57-0.01-1.14-0.01-1.7-0.01c-0.37,0-0.74,0-1.11,0.01c0.01-0.59,0-1.16,0-1.74l0-1.06
                                c0-0.5-0.06-1.23-0.65-1.81c-0.61-0.6-1.23-0.73-1.65-0.73c-0.28,0-0.56,0.05-0.84,0.16c-0.95,0.36-1.5,1.18-1.51,2.23
                                c-0.01,0.98-0.02,1.96-0.01,2.94c-0.31-0.01-0.62-0.01-0.92-0.01l-1.81,0.01c-0.36,0-0.82,0-1.3,0.24
                                c-0.94,0.48-1.42,1.47-1.23,2.53c0.21,1.11,1.12,1.84,2.32,1.87c0.56,0.01,1.11,0.02,1.67,0.02c0.42,0,0.84,0,1.26-0.01
                                c0,0.22,0,1.65,0,1.65c0,0.38,0,0.76,0,1.15c0.03,1.47,0.94,2.47,2.27,2.51c0,0,0,0,0,0c1.43,0,2.36-1.01,2.37-2.51
                                c0.01-0.93,0.02-1.87,0-2.8c0.38,0,0.75,0.01,1.12,0.01c0.56,0,1.13,0,1.69-0.01c0.77-0.01,1.45-0.28,1.92-0.76
                                c0.41-0.43,0.63-1.01,0.62-1.62C56.95,13.33,55.92,12.4,54.47,12.39z M54.45,16.04c-1.1,0.01-2.21,0.02-3.31-0.01
                                c-0.38-0.01-0.5,0.1-0.5,0.49c0.02,1.1,0.02,2.21,0.01,3.31c-0.01,0.97-0.53,1.54-1.35,1.52c-0.79-0.02-1.28-0.59-1.3-1.52
                                c-0.01-0.54,0-1.08,0-1.62c0-0.58-0.02-1.17,0.01-1.75c0.01-0.33-0.1-0.42-0.43-0.42c-1.17,0.02-2.33,0.02-3.5,0
                                c-0.74-0.01-1.24-0.43-1.35-1.05c-0.12-0.63,0.15-1.18,0.69-1.46c0.27-0.14,0.56-0.14,0.85-0.14c1.06,0,2.12-0.02,3.18,0.01
                                c0.45,0.01,0.56-0.14,0.55-0.57c-0.03-1.12-0.02-2.25,0-3.37c0.01-0.61,0.27-1.08,0.87-1.31c0.55-0.21,1.02-0.06,1.42,0.34
                                c0.3,0.3,0.35,0.69,0.35,1.1c0,1.08,0.02,2.16-0.01,3.25c-0.01,0.44,0.13,0.57,0.57,0.56c1.08-0.03,2.16-0.02,3.25-0.01
                                c0.92,0.01,1.51,0.52,1.53,1.29C56.01,15.47,55.39,16.03,54.45,16.04z"/>
                            <path class="st0" d="M59.53,28.74c-0.01,0.01-0.01,0.02-0.01,0.03c0.02-0.01,0.03-0.02,0.05-0.02
                                C59.55,28.75,59.53,28.74,59.53,28.74z"/>
                            <path class="st0" d="M59.5,28.79c0-0.01,0.01-0.01,0.01-0.02c-0.01,0-0.01,0.01-0.02,0.01C59.49,28.78,59.5,28.79,59.5,28.79z"/>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</template>
<script>
import ShopStore from "../../store/ShopStore.js";
export default {
    setup() {
        const { grid_list, } = ShopStore();

        return {
            grid_list:grid_list(),
        }
    },
}
</script>
<style lang="scss" scoped>
.pdt_item {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
    &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }
    &:hover .thumb .link img {
        transform: scale(1.1);
    }
    &:hover .thumb .link_hover {
        visibility: visible;
        opacity: 1;
    }
    &:hover .thumb .actions {
        visibility: visible;
        opacity: 1;
    }
    &:hover .thumb .actions .action {
        margin-top: 0;
    }
    .thumb {
        overflow: hidden;
        position: relative;
        max-height: fit-content;
        height: auto;
        transition: all 0.5s ease 0s;
	    -webkit-transition: all 0.5s ease 0s;
        .link_hover {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.166);
            visibility: hidden;
            opacity: 0;
            overflow: hidden;
            transition: all 0.5s ease 0s;
	        -webkit-transition: all 0.5s ease 0s;
        }
        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            cursor: pointer;
            img {
                max-width: 100%;
                transition: all 0.8s ease 0s;
                -webkit-transition: all 0.8s ease 0s;
            }
        }
        .actions {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            visibility: hidden;
            opacity: 0;
            overflow: hidden;
            display: flex;
            column-gap: 10px;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            .action {
                background-color: #fff;
                width: 30px;
                height: 30px;
                margin-top: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                svg {
                    width: 20px;
                    fill: #f19024;
                }
            }
            .action:nth-child(1){
                transition: all 0.4s ease 0s;
                -webkit-transition: all 0.4s ease 0s;
            }
            .action:nth-child(2){
                transition: all 0.6s ease 0s;
                -webkit-transition: all 0.6s ease 0s;
            }
            .action:nth-child(3){
                transition: all 0.8s ease 0s;
                -webkit-transition: all 0.8s ease 0s;
            }
        }
    }
    .content {
        .data {
            border-top: 1px solid #f1f1f1;
            padding: 8px 8px 12px 8px;
            .title {
                margin-bottom: 12px;
                .link {
                    font-size: 13px;
                    font-weight: 600;
                    color: #444;
                    text-decoration: none;
                    transition: all 0.3s ease 0s;
                    -webkit-transition: all 0.3s ease 0s;
                    &:hover {
                        color: #f19024;
                    }
                }
            }
            .price {
                display: flex;
                align-items: center;
                .new {
                    margin-right: 8px;
                    .symbol {
                        svg {
                            width: 16px;
                            fill: #444;
                        }
                    }
                    .amount {
                        font-size: 16px;
                        color: #444;
                        font-weight: 600;
                    }
                }
                .old {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: '';
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        transform: rotate(-13deg);
                        background-color: #cb4117;
                    }
                    .symbol {
                        svg {
                            width: 12px;
                            fill: #444;
                        }
                    }
                    .amount {
                        font-size: 14px;
                        color: #444;
                    }
                }
            }
        }
        .actions {
            display: none;
        }
    }
}
.pdt_item._list {
    display: flex;
    column-gap: 20px;
    &:hover .thumb .link_hover {
        visibility: hidden;
        opacity: 0;
    }
    .thumb {
        width: 160px;
        border-right: 1px solid #ddd;
        .actions {
            display: none;
        }
    }
    .content {
        width: calc(100% - 160px);
        display: flex;
        column-gap: 20px;
        .data {
            width: calc(100% - 260px);
        }
        .actions {
            width: 260px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 16px;
            padding-right: 12px;
            .action {
                background-color: #fff;
                display: block;
                box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
                padding: 6px 12px;
                text-align: center;
                border-radius: 20px;
                cursor: pointer;
                width: 180px;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                &:hover {
                    background-color: #f19024;
                }
                &:hover svg {
                    fill: #fff;
                }
                svg {
                    width: 20px;
                    fill: #f19024;
                }
            }
        }
    }
}





$phone-width-small: 360px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    
}
@media (max-width: #{$tablet-width}) {
    .pdt_item._list {
        .thumb {
        }
        .content {
            display: block;
            column-gap: 20px;
            .data {
                width: 100%;
                border-top: 0px solid #ddd;
            }
            .actions {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                row-gap: 16px;
                padding-right: 0;
                .action {
                    padding: 6px 10px;
                    width: 180px;
                }
            }
        }
    }
}

@media (max-width: #{$phone-width}) {
    .pdt_item._list {
        .thumb {
            width: 130px;
        }
        .content {
            width: calc(100% - 130px);
            .data {
            }
            .actions {
                flex-direction: row;
                column-gap: 12px;
                padding-right: 4px;
                .action {
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: #{$phone-width-small}) {
    
}
</style>