<template>
    <div class="order_invoice">
        <form action="">
            <div class="head">
                <div class="left">Invoice  ID: #111-222</div>
                <div class="right">
                    <base-button small="print_btn" @click="print">Print</base-button>
                    <base-button small="export_btn">Export</base-button>
                </div>
            </div>
            <div class="body" id="PrintData">
                <div class="top" style="padding: 12px 0;margin: 20px 0;">
                    <div class="logo" style="border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: center; margin-bottom: 30px;">
                        <img src="@/assets/soft.png" alt="Logo" style="max-width: 100%;">
                    </div>
                    <div class="_invoice_info" style="display: flex;justify-content: space-between;">
                        <div class="left">
                            <ul class="list" style="list-style: none; margin: 0;padding: 0;">
                                <li style="line-height: 26px;color: #777;font-size: 14px;"><strong style="color: #666;">To:</strong> <span style="color: #5492bc;font-size: 18px;font-weight: 700;letter-spacing: 1px;">Dipankar</span></li>
                                <li style="line-height: 26px;color: #777;font-size: 14px;">Street, City</li>
                                <li style="line-height: 26px;color: #777;font-size: 14px;">State, Country</li>
                                <li style="line-height: 26px;color: #777;font-size: 14px;">+880 1741 571104</li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="list" style="list-style: none;margin: 0;padding: 0;">
                                <li style="line-height: 26px;color: #777;font-size: 14px;position: relative;padding-left: 16px;"><strong style="color: #666;">Invoice</strong></li>
                                <li style="line-height: 26px;color: #777;font-size: 14px;position: relative;padding-left: 16px;"><strong style="color: #666;">ID:</strong> <span style="color: #777;font-size: 14px;">#111-222</span></li>
                                <li style="line-height: 26px;color: #777;font-size: 14px;position: relative;padding-left: 16px;"><strong style="color: #666;">Issue Date:</strong> <span style="color: #777;font-size: 14px;">Oct 12, 2019</span></li>
                                <li style="line-height: 26px;color: #777;font-size: 14px;position: relative;padding-left: 16px;"><strong style="color: #666;">Status:</strong> <span class="status" style="color: #777;font-size: 14px;">Unpaid</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="middle">
                    <div class="table_responsive" style="width: 100%;overflow-x: auto;border: 1px solid #ddd;margin: 12px 0;">
                        <table class="table" style="font-family: Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;">
                            <thead style="border-bottom: 1px solid #ddd;">
                                <tr>
                                    <th style="padding: 12px 8px;color: #444;font-size: 14px;text-align: left;">#</th>
                                    <th style="padding: 12px 8px;color: #444;font-size: 14px;text-align: left;">Image</th>
                                    <th style="padding: 12px 8px;color: #444;font-size: 14px;text-align: left;">Name</th>
                                    <th style="padding: 12px 8px;color: #444;font-size: 14px;text-align: left;">Unit</th>
                                    <th style="padding: 12px 8px;color: #444;font-size: 14px;text-align: left;">Price</th>
                                    <th style="padding: 12px 8px;color: #444;font-size: 14px;text-align: left;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="border-bottom: 1px solid #ddd;" v-for="(data, index) in order_data" :key="index">
                                    <td style="padding: 12px 8px;color: #444;font-size: 14px;">{{ index+1 }}</td>
                                    <td class="img" style="padding: 12px 8px;color: #444;font-size: 14px;">
                                        <span style="width: 40px; height: 40px;display: block;"><img :src="data.img" alt="Image" style="max-width: 100%;"></span>
                                    </td>
                                    <td style="padding: 12px 8px;color: #444;font-size: 14px;">{{ data.title }}</td>
                                    <td style="padding: 12px 8px;color: #444;font-size: 14px;">{{ data.unit }}</td>
                                    <td style="padding: 12px 8px;color: #444;font-size: 14px;">$ {{ data.price }}</td>
                                    <td style="padding: 12px 8px;color: #444;font-size: 14px;">$ {{ data.unit * data.price }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="total_amount" style="display: flex;justify-content: space-between;">
                        <div class="left">
                            <p style="font-size: 14px;color: #777;">Extra note such as company or payment information...</p>
                        </div>
                        <div class="right" style="padding-right: 14%;">
                            <ul class="list" style="list-style: none;">
                                <li style="line-height: 32px;color: #444;font-size: 14px;display: flex;column-gap: 20px;">
                                    <div class="text" style="width: 120px;text-align: right;">SubTotal</div> 
                                    <div class="amount" style="font-weight: 600;"> $ <span>{{ (TotalSum).toFixed(2) }}</span></div>
                                </li>
                                <li style="line-height: 32px;color: #444;font-size: 14px;display: flex;column-gap: 20px;">
                                    <div class="text" style="width: 120px;text-align: right;">Tax (10%)</div> 
                                    <div class="amount" style="font-weight: 600;"> $ <span>{{ ((TotalSum * 10) / 100).toFixed(2) }}</span></div>
                                </li>
                                <li style="line-height: 32px;color: #444;font-size: 14px;display: flex;column-gap: 20px;">
                                    <div class="text" style="width: 120px;text-align: right;">Total Amount</div> 
                                    <div class="amount" style="font-weight: 600;color: #222;font-size: 16px;"> $ <span>{{ (TotalSum + (TotalSum * 10) / 100).toFixed(2) }}</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bottom" style="display: flex;justify-content: space-between;align-items: center;margin-top: 40px;border-top: 1px solid #ddd;padding-top: 20px;">
                    <div class="left">
                        <p style="font-size: 14px;color: #777;">Thank you for your business</p>
                    </div>
                    <div class="right">
                        <base-button style="padding: 1em 3em;font-size: 16px;text-transform: uppercase;letter-spacing: 2.5px;color: #fff;background: #23c483;border: none;border-radius: 45px;box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);cursor: pointer;outline: none;">Pay Now</base-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
import { ref, onMounted } from 'vue';

export default {
    setup() {
        const order_data = ref([
            { 'id': '01', 'image': '@/assets/admin/dummy-img.png', 'title': 'Product Title 1', 'unit':'5', 'price': '20', 'status' : 'Active'},
            { 'id': '02', 'image': '@/assets/admin/dummy-img.png', 'title': 'Product Title 2', 'unit':'3', 'price': '22', 'status' : 'Active'},
            { 'id': '03', 'image': '@/assets/admin/dummy-img.png', 'title': 'Product Title 3', 'unit':'2', 'price': '10', 'status' : 'Active'},
        ]);

        const print = () => {
            var prtContent = document.getElementById("PrintData");
            var WinPrint = window.open('', '', 'left=0,top=0,width=900,height=1100,toolbar=0,scrollbars=0,status=0');
            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
        }


        const TotalSum = ref(0);
        onMounted(() => {
            for(let i in order_data.value) { 
                TotalSum.value += parseInt(order_data.value[i].unit * order_data.value[i].price); 
            }
        })


        return {
            order_data,
            print,
            TotalSum,
        }
    },
}
</script>
<style lang="scss" scoped>
@media print {
  input {
    display: none;
  }
}
.order_invoice {
    padding: 20px;
    form {
        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;
            .left {
                color: #666;
                font-size: 20px;
            }
            .right {
                display: flex;
                column-gap: 20px;
                .print_btn {
                    background-color: transparent;
                    color: #444;
                }
            }
        }
        .body {
            .top {
                padding: 12px 0;
                margin: 20px 0;
                .logo {
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;
                    margin-bottom: 30px;
                    img {
                        max-width: 100%;
                    }
                }
                ._invoice_info {
                    display: flex;
                    justify-content: space-between;
                    .left {
                        .list {
                            list-style: none;
                            li {
                                line-height: 26px;
                                color: #777;
                                font-size: 14px;
                                strong {
                                    color: #666;
                                }
                                span {
                                    color: #5492bc;
                                    font-size: 18px;
                                    font-weight: 700;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }
                    .right {
                        .list {
                            list-style: none;
                            li {
                                line-height: 26px;
                                color: #777;
                                font-size: 14px;
                                position: relative;
                                padding-left: 16px;
                                &:not(:first-child):before {
                                    position: absolute;
                                    content: '';
                                    width: 12px;
                                    height: 12px;
                                    background-color: #5492bc;
                                    border-radius: 50%;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                strong {
                                    color: #666;
                                }
                                span {
                                    color: #777;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
            .middle {
                .table_responsive {
                    width: 100%;
                    overflow-x: auto;
                    border: 1px solid #ddd;
                    margin: 12px 0;

                    .table {
                        font-family: Arial, Helvetica, sans-serif;
                        border-collapse: collapse;
                        width: 100%;

                        td,
                        th {
                            padding: 12px 8px;
                            color: #444;
                            font-size: 14px;
                        }

                        th {
                            text-align: left;
                        }

                        thead {
                            border-bottom: 1px solid #ddd;
                        }

                        tbody {
                            tr {
                                border-bottom: 1px solid #ddd;
                            }
                            tr:last-child {
                                border-bottom: 0px solid #ddd;
                            }
                            tr:nth-child(odd) {
                                background-color: #f6f6f6;
                            }

                            tr:hover {
                                background-color: #eee;
                            }

                            .img {
                                span {
                                    width: 40px;
                                    height: 40px;
                                    display: block;

                                    img {
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                .total_amount {
                    display: flex;
                    justify-content: space-between;
                    .left {
                        p {
                            font-size: 14px;
                            color: #777;
                        }
                    }
                    .right {
                        padding-right: 14%;
                        .list {
                            list-style: none;
                            li {
                                line-height: 32px;
                                color: #444;
                                font-size: 14px;
                                display: flex;
                                column-gap: 20px;
                                &:last-child .amount {
                                    color: #222;
                                    font-size: 16px;
                                }
                                .text {
                                    width: 120px;
                                    text-align: right;
                                }
                                .amount {
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 40px;
                border-top: 1px solid #ddd;
                padding-top: 20px;
                .left {
                    p {
                        font-size: 14px;
                        color: #777;
                    }
                }
                .right {
                    
                }
            }
        } 
    }
}
</style>