<template>
    <div class="order_invoice">
        <form action="">
            <div class="head">
                <div class="left">Invoice  ID: #111-222</div>
                <div class="right">
                    <base-button small="print_btn" @click="print">Print</base-button>
                    <base-button small="export_btn">Export</base-button>
                </div>
            </div>
            <div class="body" id="PrintData">
                <div class="top">
                    <div class="logo">
                        <img src="@/assets/soft.png" alt="Logo">
                    </div>
                    <div class="_invoice_info">
                        <div class="left">
                            <ul class="list">
                                <li><strong>To:</strong> <span>Dipankar</span></li>
                                <li>Street, City</li>
                                <li>State, Country</li>
                                <li>+880 1741 571104</li>
                            </ul>
                        </div>
                        <div class="right">
                            <div class="list">
                                <li><strong>Invoice</strong></li>
                                <li><strong>ID:</strong> <span>#111-222</span></li>
                                <li><strong>Issue Date:</strong> <span>Oct 12, 2019</span></li>
                                <li><strong>Status:</strong> <span class="status">Unpaid</span></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="middle">
                    <div class="table_responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Unit</th>
                                    <th>Price</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td class="img">
                                        <span><img src="@/assets/admin/dummy-img.png" alt="Image"></span>
                                    </td>
                                    <td>Product Title 1</td>
                                    <td>2</td>
                                    <td>$ 20.00</td>
                                    <td>$ 40.00</td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td class="img">
                                        <span><img src="@/assets/admin/dummy-img.png" alt="Image"></span>
                                    </td>
                                    <td>Product Title 2</td>
                                    <td>1</td>
                                    <td>$ 22.00</td>
                                    <td>$ 22.00</td>
                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td class="img">
                                        <span><img src="@/assets/admin/dummy-img.png" alt="Image"></span>
                                    </td>
                                    <td>Product Title 3</td>
                                    <td>2</td>
                                    <td>$ 10.00</td>
                                    <td>$ 20.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="total_amount">
                        <div class="left">
                            <p>Extra note such as company or payment information...</p>
                        </div>
                        <div class="right">
                            <ul class="list">
                                <li>
                                    <div class="text">SubTotal</div> 
                                    <div class="amount"> $ <span>82.00</span></div>
                                </li>
                                <li>
                                    <div class="text">Tax (10%)</div> 
                                    <div class="amount"> $ <span>8.20</span></div>
                                </li>
                                <li>
                                    <div class="text">Total Amount</div> 
                                    <div class="amount"> $ <span>90.20</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="left">
                        <p>Thank you for your business</p>
                    </div>
                    <div class="right">
                        <base-button>Pay Now</base-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
export default {
    setup() {
        const print = () => {
            var prtContent = document.getElementById("PrintData");
            var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
        }

        return {
            print,
        }
    },
}
</script>
<style lang="scss" scoped>
.order_invoice {
    padding: 20px;
    form {
        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;
            .left {
                color: #666;
                font-size: 20px;
            }
            .right {
                display: flex;
                column-gap: 20px;
                .print_btn {
                    background-color: transparent;
                    color: #444;
                }
            }
        }
        .body {
            .top {
                padding: 12px 0;
                margin: 20px 0;
                .logo {
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;
                    margin-bottom: 30px;
                    img {
                        max-width: 100%;
                    }
                }
                ._invoice_info {
                    display: flex;
                    justify-content: space-between;
                    .left {
                        .list {
                            list-style: none;
                            li {
                                line-height: 26px;
                                color: #777;
                                font-size: 14px;
                                strong {
                                    color: #666;
                                }
                                span {
                                    color: #5492bc;
                                    font-size: 18px;
                                    font-weight: 700;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }
                    .right {
                        .list {
                            list-style: none;
                            li {
                                line-height: 26px;
                                color: #777;
                                font-size: 14px;
                                position: relative;
                                padding-left: 16px;
                                &:not(:first-child):before {
                                    position: absolute;
                                    content: '';
                                    width: 12px;
                                    height: 12px;
                                    background-color: #5492bc;
                                    border-radius: 50%;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                strong {
                                    color: #666;
                                }
                                span {
                                    color: #777;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
            .middle {
                .table_responsive {
                    width: 100%;
                    overflow-x: auto;
                    border: 1px solid #ddd;
                    margin: 12px 0;

                    .table {
                        font-family: Arial, Helvetica, sans-serif;
                        border-collapse: collapse;
                        width: 100%;

                        td,
                        th {
                            padding: 12px 8px;
                        }

                        th {
                            padding-top: 12px;
                            padding-bottom: 12px;
                            text-align: left;
                            color: #444;
                            font-size: 14px;
                        }

                        td {
                            font-size: 14px;
                            color: #444;
                        }

                        thead {
                            border-bottom: 1px solid #ddd;
                        }

                        tbody {
                            tr {
                                border-bottom: 1px solid #ddd;
                            }
                            tr:last-child {
                                border-bottom: 0px solid #ddd;
                            }
                            tr:nth-child(odd) {
                                background-color: #f6f6f6;
                            }

                            tr:hover {
                                background-color: #eee;
                            }

                            .img {
                                span {
                                    width: 40px;
                                    height: 40px;
                                    display: block;

                                    img {
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                .total_amount {
                    display: flex;
                    justify-content: space-between;
                    .left {
                        p {
                            font-size: 14px;
                            color: #777;
                        }
                    }
                    .right {
                        padding-right: 14%;
                        .list {
                            list-style: none;
                            li {
                                line-height: 32px;
                                color: #444;
                                font-size: 14px;
                                display: flex;
                                column-gap: 20px;
                                &:last-child .amount {
                                    color: #222;
                                    font-size: 16px;
                                }
                                .text {
                                    width: 120px;
                                    text-align: right;
                                }
                                .amount {
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
            .bottom {}
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
            border-top: 1px solid #ddd;
            padding-top: 20px;
            .left {
                p {
                    font-size: 14px;
                    color: #777;
                }
            }
            .right {
                
            }
        }
    }
}
</style>