<template>
    <div class="_404_error">
        <div class="content">
            <div class="error">
                <div class="_l">404</div>
                <div class="_r">
                    <h2>SORRY!</h2>
                    <h4>The page you’re looking for was not found.</h4>
                </div>
            </div>
            <router-link to="" class="link">Back Homme</router-link>
            <p class="copyright">Copyright &copy; 2020 All rights reserved.</p>
        </div>
    </div>
</template>
<style lang="scss" scoped>
._404_error {
    height: 100%;
    background-color: #f2f2f2;
    .content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .error {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            ._l {
                width: 40%;
                font-size: 80px;
                font-weight: 600;
                color: #444;
                text-align: right;
                border-right: 2px solid #ccc;
                padding-right: 12px;
            }
            ._r {
                width: 60%;
                padding-left: 12px;
                h2 {
                    font-size: 36px;
                    color: #666;
                    margin-bottom: 12px;
                }
                h4 {
                    font-size: 20px;
                    color: #777;
                    font-weight: 500;
                }
            }
        }
        .link {
            text-decoration: none;
            color: #444;
            margin-bottom: 40px;
            &:hover {
                text-decoration: underline;
            }
        }
        .copyright {
            color: #777;
            font-size: 14px;
        }
    }
}
</style>