<template>
    <div class="accordion">
        <button class="acc1">Section 1</button>
        <div class="panel1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>

        <button class="acc1">Section 2</button>
        <div class="panel1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <button class="acc1">Section 3</button>
        <div class="panel1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>


    <div class="accordion">
        <button class="acc2">Section 1</button>
        <div class="panel2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>

        <button class="acc2">Section 2</button>
        <div class="panel2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <button class="acc2">Section 3</button>
        <div class="panel2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</template>
<script>
import {onMounted} from 'vue'
export default {
    setup() {
        onMounted(() => {
            let acc1 = document.getElementsByClassName("acc1");
            let panel1 = document.getElementsByClassName("panel1");
            let acc2 = document.getElementsByClassName("acc2");

            acc1[0].classList.add("active");
            panel1[0].style.maxHeight = panel1[0].scrollHeight + "px";
            panel1[0].style.display = 'block';

            for (let i = 0; i < acc1.length; i++) {
                acc1[i].addEventListener("click",function(){
                  if(parseInt(panel1[i].style.maxHeight) != panel1[i].scrollHeight){
                    acc1[i].classList.add("active");
                    panel1[i].style.maxHeight = panel1[i].scrollHeight + "px";
                  }else {
                    acc1[i].classList.remove("active");
                    panel1[i].style.maxHeight = "0px";
                  }

                  for (let j = 0; j < panel1.length; j++) {
                    if(j !== i){
                      acc1[j].classList.remove("active");
                      panel1[j].style.maxHeight = "0px";
                    }
                  }

                })
            }


            for (let i = 0; i < acc2.length; i++) {
                acc2[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    let panel2 = this.nextElementSibling;
                    if (panel2.style.maxHeight) {
                        panel2.style.maxHeight = null;
                    } else {
                        panel2.style.maxHeight = panel2.scrollHeight + "px";
                    } 
                });
            }
        })
    }
}
</script>
<style scoped>
.accordion {
    padding: 30px;
}
.acc1 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .acc1:hover {
  background-color: #ccc;
}

.acc1:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel1 {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}





/* Accordion Two */
.acc2 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .acc2:hover {
  background-color: #ccc;
}

.acc2:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel2 {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
</style>