<template>
    <div class="balance_withdraw">
        <div class="cashout">
            <h4>Available Balance : <span>200.00 TK</span></h4>
            <h4>Cashout Date : <span>19-Oct-2022</span></h4>
            <h4>New Balance :</h4>
        </div>
        <div class="accordion">
            <div class="accs">
                <h3>Cashout From:*</h3>
                <div class="acc">Bank Account</div>
                <div class="acc">Mobile Recharge</div>
                <div class="acc">bKash, Nagad, Rocket</div>
                <div class="acc">Cash</div>
            </div>

            <div class="form_data">
                <div class="panels">
                    <div class="panel">
                        <div class="data">
                            <div class="_gp">
                                <base-input
                                type="text" 
                                placeholder="Cashout Amount"
                                label="Cashout Amount:*"
                                divClass="mb_3"
                                title="true"
                                titleText="Title One"
                                />
                                <base-input
                                type="text" 
                                placeholder="4 Digit PIN Code"
                                label="4 Digit PIN Code:*"
                                divClass="mb_3"
                                />
                            </div>
                            <base-input
                            type="number" 
                            placeholder="Bank Account Number"
                            label="Bank Account Number:*"
                            divClass="mb_3"
                            />
                            <base-input
                            type="text" 
                            placeholder="Account Holder Name"
                            label="Account Holder Name:*"
                            divClass="mb_3"
                            />
                            <base-input
                            type="text" 
                            placeholder="Bank Name"
                            label="Bank Name:*"
                            divClass="mb_3"
                            />
                            <base-input
                            type="text" 
                            placeholder="Branch Name"
                            label="Branch Name:*"
                            divClass="mb_3"
                            />
                            <base-textarea
                            rowNum="4"
                            label="Details :"
                            />
                        </div>
                    </div>
                    <div class="panel">
                        <div class="data">
                            <h4>Recharge Type:*</h4>
                            <div class="_gp">
                                <base-radiobox
                                label="Prepaid"
                                divClass="mb_3"
                                />
                                <base-radiobox
                                label="Postpaid"
                                divClass="mb_3"
                                />
                            </div>
                            <base-input
                            type="text" 
                            placeholder="Mobile Number"
                            label="Mobile Number:*"
                            divClass="mb_3"
                            />
                            <div class="_gp">
                                <base-input
                                type="text" 
                                placeholder="Recharge Amount"
                                label="Recharge Amount:*"
                                divClass="mb_3"
                                />
                                <base-input
                                type="text" 
                                placeholder="4 Digit PIN Code:*"
                                label="4 Digit PIN Code:*"
                                divClass="mb_3"
                                />
                            </div>
                            <p>Don't match PIN?</p>
                            <h5>Click here to set your PIN</h5>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="data">
                            <h4>Service Type:*</h4>
                            <div class="_gp">
                                <base-radiobox
                                label="bKash"
                                divClass="mb_3"
                                />
                                <base-radiobox
                                label="Nagad"
                                divClass="mb_3"
                                />
                                <base-radiobox
                                label="Rocket"
                                divClass="mb_3"
                                />
                            </div>
                            <base-input
                            type="text" 
                            placeholder="Personal Number:*"
                            label="bKash, Nagad, Rocket Personal Number:*"
                            divClass="mb_3"
                            />
                            <div class="_gp">
                                <base-input
                                type="text" 
                                placeholder="Recharge Amount"
                                label="CashIn Amount:*"
                                divClass="mb_3"
                                />
                                <base-input
                                type="text" 
                                placeholder="4 Digit PIN Code:*"
                                label="4 Digit PIN Code:*"
                                divClass="mb_3"
                                />
                            </div>
                            <p>Don't match PIN?</p>
                            <h5>Click here to set your PIN</h5>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="data">
                            <div class="_gp">
                                <base-input
                                type="text" 
                                placeholder="Cashout Amount"
                                label="Cashout Amount:*"
                                divClass="mb_3"
                                />
                                <base-input
                                type="text" 
                                placeholder="4 Digit PIN Code"
                                label="4 Digit PIN Code:*"
                                divClass="mb_3"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <base-button type="button">Submit</base-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { onMounted } from 'vue';

export default {
    setup() {
        onMounted(() => {
            let acc = document.getElementsByClassName("acc");
            let panel = document.getElementsByClassName("panel");
            
            // acc[0].classList.add("active");
            // panel[0].style.maxHeight = panel[0].scrollHeight + "px";
            // panel[0].style.display = 'block';

            for (let i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click",function(){
                    if(parseInt(panel[i].style.maxHeight) != panel[i].scrollHeight){
                        acc[i].classList.add("active");
                        panel[i].style.maxHeight = panel[i].scrollHeight + "px";
                    }else {
                        acc[i].classList.remove("active");
                        panel[i].style.maxHeight = "0px";
                    }

                    for (let j = 0; j < panel.length; j++) {
                        if(j !== i){
                            acc[j].classList.remove("active");
                            panel[j].style.maxHeight = "0px";
                        }
                    }
                })
            } 
        })
    },
}
</script>
<style lang="scss" scoped>
.mb_3 {
    margin-bottom: 16px;
}
.balance_withdraw {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .cashout {
        max-width: 600px;
        width: 100%;
        padding: 30px;
        margin-bottom: 30px;
        box-shadow: 0 2px 8px rgba(0,0,0,.15);
        h4 {
            font-size: 14px;
            color: #444;
            line-height: 28px;
            &:first-child {
                span {
                    background-color: rgb(53, 151, 53);
                    font-size: 13px;
                    color: #fff;
                    padding: 2px 8px;
                    border-radius: 8px;
                }
            }
            span {
                color: #777;
                font-weight: 400;
            }
        }
    }
    .accordion {
        max-width: 600px;
        width: 100%;
        box-shadow: 0 2px 8px rgba(0,0,0,.15);
        .accs {
            padding: 30px 30px 20px 30px;
            h3 {
                color: #444;
                margin-bottom: 12px;
            }
            .acc {
                color: #444;
                cursor: pointer;
                padding: 8px 20px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                transition: 0.4s;
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 0;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border: 2px solid #13c0ff;
                    transform: translateY(-50%);
                }
                &.active::after {
                    content: "";
                    background-color: #13c0ff;
                }
            }
        }
        .form_data {
            padding: 0 30px 30px 30px;
            .panels {
                border-top: 1px solid #ddd;
                .panel {
                    background-color: white;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.4s ease-out;
                    .data {
                        padding: 30px 10px 10px 10px;
                        h4 {
                            display: block;
                            color: #444;
                            margin-bottom: 16px;
                        }
                        p {
                            font-size: 14px;
                            color: #777;
                            margin-bottom: 4px;
                        }
                        h5 {
                            color: #444;
                        }
                        ._gp {
                            display: flex;
                            column-gap: 20px;
                        }
                    }
                }
            }
            .action {
                margin-top: 20px;
            }
        }
    }
}

</style>