<template>
    <div class="chat_wrapper">
        <div class="wrap overlay">
            <sidebar-left></sidebar-left>
            <content-right></content-right>
        </div>
    </div>
</template>
<script>
    import { onMounted } from 'vue';
    import SidebarLeft from "./comps/chat/SidebarLeft.vue"
    import ContentRight from "./comps/chat/ContentRight.vue"
    export default{
        components:{ SidebarLeft, ContentRight },
        setup() {
            onMounted(() => {
                const chat_overly = document.querySelector('.wrap.overlay');
                chat_overly.addEventListener('click',function(){
                    console.log('Click Event');
                })
            })
        }
    }
</script>
<style lang="scss">
    .chat_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0 20px;
        .wrap {
            max-width: 900px;
            width: 100%;
            height: calc(100vh - 100px);
            background-color: #f6f6f6;
            border: 1px solid #fdf0f0;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            position: relative;
            &.overlay {
                position: relative;
                z-index: 1;
                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.15);
                    z-index: 1;
                }
            }
        }
    }
</style>