<template>
    <div class="px_4">
        <check-select></check-select>
    </div>
    <br>
    <br>
    <div class="px_4">
        <check-select></check-select>
    </div>
    <br>
    <br>
</template>
<script>
import { ref } from 'vue'
import CheckSelect from './comps/select/CheckSelect.vue'

export default {
    components: { CheckSelect },
    setup() {
        const select_change = ref('');
        const data = ref([
            { 'id': 1, 'name': 'Information Technology (তথ্য প্রযুক্তি)' },
            { 'id': 2, 'name': 'E-Education & Courses (ই-শিক্ষা ও কোর্স)' },
            { 'id': 3, 'name': 'Tours & Travels (ভ্রমণ এবং পর্যটন)' },
            { 'id': 4, 'name': 'Jobs (চাকরী)' },
            { 'id': 5, 'name': 'Sports & Entertainment (খেলাধুলা ও বিনোদন)' },
            { 'id': 6, 'name': 'Others Business & Service (অন্যান্য ব্যবসা এবং পরিষেবা)' },
            { 'id': 7, 'name': 'Entrepreneurs (উদ্যোক্তা)' },
            { 'id': 8, 'name': 'Service (পরিষেবা)' },
            { 'id': 9, 'name': 'Antiques & Old Gallery (ব্যবহৃত জিনিসপত্র)' },
            { 'id': 10, 'name': 'Soft journey (যাত্রা)' },
            { 'id': 11, 'name': `Farmer's World (কৃষি)` },
            { 'id': 12, 'name': 'Food Service (খাদ্য সেবা)' },
            { 'id': 13, 'name': 'Corporate Business (কর্পোরেট ব্যবসা)' },
            { 'id': 14, 'name': 'Health & Medical Services (স্বাস্থ্য ও মেডিকেল পরিষেবা)' },
            { 'id': 15, 'name': 'Property (ভূসম্পত্তি)' },
            { 'id': 16, 'name': 'E-Consultancy (পরামর্শ)' },
        ])

        return {
            select_change,
            data,
        }
    },
}
</script>
<style lang="scss" scoped>
.px_4 {
    padding: 0 30px;
}
</style>