<template>
    <div class="popup_page">
        <base-button @click="PopupClick('Success')">Success</base-button>
        <base-button @click="PopupClick('Error')" class="bg_c">Error</base-button>
    </div>
    <popup-design v-if="PopupShow" :name="PopupData" @PopupOk="PopupShow = false"></popup-design>
</template>
<script>
import { ref } from 'vue';
import PopupDesign from './comps/popup/PopupDesign.vue'
export default {
    components:{ PopupDesign },
    setup() {
        const PopupSuccessData = ref([{'msg':'Success', 'msgText':'Success Text.'}])
        const PopupErrorData = ref([{'msg':'Error', 'msgText':'Error Text.'}])
        const PopupShow = ref(false)
        const PopupData = ref([])

        const PopupClick = (value) => {
            if(value == 'Success'){
                PopupShow.value = true;
                PopupData.value = PopupSuccessData.value;
            }else if(value == 'Error'){
                PopupShow.value = true;
                PopupData.value = PopupErrorData.value;
            }
        }

        return {
            PopupSuccessData,
            PopupErrorData,
            PopupClick,
            PopupShow,
            PopupData,
        }
    },
}
</script>
<style lang="scss" scoped>
.popup_page {
    width: 100%;
    display: flex;
    column-gap: 20px;
    padding: 20px;
    .bg_c {
        background-color: #f8bb86;
        &:hover {
            box-shadow: 0px 15px 20px rgba(255, 181, 71, 0.4);
        }
    }
}
</style>