<template>
    <service-list></service-list>
</template>
<script>
import ServiceList from './comps/service/ServiceList.vue'
export default {
    components: { ServiceList },
    setup() {
        
    },
}
</script>