<template>
    <div class="text_check_page">
        <check-text></check-text>
    </div>
</template>
<script>
import CheckText from "./comps/text/CheckText.vue";
export default {
    components: {
        CheckText
    }
}
</script>
<style scoped>
.text_check_page {
    padding: 30px;
    text-align: center;
}
</style>