<template>
    <div class="button_page">
        <div class="mb_2">
            <check-button>Button</check-button>
        </div>
        <div class="mb_2">
            <check-button1>Button</check-button1>
        </div>
        <div class="mb_2">
            <check-button2>Button</check-button2>
        </div>
        <div class="mb_2">
            <check-button3>Button</check-button3>
        </div>
        <div class="mb_2">
            <check-button4>Button</check-button4>
        </div>
        <div class="mb_2">
            <check-button5>Button</check-button5>
        </div>
    </div>
</template>
<script>
import CheckButton from './comps/button/CheckButton.vue'
import CheckButton1 from './comps/button/CheckButton1.vue'
import CheckButton2 from './comps/button/CheckButton2.vue'
import CheckButton3 from './comps/button/CheckButton3.vue'
import CheckButton4 from './comps/button/CheckButton4.vue'
import CheckButton5 from './comps/button/CheckButton5.vue'
export default {
    components: { CheckButton, CheckButton1, CheckButton2, CheckButton3, CheckButton4, CheckButton5 },
    setup() {

    },
}
</script>
<style scoped>
.button_page {
    height: 100%;
    padding: 30px;
    background-color: #f9f9f9;
    display: flex;
    column-gap: 50px;
}

.mb_1 {
    margin-bottom: 4px;
}

.mb_2 {
    margin-bottom: 8px;
}

.mb_3 {
    margin-bottom: 12px;
}

.mb_4 {
    margin-bottom: 16px;
}
</style>