<template>
    <order-invoice-1></order-invoice-1>
</template>
<script>
import OrderInvoice1 from './comps/invoice/OrderInvoice1.vue'
export default {
    components:{OrderInvoice1},
    setup() {
        
    },
}
</script>