<template>
    <Suspense>
        <template #default>
            <single-check></single-check>
        </template>
        <template #fallback>
            <single-check-skeleton></single-check-skeleton>
        </template>
    </Suspense>
</template>
<script>
import SingleCheck from './comps/SingleCheck.vue'
import SingleCheckSkeleton from './comps/skeleton/SingleCheckSkeleton.vue'



export default {
    name: 'CheckPage',
    components: {
        SingleCheck,
        SingleCheckSkeleton,
    },
    data() {
        return {
            show:false,
        }
    },
    methods:{
        setShow() {
            setTimeout(() => {
                this.show = true;
            },500)
        }
    },
    created() {
        this.setShow();
    },
    
    
}
</script>