<template>
    <div class="loading_page">
        <div class="item">
            <base-button>
                <check-loading></check-loading> Submit
            </base-button>
        </div>
        <div class="item">
            <base-button>
                <check-loading1></check-loading1> Submit
            </base-button>
        </div>
        <div class="item">
            <base-button>
                <check-loading2></check-loading2> Submit
            </base-button>
        </div>
        <div class="item">
            <base-button>
                <check-loading3></check-loading3> Submit
            </base-button>
        </div>
        <div class="item">
            <base-button>
                <check-loading4></check-loading4> Submit
            </base-button>
        </div>
    </div>
</template>
<script>
import CheckLoading from './comps/loader/CheckLoading.vue'
import CheckLoading1 from './comps/loader/CheckLoading1.vue'
import CheckLoading2 from './comps/loader/CheckLoading2.vue'
import CheckLoading3 from './comps/loader/CheckLoading3.vue'
import CheckLoading4 from './comps/loader/CheckLoading4.vue'
export default {
    components: { CheckLoading, CheckLoading1, CheckLoading2, CheckLoading3, CheckLoading4  },
}
</script>
<style scoped>
.loading_page {
    padding: 20px;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}
</style>