<template>
    <div class="log_reg_form">
        <div class="left">
            <check-text></check-text>
        </div>
        <div class="right">
            <div class="form_data">
                <h4>Login Form</h4>
                <div class="mb_2">
                    <check-input type="text" label="User Name" placeholder="username"></check-input>
                </div>
                <div class="mb_4">
                    <check-input type="text" label="Phone" placeholder="017*********"></check-input>
                </div>
                <div class="mb_1">
                    <check-button :type="button">Logn</check-button>
                </div>
            </div>
        </div>
    </div>

    <div class="ripple-background">
        <div class="circle xxlarge shade1"></div>
        <div class="circle xlarge shade2"></div>
        <div class="circle large shade3"></div>
        <div class="circle mediun shade4"></div>
        <div class="circle small shade5"></div>
    </div>
</template>
<script>
import CheckText from './comps/text/CheckText.vue'
import CheckInput from './comps/input/CheckInput.vue'
import CheckButton from './comps/button/CheckButton.vue'
export default {
    components: { CheckText, CheckInput, CheckButton },
    setup() {
        
    },
}
</script>
<style lang="scss" scoped>



.mb_1 {margin-bottom: 4px;}
.mb_2 {margin-bottom: 8px;}
.mb_3 {margin-bottom: 12px;}
.mb_4 {margin-bottom: 16px;}
.log_reg_form {
    position: relative;
    display: flex;
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #f9f9f9;
        z-index: -1000;
    }
    .left,
    .right {
        width: 50%;
        padding: 50px;
    }
    .left {
        min-height: 100vh;
        width: 50%;
        position: relative;
        text-align: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 15px;
        border-radius: 0 100% 100% 0;
        background: #fff;
        background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
        background-size: 400% 400%;
        animation: Gradient 15s ease infinite;
    }
    .right {
        display: flex;
        align-items: center;
        .form_data {
            width: 100%;
            background-color: #fff;
            padding: 16px;
            box-shadow: 0 0 0 1px rgba(53, 72, 91, 0.07),
                0 2px 2px rgba(0, 0, 0, 0.01),
                0 4px 4px rgba(0, 0, 0, 0.02),
                0 10px 8px rgba(0, 0, 0, 0.03),
                0 15px 15px rgba(0, 0, 0, 0.03),
                0 30px 30px rgba(0, 0, 0, 0.05),
                0 70px 65px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
            transition: all 0.2s ease 0s;
            -webkit-transition: all 0.2s ease 0s;
            &:hover {
                    box-shadow: 0 0 0 1px rgb(53 72 91 / 4%), 0 2px 2px rgb(0 0 0 / 0%), 0 4px 4px rgb(0 0 0 / 1%), 0 10px 8px rgb(0 0 0 / 2%), 0 15px 15px rgb(0 0 0 / 2%), 0 30px 30px rgb(0 0 0 / 2%), 0 70px 65px rgb(0 0 0 / 3%); 
            }
            &>h4 {
                font-size: 20px;
                color: #444;
                border-bottom: 1px solid #ddd;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
        }
    }
}


.ripple-background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .circle {
        position: absolute;
        border-radius: 50%;
        animation: ripple 15s infinite;
    }
    .small {
        width: 200px;
        height: 200px;
        right: -100px;
        top: -100px;
        z-index: -999;
    }
    .medium {
        width: 400px;
        height: 400px;
        right: -200px;
        bottom: -200px;
        z-index: -999;
    }
    .large {
        width: 600px;
        height: 600px;
        right: -300px;
        top: -300px;
        z-index: -999;
    }
    .xlarge {
        width: 800px;
        height: 800px;
        right: -400px;
        top: -400px;
        z-index: -999;
    }
    .xxlarge {
        width: 1000px;
        height: 1000px;
        right: -500px;
        top: -500px;
        z-index: -999;
    }
    .shade1 {
        background: #0000ff26;
    }
    .shade2 {
        background: #b9b9ff;
    }
    .shade3 {
        background: #0000ff26;
    }
    .shade4 {
        background: #0a58ca;
    }
    .shade5 {
        background: #0000ff26;
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}
</style>