<template>
    <div class="input_page">
        <div class="mb_4">
            <check-input></check-input>
        </div>
        <div class="mb_4">
            <check-input1></check-input1>
        </div>
        <div class="mb_4">
            <check-input2></check-input2>
        </div>
    </div>
</template>
<script>
import CheckInput from './comps/input/CheckInput.vue'
import CheckInput1 from './comps/input/CheckInput1.vue'
import CheckInput2 from './comps/input/CheckInput2.vue'
export default {
    components: { CheckInput, CheckInput1, CheckInput2 },
    setup() {
        
    },
}
</script>
<style scoped>



.input_page {
    height: 100%;
    padding: 30px;
    background-color: #f9f9f9;
}
.mb_1 { margin-bottom: 4px; }
.mb_2 { margin-bottom: 8px; }
.mb_3 { margin-bottom: 12px; }
.mb_4 { margin-bottom: 16px; }
</style>