<template>
    <div class="multi_form_page">
        <multi-form></multi-form>
    </div>
</template>
<script>
import MultiForm from './comps/multiform/MultiForm.vue'
export default {
    components:{ MultiForm },
    setup() {
        
    },
}
</script>
<style lang="scss" scoped>
.multi_form_page {
    width: 100%;
    padding: 40px 0;
}
</style>