<template>
    <div class="dashboard">
        <div class="heading">
            <h2> <span>@</span> Dashboard</h2>
        </div>
        <div class="items">
            <div class="item">
                <div class="content">
                    <div class="title">Weekly sales <span class="icon">&#8486;</span></div>
                    <div class="count">$15,0000</div>
                    <div class="percent">Increased by 60%</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="title">Weekly sales <span class="icon">&#8486;</span></div>
                    <div class="count">$15,0000</div>
                    <div class="percent">Increased by 60%</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="title">Weekly sales <span class="icon">&#8486;</span></div>
                    <div class="count">$15,0000</div>
                    <div class="percent">Increased by 60%</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="title">Weekly sales <span class="icon">&#8486;</span></div>
                    <div class="count">$15,0000</div>
                    <div class="percent">Increased by 60%</div>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.dashboard {
    padding: 30px;
    .heading {
        margin-bottom: 30px;
        h2 {
            display: flex;
            align-items: center;
            column-gap: 12px;
            span {
                width: 40px;
                height: 40px;
                border-radius: 4px;
                background: linear-gradient(90deg,#da8cff,#9a55ff);
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
            }
        }
    }
    .items {
        display: grid;
        align-content: start;
        grid-template-columns: repeat(4, minmax(120px, 1fr));
        column-gap: 20px;
        .item {
            padding: 30px;
            border-radius: 4px;
            position: relative;
            overflow: hidden;
            z-index: 1;
            &:nth-child(1){
                background: linear-gradient(90deg,#ffbf96,#fe7096);
            }
            &:nth-child(2){
                background: linear-gradient(90deg,#90caf9,#047edf 99%);
            }
            &:nth-child(3){
                background: linear-gradient(90deg,#84d9d2,#07cdae);
            }
            &:nth-child(4){
                background: linear-gradient(90deg,#da8cff,#9a55ff);
            }
            &::before,&::after {
                position: absolute;
                content: '';
                width: 165px;
                height: 165px;
                border-radius: 50%;
                background: rgb(247 247 247 / 21%);
                z-index: -1;
            }
            &::before {
                right: -65px;
                top: -20px;
            }
            &::after {
                right: -15px;
                bottom: -75px;
            }
            .content {
                .title {
                    font-size: 17px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .icon {
                        font-size: 20px;
                    }
                }
                .count {
                    font-size: 24px;
                    font-weight: 600;
                    color: #fff;
                    margin-bottom: 40px;
                }
                .percent {
                    font-size: 14px;
                    font-weight: 600;
                    color: #fff;
                }
            }
        }
    }
}



$phone-width-small: 359px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    
}
@media (max-width: #{$tablet-width}) {
    .dashboard {
        .items {
            grid-template-columns: repeat(2, minmax(120px, 1fr));
            row-gap: 30px;
        }
    }
}
@media (max-width: #{$phone-width}) {
    .dashboard {
        .items {
            grid-template-columns: repeat(1, minmax(120px, 1fr));
            row-gap: 30px;
        }
    }
}
@media (max-width: #{$phone-width-small}) {
    
}
</style>