<template>
    <div class="doctor">
        <h2>Doctor Form</h2>
        <div class="form">
            <form action="">
                <div class="form_top">
                    <div class="items">
                        <div class="item" :class="{'active':step_complete > 0}">
                            <div class="content">
                                <div class="icon">&#9750;</div>
                                <div class="text">Information</div>
                            </div>
                        </div>
                        <div class="item" :class="{'active':step_complete > 1}">
                            <div class="content">
                                <div class="icon">&#9752;</div>
                                <div class="text">Address</div>
                            </div>
                        </div>
                        <div class="item" :class="{'active':step_complete > 2}">
                            <div class="content">
                                <div class="icon">&#9872;</div>
                                <div class="text">Education</div>
                            </div>
                        </div>
                        <div class="item" :class="{'active':step_complete > 3}">
                            <div class="content">
                                <div class="icon">&#9874;</div>
                                <div class="text">Training</div>
                            </div>
                        </div>
                        <div class="item" :class="{'active':step_complete > 4}">
                            <div class="content">
                                <div class="icon">&#9792;</div>
                                <div class="text">Avatar</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="step one" :class="{'active':step == 1}">
                    <h3>Personal information</h3>
                    <div class="data">
                        <div class="one_two">
                            <div class="gp">
                                <label>First Name</label>
                                <input type="text" placeholder="Mr. Dip" class="required">
                            </div>
                            <div class="gp">
                                <label>First Name</label>
                                <input type="text" placeholder="Biswas" class="required">
                            </div>
                        </div>
                        <div class="gp">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="12/02/1984" class="required">
                        </div>
                        <div class="gp">
                            <label>Gender</label>
                            <div class="select_data">
                                <input type="text" placeholder="Select" class="required">
                                <div class="lists">
                                    <div class="list">Male</div>
                                    <div class="list">Female</div>
                                    <div class="list">Others</div>
                                </div>
                            </div>
                        </div>
                        <div class="gp">
                            <label>National ID / Passport Number</label>
                            <input type="text" placeholder="4984956541" class="required">
                        </div>
                        <div class="one_two">
                            <div class="gp">
                                <label>Registration Number (BMDC)</label>
                                <input type="text" placeholder="56541">
                            </div>
                            <div class="gp">
                                <label>Doctor Type</label>
                                <div class="select_data">
                                    <input type="text" placeholder="Select">
                                    <div class="lists">
                                        <div class="list">Medicine</div>
                                        <div class="list">Dental</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gp">
                            <label>Phone</label>
                            <input type="number" placeholder="017########">
                        </div>
                        <div class="gp">
                            <label>Email</label>
                            <input type="email" placeholder="dip@gmail.com">
                        </div>
                        <div class="actions">
                            <div class="left"></div>
                            <div class="right">
                                <button type="button" @click="stepBtn('Step_One')">Save & Countinue</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step two" :class="{'active':step == 2}">
                    <h3>Address</h3>
                    <div class="data">
                        <div class="add_address">
                            <h4>Present</h4>
                            <div class="one_three">
                                <div class="gp">
                                    <label>District</label>
                                    <div class="select_data">
                                        <input type="text" placeholder="Dhaka">
                                        <div class="lists">
                                            <div class="list">Select</div>
                                            <div class="list">Bagerhat</div>
                                            <div class="list">Bandarban</div>
                                            <div class="list">Barishal</div>
                                            <div class="list">Dhaka</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gp">
                                    <label>Thana</label>
                                    <div class="select_data">
                                        <input type="text" placeholder="Badda">
                                        <div class="lists">
                                            <div class="list">Adabor</div>
                                            <div class="list">Badda</div>
                                            <div class="list">Bangsal</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gp">
                                    <label>P.O</label>
                                    <div class="select_data">
                                        <input type="text" placeholder="Badda">
                                        <div class="lists">
                                            <div class="list">Shantinagr TSO</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gp">
                                <label>Address</label>
                                <input type="text" placeholder="Computer Science & Engineering">
                            </div>

                            <h4>Permanent</h4>
                            <div class="one_three">
                                <div class="gp">
                                    <label>District</label>
                                    <div class="select_data">
                                        <input type="text" placeholder="Dhaka">
                                        <div class="lists">
                                            <div class="list">Select</div>
                                            <div class="list">Bagerhat</div>
                                            <div class="list">Bandarban</div>
                                            <div class="list">Barishal</div>
                                            <div class="list">Dhaka</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gp">
                                    <label>Thana</label>
                                    <div class="select_data">
                                        <input type="text" placeholder="Badda">
                                        <div class="lists">
                                            <div class="list">Adabor</div>
                                            <div class="list">Badda</div>
                                            <div class="list">Bangsal</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gp">
                                    <label>P.O</label>
                                    <div class="select_data">
                                        <input type="text" placeholder="Badda">
                                        <div class="lists">
                                            <div class="list">Shantinagr TSO</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gp">
                                <label>Address</label>
                                <input type="text" placeholder="Computer Science & Engineering">
                            </div>
                        </div>
                        <div class="actions">
                            <div class="left">
                                <button type="button" @click="stepBackBtn('Step_One')">Back</button>
                            </div>
                            <div class="right">
                                <button type="button" @click="stepBtn('Step_Two')">Save & Countinue</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step three" :class="{'active':step == 3}">
                    <h3>Educations</h3>
                    <div class="data">
                        <div class="add_education">
                            <div class="item" v-for="(data,index) in educations" :key="index">
                                <div class="one_two">
                                    <div class="gp">
                                        <label>Level of Education</label>
                                        <div class="select_data">
                                            <input type="text" placeholder="Bachelor/Honors">
                                            <div class="lists">
                                                <div class="list">Secondary</div>
                                                <div class="list">Higher Secondary</div>
                                                <div class="list">Diploma</div>
                                                <div class="list">Bachelor/Honors</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gp">
                                        <label>Exam/Degree Title</label>
                                        <div class="select_data">
                                            <input type="text" placeholder="Bachelor of Science (BSc)">
                                            <div class="lists">
                                                <div class="list">Bachelor of Science (BSc)</div>
                                                <div class="list">Bachelor of Arts (BA)</div>
                                                <div class="list">Bachelor of Commerce (BCom)</div>
                                                <div class="list">Bachelor of Commerce (Pass)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gp">
                                    <label>Concentration/ Major/Group</label>
                                    <input type="text" placeholder="Computer Science & Engineering">
                                </div>
                                <div class="gp">
                                    <label>Institute Name</label>
                                    <input type="text" placeholder="Green University of Bangladesh">
                                </div>
                                <div class="one_two">
                                    <div class="gp">
                                        <label>Result </label>
                                        <div class="select_data">
                                            <input type="text" placeholder="Grade">
                                            <div class="lists">
                                                <div class="list">First Division/Class</div>
                                                <div class="list">Second Division/Class</div>
                                                <div class="list">Third Division/Class</div>
                                                <div class="list">Grade</div>
                                                <div class="list">Appeared</div>
                                                <div class="list">Enrolled</div>
                                                <div class="list">Awarded</div>
                                                <div class="list">Pass</div>
                                                <div class="list">Do not mention</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gp">
                                        <label>CGPA</label>
                                        <input type="text" placeholder="3.88">
                                    </div>
                                </div>
                                <div class="one_two">
                                    <div class="gp">
                                        <label>Year of Passing</label>
                                        <input type="text" placeholder="2022">
                                    </div>
                                    <div class="gp">
                                        <label>Duration (Years)</label>
                                        <input type="text" placeholder="3 years">
                                    </div>
                                </div>
                                <div class="add_btn">
                                    <button type="button" class="remove_btn" v-show="index < educations.length-1 || ( !index && educations.length > 1)" @click="removeEducations(index)">- Remove Education</button>
                                    <button type="button" @click="addEducations(index)" v-show="index == educations.length-1">+ Add Education</button>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="left">
                                <button type="button" @click="stepBackBtn('Step_Two')">Back</button>
                            </div>
                            <div class="right">
                                <button type="button" @click="stepBtn('Step_Three')">Save & Countinue</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step four" :class="{'active':step == 4}">
                    <h3>Training</h3>
                    <div class="data">
                        <div class="add_training">
                            <div class="item" v-for="(data,index) in training" :key="index">
                                <div class="one_two">
                                    <div class="gp">
                                        <label>Training Title</label>
                                        <input type="text" placeholder="Web design & development">
                                    </div>
                                    <div class="gp">
                                        <label>Country</label>
                                        <input type="text" placeholder="Bangladesh">
                                    </div>
                                </div>
                                <div class="one_two">
                                    <div class="gp">
                                        <label>Topics Covered</label>
                                        <input type="text" placeholder="Web design & development">
                                    </div>
                                    <div class="gp">
                                        <label>Training Year</label>
                                        <input type="text" placeholder="2022">
                                    </div>
                                </div>
                                <div class="one_two">
                                    <div class="gp">
                                        <label>Institute</label>
                                        <input type="text" placeholder="IT Solutions">
                                    </div>
                                    <div class="gp">
                                        <label>Duration</label>
                                        <input type="text" placeholder="6 months">
                                    </div>
                                </div>
                                <div class="gp">
                                    <label>Location</label>
                                    <input type="text" placeholder="Dhaka">
                                </div>
                                <div class="add_btn">
                                    <button type="button" class="remove_btn" v-show="index < training.length-1 || ( !index && training.length > 1)" @click="removeTraining(index)">- Remove Training</button>
                                    <button type="button" @click="addTraining(index)" v-show="index == training.length-1">+ Add Training</button>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="left">
                                <button type="button" @click="stepBackBtn('Step_Three')">Back</button>
                            </div>
                            <div class="right">
                                <button type="button" @click="stepBtn('Step_Four')">Save & Countinue</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step five" :class="{'active':step == 5}">
                    <h3>Avatar</h3>
                    <div class="data">
                        <div class="add_avatar">
                            <div class="thumbnail">
                                <div class="img">
                                    <div v-if="img_url != ''" class="remove_btn" @click="ImgRemove">X</div>
                                    <img v-if="img_url == ''" src="@/assets/admin/dummy-img.png" alt="Thumbnail">
                                    <img v-else :src="img_url" alt="Thumbnail">
                                </div>
                                <button type="button" class="btn btn_border btn_sm"
                                    @click="$refs.file.click()">Upload/Add
                                    image</button>
                                <input type="file" ref="file" class="d_none" @change="ImgChange($event)">
                            </div>
                        </div>
                        <div class="actions">
                            <div class="left">
                                <button type="button" @click="stepBackBtn('Step_Four')">Back</button>
                            </div>
                            <div class="right">
                                <button type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import { onMounted, reactive, ref } from 'vue';

export default {
    setup() {
        const open = ref(false);
        const selected = ref('Male');
        const img_url = ref('');
        const image = ref('');

        const step_complete = ref(localStorage.getItem('step_complete') > 1?localStorage.getItem('step_complete'):1);
        const step_by_step = ref(1);
        const step = ref(1);

        // const RequiredCheck = () => {
        //     // Input Field Required
        //     let input_field = document.querySelectorAll(".data .required");
        //     for(let i = 0; i < input_field.length; i++){
        //         input_field[i].style = "border:1px solid tomato;";
        //     }
        // }

        const stepBtn = (value) => {
            if(value == 'Step_One'){
                step.value = 2;

                if(localStorage.getItem('step_complete') < 2){
                    localStorage.setItem('step_complete',2);
                    step_complete.value = 2;
                }else{
                    step_by_step.value = 2;
                }
            }else if(value == 'Step_Two'){
                step.value = 3;

                if(localStorage.getItem('step_complete') < 3){
                    localStorage.setItem('step_complete',3);
                    step_complete.value = 3;
                }else{
                    step_by_step.value = 3;
                }
            }else if(value == 'Step_Three'){
                step.value = 4;

                if(localStorage.getItem('step_complete') < 4){
                    localStorage.setItem('step_complete',4);
                    step_complete.value = 4;
                }else{
                    step_by_step.value = 4;
                }
            }else if(value == 'Step_Four'){
                step.value = 5;

                if(localStorage.getItem('step_complete') < 5){
                    localStorage.setItem('step_complete',5);
                    step_complete.value = 5;
                }else{
                    step_by_step.value = 5;
                }
            }
        }

        const stepBackBtn = (value) => {
            if(value == 'Step_Four'){
                step.value = 4;
            }else if(value == 'Step_Three'){
                step.value = 3;
            }else if(value == 'Step_Two'){
                step.value = 2;
            }else if(value == 'Step_One'){
                step.value = 1;
            }
        }

        const educations = reactive([
            { lavel:'', exam:'', group:'', institute:'', result:'', cgpa:'', passing:'', duration:'' },
        ])

        const addEducations = () => {
            educations.push({ lavel:'', exam:'', group:'', institute:'', result:'', cgpa:'', passing:'', duration:'' });
        }

        const removeEducations = (index) => {
            educations.splice(index, 1);
        }


        const training = reactive([
            { title:'', country:'', topics:'', year:'', institute:'', duration:'', location:'' },
        ])

        const addTraining = () => {
            training.push({ title:'', country:'', topics:'', year:'', institute:'', duration:'', location:'' });
        }

        const removeTraining = (index) => {
            training.splice(index, 1);
        }



        onMounted(() => {
            let Input = document.querySelectorAll(".select_data input");
            for (let i = 0; i < Input.length; i++) {
                Input[i].addEventListener("click", function (event) {
                    let lists = this.closest(".select_data").querySelector(".lists");
                    lists.classList.toggle("show");

                    let lists_all = Input[i].closest(".select_data").querySelectorAll(".lists .list");
                    for (let j = 0; j < lists_all.length; j++) {
                        lists_all[j].addEventListener("click",function(e){
                            Input[i].value = lists_all[j].innerHTML;
                            lists.classList.remove("show");
                        })
                    }
                });
            }

        })


        


        const ImgChange = (event) => {
            img_url.value = URL.createObjectURL(event.target.files[0]);

            var f = event.target.files[0];

            var fileName = f.name.split('.')[0];
            var img = new Image();
            img.src = URL.createObjectURL(f);
            if (f.size >= 100006) {
                img.onload = function () {
                    var canvas = document.createElement('canvas');
                    canvas.width = img.width;
                    canvas.height = img.height;
                    var ctx = canvas.getContext('2d');
                    ctx.drawImage(img, 0, 0);
                    canvas.toBlob(function (blob) {
                        var f2 = new File([blob], fileName + ".webp");
                        image.value = f2;

                    }, 'image/webp', 0.00001);
                }
            } else {
                img.onload = function () {
                    var canvas = document.createElement('canvas');
                    canvas.width = img.width;
                    canvas.height = img.height;
                    var ctx = canvas.getContext('2d');
                    ctx.drawImage(img, 0, 0);
                    canvas.toBlob(function (blob) {
                        var f2 = new File([blob], fileName + ".webp");
                        image.value = f2;

                    }, 'image/webp', 0.5);
                }
            }

        }

        const ImgRemove = () => {
            img_url.value = '';
        }


        return { 
            open, 
            selected, 
            img_url, 
            ImgChange, 
            ImgRemove, 
            image,

            step_complete,
            step,
            stepBtn,
            stepBackBtn,

            educations,
            addEducations,
            removeEducations,
            training,
            addTraining,
            removeTraining,
        }
    }
}
</script>
<style lang="scss">
.d_none {
    display: none;
}
.thumbnail {
    display: flex;
    align-items: start;
    gap: 16px;

    .img {
        position: relative;

        img {
            width: 120px;
            height: 120px;
            box-shadow: 0 10px 19px rgb(0 0 0 / 15%);
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .remove_btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 50%;
            padding: 6px;
            font-size: 12px;
            line-height: 10px;
            color: #f01a1a;
            cursor: pointer;

            &:hover {
                background-color: #222;
                color: #fff;
            }
        }
    }

    button {
        border: 1px solid #135e96;
        color: #135e96;
        padding: 0.25rem 0.5rem;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
    }
}

.doctor {
    & > h2 {
        color: #444;
        padding-bottom: 8px;
        margin-bottom: 8px;
        border-bottom: 1px solid #ddd;
    }
    .form {
        display: flex;
        justify-content: center;

        form {
            max-width: 800px;
            width: 100%;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
            padding: 20px;
            border-radius: 8px;

            .form_top {
                margin-bottom: 30px;
                .items {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    column-gap: 12px;
                    .item {
                        width: 100px;
                        height: 100px;
                        padding: 8px 4px;
                        text-align: center;
                        background-color: #f2f2f2;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        &:first-child {
                            &::after {
                                position: absolute;
                                content: '';
                                top: 0%;
                                width: 0%;
                                height: 0;
                            }
                        }
                        &.active {
                            background-color: #23c483;
                            &::after {
                                background-color: #23c483;
                            }
                            .content {
                                .icon {
                                    color: #fff;
                                }
                                .text {
                                    color: #fff;
                                }
                            }
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            left: -50%;
                            width: 100%;
                            height: 4px;
                            background-color: #f2f2f2;
                            transform: translateX(-50%);
                            z-index: -1;
                        }
                        .content {
                            .icon {
                                font-size: 28px;
                                font-weight: 600;
                                color: #444;
                            }
                            .text {
                                font-size: 13px;
                                color: #777;
                            }
                        }
                    }
                }
            }

            .step {
                display: none;
                &>h3 {
                    color: #444;
                    margin-bottom: 20px;
                }
                &.active {
                    display: block;
                }

                .data {
                    .add_address {
                        & > h4 {
                            font-size: 16px;
                            color: #444;
                            margin-bottom: 16px;
                        }
                    }
                    .add_avatar {
                        display: flex;
                        justify-content: center;
                    }

                    .one_two {
                        display: flex;
                        column-gap: 12px;

                        .gp {
                            width: 50%;
                        }
                    }

                    .one_three {
                        display: flex;
                        column-gap: 12px;

                        .gp {
                            width: 33.3333%;
                        }
                    }

                    .gp {
                        margin-bottom: 16px;

                        label {
                            display: block;
                            margin-bottom: 6px;
                            font-size: 14px;
                            color: #444;
                        }

                        input {
                            width: 100%;
                            height: 40px;
                            border: 1px solid #ddd;
                            outline: none;
                            border-radius: 6px;
                            padding: 4px 12px;
                            font-size: 14px;
                            position: relative;
                            &:focus {
                                border: 1px solid #23c483;
                                box-shadow: none;
                            }
                        }

                        .select_data {
                            position: relative;
                            &::after {
                                position: absolute;
                                content: '';
                                right: 8px;
                                top: 50%;
                                transform: translateY(-50%);
                                width: 0; 
                                height: 0; 
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-top: 5px solid #444;
                            }
                            &.active {
                                &::after {
                                    border-top: 0px solid #777;
                                    border-bottom: 5px solid #777;
                                }
                            }
                            .lists {
                                display: none;
                                position: absolute;
                                width: 100%;
                                max-height: 240px;
                                overflow-y: auto;
                                background-color: #fff;
                                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
                                border-radius: 0 0 4px 4px;
                                z-index: 1;

                                &.show {
                                    display: block;
                                }

                                .list {
                                    line-height: 28px;
                                    font-size: 14px;
                                    color: #444;
                                    padding: 4px 12px;
                                    cursor: pointer;
                                    transition: all 0.3s ease 0s;
                                    -webkit-transition: all 0.3s ease 0s;

                                    &:hover {
                                        background-color: #eee;
                                    }
                                }
                            }
                        }
                    }

                    .add_btn {
                        margin-bottom: 20px;
                        button {
                            display: flex;
                            padding: 12px 16px;
                            font-size: 14px;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            background-color: #23c483;
                            color: #fff;
                            cursor: pointer;
                            outline: none;
                            border: none;
                            border-radius: 45px;
                            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                            transition: all 0.3s ease 0s;
                            &:hover {
                                background-color: #23c483;
                                box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
                                transform: translateY(-7px);
                            }
                        }
                        .remove_btn {
                            background-color: tomato;
                            &:hover {
                                background-color: #d44f37;
                                box-shadow: 0px 15px 20px rgba(189, 106, 37, 0.4);
                            }
                        }
                    }

                    .actions {
                        display: flex;
                        justify-content: space-between;

                        button {
                            display: flex;
                            padding: 12px 16px;
                            font-size: 14px;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            color: #fff;
                            cursor: pointer;
                            outline: none;
                            border: none;
                            border-radius: 45px;
                            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                            transition: all 0.3s ease 0s;
                        }

                        .left {
                            button {
                                background-color: #2194d2;

                                &:hover {
                                    background-color: #2089c2;
                                    box-shadow: 0px 15px 20px rgba(46, 174, 229, 0.4);
                                    transform: translateY(-7px);
                                }
                            }
                        }

                        .right {
                            button {
                                background-color: #23c483;

                                &:hover {
                                    background-color: #23c483;
                                    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
                                    transform: translateY(-7px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



$phone-width-small: 359px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    
}
@media (max-width: #{$tablet-width}) {
    
}
@media (max-width: #{$phone-width}) {
    .doctor {
        .form {
            form {
                .form_top {
                    .items {
                        .item {
                            padding: 6px;
                            width: 50px;
                            height: 50px;
                            .content {
                                .icon {
                                    font-size: 24px;
                                }
                                .text {
                                    display: none;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}
@media (max-width: #{$phone-width-small}) {
    
}

</style>