<template>
<div class="home_page">
    <div class="home_circle">
        <div class="step_one">
            <ul class="items">
                    <li class="item" style="--i:0">
                        <router-link to="" class="link">Business</router-link>
                    </li>
                    <li class="item" style="--i:1">
                        <router-link to="" class="link">Job</router-link>
                    </li>
                    <li class="item" style="--i:2">
                        <router-link to="" class="link">Market</router-link>
                    </li>
                    <li class="item" style="--i:3">
                        <router-link to="" class="link">Service</router-link>
                    </li>
                    <li class="item" style="--i:4">
                        <router-link to="" class="link">Product</router-link>
                    </li>
                    <li class="item" style="--i:5">
                        <router-link to="" class="link long"><span>Emmergency</span></router-link>
                    </li>
                    <li class="item" style="--i:6">
                        <router-link to="" class="link">Consult</router-link>
                    </li>
                    <li class="item" style="--i:7">
                        <router-link to="" class="link">Learning</router-link>
                    </li>
                </ul>
            <div class="step_two">
                <ul class="items">
                    <li class="item" style="--j:0">
                        <router-link to="" class="link">Freelance</router-link>
                    </li>
                    <li class="item" style="--j:1">
                        <router-link to="" class="link">Class</router-link>
                    </li>
                    <li class="item" style="--j:2">
                        <router-link to="" class="link">Hatt</router-link>
                    </li>
                    <li class="item" style="--j:3">
                        <router-link to="" class="link">Book</router-link>
                    </li>
                    <li class="item" style="--j:4">
                        <router-link to="" class="link">Shop</router-link>
                    </li>
                    <li class="item" style="--j:5">
                        <router-link to="" class="link">Doctor</router-link>
                    </li>
                    <li class="item" style="--j:6">
                        <router-link to="" class="link">Delivery</router-link>
                    </li>
                    <li class="item" style="--j:7">
                        <router-link to="" class="link">Tour</router-link>
                    </li>
                </ul>
                <div class="step_three">
                    <div class="company_logo">
                        <img src="@/assets/sc.png" alt="Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</template>
<style lang="scss">
.home_page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.home_circle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 20px 2px rgba(0,0,0,.15);
    .step_one {
        position: absolute;
		transform-origin: 100% 100%;
        background-color: #8BC7F3;
        border-radius: 50%;
        max-width: 450px;
        width: 100%;
        max-height: 450px;
        height: 100%;
        overflow: hidden;
        .items {
            list-style: none;
            .item {
                position: absolute;
                left: 25px;
                top: 50%;
                transform: rotate(calc(45deg * var(--i))) translate(-25px,-50%);
                transform-origin: 200px;
                .link {
                    position: absolute;
                    transform: rotate(-90deg);
                    width: 80px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 15px;
                    color: #fff;
                    font-weight: 600;
                    &::after {
                        position: absolute;
                        content: "";
                        top: -38px;
                        width: 5px;
                        height: 100px;
                        background-color: #fff;
                        transform: rotate(-20deg);
                        left: -33px;
                    }
                }
            }
        }
        .step_two {
            position: relative;
            background-color: #78D1EF;
            border-radius: 50%;
            border: 5px solid #fff;
            max-width: 300px;
            width: 100%;
            max-height: 300px;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            display: inline-block;
            .items {
                list-style: none;
                .item {
                    position: absolute;
                    left: 25px;
                    top: 50%;
                    transform: rotate(calc(45deg * var(--j))) translate(-25px,-50%);
                    transform-origin: 120px;
                    .link {
                        position: absolute;
                        transform: rotate(-90deg);
                        width: 80px;
                        text-align: center;
                        font-size: 13px;
                        text-decoration: none;
                        color: #444;
                        font-weight: 600;
                        &::after {
                            position: absolute;
                            content: "";
                            top: -38px;
                            width: 5px;
                            height: 100px;
                            background-color: #fff;
                            transform: rotate(-20deg);
                            left: -5px;
                        }
                    }
                }
            }
            .step_three {
                position: absolute;
                background-color: #45F7FB;
                padding: 20px;
                border-radius: 50%;
                border: 5px solid #fff;
                max-width: 150px;
                width: 100%;
                max-height: 150px;
                height: 100%;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                .company_logo {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 60px;
                    width: 100%;
                    max-height: 60px;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}


$phone-width-small-six: 330px;
$phone-width-small-five: 370px;
$phone-width-small-four: 410px;
$phone-width-small-three: 450px;
$phone-width-small-two: 490px;
$phone-width-small-one: 530px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    
}
@media (max-width: #{$tablet-width}) {
    
}

@media (max-width: #{$phone-width}) {
    .home_circle {
        position: absolute;
        left: 0;
        margin: 0;
        .step_one {
            .items {
                .item {
                    .link {
                        &.long {
                            width: 57px;
                            span {
                                position: absolute;
                                left: -31px;
                                width: 108px;
                                bottom: -7px;
                            }
                        }
                    }
                }
            }
            .step_two {
                .items {
                    .item {
                        .link {
                            &::after {
                            }
                        }
                    }
                }
                .step_three {
                    .company_logo {
                        img {
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: #{$phone-width-small-one}) {
    .home_circle {
        .step_one {
            max-width: 420px;
            width: 100%;
            max-height: 420px;
            height: 100%;
            .items {
                .item {
                    left: 10px;
                    transform: rotate(calc(45deg * var(--i))) translate(-15px, -50%);
                    transform-origin: 198px;
                    .link {
                        width: 75px;
                        &::after {
                            
                        }
                    }
                }
            }
            .step_two {
                max-width: 285px;
                width: 100%;
                max-height: 285px;
                height: 100%;
                .items {
                    .item {
                        left: 16px;
                        transform: rotate(calc(45deg * var(--j))) translate(-25px, -50%);
                        transform-origin: 120px;
                        .link {
                            &::after {
                            }
                        }
                    }
                }
                .step_three {
                    max-width: 140px;
                    width: 100%;
                    max-height: 140px;
                    height: 100%;
                    .company_logo {
                        img {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-two}) {
    .home_circle {
        .step_one {
            max-width: 400px;
            width: 100%;
            max-height: 400px;
            height: 100%;
            .items {
                .item {
                    left: 19px;
                    transform: rotate(calc(45deg * var(--i))) translate(-24px, -50%);
                    transform-origin: 181px;
                    .link {
                        width: 67px;
                        &::after {
                            height: 110px;
                        }
                    }
                }
            }
            .step_two {
                max-width: 270px;
                width: 100%;
                max-height: 270px;
                height: 100%;
                .items {
                    .item {
                        left: 10px;
                        transform: rotate(calc(45deg * var(--j))) translate(-25px, -50%);
                        transform-origin: 120px;
                        .link {
                            &::after {
                            }
                        }
                    }
                }
                .step_three {
                    max-width: 130px;
                    width: 100%;
                    max-height: 130px;
                    height: 100%;
                    .company_logo {
                        img {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-three}) {
    .home_circle {
        .step_one {
            max-width: 380px;
            width: 100%;
            max-height: 380px;
            height: 100%;
            .items {
                .item {
                    left: 24px;
                    transform: rotate(calc(45deg * var(--i))) translate(-30px, -50%);
                    transform-origin: 166px;
                    .link {
                        width: 57px;
                        &::after {
                        }
                    }
                }
            }
            .step_two {
                max-width: 255px;
                width: 100%;
                max-height: 255px;
                height: 100%;
                .items {
                    .item {
                        left: 8px;
                        transform: rotate(calc(45deg * var(--j))) translate(-22px, -50%);
                        transform-origin: 115px;
                        .link {
                            width: 70px;
                            &::after {
                            }
                        }
                    }
                }
                .step_three {
                    max-width: 120px;
                    width: 100%;
                    max-height: 120px;
                    height: 100%;
                    .company_logo {
                        img {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-four}) {
    .home_circle {
        .step_one {
            max-width: 360px;
            width: 100%;
            max-height: 360px;
            height: 100%;
            .items {
                .item {
                    left: 10px;
                    transform: rotate(calc(45deg * var(--i))) translate(-9px, -50%);
                    transform-origin: 170px;
                    .link {
                        width: 50px;
                        &::after {
                        }
                    }
                }
            }
            .step_two {
                max-width: 240px;
                width: 100%;
                max-height: 240px;
                height: 100%;
                .items {
                    .item {
                        left: 15px;
                        transform: rotate(calc(45deg * var(--j))) translate(-34px, -50%);
                        transform-origin: 100px;
                        .link {
                            &::after {
                            }
                        }
                    }
                }
                .step_three {
                    max-width: 115px;
                    width: 100%;
                    max-height: 115px;
                    height: 100%;
                    .company_logo {
                        img {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-five}) {
    .home_circle {
        .step_one {
            max-width: 340px;
            width: 100%;
            max-height: 340px;
            height: 100%;
            .items {
                .item {
                    left: 60px;
                    transform: rotate(calc(45deg * var(--i))) translate(-55px, -50%);
                    transform-origin: 109px;
                    .link {
                        width: 42px;
                        &::after {
                        }
                    }
                }
            }
            .step_two {
                max-width: 225px;
                width: 100%;
                max-height: 225px;
                height: 100%;
                .items {
                    .item {
                        left: 62px;
                        transform: rotate(calc(45deg * var(--j))) translate(-70px, -50%);
                        transform-origin: 45px;
                        .link {
                            width: 60px;
                            &::after {
                            }
                        }
                    }
                }
                .step_three {
                    max-width: 105px;
                    width: 100%;
                    max-height: 105px;
                    height: 100%;
                    .company_logo {
                        img {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-six}) {
    .home_circle {
        .step_one {
            max-width: 320px;
            width: 100%;
            max-height: 320px;
            height: 100%;
            .items {
                .item {
                    left: 65px;
                    transform: rotate(calc(45deg * var(--i))) translate(-60px, -50%);
                    transform-origin: 96px;
                    .link {
                        width: 36px;
                        &::after {
                        }
                    }
                }
            }
            .step_two {
                max-width: 215px;
                width: 100%;
                max-height: 215px;
                height: 100%;
                .items {
                    .item {
                        left: 62px;
                        transform: rotate(calc(45deg * var(--j))) translate(-70px, -50%);
                        transform-origin: 42px;
                        .link {
                            width: 57px;
                            &::after {
                            }
                        }
                    }
                }
                .step_three {
                    max-width: 100px;
                    width: 100%;
                    max-height: 100px;
                    height: 100%;
                    .company_logo {
                        img {
                        }
                    }
                }
            }
        }
    }
}
</style>