<template>
<div class="home_page">
    <div class="home_circle">
        <div class="image">
            <img :src="require('@/assets/home-circle.jpeg')" alt="Image" />
        </div>
        <div class="step_one">
            <ul class="items">
                <li class="item one">
                    <router-link to="" class="link">Business</router-link>
                </li>
                <li class="item two">
                    <router-link to="" class="link">Job</router-link>
                    <div class="round"></div>
                </li>
                <li class="item three">
                    <router-link to="" class="link">Market</router-link>
                </li>
                <li class="item four">
                    <router-link to="" class="link">Service</router-link>
                </li>
                <li class="item five">
                    <router-link to="" class="link">Product</router-link>
                </li>
                <li class="item six">
                    <router-link to="" class="link">Emmergency</router-link>
                </li>
                <li class="item seven">
                    <router-link to="" class="link">Consult</router-link>
                </li>
                <li class="item eight">
                    <router-link to="" class="link">Learning</router-link>
                </li>
            </ul>
            <div class="step_two">
                <ul class="items">
                    <li class="item one">
                        <router-link to="" class="link">Freelance</router-link>
                    </li>
                    <li class="item two">
                        <router-link to="" class="link">Class</router-link>
                    </li>
                    <li class="item three">
                        <router-link to="" class="link">Hatt</router-link>
                    </li>
                    <li class="item four">
                        <router-link to="" class="link">Book</router-link>
                    </li>
                    <li class="item five">
                        <router-link to="" class="link">Shop</router-link>
                    </li>
                    <li class="item six">
                        <router-link to="" class="link">Doctor</router-link>
                    </li>
                    <li class="item seven">
                        <router-link to="" class="link">Delivery</router-link>
                    </li>
                    <li class="item eight">
                        <router-link to="" class="link">Tour</router-link>
                    </li>
                </ul>
                <div class="step_three">
                    <router-link to="/loog" class="company_logo"></router-link>
                </div>
            </div>
        </div>
    </div>

</div>

<li class="circle new">
    <div class="logo"></div>
    <router-link to="" class="text texts">Business</router-link>
</li>


<div class="estrellas">
  <span>★</span>
  <span>★</span>
  <span>★</span>
  <span>★</span>
  <span>★</span>
  <span>★</span>
  <span>★</span>
</div>

<div class="estrellas inverso">
  <span>O</span>
  <span>S</span>
  <span>R</span>
  <span>E</span>
  <span>V</span>
  <span>N</span>
  <span>I</span>
</div>
</template>
<script>
import { onMounted } from 'vue';

export default {
    setup(){
        
        onMounted(() => {
            const text = document.querySelectorAll(".home_circle .step_one > .items .link");
            for(let i = 0; i < text.length; i++){
                // console.log(text[i].innerHTML);
                text[i].innerHTML = text[i].innerText.split("").map((char,c) => 
                    `<span stype="transform:rotate(${c * 5}deg)">${char}</span>`
                ).join("");
                
            }
        })

        return {

        }
    }
}
</script>
<style lang="scss">
.home_page {
    display: flex;
    justify-content: center;
    align-items: center;
}


.estrellas {
  position: relative;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
}
.estrellas span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70px;
  height: 100px;
  margin-left: -35px;
  line-height: 200px; /* height*2 - font-size */
  text-align: center;
  transform-origin: top center;
}
.estrellas span:nth-of-type(1)  {
  transform: rotate(30deg);
}
.estrellas span:nth-of-type(2)  {
  transform: rotate(20deg);
}
.estrellas span:nth-of-type(3)  {
  transform: rotate(10deg);
}
.estrellas span:nth-of-type(4)  {
  transform: rotate(0deg);
}
.estrellas span:nth-of-type(5)  {
  transform: rotate(-10deg);
}
.estrellas span:nth-of-type(6)  {
  transform: rotate(-20deg);
}
.estrellas span:nth-of-type(7)  {
  transform: rotate(-30deg);
}
/* Reverse mode */
.inverso {
  font-weight: bold;
}
.inverso span {
  line-height: 14px;
  transform-origin: bottom center;
//   border: 1px solid red; /* Only for seeing trick */
}




$phone-width-small-four: 400px;
$phone-width-small-three: 429px;
$phone-width-small-two: 469px;
$phone-width-small-one: 500px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    
}
@media (max-width: #{$tablet-width}) {
    
}
@media (max-width: #{$phone-width}) {
    .home_circle {
        position: relative;
        width: 500px;
        height: 500px;
        margin: auto;
        .image {
            img {
                max-width: 100%;
            }
        }
        .step_one {
            position: absolute;
            left: 0;
            top: 0;
            & > .items {
                position: relative;
                .item {
                    display: inline-block;
                    position: absolute;
                    &.one {
                        left: 286px;
                        top: 43px;
                        transform: rotate(25deg);
                        // .link {
                        //     span {
                        //         position: absolute;
                        //         left: 50%;
                        //         font-size: 1.2rem;
                        //         transform-origin: 0 100px;
                        //     }
                        // }
                    }
                    &.two {
                        left: 415px;
                        top: 150px;
                        transform: rotate(57deg);
                        .link {
                            &::after {
                                left: 0;
                                top: 100%;
                            }
                        }
                    }
                    &.three {
                        left: 400px;
                        top: 300px;
                        transform: rotate(-66deg);
                        .link {
                            &::after {
                                left: 0;
                                bottom: 100%;
                            }
                        }
                    }
                    &.four {
                        left: 292px;
                        top: 406px;
                        transform: rotate(-25deg);
                        .link {
                            &::after {
                                left: 0;
                                bottom: 100%;
                            }
                        }
                    }
                    &.five {
                        left: 140px;
                        top: 406px;
                        transform: rotate(25deg);
                        .link {
                            &::after {
                                left: 0;
                                bottom: 100%;
                            }
                        }
                    }
                    &.six {
                        left: 20px;
                        top: 296px;
                        transform: rotate(65deg);
                        .link {
                            &::after {
                                left: 0;
                                bottom: 100%;
                            }
                        }
                    }
                    &.seven {
                        left: 40px;
                        top: 147px;
                        transform: rotate(-62deg);
                        .link {
                            &::after {
                                left: 0;
                                top: 100%;
                            }
                        }
                    }
                    &.eight {
                        left: 130px;
                        top: 44px;
                        transform: rotate(-28deg);
                        .link {
                            &::after {
                                left: 0;
                                top: 100%;
                            }
                        }
                    }
                    .link {
                        text-decoration: none;
                        color: #fff;
                        position: relative;
                        // span {
                        //     transform-origin: 0 100px;
                        // }
                    }
                }
            }
            .step_two {
                position: absolute;
                left: 0;
                top: 0;
                .items {
                    position: relative;
                    .item {
                        display: inline-block;
                        position: absolute;
                        &.one {
                            left: 258px;
                            top: 104px;
                            transform: rotate(22deg);
                        }
                        &.two {
                            left: 345px;
                            top: 170px;
                            transform: rotate(60deg);
                        }
                        &.three {
                            left: 350px;
                            top: 275px;
                            transform: rotate(-66deg);
                        }
                        &.four {
                            left: 275px;
                            top: 340px;
                            transform: rotate(-25deg);
                        }
                        &.five {
                            left: 175px;
                            top: 342px;
                            transform: rotate(19deg);
                        }
                        &.six {
                            left: 108px;
                            top: 275px;
                            transform: rotate(65deg);
                        }
                        &.seven {
                            left: 98px;
                            top: 175px;
                            transform: rotate(-64deg);
                        }
                        &.eight {
                            left: 180px;
                            top: 111px;
                            transform: rotate(-28deg);
                        }
                        .link {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
                .step_three {
                    position: absolute;
                    width: 130px;
                    height: 130px;
                    top: 170px;
                    left: 185px;
                    border-radius: 50%;
                    // background-color: #ddd;
                    .company_logo {
                        display: flex;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-one}) {
    .home_circle {
        width: 470px;
        height: 470px;
        .image {
            img {
                width: 470px;
                height: 470px;
            }
        }
        .step_one {
            & > .items {
                .item {
                    &.one {
                        left: 270px;
                        top: 40px;
                        transform: rotate(22deg);
                    }
                    &.two {
                        left: 385px;
                        top: 133px;
                        transform: rotate(58deg);
                    }
                    &.three {
                        left: 370px;
                        top: 280px;
                        transform: rotate(-66deg);
                    }
                    &.four {
                        left: 272px;
                        top: 380px;
                        transform: rotate(-25deg);
                    }
                    &.five {
                        left: 131px;
                        top: 376px;
                        transform: rotate(23deg);
                    }
                    &.six {
                        left: 20px;
                        top: 279px;
                        transform: rotate(66deg);
                    }
                    &.seven {
                        left: 30px;
                        top: 145px;
                        transform: rotate(-64deg);
                    }
                    &.eight {
                        left: 122px;
                        top: 40px;
                        transform: rotate(-26deg);
                    }
                    .link {
                        font-size: 14px;
                    }
                }
            }
            .step_two {
                position: absolute;
                left: 0;
                top: 0;
                .items {
                    position: relative;
                    .item {
                        display: inline-block;
                        position: absolute;
                        &.one {
                            left: 246px;
                            top: 99pxpx;
                            transform: rotate(22deg);
                        }
                        &.two {
                            left: 323px;
                            top: 159px;
                            transform: rotate(65deg);
                        }
                        &.three {
                            left: 328px;
                            top: 256px;
                            transform: rotate(-66deg);
                        }
                        &.four {
                            left: 258px;
                            top: 318px;
                            transform: rotate(-25deg);
                        }
                        &.five {
                            left: 167px;
                            top: 321px;
                            transform: rotate(21deg);
                        }
                        &.six {
                            left: 99px;
                            top: 253px;
                            transform: rotate(65deg);
                        }
                        &.seven {
                            left: 94px;
                            top: 160px;
                            transform: rotate(-64deg);
                        }
                        &.eight {
                            left: 169px;
                            top: 102px;
                            transform: rotate(-25deg);
                        }
                        .link {
                            font-size: 14px;
                        }
                    }
                }
                .step_three {
                    width: 120px;
                    height: 120px;
                    top: 160px;
                    left: 175px;
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-two}) {
    .home_circle {
        width: 430px;
        height: 430px;
        .image {
            img {
                width: 430px;
                height: 430px;
            }
        }
        .step_one {
            & > .items {
                .item {
                    &.one {
                        left: 245px;
                        top: 38px;
                        transform: rotate(22deg);
                    }
                    &.two {
                        left: 354px;
                        top: 122px;
                        transform: rotate(58deg);
                    }
                    &.three {
                        left: 342px;
                        top: 252px;
                        transform: rotate(-66deg);
                    }
                    &.four {
                        left: 250px;
                        top: 343px;
                        transform: rotate(-23deg);
                    }
                    &.five {
                        left: 118px;
                        top: 343px;
                        transform: rotate(21deg);
                    }
                    &.six {
                        left: 17px;
                        top: 253px;
                        transform: rotate(66deg);
                    }
                    &.seven {
                        left: 31px;
                        top: 128px;
                        transform: rotate(-64deg);
                    }
                    &.eight {
                        left: 118px;
                        top: 38px;
                        transform: rotate(-24deg);
                    }
                    .link {
                        font-size: 14px;
                    }
                }
            }
            .step_two {
                position: absolute;
                left: 0;
                top: 0;
                .items {
                    position: relative;
                    .item {
                        display: inline-block;
                        position: absolute;
                        &.one {
                            left: 225px;
                            top: 87px;
                            transform: rotate(23deg);
                        }
                        &.two {
                            left: 302px;
                            top: 146px;
                            transform: rotate(65deg);
                        }
                        &.three {
                            left: 302px;
                            top: 233px;
                            transform: rotate(-68deg);
                        }
                        &.four {
                            left: 239px;
                            top: 294px;
                            transform: rotate(-25deg);
                        }
                        &.five {
                            left: 150px;
                            top: 294px;
                            transform: rotate(21deg);
                        }
                        &.six {
                            left: 89px;
                            top: 234px;
                            transform: rotate(65deg);
                        }
                        &.seven {
                            left: 80px;
                            top: 149px;
                            transform: rotate(-64deg);
                        }
                        &.eight {
                            left: 152px;
                            top: 91px;
                            transform: rotate(-25deg);
                        }
                        .link {
                            font-size: 14px;
                        }
                    }
                }
                .step_three {
                    width: 110px;
                    height: 110px;
                    top: 150px;
                    left: 160px;
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-three}) {
    .home_circle {
        width: 400px;
        height: 400px;
        .image {
            img {
                width: 400px;
                height: 400px;
            }
        }
        .step_one {
            & > .items {
                .item {
                    &.one {
                        left: 225px;
                        top: 31px;
                        transform: rotate(22deg);
                    }
                    &.two {
                        left: 329px;
                        top: 110px;
                        transform: rotate(58deg);
                    }
                    &.three {
                        left: 317px;
                        top: 231px;
                        transform: rotate(-66deg);
                    }
                    &.four {
                        left: 231px;
                        top: 319px;
                        transform: rotate(-23deg);
                    }
                    &.five {
                        left: 106px;
                        top: 315px;
                        transform: rotate(21deg);
                    }
                    &.six {
                        left: 13px;
                        top: 234px;
                        transform: rotate(66deg);
                    }
                    &.seven {
                        left: 27px;
                        top: 115px;
                        transform: rotate(-64deg);
                    }
                    &.eight {
                        left: 102px;
                        top: 36px;
                        transform: rotate(-24deg);
                    }
                    .link {
                        font-size: 14px;
                    }
                }
            }
            .step_two {
                position: absolute;
                left: 0;
                top: 0;
                .items {
                    position: relative;
                    .item {
                        display: inline-block;
                        position: absolute;
                        &.one {
                            left: 204px;
                            top: 79px;
                            transform: rotate(21deg);
                        }
                        &.two {
                            left: 275px;
                            top: 133px;
                            transform: rotate(65deg);
                        }
                        &.three {
                            left: 276px;
                            top: 215px;
                            transform: rotate(-68deg);
                        }
                        &.four {
                            left: 219px;
                            top: 271px;
                            transform: rotate(-25deg);
                        }
                        &.five {
                            left: 138px;
                            top: 269px;
                            transform: rotate(21deg);
                        }
                        &.six {
                            left: 83px;
                            top: 215px;
                            transform: rotate(65deg);
                        }
                        &.seven {
                            left: 74px;
                            top: 136px;
                            transform: rotate(-68deg);
                        }
                        &.eight {
                            left: 141px;
                            top: 83px;
                            transform: rotate(-25deg);
                        }
                        .link {
                            font-size: 14px;
                        }
                    }
                }
                .step_three {
                    width: 110px;
                    height: 110px;
                    top: 150px;
                    left: 160px;
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-four}) {
    .home_circle {
        width: 370px;
        height: 370px;
        .image {
            img {
                width: 370px;
                height: 370px;
            }
        }
        .step_one {
            & > .items {
                .item {
                    &.one {
                        left: 208px;
                        top: 24px;
                        transform: rotate(22deg);
                    }
                    &.two {
                        left: 305px;
                        top: 98px;
                        transform: rotate(58deg);
                    }
                    &.three {
                        left: 293px;
                        top: 215px;
                        transform: rotate(-66deg);
                    }
                    &.four {
                        left: 210px;
                        top: 295px;
                        transform: rotate(-23deg);
                    }
                    &.five {
                        left: 100px;
                        top: 294px;
                        transform: rotate(21deg);
                    }
                    &.six {
                        left: 9px;
                        top: 217px;
                        transform: rotate(66deg);
                    }
                    &.seven {
                        left: 20px;
                        top: 105px;
                        transform: rotate(-66deg);
                    }
                    &.eight {
                        left: 92px;
                        top: 30px;
                        transform: rotate(-24deg);
                    }
                    .link {
                        font-size: 14px;
                    }
                }
            }
            .step_two {
                position: absolute;
                left: 0;
                top: 0;
                .items {
                    position: relative;
                    .item {
                        display: inline-block;
                        position: absolute;
                        &.one {
                            left: 186px;
                            top: 75px;
                            transform: rotate(21deg);
                        }
                        &.two {
                            left: 255px;
                            top: 124px;
                            transform: rotate(65deg);
                        }
                        &.three {
                            left: 254px;
                            top: 198px;
                            transform: rotate(-68deg);
                        }
                        &.four {
                            left: 201px;
                            top: 251px;
                            transform: rotate(-25deg);
                        }
                        &.five {
                            left: 129px;
                            top: 249px;
                            transform: rotate(21deg);
                        }
                        &.six {
                            left: 75px;
                            top: 199px;
                            transform: rotate(65deg);
                        }
                        &.seven {
                            left: 66px;
                            top: 124px;
                            transform: rotate(-68deg);
                        }
                        &.eight {
                            left: 129px;
                            top: 76px;
                            transform: rotate(-25deg);
                        }
                        .link {
                            font-size: 14px;
                        }
                    }
                }
                .step_three {
                    width: 95px;
                    height: 95px;
                    top: 125px;
                    left: 138px;
                }
            }
        }
    }
}

</style>