<template>
<div class="home_page">
    <div class="home_circle">
        <div class="image">
            <img :src="require('@/assets/home-circle.jpeg')" alt="Image" />
        </div>
        <div class="step_one">
            <ul class="items">
                <li class="item one">
                    <router-link to="" class="link">
                        <img src="@/assets/circle/outer/MySoftCommerce1.png" alt="Image">
                    </router-link>
                </li>
                <li class="item two">
                    <router-link to="" class="link">
                        <img src="@/assets/circle/outer/SoftMarket1.png" alt="Image">
                    </router-link>
                </li>
                <li class="item three">
                    <router-link to="" class="link">
                        <img src="@/assets/circle/outer/Shops1.png" alt="Image">
                    </router-link>
                </li>
                <li class="item four">
                    <router-link to="" class="link">
                        <img src="@/assets/circle/outer/Products1.png" alt="Image">
                    </router-link>
                </li>
                <li class="item five">
                    <router-link to="" class="link">
                        <img src="@/assets/circle/outer/Service1.png" alt="Image">
                    </router-link>
                </li>
                <li class="item six">
                    <router-link to="" class="link">
                        <img src="@/assets/circle/outer/AlleCommerce1.png" alt="Image">
                    </router-link>
                </li>
                <li class="item seven">
                    <router-link to="" class="link">
                        <img src="@/assets/circle/outer/GovtWebsites1.png" alt="Image">
                    </router-link>
                </li>
                <li class="item eight">
                    <router-link to="" class="link">
                        <img src="@/assets/circle/outer/Newspapers1.png" alt="Image">
                    </router-link>
                </li>
            </ul>
            <div class="step_two">
                <ul class="items">
                    <li class="item one">
                        <router-link to="" class="link">
                            <img src="@/assets/circle/inner/Apply1.png" alt="Image">
                        </router-link>
                    </li>
                    <li class="item two">
                        <router-link to="" class="link">
                            <img src="@/assets/circle/inner/Dashboard1.png" alt="Image">
                        </router-link>
                    </li>
                    <li class="item three">
                        <router-link to="" class="link">
                            <img src="@/assets/circle/inner/MyShop1.png" alt="Image">
                        </router-link>
                    </li>
                    <li class="item four">
                        <router-link to="" class="link">
                            <img src="@/assets/circle/inner/ConnectingFriends1.png" alt="Image">
                        </router-link>
                    </li>
                    <li class="item five">
                        <router-link to="" class="link">
                            <img src="@/assets/circle/inner/NoticeBoard1.png" alt="Image">
                        </router-link>
                    </li>
                    <li class="item six">
                        <router-link to="" class="link">
                            <img src="@/assets/circle/inner/FAQ1.png" alt="Image">
                        </router-link>
                    </li>
                    <li class="item seven">
                        <router-link to="" class="link">
                            <img src="@/assets/circle/inner/Jobs1.png" alt="Image">
                        </router-link>
                    </li>
                    <li class="item eight">
                        <router-link to="" class="link">
                            <img src="@/assets/circle/inner/TV_Channels1.png" alt="Image">
                        </router-link>
                    </li>
                </ul>
                <div class="step_three">
                    <router-link to="/loog" class="company_logo">
                        <!-- <img src="@/assets/circle/inner/CenterLogo.png" alt="Logo"> -->
                    </router-link>
                </div>
            </div>
        </div>
    </div>

</div>

</template>
<script>

export default {
    setup(){
    }
}
</script>
<style lang="scss">
.home_page {
    display: flex;
    justify-content: center;
    align-items: center;
}


.home_circle {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    .image {
        img {
            width: 500px;
            height: 500px;
        }
    }
    .step_one {
        position: absolute;
        left: 0;
        top: 0;
        & > .items {
            position: relative;
            .item {
                display: inline-block;
                position: absolute;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                &:hover {
                    transform: scale(1.1);
                    z-index: 1;
                        
                }
                &.one {
                    left: 250px;
                    top: 4px;
                    img {
                        width: 160px;
                    }
                    .link {
                        
                    }
                }
                &.two {
                    left: 360px;
                    top: 72px;
                    .link {
                        img {
                            width: 130px;
                        }
                    }
                }
                &.three {
                    left: 361px;
                    top: 233px;
                    .link {
                        img {
                            width: 131px;
                        }
                    }
                }
                &.four {
                    left: 249px;
                    top: 346px;
                    .link {
                        img {
                            width: 160px;
                        }
                    }
                }
                &.five {
                    left: 90px;
                    top: 341px;
                    .link {
                        img {
                            width: 160px;
                        }
                    }
                }
                &.six {
                    left: 16px;
                    top: 235px;
                    .link {
                        img {
                            width: 117px;
                        }
                    }
                }
                &.seven {
                    left: 0;
                    top: 75px;
                    .link {
                        img {
                            width: 136px;
                        }
                    }
                }
                &.eight {
                    left: 90px;
                    top: 1px;
                    .link {
                        img {
                            width: 157px;
                        }
                    }
                }
                .link {
                    text-decoration: none;
                    color: #fff;
                    position: relative
                }
            }
        }
        .step_two {
            position: absolute;
            left: 0;
            top: 0;
            .items {
                position: relative;
                .item {
                    display: inline-block;
                    position: absolute;
                    transition: all 0.3s ease 0s;
                    -webkit-transition: all 0.3s ease 0s;
                    &:hover {
                        transform: scale(1.2);
                        z-index: 1;
                    }
                    &.one {
                        left: 249px;
                        top: 76px;
                        .link {
                            img {
                                width: 109px;
                            }
                        }
                    }
                    &.two {
                        left: 316px;
                        top: 122px;
                        .link {
                            img {
                                width: 92px;
                            }
                        }
                    }
                    &.three {
                        left: 316px;
                        top: 234px;
                        .link {
                            img {
                                width: 97px;
                            }
                        }
                    }
                    &.four {
                        left: 249px;
                        top: 297px;
                        .link {
                            img {
                                width: 114px;
                            }
                        }
                    }
                    &.five {
                        left: 135px;
                        top: 300px;
                        .link {
                            img {
                                width: 114px;
                            }
                        }
                    }
                    &.six {
                        left: 88px;
                        top: 235px;
                        .link {
                            img {
                                width: 95px;
                            }
                        }
                    }
                    &.seven {
                        left: 88px;
                        top: 120px;
                        .link {
                            img {
                                width: 97px;
                            }
                        }
                    }
                    &.eight {
                        left: 138px;
                        top: 74px;
                        .link {
                            img {
                                width: 109px;
                            }
                        }
                    }
                    .link {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
            .step_three {
                position: absolute;
                width: 196px;
                height: 196px;
                top: 139px;
                left: 153px;
                border-radius: 50%;
                .company_logo {
                    display: flex;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}



$phone-width-small-four: 400px;
$phone-width-small-three: 429px;
$phone-width-small-two: 469px;
$phone-width-small-one: 500px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    
}
@media (max-width: #{$tablet-width}) {
    
}
@media (max-width: #{$phone-width}) {
    .home_circle {
        position: relative;
        width: 500px;
        height: 500px;
        margin: auto;
        .image {
            img {
                width: 500px;
                height: 500px;
            }
        }
        .step_one {
            position: absolute;
            left: 0;
            top: 0;
            & > .items {
                position: relative;
                .item {
                    display: inline-block;
                    position: absolute;
                    transition: all 0.3s ease 0s;
                    -webkit-transition: all 0.3s ease 0s;
                    &:hover {
                        transform: scale(1.1);
                        z-index: 1;
                           
                    }
                    &.one {
                        left: 250px;
                        top: 4px;
                        img {
                            width: 160px;
                        }
                        .link {
                            
                        }
                    }
                    &.two {
                        left: 360px;
                        top: 72px;
                        .link {
                            img {
                                width: 130px;
                            }
                        }
                    }
                    &.three {
                        left: 361px;
                        top: 233px;
                        .link {
                            img {
                                width: 131px;
                            }
                        }
                    }
                    &.four {
                        left: 249px;
                        top: 346px;
                        .link {
                            img {
                                width: 160px;
                            }
                        }
                    }
                    &.five {
                        left: 90px;
                        top: 341px;
                        .link {
                            img {
                                width: 160px;
                            }
                        }
                    }
                    &.six {
                        left: 16px;
                        top: 235px;
                        .link {
                            img {
                                width: 117px;
                            }
                        }
                    }
                    &.seven {
                        left: 0;
                        top: 75px;
                        .link {
                            img {
                                width: 136px;
                            }
                        }
                    }
                    &.eight {
                        left: 90px;
                        top: 1px;
                        .link {
                            img {
                                width: 157px;
                            }
                        }
                    }
                    .link {
                        text-decoration: none;
                        color: #fff;
                        position: relative
                    }
                }
            }
            .step_two {
                position: absolute;
                left: 0;
                top: 0;
                .items {
                    position: relative;
                    .item {
                        display: inline-block;
                        position: absolute;
                        transition: all 0.3s ease 0s;
                        -webkit-transition: all 0.3s ease 0s;
                        &:hover {
                            transform: scale(1.1);
                            z-index: 1;
                        }
                        &.one {
                            left: 249px;
                            top: 76px;
                            .link {
                                img {
                                    width: 109px;
                                }
                            }
                        }
                        &.two {
                            left: 316px;
                            top: 122px;
                            .link {
                                img {
                                    width: 92px;
                                }
                            }
                        }
                        &.three {
                            left: 316px;
                            top: 234px;
                            .link {
                                img {
                                    width: 97px;
                                }
                            }
                        }
                        &.four {
                            left: 249px;
                            top: 297px;
                            .link {
                                img {
                                    width: 114px;
                                }
                            }
                        }
                        &.five {
                            left: 135px;
                            top: 300px;
                            .link {
                                img {
                                    width: 114px;
                                }
                            }
                        }
                        &.six {
                            left: 88px;
                            top: 235px;
                            .link {
                                img {
                                    width: 95px;
                                }
                            }
                        }
                        &.seven {
                            left: 88px;
                            top: 120px;
                            .link {
                                img {
                                    width: 97px;
                                }
                            }
                        }
                        &.eight {
                            left: 138px;
                            top: 74px;
                            .link {
                                img {
                                    width: 109px;
                                }
                            }
                        }
                        .link {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
                .step_three {
                    position: absolute;
                    width: 196px;
                    height: 196px;
                    top: 139px;
                    left: 153px;
                    border-radius: 50%;
                    .company_logo {
                        display: flex;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-one}) {
    .home_circle {
        width: 470px;
        height: 470px;
        .image {
            img {
                width: 470px;
                height: 470px;
            }
        }
        .step_one {
            & > .items {
                .item {
                    &.one {
                        left: 235px;
                        top: 4px;
                        .link {
                            img {
                                width: 148px;
                            }
                        }
                    }
                    &.two {
                        left: 338px;
                        top: 66px;
                        .link {
                            img {
                                width: 123px;
                            }
                        }
                    }
                    &.three {
                        left: 339px;
                        top: 218px;
                        .link {
                            img {
                                width: 123px;
                            }
                        }
                    }
                    &.four {
                        left: 235px;
                        top: 325px;
                        .link {
                            img {
                                width: 147px;
                            }
                        }
                    }
                    &.five {
                        left: 86px;
                        top: 320px;
                        .link {
                            img {
                                width: 148px;
                            }
                        }
                    }
                    &.six {
                        left: 16px;
                        top: 221px;
                        .link {
                            img {
                                width: 109px;
                            }
                        }
                    }
                    &.seven {
                        left: 1px;
                        top: 71px;
                        .link {
                            img {
                                width: 127px;
                            }
                        }
                    }
                    &.eight {
                        left: 87px;
                        top: 3px;
                        .link {
                            img {
                                width: 144px;
                            }
                        }
                    }
                    .link {
                        font-size: 14px;
                    }
                }
            }
            .step_two {
                position: absolute;
                left: 0;
                top: 0;
                .items {
                    position: relative;
                    .item {
                        display: inline-block;
                        position: absolute;
                        &.one {
                            left: 235px;
                            top: 71px;
                            .link {
                                img {
                                    width: 100px;
                                }
                            }
                        }
                        &.two {
                            left: 298px;
                            top: 115px;
                            .link {
                                img {
                                    width: 86px;
                                }
                            }
                        }
                        &.three {
                            left: 297px;
                            top: 220px;
                            .link {
                                img {
                                    width: 91px;
                                }
                            }
                        }
                        &.four {
                            left: 234px;
                            top: 279px;
                            .link {
                                img {
                                    width: 105px;
                                }
                            }
                        }
                        &.five {
                            left: 129px;
                            top: 280px;
                            .link {
                                img {
                                    width: 105px;
                                }
                            }
                        }
                        &.six {
                            left: 82px;
                            top: 219px;
                            .link {
                                img {
                                    width: 90px;
                                }
                            }
                        }
                        &.seven {
                            left: 82px;
                            top: 111px;
                            .link {
                                img {
                                    width: 91px;
                                }
                            }
                        }
                        &.eight {
                            left: 132px;
                            top: 70px;
                            .link {
                                img {
                                    width: 100px;
                                }
                            }
                        }
                        .link {
                            font-size: 14px;
                        }
                    }
                }
                .step_three {
                    width: 120px;
                    height: 120px;
                    top: 160px;
                    left: 175px;
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-two}) {
    .home_circle {
        width: 430px;
        height: 430px;
        .image {
            img {
                width: 430px;
                height: 430px;
            }
        }
        .step_one {
            & > .items {
                .item {
                    &.one {
                        left: 215px;
                        top: 4px;
                        .link {
                            img {
                                width: 136px;
                            }
                        }
                    }
                    &.two {
                        left: 309px;
                        top: 61px;
                        .link {
                            img {
                                width: 113px;
                            }
                        }
                    }
                    &.three {
                        left: 310px;
                        top: 202px;
                        .link {
                            img {
                                width: 112px;
                            }
                        }
                    }
                    &.four {
                        left: 215px;
                        top: 298px;
                        .link {
                            img {
                                width: 134px;
                            }
                        }
                    }
                    &.five {
                        left: 78px;
                        top: 292px;
                        .link {
                            img {
                                width: 137px;
                            }
                        }
                    }
                    &.six {
                        left: 14px;
                        top: 201px;
                        .link {
                            img {
                                width: 100px;
                            }
                        }
                    }
                    &.seven {
                        left: 0px;
                        top: 64px;
                        .link {
                            img {
                                width: 117px;
                            }
                        }
                    }
                    &.eight {
                        left: 78px;
                        top: 2px;
                        .link {
                            img {
                                width: 133px;
                            }
                        }
                    }
                    .link {
                        font-size: 14px;
                    }
                }
            }
            .step_two {
                position: absolute;
                left: 0;
                top: 0;
                .items {
                    position: relative;
                    .item {
                        display: inline-block;
                        position: absolute;
                        &.one {
                            left: 214px;
                            top: 64px;
                            .link {
                                img {
                                    width: 94px;
                                }
                            }
                        }
                        &.two {
                            left: 272px;
                            top: 104px;
                            .link {
                                img {
                                    width: 80px;
                                }
                            }
                        }
                        &.three {
                            left: 274px;
                            top: 201px;
                            .link {
                                img {
                                    width: 80px;
                                }
                            }
                        }
                        &.four {
                            left: 214px;
                            top: 254px;
                            .link {
                                img {
                                    width: 98px;
                                }
                            }
                        }
                        &.five {
                            left: 118px;
                            top: 258px;
                            .link {
                                img {
                                    width: 95px;
                                }
                            }
                        }
                        &.six {
                            left: 76px;
                            top: 200px;
                            .link {
                                img {
                                    width: 80px;
                                }
                            }
                        }
                        &.seven {
                            left: 77px;
                            top: 102px;
                            .link {
                                img {
                                    width: 82px;
                                }
                            }
                        }
                        &.eight {
                            left: 120px;
                            top: 64px;
                            .link {
                                img {
                                    width: 90px;
                                }
                            }
                        }
                        .link {
                            font-size: 14px;
                        }
                    }
                }
                .step_three {
                    width: 100px;
                    height: 100px;
                    top: 150px;
                    left: 170px;
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-three}) {
    .home_circle {
        width: 400px;
        height: 400px;
        .image {
            img {
                width: 400px;
                height: 400px;
            }
        }
        .step_one {
            & > .items {
                .item {
                    &.one {
                        left: 199px;
                        top: 3px;
                        .link {
                            img {
                                width: 129px;
                            }
                        }
                    }
                    &.two {
                        left: 288px;
                        top: 57px;
                        .link {
                            img {
                                width: 105px;
                            }
                        }
                    }
                    &.three {
                        left: 288px;
                        top: 186px;
                        .link {
                            img {
                                width: 105px;
                            }
                        }
                    }
                    &.four {
                        left: 201px;
                        top: 276px;
                        .link {
                            img {
                                width: 126px;
                            }
                        }
                    }
                    &.five {
                        left: 72px;
                        top: 272px;
                        .link {
                            img {
                                width: 128px;
                            }
                        }
                    }
                    &.six {
                        left: 13px;
                        top: 187px;
                        .link {
                            img {
                                width: 93px;
                            }
                        }
                    }
                    &.seven {
                        left: 0px;
                        top: 59px;
                        .link {
                            img {
                                width: 109px;
                            }
                        }
                    }
                    &.eight {
                        left: 72px;
                        top: 0px;
                        .link {
                            img {
                                width: 125px;
                            }
                        }
                    }
                    .link {
                        font-size: 14px;
                    }
                }
            }
            .step_two {
                position: absolute;
                left: 0;
                top: 0;
                .items {
                    position: relative;
                    .item {
                        display: inline-block;
                        position: absolute;
                        &.one {
                            left: 199px;
                            top: 60px;
                            .link {
                                img {
                                    width: 88px;
                                }
                            }
                        }
                        &.two {
                            left: 253px;
                            top: 96px;
                            .link {
                                img {
                                    width: 74px;
                                }
                            }
                        }
                        &.three {
                            left: 253px;
                            top: 187px;
                            .link {
                                img {
                                    width: 77px;
                                }
                            }
                        }
                        &.four {
                            left: 199px;
                            top: 238px;
                            .link {
                                img {
                                    width: 90px;
                                }
                            }
                        }
                        &.five {
                            left: 108px;
                            top: 239px;
                            .link {
                                img {
                                    width: 90px;
                                }
                            }
                        }
                        &.six {
                            left: 70px;
                            top: 186px;
                            .link {
                                img {
                                    width: 77px;
                                }
                            }
                        }
                        &.seven {
                            left: 71px;
                            top: 95px;
                            .link {
                                img {
                                    width: 76px;
                                }
                            }
                        }
                        &.eight {
                            left: 113px;
                            top: 59px;
                            .link {
                                img {
                                    width: 84px;
                                }
                            }
                        }
                        .link {
                            font-size: 14px;
                        }
                    }
                }
                .step_three {
                    width: 120px;
                    height: 120px;
                    top: 160px;
                    left: 175px;
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small-four}) {
    .home_circle {
        width: 370px;
        height: 370px;
        .image {
            img {
                width: 370px;
                height: 370px;
            }
        }
        .step_one {
            & > .items {
                .item {
                    &.one {
                        left: 186px;
                        top: 3px;
                        .link {
                            img {
                                width: 117px;
                            }
                        }
                    }
                    &.two {
                        left: 266px;
                        top: 53px;
                        .link {
                            img {
                                width: 97px;
                            }
                        }
                    }
                    &.three {
                        left: 267px;
                        top: 172px;
                        .link {
                            img {
                                width: 97px;
                            }
                        }
                    }
                    &.four {
                        left: 185px;
                        top: 256px;
                        .link {
                            img {
                                width: 116px;
                            }
                        }
                    }
                    &.five {
                        left: 67px;
                        top: 252px;
                        .link {
                            img {
                                width: 116px;
                            }
                        }
                    }
                    &.six {
                        left: 12px;
                        top: 173px;
                        .link {
                            img {
                                width: 86px;
                            }
                        }
                    }
                    &.seven {
                        left: 0px;
                        top: 56px;
                        .link {
                            img {
                                width: 99px;
                            }
                        }
                    }
                    &.eight {
                        left: 68px;
                        top: 1px;
                        .link {
                            img {
                                width: 115px;
                            }
                        }
                    }
                    .link {
                        font-size: 14px;
                    }
                }
            }
            .step_two {
                position: absolute;
                left: 0;
                top: 0;
                .items {
                    position: relative;
                    .item {
                        display: inline-block;
                        position: absolute;
                        &.one {
                            left: 184px;
                            top: 56px;
                            .link {
                                img {
                                    width: 78px;
                                }
                            }
                        }
                        &.two {
                            left: 235px;
                            top: 90px;
                            .link {
                                img {
                                    width: 67px;
                                }
                            }
                        }
                        &.three {
                            left: 235px;
                            top: 174px;
                            .link {
                                img {
                                    width: 70px;
                                }
                            }
                        }
                        &.four {
                            left: 184px;
                            top: 220px;
                            .link {
                                img {
                                    width: 84px;
                                }
                            }
                        }
                        &.five {
                            left: 99px;
                            top: 221px;
                            .link {
                                img {
                                    width: 84px;
                                }
                            }
                        }
                        &.six {
                            left: 65px;
                            top: 172px;
                            .link {
                                img {
                                    width: 71px;
                                }
                            }
                        }
                        &.seven {
                            left: 65px;
                            top: 88px;
                            .link {
                                img {
                                    width: 71px;
                                }
                            }
                        }
                        &.eight {
                            left: 104px;
                            top: 55px;
                            .link {
                                img {
                                    width: 79px;
                                }
                            }
                        }
                        .link {
                            font-size: 14px;
                        }
                    }
                }
                .step_three {
                    width: 95px;
                    height: 95px;
                    top: 125px;
                    left: 140px;
                }
            }
        }
    }
}

</style>