<template>
    <div class="wrap">
        <header-main></header-main>
        <nav-menu></nav-menu>
        <slider-main></slider-main>
        <service-area></service-area>
        <category-data></category-data>
        <pres-medicinee></pres-medicinee>
        <div class="banner">
            <div class="back_img">
                <img src="https://osudpotro.com/_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&w=1920&q=75" alt="Back Image">
            </div>
            <div class="content">
                <div class="left">
                    <img src="https://cdn.osudpotro.com/project_assets/Prescription Medicines.webp?w=1080" alt="Banner Image">
                </div>
                <div class="middle">
                    <h1>Prescription Medicines</h1>
                </div>
                <div class="right">
                    <p>
                        osudpotro provides Prescription medicines that require a medical prescription to be dispensed also offers online medicines and healthcare products home delivery in Dhaka as well as all over Bangladesh.
                    </p>
                    <div class="action">
                        <base-button small="btn_css">
                            <router-link to="" class="link">View All</router-link>
                        </base-button>
                    </div>
                </div>
            </div>
        </div>
        <otc-medicine></otc-medicine>
        <div class="banner">
            <div class="back_img">
                <img src="https://osudpotro.com/_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&w=1920&q=75" alt="Back Image">
            </div>
            <div class="content">
                <div class="left">
                    <img src="https://cdn.osudpotro.com/project_assets/OTC Medicines.webp?w=1080" alt="Banner Image">
                </div>
                <div class="middle">
                    <h1>OTC Medicines</h1>
                </div>
                <div class="right">
                    <p>
                        osudpotro provides Prescription medicines that require a medical prescription to be dispensed also offers online medicines and healthcare products home delivery in Dhaka as well as all over Bangladesh.
                    </p>
                    <div class="action">
                        <base-button small="btn_css">
                            <router-link to="" class="link">View All</router-link>
                        </base-button>
                    </div>
                </div>
            </div>
        </div>
        <men-products></men-products>
        <div class="banner">
            <div class="back_img">
                <img src="https://osudpotro.com/_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&w=1920&q=75" alt="Back Image">
            </div>
            <div class="content">
                <div class="left">
                    <img src="https://cdn.osudpotro.com/project_assets/Men's Products.webp?w=1080" alt="Banner Image">
                </div>
                <div class="middle">
                    <h1>Men's Products</h1>
                </div>
                <div class="right">
                    <p>
                        osudpotro provides Prescription medicines that require a medical prescription to be dispensed also offers online medicines and healthcare products home delivery in Dhaka as well as all over Bangladesh.
                    </p>
                    <div class="action">
                        <base-button small="btn_css">
                            <router-link to="" class="link">View All</router-link>
                        </base-button>
                    </div>
                </div>
            </div>
        </div>
        <women-products></women-products>
        <div class="banner">
            <div class="back_img">
                <img src="https://osudpotro.com/_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fproject_assets%2Fcategory-background.webp&w=1920&q=75" alt="Back Image">
            </div>
            <div class="content">
                <div class="left">
                    <img src="https://cdn.osudpotro.com/project_assets/Women's Products.webp?w=1080" alt="Banner Image">
                </div>
                <div class="middle">
                    <h1>Women's Products</h1>
                </div>
                <div class="right">
                    <p>
                        osudpotro provides Prescription medicines that require a medical prescription to be dispensed also offers online medicines and healthcare products home delivery in Dhaka as well as all over Bangladesh.
                    </p>
                    <div class="action">
                        <base-button small="btn_css">
                            <router-link to="" class="link">View All</router-link>
                        </base-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="activities">
            <div class="items">
                <div class="item">
                    <div class="thumb">
                        <img src="https://cdn.osudpotro.com/project_assets/registered-user-min.webp?w=256" alt="Image">
                    </div>
                    <div class="content">
                        <div class="num">169914</div>
                        <div class="txt">Registered Users</div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumb">
                        <img src="https://cdn.osudpotro.com/project_assets/average-delivery-time-min.webp?w=256" alt="Image">
                    </div>
                    <div class="content">
                        <div class="num">45min</div>
                        <div class="txt">Avg. Delivery Time</div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumb">
                        <img src="https://cdn.osudpotro.com/project_assets/total-items-min.webp?w=256" alt="Image">
                    </div>
                    <div class="content">
                        <div class="num">37216</div>
                        <div class="txt">Enlisted Items</div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumb">
                        <img src="https://cdn.osudpotro.com/project_assets/order-delivered-min.webp?w=256" alt="Image">
                    </div>
                    <div class="content">
                        <div class="num">169914</div>
                        <div class="txt">Registered Users</div>
                    </div>
                </div>
            </div>
        </div>
        <footer-main></footer-main>
    </div>
</template>
<script>
import HeaderMain from './comps/home/HeaderMain.vue';
import FooterMain from './comps/home/FooterMain.vue';
import NavMenu from './comps/home/NavMenu.vue'
import SliderMain from './comps/home/SliderMain.vue'
import ServiceArea from './comps/home/ServiceArea.vue'
import CategoryData from './comps/home/CategoryData.vue'
import PresMedicinee from './comps/home/PresMedicinee.vue'
import OtcMedicine from './comps/home/OtcMedicine.vue'
import MenProducts from './comps/home/MenProducts.vue'
import WomenProducts from './comps/home/WomenProducts.vue'
export default {
  components: { HeaderMain, FooterMain, NavMenu, SliderMain, ServiceArea, CategoryData, PresMedicinee, OtcMedicine, MenProducts, WomenProducts },
    setup() {
        
    },
}
</script>
<style lang="scss" scoped>
.wrap {
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
}

.banner {
    position: relative;
    padding: 0 12px;
    overflow: hidden;
    .back_img {
        display: flex;
        img {
            max-width: 100%;
        }
    }
    .content {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0 40px;
        .left {
            img {
                max-height: 202px;
                height: 100%;
            }
        }
        .middle {
            h1 {
                font-size: 58px;
                max-width: 430px;
                text-align: right;
                font-weight: 600;
                margin-right: 30px;
                line-height: 1.1;
                background: -webkit-linear-gradient(#0395ad,#053538);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 0.2px #0395ad;
            }
        }
        .right {
            display: flex;
            align-items: center;
            column-gap: 20px;
            p {
                font-size: 14px;
                color: #013e52;
            }
            .action {
                .btn_css {
                    padding: 12px 20px;
                    font-size: 14px;
                    .link {
                        text-decoration: none;
                        color: #fff;
                        font-weight: 600;
                        width: 100px;
                    }
                }
            }
        }
    }
}

.activities {
    padding: 40px;
    .items {
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(4, minmax(160px, 1fr));
        column-gap: 20px;
        row-gap: 20px;
        .item {
            text-align: center;
            .content {
                margin-top: 20px;
                .num {
                    font-size: 24px;
                    color: #444;
                    font-weight: 600;
                }
                .txt {
                    font-size: 18px;
                    color: #777;
                    margin-top: 4px;
                }
            }
        }
    }
}
</style>