<template>
    <div class="localhost">
        <local-from></local-from>
    </div>
</template>
<script>
import LocalFrom from "./comps/localhost/LocalFrom.vue";
export default {
    components: { LocalFrom },
    setup(){

    }
}
</script>