<template>
    <button type="button" @click="isActiveClass = 'success'">Success</button>
    <button type="button" @click="isActiveClass = 'error'">Error</button>

    <div class="toaster" :class="[{ 'success': isActiveClass == 'success' } , { 'error': isActiveClass == 'error' }]">
        <div class="close_btn" @click="isCloseBtn(isActiveClass = '')">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64"
                style="enable-background:new 0 0 64 64;" xml:space="preserve">
                <g>
                    <path class="st0" d="M61.5,0c0.31,0.14,0.64,0.25,0.94,0.42c1.65,0.94,2.07,3.14,0.88,4.64c-0.19,0.24-0.42,0.46-0.64,0.68
                    c-8.59,8.59-17.17,17.18-25.77,25.75c-0.39,0.39-0.41,0.59-0.01,1c8.65,8.62,17.27,17.25,25.91,25.88c0.9,0.9,1.4,1.9,1.1,3.2
                    c-0.55,2.31-3.27,3.2-5.08,1.66c-0.19-0.16-0.36-0.34-0.54-0.52c-8.6-8.6-17.21-17.2-25.8-25.81c-0.41-0.42-0.61-0.37-1,0.02
                    c-8.64,8.66-17.28,17.3-25.93,25.94c-1.89,1.89-4.4,1.4-5.42-1.05C0.11,61.71,0.1,61.63,0,61.61c0-0.5,0-1,0-1.5
                    c0.43-1.12,1.33-1.87,2.14-2.69c8.32-8.32,16.64-16.65,24.98-24.95c0.39-0.39,0.39-0.57,0-0.95c-8.35-8.32-16.69-16.66-25.02-25
                    C1.3,5.72,0.42,4.98,0,3.87c0-0.5,0-1,0-1.5c0.26-0.25,0.29-0.61,0.47-0.91C0.92,0.73,1.65,0.37,2.38,0c0.46,0,0.92,0,1.38,0
                    C4.71,0.3,5.4,0.96,6.09,1.65c8.48,8.49,16.97,16.97,25.44,25.46c0.39,0.39,0.57,0.38,0.95,0c8.32-8.35,16.66-16.68,25-25.01
                    c0.8-0.8,1.54-1.68,2.65-2.1C60.59,0,61.05,0,61.5,0z" />
                </g>
            </svg>
        </div>
        <div class="icon">
            <svg v-if="isActiveClass == 'success'" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64"
                style="enable-background:new 0 0 64 64;" xml:space="preserve">
                <g>
                    <path class="st0" d="M0,29.38c0.28-0.63,0.24-1.32,0.34-1.98C2.22,14.29,12.17,3.59,25.14,0.75c2.16-0.47,4.35-0.72,6.56-0.74
                    c1.54-0.02,2.62,0.9,2.69,2.26c0.07,1.46-0.91,2.51-2.52,2.56c-2.15,0.06-4.28,0.27-6.37,0.8c-4.23,1.06-8,3-11.28,5.87
                    C10,15.19,7.05,19.71,5.73,25.16c-2.26,9.32-0.29,17.7,6.06,24.93c4.23,4.82,9.58,7.77,15.91,8.73c8.27,1.25,15.68-0.83,22.06-6.3
                    c4.25-3.65,7.09-8.22,8.53-13.64c0.51-1.94,0.81-3.91,0.86-5.92c0.01-0.42,0.02-0.83,0.08-1.25c0.18-1.33,1.23-2.18,2.57-2.09
                    c1.24,0.08,2.2,1.11,2.21,2.43c0.01,2.4-0.23,4.78-0.82,7.11c-2.78,11.01-9.48,18.6-20,22.82c-2.75,1.1-5.65,1.7-8.61,1.91
                    c-0.11,0.01-0.26-0.05-0.31,0.12c-1.58,0-3.17,0-4.75,0c-0.04-0.13-0.15-0.12-0.25-0.12c-1.39-0.11-2.77-0.33-4.13-0.63
                    C12.16,60.41,2.22,49.72,0.34,36.61c-0.1-0.66-0.06-1.35-0.34-1.98C0,32.88,0,31.13,0,29.38z" />
                    <path class="st0" d="M15.21,27.87c0.04-1,0.5-1.75,1.43-2.15c0.95-0.42,1.86-0.28,2.6,0.45c0.88,0.86,1.69,1.79,2.52,2.69
                    c2.54,2.76,5.09,5.51,7.61,8.28c0.36,0.4,0.53,0.43,0.93,0.03c9.37-9.37,18.75-18.72,28.13-28.08c0.7-0.7,1.45-1.18,2.49-0.98
                    c1.78,0.34,2.56,2.41,1.44,3.83c-0.15,0.2-0.33,0.37-0.51,0.55C51.83,22.47,41.81,32.46,31.8,42.45c-1.45,1.44-2.77,1.41-4.17-0.1
                    c-3.87-4.2-7.73-8.4-11.6-12.59C15.53,29.22,15.17,28.64,15.21,27.87z" />
                </g>
            </svg>

            <svg v-if="isActiveClass == 'error'" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64"
                style="enable-background:new 0 0 64 64;" xml:space="preserve">
                <g>
                    <path class="st0" d="M0,54.03c1.97-4.76,4.82-9.05,7.31-13.52c6.35-11.42,12.82-22.78,19.21-34.17c1.16-2.07,2.83-3.33,5.22-3.41
                    c2.54-0.09,4.42,1.05,5.66,3.28c1.99,3.58,4.02,7.14,6.03,10.72c6.47,11.48,12.93,22.95,19.41,34.42c0.9,1.59,1.45,3.22,0.99,5.06
                    c-0.69,2.75-3.2,4.7-6.17,4.74c-1.29,0.02-2.58,0-3.87,0c-15.69,0-31.37,0-47.06,0c-3.59,0-5.5-1.39-6.59-4.81
                    C0.11,56.25,0.09,56.18,0,56.15C0,55.45,0,54.74,0,54.03z M32.05,9.04c-0.25,0.16-0.31,0.39-0.42,0.58
                    C23.21,24.56,14.8,39.49,6.38,54.43C6,55.11,6,55.11,6.76,55.11c16.83,0,33.66,0,50.49,0c0.76,0,0.76,0,0.38-0.68
                    C49.45,39.91,41.27,25.4,33.1,10.88C32.75,10.27,32.4,9.66,32.05,9.04z" />
                    <path class="st0" d="M36.31,29.58c-0.27,1.85-0.54,3.7-0.82,5.55c-0.28,1.83-0.55,3.66-0.85,5.49c-0.22,1.37-1.35,2.38-2.64,2.39
                    c-1.36,0.01-2.41-0.94-2.64-2.42c-0.53-3.43-1.05-6.87-1.57-10.3c-0.33-2.17,1.05-4.31,3.11-4.87c2.12-0.58,4.31,0.55,5.12,2.62
                    C36.21,28.53,36.29,29.04,36.31,29.58z" />
                    <path class="st0" d="M29.61,47.6c0.02-1.35,1.1-2.38,2.46-2.35c1.35,0.03,2.37,1.11,2.34,2.48c-0.03,1.32-1.1,2.34-2.43,2.32
		            C30.63,50.03,29.58,48.95,29.61,47.6z" />
                </g>
            </svg>
        </div>
        <div class="text">
            <h4>{{ isActiveClass }}</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, aperiam.</p>
        </div>
    </div>
</template>
<script>
import { ref } from 'vue';

export default {
    setup() {
        const isActiveClass = ref('');
        const isCloseBtn = ref('');

        return {
            isActiveClass,
            isCloseBtn
        }
    }
}
</script>
<style lang="scss" scoped>



.toaster {
    position: absolute;
    max-width: 300px;
    right: -100%;
    display: flex;
    column-gap: 12px;
    background-color: #f2f2f2;
    padding: 12px 16px;
    border-radius: 4px;
    margin: 20px;
    overflow: hidden;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    .close_btn {
        position: absolute;
        top: 4px;
        right: 8px;
        cursor: pointer;
        svg {
            width: 12px;
            fill: #fff;
        }
    }
    .icon {
        width: 40px;
        display: flex;
        align-items: center;
        svg {
            fill: #444;
        }
    }
    .text {
        h4 {
            font-size: 15px;
            font-weight: 600;
            color: #444;
            text-transform: capitalize;
        }
        p {
            color: #777;
            font-size: 13px;
            margin-top: 8px;
        }
    }
}
.toaster.success {
    background-image: linear-gradient(to left, #2c2c2c, #3b7643);
    right: 0;
    .icon {
        svg {
            fill: #18b918;
        }
    }
    .text {
        h4 {
            color: #18b918;
        }
        p {
            color: #fff;
        }
    }
}
.toaster.error {
    background-image: linear-gradient(to left, #2c2c2c, #5c4e35);
    right: 0;
    .icon {
        svg {
            fill: #ff9f22;
        }
    }
    .text {
        h4 {
            color: #ff9f22;
        }
        p {
            color: #fff;
        }
    }
}

</style>