<template>
    <!-- <div class="qr_code">
        <div class="items">
            <div class="item">
                <div class="shop_top">
                    <div class="img"></div>
                    <div class="shop_name">Big Shop DFSG THEYG</div>
                </div>
                <div class="text">
                    <p>এর</p>
                    <p>সকল পণ্য কিনুন সফট কমার্স -এ</p>
                </div>
                <div class="qr_code"></div>
                <div class="domain"><span>softcommerceltd.com</span></div>
                <div class="logo"></div>
            </div>
        </div>
    </div> -->
    <div class="qr_code">
        <base-button type="button" @click="print">Print</base-button>
        <div class="items" id="PrintQrData" style="display: flex;justify-content: center;flex-direction: column;">
            <div class="item" style="background: #315bbc;padding: 30px;width: 793.7007874px;height: 1122.519685px;position: relative;">
                <div class="shop_top" style="display: flex;justify-content: center;column-gap: 12px;background: #fff;width: 500px;padding: 12px;border-radius: 8px;margin: auto;height: 140px;">
                    <div class="img" :style="{'background-image': 'url(' + require('@/assets/qr-shop.jpeg') + ')'}" style="background-repeat: no-repeat;background-size: 90px;background-position: center;width: 30%;"></div>
                    <div class="shop_name" style="width: 70%;font-size: 40px;font-weight: 600;display: flex;align-items: center;">Big Shop DFSG THEYG</div>
                </div>
                <div class="text" style="">
                    <p style="text-align: center;font-size: 32px;color: #fff;margin-top: 20px;">এর</p>
                    <p style="text-align: center;font-size: 32px;color: #fff;margin-top: 10px;">সকল পণ্য কিনুন সফট কমার্স -এ</p>
                </div>
                <div class="qr_code whater" :style="{'background-image': 'url(' + require('@/assets/qr-code.jpg') + ')'}"  style="background-repeat: no-repeat;background-size: contain;background-position: center;width: 350px;height: 350px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);"></div>
                <div class="domain" style="position: absolute;left: 50%;bottom: 150px;transform: translateX(-50%);background-color: #fff;width: 500px;padding: 16px;border-radius: 8px;text-align: center;">
                    <span style="font-size: 28px;color: #27427d;">softcommerceltd.com</span>
                </div>
                <div class="logo" :style="{'background-image': 'url(' + require('@/assets/qr-logo.jpeg') + ')'}"  style="position: absolute;background-repeat: no-repeat;background-size: contain;background-position: center;left: 50%;bottom: 27px;width: 200px;height: 100px;transform: translateX(-50%);"></div>
            </div>
            <div class="item" style="background: #315bbc;padding: 30px;width: 793.7007874px;height: 1122.519685px;position: relative;">
                <div class="shop_top" style="display: flex;justify-content: center;column-gap: 12px;background: #fff;width: 500px;padding: 12px;border-radius: 8px;margin: auto;height: 140px;">
                    <div class="img" :style="{'background-image': 'url(' + require('@/assets/qr-shop.jpeg') + ')'}" style="background-repeat: no-repeat;background-size: 90px;background-position: center;width: 30%;"></div>
                    <div class="shop_name" style="width: 70%;font-size: 40px;font-weight: 600;display: flex;align-items: center;">Big Shop DFSG THEYG</div>
                </div>
                <div class="text" style="">
                    <p style="text-align: center;font-size: 32px;color: #fff;margin-top: 20px;">এর</p>
                    <p style="text-align: center;font-size: 32px;color: #fff;margin-top: 10px;">সকল পণ্য কিনুন সফট কমার্স -এ</p>
                </div>
                <div class="qr_code whater" :style="{'background-image': 'url(' + require('@/assets/qr-code.jpg') + ')'}"  style="background-repeat: no-repeat;background-size: contain;background-position: center;width: 350px;height: 350px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);"></div>
                <div class="domain" style="position: absolute;left: 50%;bottom: 150px;transform: translateX(-50%);background-color: #fff;width: 500px;padding: 16px;border-radius: 8px;text-align: center;">
                    <span style="font-size: 28px;color: #27427d;">softcommerceltd.com</span>
                </div>
                <div class="logo" :style="{'background-image': 'url(' + require('@/assets/qr-logo.jpeg') + ')'}"  style="position: absolute;background-repeat: no-repeat;background-size: contain;background-position: center;left: 50%;bottom: 27px;width: 200px;height: 100px;transform: translateX(-50%);"></div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    setup() {
        const print = () => {
            var prtContent = document.getElementById("PrintQrData");
            var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
        }

        return {
            print,
        }
    },
}
</script>

<style>
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}
.whater{
       
        z-index: 9999;
    }
</style>
<style lang="scss">
// .qr_code {
//     .items {
//         display: flex;
//         justify-content: center;
//         .item {
//             background: #315bbc;
//             padding: 30px;
//             max-width: 793.7007874px;
//             width: 100%;
//             height: 1122.519685px;
//             position: relative;
//             .shop_top {
//                 display: flex;
//                 justify-content: center;
//                 column-gap: 12px;
//                 background: #fff;
//                 width: 500px;
//                 padding: 12px;
//                 border-radius: 8px;
//                 margin: auto;
//                 height: 140px;
//                 .img {
//                     background-image: url('@/assets/qr-shop.jpeg');
//                     background-repeat: no-repeat;
//                     background-size: 90px;
//                     background-position: center;
//                     width: 30%;
//                 }
//                 .shop_name {
//                     width: 70%;
//                     font-size: 40px;
//                     font-weight: 600;
//                     display: flex;
//                     align-items: center;
//                 }
//             }
//             .text {
//                 p {
//                     text-align: center;
//                     font-size: 30px;
//                     color: #fff;
//                     margin-top: 20px;
//                 }
//             }
//             .qr_code {
//                 background-image: url('@/assets/qr-code.jpg');
//                 background-repeat: no-repeat;
//                 background-size: contain;
//                 background-position: center;
//                 width: 350px;
//                 height: 350px;
//                 position: absolute;
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//             }
//             .domain {
//                 position: absolute;
//                 left: 50%;
//                 bottom: 150px;
//                 transform: translateX(-50%);
//                 background-color: #fff;
//                 width: 500px;
//                 padding: 16px;
//                 border-radius: 8px;
//                 text-align: center;
//                 span {
//                     font-size: 28px;
//                     color: #27427d;
//                 }
//             }
//             .logo {
//                 position: absolute;
//                 background-image: url('@/assets/qr-logo.jpeg');
//                 background-repeat: no-repeat;
//                 background-size: contain;
//                 background-position: center;
//                 left: 50%;
//                 bottom: 27px;
//                 width: 200px;
//                 height: 100px;
//                 transform: translateX(-50%);
//             }
//         }
//     }
// }



$phone-width-small: 359px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
}
@media (max-width: #{$tablet-width}) {
    .qr_code {
        .items {
            row-gap: 30px!important;
            justify-content: center!important;
            .item {
                width: 100%!important;
                .shop_top {
                    width: 100%!important;
                    .img {
                        background-size: 90%!important;
                    }
                    .shop_name {
                        max-width: 70%!important;
                        font-size: 24px!important;
                    }
                }
                .text {
                    p {
                        font-size: 24px!important;
                    }
                }
                .qr_code {
                    width: 90%!important;
                    left: 50%!important;
                    img {
                        max-width: 100%!important;
                    }
                }
                .domain {
                    max-width: 95%!important;
                    font-size: 20px!important;
                }
                .logo {
                    max-width: 100%!important;
                }
            }
        }
    }
}
@media (max-width: #{$phone-width}) {
}
@media (max-width: #{$phone-width-small}) {
}
</style>