<template>
    <div class="slider">
        <div class="items">
            <div class="item" name="slide" v-for="(data,index) in slides" :key="index" v-show="currentSlide === index+1">
                <div class="image">
                    <img :src="data.image" alt="Slide">
                </div>
            </div>
            <div class="slide_arrow">
                <div class="arrow left" @click="prevSlide">
                    <img src="@/assets/icons/arrow_left.png" alt="Left">
                </div>
                <div class="arrow right" @click="nextSlide">
                    <img src="@/assets/icons/arrow_right.png" alt="Right">
                </div>
            </div>
            <div class="slide_dots">
                <div class="dot" v-for="(data,index) in slides" :key="index" :class="{'active': currentSlide === index+1}" @click="currentSlide = index+1"></div>
            </div>
        </div>
    </div>
</template>
<script>
    import { ref, onMounted } from 'vue';
    export default {
        setup() {
            const currentSlide = ref(1);
            const slides = ref([
                {
                    title: "Slide #1",
                    content: "Slide 1 content.",
                    image: require("@/assets/shop/slider-1.jpg")
                },
                {
                    title: "Slide #2",
                    content: "Slide 2 content.",
                    image: require("@/assets/shop/slider-2.jpg")
                },
                {
                    title: "Slide #3",
                    content: "Slide 3 content.",
                    image: "https://rukminim1.flixcart.com/flap/1688/280/image/8d8c292a102363ce.jpg?q=50"
                }
            ]);
            const autoPlay = () => {
                setInterval(() => {
                    nextSlide();
                },6000)
            }
    
            onMounted(async()=>{
                autoPlay();
            });


            const nextSlide = () => {
                if(currentSlide.value === slides.value.length){
                    currentSlide.value = 1;
                }else{
                    currentSlide.value += 1;
                }
            }

            const prevSlide = () => {
                if(currentSlide.value === 1){
                    currentSlide.value = slides.value.length;
                }else{
                    currentSlide.value -= 1;
                }
            }
    
            
    
    
            return {
                currentSlide,
                slides,
                nextSlide,
                prevSlide,
                autoPlay,
            }
        },
        
    }
</script>
<style lang="scss" scoped>
    .slider {
        padding: 20px;
        .items {
            position: relative;
            width: 100%;
            height: 600px;
            .item {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: 0.6s;

                animation-name: slideIn;
                animation-direction: alternate-reverse;
                animation-play-state: running;
                animation-timing-function: ease-in-out;
                animation-duration: 12s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                
                
                .image {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .slide_arrow {
            position: absolute;
            width: 100%;
            height: 100%;
            .arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: #00000061;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                &:hover {
                    background-color: #4f4f4f;
                }
                &.left {
                    left: 12px;
                }
                &.right {
                    right: 12px;
                }
                img {
                    max-width: 12px;
                }
            }
            
        }
        .slide_dots {
            position: absolute;
            left: 50%;
            bottom: 12px;
            transform: translateX(-50%);
            display: flex;
            column-gap: 12px;
            z-index: 1;
    
            .dot {
                width: 16px;
                height: 16px;
                background-color: #777;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
    
                &:hover {
                    background-color: #444;
                }
            }
    
            .active {
                background-color: #f19024;
    
                &:hover {
                    background-color: #f19024;
                }
            }
        }
    }

    @keyframes slideIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    // .slide-enter-active,
    // .slide-leave-active {
    //     transition: opacity 0.7s ease-in-out;
    // }
    // .slide-enter-from,
    // .slide-leave-to {
    //     opacity: 0;
    // }
    // .slide-enter-to,
    // .slide-leave-from {
    //     opacity: 1;
    // }
    
    
    $phone-width-small: 360px;
    $phone-width: 575px;
    $tablet-width: 767px;
    $desktop-width: 1023px;
    
    @media (max-width: #{$desktop-width}) {}
    
    @media (max-width: #{$tablet-width}) {
        
    }
    
    @media (max-width: #{$phone-width}) {}
    
    @media (max-width: #{$phone-width-small}) {}
</style>