<template>
  <mobile-option></mobile-option>

  <mobile-option-1></mobile-option-1>

  <mobile-option-2></mobile-option-2>

  <append-view></append-view>
  <append-view-1></append-view-1>

  <append-view-2></append-view-2>
  
</template>
<script>
import MobileOption from './comps/testf/MobileOption.vue'
import MobileOption1 from './comps/testf/MobileOption1.vue'
import MobileOption2 from './comps/testf/MobileOption2.vue'
import AppendView from './comps/testf/AppendView.vue'
import AppendView1 from './comps/testf/AppendView1.vue'
import AppendView2 from './comps/testf/AppendView2.vue'
export default {
  components: { MobileOption, MobileOption1, MobileOption2, AppendView, AppendView1, AppendView2 },
  setup() {
    
  },
}
</script>