<template>
    <div class="user_dashboard">
        <div class="user_services">
            <div class="heading">
                <div class="left">
                    <h4>Recent Post</h4>
                </div>
                <div class="right">
                    <!-- <base-input value=""></base-input> -->
                </div>
            </div>

            <service-item></service-item>

            
        </div>
    </div>
</template>
<script>
import ServiceItem from "./comps/ServiceItem.vue";
export default {
    name: 'UserDashboardPage',
    components: {
        ServiceItem,
    },
    setup() {

    },
}
</script>
<style lang="scss" scoped>

.d_flex {
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.user_services {
    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f2f2f2;
        border-radius: 4px;
        padding: 4px 8px;
        .left {
            h4 {
                font-size: 15px;
                color: #444;
            }
        }
        .right {}
    }
}
</style>