<template>
<div class="pdt_page">

    <product-header></product-header>
    <product-category></product-category>
    <product-slider></product-slider>
    <div class="product_section">
        <product-item></product-item>
    </div>

    <mobile-sidebar></mobile-sidebar>
</div>

<mobile-option></mobile-option>
<site-overlay></site-overlay>
</template>
<script>
import ProductHeader from "./comps/ProductHeader.vue";
import ProductCategory from "./comps/ProductCategory.vue";
import ProductSlider from "./comps/ProductSlider.vue";
import ProductItem from "./comps/ProductItem.vue";
import MobileOption from "./comps/MobileOption.vue";
import MobileSidebar from "./comps/MobileSidebar.vue";
import SiteOverlay from "../../../layout/base/SiteOverlay.vue"


export default {
    name: 'ProductPage',
    components:{
        ProductHeader,
        ProductCategory,
        ProductSlider,
        ProductItem,
        MobileOption,
        MobileSidebar,
        SiteOverlay
    },
    setup() {
        
    },
    
}
</script>

<style lang="scss" scoped>
.pdt_page {
        margin: 0;
    }
    .pdt_category {
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
        margin-bottom: 20px;
    }
    .slider {
        width: 98%;
        margin: auto;
        display: block;
    }

    .mobile_sidebar {
        display: none;
    }




    $phone-width-small: 359px;
    $phone-width: 575px;
    $tablet-width: 767px;
    $desktop-width: 1023px;

    @media (max-width: #{$desktop-width}) {
        
    }
    @media (max-width: #{$tablet-width}) {
        .pdt_page {
            padding-bottom: 70px;
        }
        .pdt_category {
            display: none;
        }

        .mobile_sidebar {
            position: fixed;
            display: block;
            width: 0;
            height: calc(100vh - 70px);
            top: 0;
            left: 0;
            background-color: #fff;
            border-right: 1px solid #ddd;
            overflow: hidden;
            z-index: 998;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            &.active {
                width: 240px;
            }
        }
    }

    @media (max-width: #{$phone-width}) {
        
    }

    @media (max-width: #{$phone-width-small}) {
        
    }
</style>