<template>
<div class="pdt_details_page">

    <product-header></product-header>
    <product-category></product-category>
    <product-details></product-details>

    <section class="pdt_section">
        <h4>Product Relateds</h4>
        <div class="product_section">
            <product-item></product-item>
        </div>
    </section>

    <mobile-sidebar></mobile-sidebar>
</div>

<mobile-option></mobile-option>
<site-overlay></site-overlay>
</template>
<script>
import ProductHeader from "./comps/ProductHeader.vue";
import ProductCategory from "./comps/ProductCategory.vue";
import ProductDetails from "./comps/ProductDetails.vue";
import ProductItem from "./comps/ProductItem.vue";
import MobileOption from "./comps/MobileOption.vue";
import MobileSidebar from "./comps/MobileSidebar.vue";
import SiteOverlay from "../../../layout/base/SiteOverlay.vue";


export default {
    components:{
        ProductHeader,
        ProductCategory,
        ProductDetails,
        ProductItem,
        MobileOption,
        MobileSidebar,
        SiteOverlay
    },
    setup() {
        
    },
    name: 'App',
    data(){
        return {
            servicesIsInvalid:false,
        }
    },
    methods:{
        confirmError(){
        this.servicesIsInvalid = false;
        }
    },
}
</script>
<style lang="scss" scoped>
    .pdt_category {
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
        margin-bottom: 20px;
    }
    .pdt_details {
        padding: 0 30px;
    }

    .pdt_section {
        & > h4 {
            padding: 0 30px;
            margin-bottom: 12px;
            margin-top: 30px;
        }
    }
    $phone-width-small: 360px;
    $phone-width: 575px;
    $tablet-width: 767px;
    $desktop-width: 1023px;

    @media (max-width: #{$desktop-width}) {
    }
    @media (max-width: #{$tablet-width}) {
        .pdt_details_page {
            padding-bottom: 70px;
        }
        .pdt_category {
            display: none;
        }
    }

    @media (max-width: #{$phone-width}) {
    }

    @media (max-width: #{$phone-width-small}) {
    } .pdt_category {
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
        margin-bottom: 20px;
    }
    .pdt_details {
        padding: 0 30px;
    }

    .pdt_section {
        & > h4 {
            padding: 0 30px;
            margin-bottom: 12px;
            margin-top: 30px;
        }
    }
    $phone-width-small: 359px;
    $phone-width: 575px;
    $tablet-width: 767px;
    $desktop-width: 1023px;

    @media (max-width: #{$desktop-width}) {
        .pdt_details_page {
            padding-bottom: 60px;
        }
    }
    @media (max-width: #{$tablet-width}) {
        .pdt_category {
            display: none;
        }
    }

    @media (max-width: #{$phone-width}) {
    }

    @media (max-width: #{$phone-width-small}) {
    }
</style>