<template>
    <div class="service_page" style="margin-bottom: 50px">
        <div class="service_setup">
            <h4 class="heading mb_4">Edit Service</h4>
            <form class="form_data">
                <div class="left">
                    <div class="mb_3" style="z-index:4">
                        <base-select
                            label="Work Station"
                            :options="get_mobile"
                        ></base-select>
                    </div>

                    <div class="mb_3"  style="z-index:3">
                        <base-select
                            label="Work Station"
                            :options="data"
                        ></base-select>
                    </div>

                    <div class="mb_3"  style="z-index:2">
                       <base-select
                         label="Category"
                         :options="categories"
                        >
                        </base-select>
                    </div>

                    <div class="mb_3">
                        <base-select
                         label="Community"
                         :options="communities"
                        >
                        </base-select>
                    </div>
                    <div class="mb_3 vue_input">
                        <base-input
                            label="Google Location">
                        </base-input>
                    </div>

                     <div class="mb_3">
                        <base-input type="text" label="Business Name" placeholder="Business name" ></base-input>
                     </div>

                      <div class="mb_3">
                        <base-input type="text" label="Address" placeholder="Enter address" ></base-input>
                     </div>



                    <div class="mb_3 d_flex">
                        <base-radiobox
                            divClass="d_flex_10"
                            label="Pay Now"
                            attributeName="true"
                            name="paynow"
                            value="paynow"
                            type="radio"
                        ></base-radiobox>
                    </div>
                    <div class="mb_3">
                        <!-- <base-button
                            small="btn_sm w_100 boder_radius1"
                            type="submit"
                        >Submit</base-button> -->
                        <base-button  type="submit" class="full_with">Submit</base-button>
                    </div>
                </div>
               
            </form>
        </div>
    </div>
</template>
<script>
import { ref } from 'vue'

export default {
    setup() {
        const get_mobile = ref(['']);
        const data = ref([]);
        const categories = ref([]);
        const communities = ref([]);

        const displayToCommunity  = (event) =>{
            console.log(event);
        }


        // Edit Data
        const SelectData = ref([]);

        return {
            get_mobile,
            data,
            categories,
            communities,
            displayToCommunity,
            
            // Edit
            SelectData
            
        }
    },

   
}
</script>




<style lang="scss" scoped>
.mb_2 { margin-bottom: 8px; }
.mb_3 { margin-bottom: 12px; }
.mb_4 { margin-bottom: 16px; }
.d_flex { display: flex; column-gap: 20px; }
.d_flex_10 { display: flex; column-gap: 10px; }
.w_100 { width: 100%; }
.service_page {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
//     box-shadow:
//   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
//   0 6.7px 5.3px rgba(0, 0, 0, 0.048),
//   0 12.5px 10px rgba(0, 0, 0, 0.06),
//   0 22.3px 17.9px rgba(0, 0, 0, 0.072),
//   0 41.8px 33.4px rgba(0, 0, 0, 0.086),
//   0 100px 80px rgba(0, 0, 0, 0.12);

box-shadow:
0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12)
;
    .service_setup {
        
        .form_data {
            width: 100%;
            display: flex;
            column-gap: 20px;
            .left {
                width: 450px;
                margin: 0 auto;
            }
           
        }
    }
}


$phone-width-small: 360px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    .service_page {
        width: 100%;
        .service_setup {
            .form_data {
                .left {
                    width: 500px;
                }
                
            }
        }
    }
}
@media (max-width: #{$tablet-width}) {
    .service_page {
        width: 100%;
        .service_setup {
            .form_data {
                .left {
                    width: 500px;
                }
                
            }
        }
    }
}

@media (max-width: #{$phone-width}) {
    .service_page {
        .service_setup {
            .form_data {
                width: 100%;
                display: block;
                .left {
                    width: 100%;
                }
               
            }
        }
    }
}

@media (max-width: #{$phone-width-small}) {
    
}
</style>

<style lang="scss" scoped>
.heading{
    margin: 0 auto;
    width: 450px;
    padding: 14px 0px;
    color: #444;
    font-size: 21px;
}
.vue_input {
    width: 100%;
    label {
        margin-bottom: 8px;
        display: inline-block;
        color: #555;
        font-size: 16px;
        // text-shadow: 0 1px 1px #5b8fce;
    }
    input {
        width: 100%;
        height: 45px;
        border: none;
        outline: none;
        padding: 4px 16px;
        border-radius: 4px;
        color: #444;
        letter-spacing: 1px;
        font-size: 16px;
        box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3),-5px -5px 9px rgba(255, 255, 255, 0.45),
            5px 5px 9px rgba(94, 104, 121, 0.3);
        background-color: #f9f9f9;
        position: relative;
        &::placeholder {
            color: #999;
        }
    }

}
</style>