<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>soft commerce</title>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html,
      body {
        height: 100%;
        font-family: Verdana,sans-serif;
      }
      #app {
        height: 100%;
        position: relative;
      }
      .admin {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        display: flex;
      }
      .admin .wrapper {
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
      }
    </style>
  </head>
  <body>
   
    <div id="app"></div>
    <!-- built files will be auto injected -->    
  </body>
</html>
