<template >
    <div class="home_page admin">
        <aside-slide></aside-slide>
        <div class="wrapper">
            <header-main></header-main>
            <div class="body_content" :class="[footerPosition == false ? 'is_free' : '']">
                <div class="content">

                    <slide-main></slide-main>

                    <service-main></service-main>

                    <product-items></product-items>

                    <shop-items></shop-items>

                </div>
                <div class="footer_area" :class="[footerPosition ? 'fixed' : '', aside_control == false ? 'isNormal' : '',]">
                    <footer-big></footer-big>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import AsideSlide from '../inc/AsideSlide.vue';
import HeaderMain from '../inc/HeaderMain.vue';
import ServiceMain from '../inc/ServiceMain.vue';
import SlideMain from '../inc/SlideMain.vue';
import ProductItems from '../main/comps/ProductItems.vue';
import ShopItems from '../main/comps/ShopItems.vue';
import FooterBig from '../main/comps/FooterBig.vue';

import SetupStore from '../../store/SetupStore.js';

export default {
    components:{
        AsideSlide,
        HeaderMain,
        ServiceMain,
        SlideMain,
        ProductItems,
        ShopItems,
        FooterBig,
    },
    setup() {
        const { aside_control } = SetupStore();
    

        return {
            aside_control:aside_control(),
        }
    },

    data() {
        return {
            footerPosition: false,
        }
    },
    mounted() {
        setTimeout(() => {
            let height = document.querySelector('.body_content .content').clientHeight;
            if (height < 600) {
                this.footerPosition = true;
            } else {
                this.footerPosition = false;
            }
        }, 100);
    }
    
}
</script>
<style lang="scss" scoped>

.body_content {
    width: 100%;
    height: calc(100% - 110px);
    background-color: #fff;
    &.is_free {
        height: auto;
    }
    .content{
        height: 100%;
        position: relative;
        padding: 16px;
    }
    .footer_area{
        position: relative;
        right: 0;
        bottom: 0px;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        &.fixed {
            position: absolute;
            width: calc(100% - 243px);
        }
        &.isNormal {
            width: calc(100% - 0px);
        }
    }
}

.main_search {
    max-width: 460px;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    display: block;
    padding-top: 50px;
    .img {
        margin-bottom: 40px;
        img {
            max-width: 100%;
            margin: auto;
            display: table;
        }
    }
    .search {
        position: relative;
        border-radius: 6px;
        box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3),-5px -5px 9px rgba(255, 255, 255, 0.45),
            5px 5px 9px rgba(94, 104, 121, 0.3);
        background-color: #f9f9f9;
        .vue_input {
            border-radius: 4px;
            padding-right: 48px;
        }
        .icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 22px;
                height: 22px;
            }
        }
    }
    .add_link {
        padding-top: 60px;
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(5, minmax(70px, 1fr));
        gap: 30px;
        .item {
            .icon {
                background-color: #5453f9;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                line-height: 40px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                span {
                    background-color: #fff;
                    border-radius: 50%;
                    height: 20px;
                    width: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .text {
                color: #888;
                padding-top: 8px;
            }
        }
    }
}




$phone-width-small: 360px;
$phone-width: 575px;
$tablet-width: 767px;
$custom-width: 991px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) { 
}
@media (max-width: #{$custom-width}) { 
}
@media (max-width: #{$tablet-width}) {
    .body_content {
        .footer_area{
            &.fixed {
                width: calc(100% - 0px);
            }
            &.isNormal {
                width: calc(100% - 0px);
            }
        }
    }
}
@media (max-width: #{$phone-width}) {
}
@media (max-width: #{$phone-width-small}) {
}
</style>