<template>
<div class="user_login">
    <header class="header">
        <div class="navbar">
            <div class="logo">
                <router-link to="/" class="home_link">
                    <img src="@/assets/sc.png" alt="Logo">
                </router-link>
            </div>
            <ul class="items">
                <li class="item">
                    <router-link to="/" class="link">Home</router-link>
                </li>
                <li class="item">
                    <router-link to="" class="link">Company</router-link>
                </li>
            </ul>
        </div>
    </header>
    <section class="body">
        <div class="top">
            <h1>Welcome to Soft Commerce</h1>
        </div>
        <div class="middle">
            <div class="form">
                <div class="title">Sign in with your account</div>
                <form action="">
                    <div class="_gp">
                        <base-select
                            classValue="border_none bg_ddd redius_0 focus_0"
                        >
                        </base-select>

                        <base-input
                            classValue="border_none focus_0"
                            placeholder="017********"
                        ></base-input>
                    </div>

                    <base-button
                        type="button"
                        radius="boder_radius2"
                    >
                    Next
                    </base-button>
                </form>
                <div class="forget">
                    <router-link to="" class="link">Forgot password?</router-link>
                </div>
            </div>
        </div>
        <div class="bottom">
            <footer class="footer">
                <div class="left">
                    <div class="copyright">&COPY; 2022 Soft Commerce Ltd</div>
                </div>
                <div class="right">
                    <ul class="items">
                        <li class="item">
                            <router-link to="#" class="link">About Us</router-link>
                        </li>
                        <li class="item">
                            <router-link to="#" class="link">Privacy Policy</router-link>
                        </li>
                        <li class="item">
                            <router-link to="#" class="link">Terms &amp; Condition</router-link>
                        </li>
                        <li class="item">
                            <router-link to="#" class="link">Contact Us</router-link>
                        </li>
                        <li class="item">
                            <router-link to="#" class="link">FAQ</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Download Android App</router-link>
                        </li>
                        <li class="item">
                            <router-link to="#" class="link">Refund Policy</router-link>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </section>
</div>
</template>
<style lang="scss" scoped>
    .user_login {
        font-family: Verdana,sans-serif;
        height: 100%;
        position: relative;
    }
    .header {
        .navbar {
            background: transparent;
            display: flex;
            align-items: center;
            column-gap: 60px;
            padding: 18px 26px;
            .logo {
                width: 40px;
                height: 40px;
                .home_link {
                    display: block;
                    img {
                        max-width: 100%;
                    }
                }
            }
            .items{
                display: flex;
                align-items: center;
                column-gap: 16px;
                list-style: none;
                .item {
                    .link {
                        font-size: 15px;
                        color:#fff;
                        padding: 8px;
                        text-decoration: none;
                        cursor: pointer;
                        display: block;
                    }
                }
            }
        }
    }
    .body {
        height: 100%;
        margin-top: -76px;
        .top {
            background: linear-gradient(306deg, #d61326 0, #161515 100%);
            height: 429px;
            display: flex;
            align-items: center;
            justify-content: center;
            h1 {
                color: #fff;
                font-size: 28px;
                font-weight: 500;
            }
        }
        .middle{
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            .form {
                background-color: #fff;
                box-shadow: 0 2px 16px rgba(0, 0, 0, .07);
                width: 460px;
                max-width: 460px;
                margin-top: -100px;
                padding: 50px;
                border-radius: 4px;
                .title {
                    font-size: 13px;
                    color: #8898aa;
                    text-align: center;
                    margin-bottom: 20px;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    ._gp {
                        display: flex;
                        border: 1px solid #ddd;
                        border-radius: 4px;
                        overflow: hidden;
                        .vue_select {
                            width: 30%;
                        }
                    }
                    button {
                        width: fit-content;
                        margin: auto;
                        display: table;
                        margin-top: 24px;
                    }
                }
                .forget {
                    margin-top: 20px;
                    text-align: center; 
                    .link {
                        font-size: 12px;
                        color: #8898aa;
                        text-decoration: none;
                        cursor: pointer;
                        &:hover{
                            color: #5492bc;
                        }
                    }
                }
            }
        }
        .bottom {
            height: 600px;
            display: flex;
            align-items: end;
            padding: 18px 26px;
            .footer {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left {
                    width: 50%;
                    .copyright {
                        color: #8898aa;
                        font-size: 15px;
                    }
                }
                .right {
                    width: 50%;
                    .items {
                        list-style: none;
                        text-align: right;
                        .item {
                            line-height: 40px;
                            display: inline-block;
                            margin-left: 20px;
                            .link {
                                color: #8898aa;
                                font-size: 15px;
                                padding: 4px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

   

// .vti__dropdown-list{
 
// }


$phone-width-small: 359px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    
}
@media (max-width: #{$tablet-width}) {
    .user_login {
        .body {
            .bottom {
                .footer {
                    width: 100%;
                    flex-direction: column-reverse;
                    .left {
                        width: 100%;
                        .copyright {
                            margin-top: 30px;
                            text-align: center;
                        }
                    }
                    .right {
                        width: 100%;
                        .items {
                            text-align: left;
                            .item {
                                line-height: 30px;
                                display: inline-block;
                                margin-left: 0;
                                .link {
                                    margin: 0 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width}) {
    
}
@media (max-width: #{$phone-width-small}) {
    
}
</style>