<template >
    <div class="home_page admin">
        <aside-slide></aside-slide>
        <div class="wrapper">
            <header-main></header-main>
            <div class="body_content" :class="[footerPosition == false ? 'is_free' : '']">
                <div class="content">
                    <!-- Start -->
                    <div class="profile_wrap">
                        <form action="" class="form_data">
                            <h3>My Profile</h3>
                            <div class="mb_3">
                                <base-input type="number" label="Mobile" placeholder="017**********"></base-input>
                            </div>

                            <div class="mb_3">
                                <base-input type="text" label="Name" placeholder="Dipankar"></base-input>
                            </div>

                            <div class="mb_5">
                                <base-input type="email" label="Email" placeholder="example@gmail..com"></base-input>
                            </div>

                            <div class="mb_3">
                                <div class="thumbnail">
                                    <div class="img">
                                        <div v-if="img_url != ''" class="remove_btn" @click="ImgRemove">X</div>
                                        <img v-if="img_url == ''" src="@/assets/admin/dummy-img.png" alt="Thumbnail">
                                        <img v-else :src="img_url" alt="Thumbnail">
                                    </div>
                                    <button type="button" class="btn btn_border btn_sm" @click="$refs.file.click()">Upload/Add
                                        image</button>
                                    <input type="file" ref="file" class="d_none" @change="ImgChange($event)">
                                </div>
                            </div>

                            <div class="mb_3">
                                <base-button type="submit">Submit</base-button>
                            </div>
                        </form>
                    </div>
                    <!-- End -->
                </div>
                <div class="footer_area" :class="[footerPosition ? 'fixed' : '', aside_control == false ? 'isNormal' : '',]">
                    <footer-main></footer-main>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { ref } from 'vue'
import AsideSlide from '../inc/AsideSlide.vue';
import HeaderMain from '../inc/HeaderMain.vue';
import FooterMain from '../inc/FooterMain.vue';

import SetupStore from '../../store/SetupStore.js';
import BaseButton from '@/layout/base/BaseButton.vue';

export default {
    components:{
        AsideSlide,
        HeaderMain,
        FooterMain,
        BaseButton
    },
    setup() {
        const { aside_control } = SetupStore();

        const img_url = ref('');

        const ImgChange = (event) => {
            img_url.value = URL.createObjectURL(event.target.files[0]);
        }
        const ImgRemove = () => {
            img_url.value = '';
        }
    

        return {
            aside_control:aside_control(),
            img_url, ImgChange, ImgRemove
        }
    },

    data() {
        return {
            footerPosition: false,
        }
    },
    mounted() {
        let height = document.querySelector('.body_content .content').clientHeight;
        if (height < 650) {
            this.footerPosition = true;
        } else {
            this.footerPosition = false;
        }
    }
    
}
</script>
<style lang="scss" scoped>

.d_none {
    display: none;
}
.thumbnail {
    display: flex;
    align-items: start;
    gap: 16px;
    .img {
        position: relative;
        img {
            width: 60px;
            height: 60px;
            box-shadow: 0 10px 19px rgb(0 0 0 / 15%);
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .remove_btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 50%;
            padding: 6px;
            font-size: 12px;
            line-height: 10px;
            color: #f01a1a;
            cursor: pointer;
            &:hover {
                background-color: #222;
                color: #fff;
            }
        }
    }
    button {
        border: 1px solid #135e96;
        color: #135e96;
        padding: 0.25rem 0.5rem;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
    }
}

.mb_1 {
    margin-bottom: 4px;
}
.mb_2 {
    margin-bottom: 8px;
}
.mb_3 {
    margin-bottom: 12px;
}
.mb_4 {
    margin-bottom: 16px;
}
.mb_5 {
    margin-bottom: 20px;
}
.mb_6 {
    margin-bottom: 24px;
}
.mb_7 {
    margin-bottom: 28px;
}
.mb_8 {
    margin-bottom: 32px;
}
.mt_1 {
    margin-top: 4px;
}
.mt_2 {
    margin-top: 8px;
}
.mt_3 {
    margin-top: 12px;
}
.mt_4 {
    margin-top: 16px;
}
.mt_5 {
    margin-top: 20px;
}
.mt_6 {
    margin-top: 24px;
}
.mt_7 {
    margin-top: 28px;
}
.mt_8 {
    margin-top: 32px;
}

.profile_wrap {
    display: flex;
    justify-content: center;
    .form_data {
        width: 800px;
        h3 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 20px;
            padding-bottom: 16px;
            border-bottom: 1px solid #ddd;
        }
    }
}





.body_content {
    width: 100%;
    height: calc(100% - 110px);
    background-color: #fff;
    &.is_free {
        height: auto;
    }
    .content{
        height: 100%;
        position: relative;
        padding: 16px;
    }
    .footer_area{
        position: relative;
        right: 0;
        bottom: 0px;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        &.fixed {
            position: absolute;
            width: calc(100% - 243px);
        }
        &.isNormal {
            width: calc(100% - 0px);
        }
    }
}

.main_search {
    max-width: 460px;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    display: block;
    padding-top: 50px;
    .img {
        margin-bottom: 40px;
        img {
            max-width: 100%;
            margin: auto;
            display: table;
        }
    }
    .search {
        position: relative;
        border-radius: 6px;
        box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3),-5px -5px 9px rgba(255, 255, 255, 0.45),
            5px 5px 9px rgba(94, 104, 121, 0.3);
        background-color: #f9f9f9;
        .vue_input {
            border-radius: 4px;
            padding-right: 48px;
        }
        .icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 22px;
                height: 22px;
            }
        }
    }
    .add_link {
        padding-top: 60px;
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(5, minmax(70px, 1fr));
        gap: 30px;
        .item {
            .icon {
                background-color: #5453f9;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                line-height: 40px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                span {
                    background-color: #fff;
                    border-radius: 50%;
                    height: 20px;
                    width: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .text {
                color: #888;
                padding-top: 8px;
            }
        }
    }
}




$phone-width-small: 360px;
$phone-width: 575px;
$tablet-width: 767px;
$custom-width: 991px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) { 
}
@media (max-width: #{$custom-width}) { 
}
@media (max-width: #{$tablet-width}) {
    .body_content {
        .footer_area{
            &.fixed {
                width: calc(100% - 0px);
            }
            &.isNormal {
                width: calc(100% - 0px);
            }
        }
    }
}
@media (max-width: #{$phone-width}) {
}
@media (max-width: #{$phone-width-small}) {
}
</style>