<template>
<div class="service_page">
    <header class="header">
        <div class="navbar">
            <div class="logo">
                <router-link to="/" class="home_link">
                    <img src="@/assets/sc.png" alt="Logo">
                </router-link>
            </div>
            <ul class="items">
                <li class="item">
                    <router-link to="/" class="link">Home</router-link>
                </li>
                <li class="item">
                    <router-link to="" class="link">Company</router-link>
                </li>
            </ul>
        </div>
    </header>
    <div class="our_services">
        <div class="item">
            <router-link to="/products" class="link">
                <div class="thumb">
                    <img src="@/assets/icons/services/app-development.png" alt="Service Image">
                </div>
                <h4>Products</h4>
            </router-link>
        </div>
        <div class="item">
            <router-link to="" class="link">
                <div class="thumb">
                    <img src="@/assets/icons/services/app-development.png" alt="Service Image">
                </div>
                <h4>Services</h4>
            </router-link>
        </div>
        <div class="item">
            <router-link to="" class="link">
                <div class="thumb">
                    <img src="@/assets/icons/services/app-development.png" alt="Service Image">
                </div>
                <h4>Soft Market</h4>
            </router-link>
        </div>
        <div class="item">
            <router-link to="" class="link">
                <div class="thumb">
                    <img src="@/assets/icons/services/app-development.png" alt="Service Image">
                </div>
                <h4>Course</h4>
            </router-link>
        </div>
        <div class="item">
            <router-link to="" class="link">
                <div class="thumb">
                    <img src="@/assets/icons/services/app-development.png" alt="Service Image">
                </div>
                <h4>Apply</h4>
            </router-link>
        </div>
    </div>
</div>
<div class="service_page2">
    <div class="items">
        <div class="item" v-for="(data,index) in service_data" :key="index">
            <div class="icon">
                <img src="@/assets/icons/favourate.svg">
                <span class="_t"></span>
                <span class="_b"></span>
            </div>
            <div class="content">
                <div class="title">{{ data.title }}</div>
                <div class="txt">{{ data.description }}</div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import { ref } from 'vue';

export default {
    setup(){
        const service_data = ref([
            {
                "id":1,
                "image":"",
                "title":"Service Title One",
                "description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium excepturi provident voluptate! Molestiae corrupti",
                "status":1
            },
            {
                "id":2,
                "image":"",
                "title":"Service Title Two",
                "description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium excepturi provident voluptate! Molestiae corrupti",
                "status":1
            },
            {
                "id":3,
                "image":"",
                "title":"Service Title Three",
                "description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium excepturi provident voluptate! Molestiae corrupti",
                "status":1
            },
            {
                "id":4,
                "image":"",
                "title":"Service Title Four",
                "description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium excepturi provident voluptate! Molestiae corrupti",
                "status":1
            },
            {
                "id":5,
                "image":"",
                "title":"Service Title Five",
                "description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium excepturi provident voluptate! Molestiae corrupti",
                "status":1
            },
            {
                "id":6,
                "image":"",
                "title":"Service Title Six",
                "description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium excepturi provident voluptate! Molestiae corrupti",
                "status":1
            },
            {
                "id":7,
                "image":"",
                "title":"Service Title Seven",
                "description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium excepturi provident voluptate! Molestiae corrupti",
                "status":1
            },
            {
                "id":8,
                "image":"",
                "title":"Service Title Eight",
                "description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium excepturi provident voluptate! Molestiae corrupti",
                "status":1
            },
            {
                "id":9,
                "image":"",
                "title":"Service Title Nine",
                "description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium excepturi provident voluptate! Molestiae corrupti",
                "status":1
            }
        ])

        return {
            service_data
        }
    }
}
</script>
<style lang="scss" scoped>
.header {
    .navbar {
        background: transparent;
        display: flex;
        align-items: center;
        column-gap: 60px;
        padding: 18px 26px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        .logo {
            width: 40px;
            height: 40px;
            .home_link {
                display: block;
                img {
                    max-width: 100%;
                }
            }
        }
        .items{
            display: flex;
            align-items: center;
            column-gap: 16px;
            list-style: none;
            .item {
                .link {
                    font-size: 15px;
                    color:#444;
                    padding: 8px;
                    text-decoration: none;
                    cursor: pointer;
                    display: block;
                }
            }
        }
    }
}
.our_services {
    display: grid;
    height: auto;
    align-content: start;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 30px;
    padding: 30px;
    .item {
        // background-color: #2980b9;
        // background-image: radial-gradient(#95d5ff, #212b91);
        // background-image: radial-gradient(#d61326, #161515);
        background: linear-gradient(306deg, #d61326 0, #161515 100%);
        text-align: center;
        border-radius: 8px;
        transition: all 0.4s ease 0s;
        -webkit-transition: all 0.4s ease 0s;
        &:hover {
            box-shadow: 0 3px 16px rgba(0, 0, 0, 0.55);
            img {
                transform: scale(1.1, 1.1);
                transition: all .4s ease 0s;
                -webkit-transition: .4s;
            }
        }
        .link {
            cursor: pointer;
            padding: 30px;
            display: block;
            text-decoration: none;
            .thumb {
                display: inline-block;
                border-radius: 50%;
                width: 90px;
                height: 90px;
                line-height: 90px;
                text-align: center;
                // background-color: #2980b9;
                // background: linear-gradient(#2980b9, #171e6a);
                background-image: radial-gradient(#d61326, #161515);
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
                img {
                    max-width: 100%;
                    padding: 25px;
                    transition: all .5s ease 0s;
                    -webkit-transition: .5s;
                }
            }
            h4 {
                color: #fff;
                margin-top: 20px;
            }
        }
    }
}


.service_page2 {
    margin-top: 60px;
    padding: 40px;
    .items {
        display: grid;
        grid-template-columns: repeat(4, minmax(150px, 1fr));
        column-gap: 30px;
        row-gap: 40px;
        .item {
            border-radius: 4px;
            padding: 40px 20px;
            overflow: hidden;
            position: relative;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            &:hover {
                background-color: #f2f2f2;
                transform: translateY(-8px);
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
                .icon {
                    ._t {
                        &::before {
                            width: 50%;
                            right: 0%;
                            transform: translateX(0%);
                            background-color: #5648ed;
                        }
                        &::after {
                            width: 50%;
                            left: 0%;
                            transform: translateX(0%);
                            background-color: #5648ed;
                        }
                    }
                    ._b {
                        &::before {
                            width: 50%;
                            right: 0%;
                            transform: translateX(0%);
                            background-color: #5648ed;
                        }
                        &::after {
                            width: 50%;
                            left: 0%;
                            transform: translateX(0%);
                            background-color: #5648ed;
                        }
                    }
                }
            }
            &::after {
                position: absolute;
                content: "";
                width: 0%;
                height: 3px;
                bottom: 0;
                left: 0;
                background-color: transparent;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
            }
            &:hover::after {
                width: 100%;
                background-color: #5648ed;
            }
            .icon {
                width: 60px;
                border-radius: 50%;
                display: table;
                margin: auto;
                img {
                    max-width: 100%;
                }
                ._t {
                    width: 50px;
                    height: 2px;
                    background-color: #999;
                    display: table;
                    margin: auto;
                    margin-top: 4px;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: '';
                        width: 0%;
                        height: 2px;
                        right: 50%;
                        transform: translateX(-50%);
                        background-color: transparent;
                        transition: all 0.5s ease 0s;
                        -webkit-transition: all 0.5s ease 0s;
                    }
                    &::after {
                        position: absolute;
                        content: '';
                        width: 3px;
                        height: 2px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: transparent;
                        transition: all 0.5s ease 0s;
                        -webkit-transition: all 0.5s ease 0s;
                    }
                }
                ._b {
                    width: 30px;
                    height: 2px;
                    background-color: #999;
                    display: table;
                    margin: auto;
                    margin-top: 4px;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: '';
                        width: 0%;
                        height: 2px;
                        right: 50%;
                        transform: translateX(-50%);
                        background-color: transparent;
                        transition: all 0.5s ease 0s;
                        -webkit-transition: all 0.5s ease 0s;
                    }
                    &::after {
                        position: absolute;
                        content: '';
                        width: 3px;
                        height: 2px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: transparent;
                        transition: all 0.5s ease 0s;
                        -webkit-transition: all 0.5s ease 0s;
                    }
                }
            }
            .content {
                margin-top: 16px;
                text-align: center;
                .title {
                    font-size: 20px;
                    font-weight: 600;
                    color: #444;
                    margin-bottom: 12px;
                }
                .txt {
                    font-size: 14px;
                    color: #777;
                }
            }
        }
    }
}


$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    .our_services {
        grid-template-columns: repeat(3, minmax(110px, 1fr));
    }
}
@media (max-width: #{$tablet-width}) {
    .our_services {
        grid-template-columns: repeat(3, minmax(90px, 1fr));
        row-gap: 60px;
        column-gap: 20px;
        .item {
            background-color: transparent;
            background-image: none;
            border-radius: 0;
            &:hover {
                box-shadow: none;
            }
            .link {
                padding: 0;
                .thumb {
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    border-radius: 20px;
                    img {
                        padding: 20px;
                    }
                }
                h4 {
                    color: #444;
                    margin-top: 12px;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: #{$phone-width}) {
    .our_services {
        grid-template-columns: repeat(3, minmax(80px, 1fr));
        row-gap: 40px;
        .item {
            .link {
                .thumb {
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    img {
                        padding: 16px;
                    }
                }
            }
        }
    }
}


</style>