<template>
    <div class="page">
        <router-link to="" class="link" :class="{ disabled: pagination.value.current_page <= 1 }">
            <span @click="changePage(1)">&laquo;</span>
        </router-link>
        <router-link to="" class="link">1</router-link>
        <router-link to="" class="link">2</router-link>
        <router-link to="" class="link">3</router-link>
        <router-link to="" class="link"><span>&raquo;</span></router-link>
    </div>
</template>
<script>
export default {
    props:['pagination', 'offset'],
    methods: {
        isCurrentPage(page){
            return this.pagination.current_page === page;
        },
        changePage(page){
            if(page > this.pagination.last_page){
                page = this.pagination.last_page;
            }
            this.pagination.current_page = page;
            this.$emit('paginate');
        }
    },
    computed: {
        pages(){
            let pages = [];
            let from = this.pagination.current_page - Math.floor(this.offset / 2);
            if(from < 1){
                from = 1;
            }
            let to = from + this.offset - 1;
            if(to > this.pagination.last_page){
                to = this.pagination.last_page;
            }
            while (from <= to) {
                pages.push(from);
                from++;
            }
            return pages;
        }
    }
}
</script>
<style lang="scss">
.page {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    .link {
        border-right: 1px solid #ddd;
        text-decoration: none;
        padding: 4px 8px;
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        &:last-child {
            border-right: 0px solid #ddd;
        }
        &:hover {
            background-color: #5492bc;
            color: #fff;
        }
    }
}
</style>