<template>

    <div class="multi_form">
        <form action="" @submit.prevent="MultiFormSubmit">
            <div class="heading mb_2">
                <div class="_l">
                    <h4>Create Form <span><router-link to="/check/create-form">Show Form</router-link></span></h4>
                </div>
                <div class="_r">
                    <base-button type="button" v-if="isLoading"><base-loading></base-loading> Submit</base-button>
                    <base-button v-else type="Submit">Submit</base-button>
                </div>
            </div>
            <hr class="mb_2">
            <div class="select_form mb_4">
                <base-select-2 label="Select Form" :options="SelectFormData" :default="'Select'" class="select" @input="displayFormOptions($event)">
                </base-select-2>
            </div>
            <div class="form_filed">
                <!-- add -->
                <div class="_grp" v-for="(data,k) in formrow" :key="k">
                    <div class="_l">
                        <base-input v-model="data.label" type="text" divClass="d-flex" labelClass="" classValue="" placeholder="Label"></base-input>

                        <base-input v-model="data.placeholder" type="text" divClass="d-flex" labelClass="" classValue="" placeholder="Placeholder"></base-input>

                        <base-input v-model="data.name" type="text" divClass="d-flex" labelClass="" classValue="" placeholder="Name"></base-input>

                        <select class="select_type" v-model="data.type">
                            <option value="">Select</option>
                            <option v-for="(data,index) in SelectTypeData" :key="index" :value="data.name">{{ data.name }}</option>
                        </select>

                        <base-input v-model="data.lenth" type="text" divClass="d-flex" labelClass="" classValue="" placeholder="Length"></base-input>

                        <base-checkbox label="Requerd" modelValue="" v-model="data.requerd"></base-checkbox>
                    </div>
                    <div class="_r">
                        <base-button type="button" small="bg_c" v-show="k < formrow.length-1 || ( !k && formrow.length > 1)"
                            @click="removeFormrow(k)">-
                        </base-button>
                        <base-button type="button" @click="addFormrow(k)" v-show="k == formrow.length-1">+
                        </base-button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="create_form" v-if="form_datas != ''">
        <form action="">
            <!-- {{form_datas}} -->
            <h3 class="mb_2">Form Design</h3>
            <hr class="mb_3">
            <div class="form_data">
                <div class="mb_4" v-for="(data, index) in form_datas" :key="index">
                    <component v-bind:is="data.base_type" :label="data.label" :placeholder="data.placeholder"/>
                </div>
                <base-button type="submit">Submit</base-button>
            </div>
        </form>
    </div>

</template>
<script>
import { reactive, ref } from 'vue';
import multiformApi from '../composible/muptiform-api'
import BaseButton from '@/layout/base/BaseButton.vue';
export default {
  components: { BaseButton },
    setup() {
        // Add Multi Form Row
        const formrow = reactive([
            { label:'', placeholder:'', name:'', type:'', lenth:'', requerd:'' },
        ])

        const addFormrow = () => {
            formrow.push({ label:'', placeholder:'', name:'', type:'', lenth:'', requerd:'' },);
        }
        const removeFormrow = (index) => {
            formrow.splice(index, 1);
        }


        // Form Select code
        const SelectFormData = ref([
            {'id':1,'name':'Soft Commerce'},
            {'id':2,'name':'Company'},
            {'id':3,'name':'Software Developer'},
            {'id':4,'name':'Graphics Designer'},
        ]);
        const select_form_id = ref('');
        const select_form = ref('');
        const displayFormOptions = async(event) => {
            select_form_id.value = event.id;
            select_form.value = event.name;
            const FormData = await  multiformApi.getInfo(select_form_id.value);
            form_datas.value = FormData.data
            // console.log(form_datas.value);
        }

        // Type Change Code
        const SelectTypeData = ref([
            {'id':1,'name':'button'}, {'id':2,'name':'checkbox'}, {'id':3,'name':'color'},
            {'id':4,'name':'date'}, {'id':5,'name':'datetime-local'}, {'id':6,'name':'email'},
            {'id':7,'name':'file'}, {'id':8,'name':'hidden'}, {'id':9,'name':'image'},
            {'id':10,'name':'month'}, {'id':11,'name':'number'}, {'id':12,'name':'password'},
            {'id':13,'name':'radio'}, {'id':14,'name':'range'}, {'id':15,'name':'reset'},
            {'id':16,'name':'search'}, {'id':17,'name':'submit'}, {'id':18,'name':'tel'},
            {'id':19,'name':'text'}, {'id':20,'name':'time'}, {'id':21,'name':'url'},
            {'id':22,'name':'week'},
        ]);
        const isLoading = ref(false);



        // Form Submit code
        const MultiFormSubmit = async() => {
            isLoading.value = true;
            const formData =  new FormData();
            for(let i = 0; i < formrow.length; i++){
                formData.append('select_form_id', select_form_id.value);
                formData.append('select_form', select_form.value);
                formData.append('label[]', formrow[i].label);
                formData.append('placeholder[]', formrow[i].placeholder);
                formData.append('name[]', formrow[i].name);
                formData.append('type[]', formrow[i].type);
                formData.append('lenth[]', formrow[i].lenth);
                formData.append('requerd[]', formrow[i].requerd);

                // console.log(select_form_id.value+' '+select_form.value+' '+formrow[i].label+' '+formrow[i].placeholder+' '+formrow[i].name+' '+formrow[i].type+' '+formrow[i].lenth+' '+formrow[i].requerd);

              
            } 
            await multiformApi.create(formData);
            isLoading.value = false;
        }

        // Form Date Get
        const form_datas = ref([]);
        const FormChange = async() => {
            console.log('Data');
        }
        // onMounted(async () => {
        //   const FormData = await  multiformApi.getInfo();
        //   form_datas.value = FormData.data.data
        // });

        return { 
            SelectFormData, displayFormOptions, select_form_id, select_form, SelectTypeData, 
            formrow, addFormrow, removeFormrow, MultiFormSubmit, isLoading, form_datas, FormChange 
        }
    },
}
</script>
<style lang="scss" scoped>
.mb_1 {margin-bottom: 4px;}
.mb_2 {margin-bottom: 8px;}
.mb_3 {margin-bottom: 12px;}
.mb_4 {margin-bottom: 16px;}
.mb_5 {margin-bottom: 20px;}
.bg_c {
    background-color: #ff3111;
}
.bg_c:hover {
    background-color: #f46853;
    box-shadow: 0px 15px 20px rgba(243, 74, 36, 0.4);
}
.multi_form {
    max-width: 80%;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 8px 20px 2px rgba(0, 0, 0, .15);
    border-radius: 4px;
    form {
        .heading {
            display: flex;
            justify-content: space-between;
        }
        .select_form {
            max-width: 300px;
        }
        .form_filed {
            ._grp {
                display: flex;
                column-gap: 12px;
                margin-bottom: 20px;
                ._l {
                    width: 90%;
                    display: flex;
                    column-gap: 8px;
                }
            }
        }
        .select_type {
            border: none;
            outline: none;
            padding: 4px 16px;
            box-shadow: -5px -5px 9px rgb(255 255 255 / 45%), 5px 5px 9px rgb(94 104 121 / 30%), -5px -5px 9px rgb(255 255 255 / 45%), 5px 5px 9px rgb(94 104 121 / 30%);
            color: #777;
            font-size: 16px;
            width: inherit;
            height: 45px;
            border-radius: 4px;
        }
    }
}


.create_form {
    display: flex;
    justify-content: center;
    form {
        max-width: 600px;
        width: 100%;
        margin-top: 40px;
        .form_data {
            width: 100%;
        }
    }
}
</style>