<template>
    <div class="balance_warp">
        <!-- ========================= -->
        <div class="optins">
            <div class="item">
                <router-link to="" class="link active">
                    <div class="icon">
                        <img src="@/assets/icons/heart.png" alt="Icon">
                    </div>
                    <div class="content">Wallet</div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="icon">
                        <img src="@/assets/icons/heart.png" alt="Icon">
                    </div>
                    <div class="content">Service</div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="icon">
                        <img src="@/assets/icons/heart.png" alt="Icon">
                    </div>
                    <div class="content">Setting</div>
                </router-link>
            </div>
        </div>
        <!-- ========================== -->
        <ul class="items">
            <li class="item">
                <div class="title">Soft Wallet</div>
                <div class="balance">1000 SCB</div>
            </li>
            <li class="item">
                <div class="title">Welcome Balance</div>
                <div class="balance">1000 SCB</div>
            </li>
            <li class="item">
                <div class="title">Employee Balance</div>
                <div class="balance">1000 SCB</div>
            </li>
            <li class="item">
                <div class="title">PF Balance</div>
                <div class="balance">1000 SCB</div>
            </li>
            <li class="item">
                <div class="title">AD Balance</div>
                <div class="balance">1000 SCB</div>
            </li>
            <li class="item">
                <div class="title">Deposite Blance</div>
                <div class="balance">1000 SCB</div>
            </li>
            <li class="item">
                <div class="title">Withdraw Blance</div>
                <div class="balance">1000 SCB</div>
            </li>
            <li class="item">
                <div class="title">Due Blance</div>
                <div class="balance">1000 SCB</div>
            </li>
        </ul>
        <!-- =========================== -->
        <div class="balance_form">
            <div class="add_balance">
                <form action="">
                    <div class="title">Add Balance</div>
                    <div class="balance">Balance: 1000 SCB</div>
                    <div class="group">
                        <base-input></base-input>
                        <base-button>Add</base-button>
                    </div>
                </form>
            </div>
            <div class="withdraw_balance">
                <form action="">
                    <div class="title">Withdraw</div>
                    <div class="balance">Balance: 1000 SCB</div>
                    <div class="group">
                        <base-input></base-input>
                        <base-button>Cashout</base-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.balance_warp {
    .optins {
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(3, minmax(160px, 1fr));
        column-gap: 30px;
        .item {
            &:hover {
                .link {
                    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
                    .icon {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .link {
            display: flex;
            column-gap: 20px;
            align-items: center;
            background-color: #f2f2f2;
            box-shadow: 0 2px 4px rgba(0,0,0,0.15);
            padding: 20px 30px;
            text-decoration: none;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            &.active {
                background-color: #ebdddd;
            }
                .icon {
                    background-image: radial-gradient(#d61326, #161515);
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    img {
                        max-width: 30px;
                        transition: all 0.3s ease 0s;
                        -webkit-transition: all 0.3s ease 0s;
                    }
                }
                .content {
                    font-size: 20px;
                    font-weight: 600;
                    color: #444;
                    background: #5492bc;
                    background: linear-gradient(to right, #5492bc 0%, #CF1512 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    ul.items {
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(4, minmax(160px, 1fr));
        column-gap: 24px;
        row-gap: 30px;
        list-style: none;
        margin-top: 40px;
        .item {
            background-color: #242424;
            padding: 12px 20px;
            border-radius: 4px;
            .title {
                font-size: 18px;
                color: #fff;
                margin-bottom: 8px;
            }
            .balance {
                font-size: 15px;
                color: #fff;
            }
        }
    }

    .balance_form {
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(2, minmax(160px, 1fr));
        column-gap: 30px;
        row-gap: 30px;
        margin-top: 40px;
        margin-bottom: 20px;
        .add_balance,
        .withdraw_balance {
            box-shadow: 0 2px 4px rgba(0,0,0,0.15);
            padding: 30px 30px;
            background-color: #f2f2f2;
        }
        .add_balance {
            form {
                .title {
                    font-size: 18px;
                    color: #444;
                    font-weight: 600;
                }
                .balance {
                    font-size: 18px;
                    color: #444;
                    margin-top: 40px;
                }
                .group {
                    display: flex;
                    column-gap: 20px;
                    align-items: center;
                    margin-top: 30px;
                }
            }
        }
        .withdraw_balance {
            form {
                .title {
                    font-size: 18px;
                    color: #444;
                    font-weight: 600;
                }
                .balance {
                    font-size: 18px;
                    color: #444;
                    margin-top: 40px;
                }
                .group {
                    display: flex;
                    column-gap: 20px;
                    align-items: center;
                    margin-top: 30px;
                }
            }
        }
    } 
}




$phone-width-small: 359px;
$phone-width-two: 444px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
}
@media (max-width: #{$tablet-width}) {
    .balance_warp {
        .optins {
            grid-template-columns: repeat(2, minmax(120px, 1fr));
            row-gap: 30px;
        }
        ul.items {
            grid-template-columns: repeat(3, minmax(120px, 1fr));
        }
        .balance_form {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: #{$phone-width}) {
    .balance_warp {
        .optins {
            grid-template-columns: 1fr;
        }
        ul.items {
            grid-template-columns: repeat(2, minmax(120px, 1fr));
        }
    }
}

@media (max-width: #{$phone-width-two}) {
    .btn_css {
        width: 100%;
    }
    .balance_warp {
        .balance_form {
            .add_balance {
                form {
                    .title {
                    }
                    .balance {
                    }
                    .group {
                        flex-direction: column;
                        row-gap: 20px;
                    }
                }
            }
            .withdraw_balance {
                form {
                    .title {
                    }
                    .balance {
                    }
                    .group {
                        flex-direction: column;
                        row-gap: 20px;
                    }
                }
            }
        } 
    }
}

@media (max-width: #{$phone-width-small}) {
}
</style>