<template>
    <div class="widgets_wrap">
        <div class="widgets">
            <div class="widget">
                <div class="logo">
                    <img src="@/assets/soft.png" alt="Logo">
                </div>
                <div class="content">
                    <p>
                        Soft Commerce Ltd aims at facilitating the people with the ultimate taste of digitalized global world by being a major contributor of the existing government of any country.
                        Primarily we are operating only in Bangladesh and have already introduced a lot of sophisticated digital services to its citizens to convert their sad, miserable and monotonous life into happy, relaxed and aristocratic one. 
                    </p>
                    <h5>Address</h5>
                    <p>Suite#5, Floor#19, Planners Tower, 13/A, Sonargaon Road, Dhaka-1000, Bangladesh.</p>
                </div>
            </div>
            <div class="widget">
                <div class="heading w_head">
                    <h4>Categories</h4>
                </div>
                <div class="content slide">
                    <ul class="items">
                        <li class="item">
                            <router-link to="" class="link">Fashion</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Phones</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Computers</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Jewelry</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Toys</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Health</router-link>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="widget">
                <div class="heading w_head">
                    <h4>Our Company</h4>
                </div>
                <div class="content slide">
                    <ul class="items">
                        <li class="item">
                            <router-link to="" class="link">Terms and Conditions</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Refund and Return Policy</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Privacy Policy</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Disclaimer</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">About Us</router-link>
                        </li>
                        <li class="item">
                            <router-link to="/faq" class="link">FAQ</router-link>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="widget">
                <div class="heading w_head">
                    <h4>Our Company</h4>
                </div>
                <div class="content slide">
                    <ul class="items">
                        <li class="item">
                            <router-link to="" class="link">Terms and Conditions</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Refund and Return Policy</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Privacy Policy</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Disclaimer</router-link>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">About Us</router-link>
                        </li>
                        <li class="item">
                            <router-link to="/faq" class="link">FAQ</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="social">
            <li class="item">
                <router-link to="" class="link">
                     <img src="@/assets/social/facebook(1).png" alt="Facebook">
                     <span>Facebook</span>
                </router-link>
            </li>
            <li class="item">
                <router-link to="" class="link">
                     <img src="@/assets/social/twitter(1).png" alt="Twitter">
                     <span>Twitter</span>
                </router-link>
            </li>
            <li class="item">
                <router-link to="" class="link">
                     <img src="@/assets/social/instagram(1).png" alt="Instagram">
                     <span>Instagram</span>
                </router-link>
            </li>
            <li class="item">
                <router-link to="" class="link">
                     <img src="@/assets/social/linkedin(1).png" alt="Linkedin">
                     <span>Linkedin</span>
                </router-link>
            </li> 
            <li class="item">
                <router-link to="" class="link">
                     <img src="@/assets/social/pinterest(1).png" alt="Pinterest">
                     <span>Pinterest</span>
                </router-link>
            </li>
        </ul>
        <div class="copyright">
            <p>Copyright &copy; 2022 <router-link to="">SoftCommerce</router-link>. All rights reserved.</p>
        </div>
    </div>
</template>
<script>
export default {
    setup() {
        

    },
    mounted() {
        const heading = document.getElementsByClassName("w_head");
        for (let i = 0; i < heading.length; i++) {
            heading[i].addEventListener("click", function() {
                this.classList.toggle("active");
                let slide = this.nextElementSibling;
                if (slide.style.maxHeight) {
                    slide.style.maxHeight = null;
                } else {
                    slide.style.maxHeight = slide.scrollHeight + "px";
                } 
            });
        }      
    },
}
</script>
<style lang="scss" scoped>
.widgets {
    display: flex; 
    column-gap: 12px;
    row-gap: 20px;
    padding: 40px 30px;
    .widget {
        &:nth-child(1) {
            width: 34%;
        }
        &:nth-child(2),&:nth-child(3),&:nth-child(4) {
            width: 22%;
            padding-top: 30px;
        }
        .logo {
            margin-bottom: 20px;
            width: 200px;
            img {
                max-width: 60%;
            }
        }
        .heading {
            margin-bottom:24px;
            h4 {
                font-size: 16px;
                color: #444;
            }
        }
        .content {
            & > p {
                font-size: 14px;
                color: #777;
                line-height: 28px;
            }
            & > h5 {
                font-size: 13px;
                color: #444;
                margin-top: 12px;
                margin-bottom: 8px;
            }
            .items {
                list-style: none;
                .item {
                    line-height: 30px;
                    .link {
                        font-size: 14px;
                        text-decoration: none;
                        color: #777;
                        margin-left: 0;
                        position: relative;
                        z-index: 1;
                        transition: all 0.3s ease 0;
                        -webkit-transition: all 0.3s ease 0s;
                        &::after {
                            position: absolute;
                            content: '';
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            // background-color: red;
                            z-index: -1;
                            transition: all 0.3s ease 0;
                            -webkit-transition: all 0.3s ease 0s;
                        }
                        &:hover {
                            margin-left: 12px;
                            color: tomato;
                            &::after {
                                margin-left: -12px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    list-style: none;
    .item {
        .link {
            text-decoration: none;
            position: relative;
            &:hover img {
                transform: translateY(-10px);
            }
            &:hover span {
                transform: translate(-50%, -12px);
                visibility: visible;
                opacity: 1;
                margin-bottom: 0;
            }
            img {
                width: 20px;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
            }
            span {
                position: absolute;
                padding: 6px 12px;
                background-color: #222;
                border-radius: 6px;
                color: #fff;
                width: 100px;
                bottom: 32px;
                left: 50%;
                font-size: 12px;
                transform: translateX(-50%);
                text-align: center;
                visibility: hidden;
                opacity: 0;
                margin-bottom: -8px;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                &::after {
                    position: absolute;
                    content: '';
                    left: 50%;
                    bottom: -8px;
                    transform: translateX(-50%);
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 8px solid #222;
                }
            }
        }
    }
}
.copyright {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 14px;
    }
}


$phone-width-small: 359px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    .widgets {
        .widget {
            &:nth-child(1), &:nth-child(2),&:nth-child(3),&:nth-child(4) {
            }
            &:nth-child(3),&:nth-child(4) {
            }
            .logo {
                width: 200px;
                img {
                    max-width: 100%;
                }
            }
            .heading {
                &::before, &::after {
                }
                &::after {
                }
                &.active::after {
                }
                h4 {
                }
            }
            .content {
                &.slide {
                }
                &.show {
                }
                & > p {
                }
                & > h5 {
                }
                .items {
                    .item {
                        .link {
                            &::after {
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright {
    }
}
@media (max-width: #{$tablet-width}) {
    .widgets {
        flex-direction: column;
        row-gap: 0;
        .widget {
            &:nth-child(1), &:nth-child(2),&:nth-child(3),&:nth-child(4) {
                width: 100%
            }
            &:nth-child(3),&:nth-child(4) {
                padding-top: 0;
            }
            .logo {
                width: 180px;
                img {
                    max-width: 100%;
                }
            }
            .heading {
                margin-bottom:20px;
                cursor: pointer;
                position: relative;
                &::before, &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    right: 12px;
                    width: 12px;
                    height: 1px;
                    transform: translateY(-50%);
                    background: #000;
                    transition: all 0.3s ease 0s;
                    -webkit-transition: all 0.3s ease 0s;
                }
                &::after {
                    transform: translateY(-50%) rotate(-90deg);
                }
                &.active::after {
                    transform: translateY(-50%) rotate(0deg);
                }
                h4 {
                    font-size: 15px;
                    background: #f6f6f6;
                    padding: 6px 12px;
                }
            }
            .content {
                &.slide {
                    padding: 0 18px;
                    background-color: white;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                }
                &.show {
                    overflow: hidden;
                    transition: height .3s linear;
                }
                & > p {
                }
                & > h5 {
                }
                .items {
                    .item {
                        .link {
                            &::after {
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright {
        padding: 0 20px;
        p {
            text-align: center;
        }
    }
}
@media (max-width: #{$phone-width}) {
    .widgets {
        .widget {
            &:nth-child(1), &:nth-child(2),&:nth-child(3),&:nth-child(4) {
            }
            &:nth-child(3),&:nth-child(4) {
            }
            .logo {
                width: 160px;
                img {
                    max-width: 100%;
                }
            }
            .heading {
                &::before, &::after {
                }
                &::after {
                }
                &.active::after {
                }
                h4 {
                }
            }
            .content {
                &.slide {
                }
                &.show {
                }
                & > p {
                }
                & > h5 {
                }
                .items {
                    .item {
                        .link {
                            &::after {
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright {
    }
}
@media (max-width: #{$phone-width-small}) { 
}
</style>