<template>
    <div class="section_product product_items">
        <div class="heading">
            <h2>Products</h2>
        </div>
        <div class="items">
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/1-covid-essentials-min-1643711066324.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">COVID Essentials</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/2sexual-wellness-min-1643711093774.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Sexual Wellness</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/3-diabetes-care-min-1643711221508.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Diabetes Care</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/5womens-care-min-1643711276700.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Womens Care</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/15natural-food-min-1643711709935.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Natural food</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/6-mens-care-min-1643711372407.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Men's Products</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/7-device-accessories-min-1643711398980.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Devices & Equipment</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/12herbal-min-1643711553366.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Herbal</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/8family-nutation-min-1643711445832.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Family Nutation</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/9health-beauty-min-1643711469069.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Health & Beauty</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/14house-laundry-min-1643711648193.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Laundry & Household</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/10surgical-min-1643711480150.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Surgical</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/13health-dental-min-1643711607122.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Health & Dental</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/whatsapp-image-2022-08-14-at-13336-pm-1--1660477527014.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Personal Care Products</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/baby-care-1660480175724.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Baby Care</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/cat_image/beverages-1660480202906.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Beverages</div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
import { ref, onMounted } from 'vue';
import productApi from '@/components/main/composible/home-produt-api.js';
export default {
    setup() {
        const pdt_data = ref([]);

        onMounted(async()=>{
           const get_data =  await productApi.getAllData();
            pdt_data.value = get_data.data.data;
            console.log(pdt_data.value);
        });

        return {
            pdt_data
        }
    }
}
</script>
<style lang="scss" scoped>
.section_product {
    padding: 0 30px;
    .heading {
        h2 {
            font-size: 32px;
            color: #444;
            margin-bottom: 30px;
            text-align: center;
            font-weight: 500;
        }
    }
    .items {
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(8, minmax(100px, 1fr));
        column-gap: 12px;
        row-gap: 20px;
        .item {
            height: 100%;
            &:hover {
                .link {
                    box-shadow: 0 3px 6px rgba(0,0,0,.25);
                    .thumbnail {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
            .link {
                padding: 8px;
                box-shadow: 0 2px 4px rgba(0,0,0,.15);
                display: inline-block;
                border-radius: 4px;
                text-decoration: none;
                height: 100%;
                .thumbnail {
                    border-radius: 4px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 100px;
                    width: 100%;
                    margin: auto;
                    background-color: #f0f0f0;
                    img {
                        max-width: 100%;
                        transition: all 0.8s ease 0s;
                        -webkit-transition: all 0.8s ease 0s;
                    }
                }
                .content {
                    .txt {
                        font-size: 12px;
                        font-weight: 600;
                        color: #444;
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}



$phone-width-small: 359px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    .section_product {
        .heading {
            h2 {
                font-size: 28px;
            }
        }
        .items {
            grid-template-columns: repeat(5, minmax(100px, 1fr));
            .item {
                &:hover {
                    .link {
                    }
                }
                .link {
                    .thumbnail {

                    }
                    .content {
                    }
                }
            }
        }
    }
}
@media (max-width: #{$tablet-width}) {
    .section_product {
        .heading {
            h2 {
                font-size: 26px;
            }
        }
        .items {
            grid-template-columns: repeat(4, minmax(80px, 1fr));
            .item {
                &:hover {
                    .link {
                    }
                }
                .link {
                    .thumbnail {

                    }
                    .content {
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width}) {
    .section_product {
        padding: 0;
        .heading {
            h2 {
                font-size: 24px;
            }
        }
        .items {
            grid-template-columns: repeat(3, minmax(80px, 1fr));
            .item {
                &:hover {
                    .link {
                    }
                }
                .link {
                    .thumbnail {
                    }
                    .content {
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small}) {
    .section_product {
        .heading {
            h2 {
                font-size: 20px;
            }
        }
        .items {
            grid-template-columns: repeat(2, minmax(80px, 1fr));
            .item {
                &:hover {
                    .link {
                    }
                }
                .link {
                    .thumbnail {
                    }
                    .content {
                    }
                }
            }
        }
    }
}

</style>