<template>
    <div class="form_data">
        <h4 class="mb_3">My Form</h4>
        <hr class="mb_3">
        <form @submit.prevent="ValidationForm">
            <div class="mb_4">
                <base-input v-model="data.input" label="Input One" placeholder="input one" :classValue="{'errors':data.errors=='input'}"></base-input>
            </div>
            <div class="mb_4">
                <base-select v-model="data.select" label="Select" :options="SelectData" :default="'Select'" class="select"
                    @input="displayToCommunity($event)" :classValue="{'errors':data.errors == 'select'}">
                </base-select>
            </div>
            <div class="mb_4">
                <base-textarea v-model="data.textareaa" rowNum="6" label="Text Area One" placeholder="text area one" :classValue="{'errors':data.errors == 'textarea'}"></base-textarea>
            </div>
            <div class="mb_4">
                <base-checkbox v-model="data.checkbox" label="Checkbox" id="Checkbox" :classValue="{'errors':data.errors == 'CheckBox'}"></base-checkbox>
            </div>
            <div class="mb_4">
                <base-radiobox v-model="data.radiobox" label="Radio Box" radioName="radiobox" :classValue="{'errors':data.errors}"></base-radiobox>
            </div>
            <div class="btn">
                <base-button type="submit">Submit</base-button>
            </div>
        </form>
    </div>
</template>
<script>
import { reactive } from 'vue'

export default {
    setup() {
        const displayToCommunity = (event) => {
            console.log(event)
        }
        const data = reactive({
            input:'',
            select:'',
            textareaa:'',
            checkbox:'',
            radiobox:'',
            errors:'',
        })
        const ValidationForm = () => {
            if(data.input == ''){
                data.errors  = 'input';
            }else if(data.textareaa == ''){
                data.errors = 'textarea';
            }else if(data.checkbox == ''){
                data.errors = 'CheckBox';
            }else{
                data.errors = false;
            }
           
            
        }

        return { displayToCommunity, ValidationForm, data }
    },
    data() {
        return {
            SelectData: []
        }
    },
}
</script>
<style lang="scss" scoped>
.mb_1 {margin-bottom: 4px;}
.mb_2 {margin-bottom: 8px;}
.mb_3 {margin-bottom: 12px;}
.mb_4 {margin-bottom: 16px;}
.mb_5 {margin-bottom: 20px;}
.mb_6 {margin-bottom: 24px;}
.btn {
    display: flex;
    column-gap: 12px;
}

.form_data {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 8px 20px 2px rgba(0, 0, 0, .15);
    border-radius: 4px;
}
</style>