<template>
    <div class="multi_form">
        <form action="" @submit.prevent="MultiFormSubmit">
            <div class="heading mb_2">
                <div class="_l">
                    <h4>Create Form <span><router-link to="/check/create-form">Show Form</router-link></span></h4>
                </div>
                <div class="_r">
                    <base-button type="Submit">Submit
                    </base-button>
                </div>
            </div>
            <hr class="mb_2">
            <div class="select_form mb_4">
                <base-select label="Select Form" :options="SelectFormData" :default="'Select'" class="select" @input="displayFormOptions($event)">
                </base-select>
            </div>
            <div class="form_filed">
                <!-- add -->
                <div class="_grp" v-for="(input,k) in inputs" :key="k">
                    <div class="_l">
                        <base-input v-model="input.label" type="text" divClass="d-flex" labelClass="" classValue="" placeholder="Label"></base-input>

                        <base-input v-model="input.placeholder" type="text" divClass="d-flex" labelClass="" classValue="" placeholder="Placeholder"></base-input>

                        <base-input v-model="input.name" type="text" divClass="d-flex" labelClass="" classValue="" placeholder="Name"></base-input>

                        <base-select :options="SelectTypeData" :default="'type'" class="select"
                            @input="displayTypeOptions($event)">
                        </base-select>

                        <base-input v-model="input.length" type="text" divClass="d-flex" labelClass="" classValue="" placeholder="Length"></base-input>

                        <base-checkbox label="Requerd" ></base-checkbox>
                    </div>
                    <div class="_r">
                        <base-button type="button" small="bg_c" v-show="k < inputs.length-1 || ( !k && inputs.length > 1)"
                            @click="remove(k)">-
                        </base-button>
                        <base-button type="button" @click="add(k)" v-show="k == inputs.length-1">+
                        </base-button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="create_form">
        <form action="">
            <div class="form" v-if="form_select == 1">
                Dipankar
            </div>
            <div class="form" v-if="form_select == 2">
                Biswas
            </div>   
        </form>
    </div>
</template>
<script>
import { reactive, ref } from 'vue';

export default {
    setup() {
        // Form Select code
        const SelectFormData = ref([
            {'id':1,'name':'Soft Commerce'},
            {'id':2,'name':'Company'},
            {'id':3,'name':'Software Developer'},
            {'id':3,'name':'Graphics Designer'},
        ]);
        const form_select = ref('');
        const displayFormOptions = (event) => {
            form_select.value = event;
        }
        // Type Change Code
        const SelectTypeData = ref([
            {'id':1,'name':'button'}, {'id':2,'name':'checkbox'}, {'id':3,'name':'color'},
            {'id':4,'name':'date'}, {'id':5,'name':'datetime-local'}, {'id':6,'name':'email'},
            {'id':7,'name':'file'}, {'id':8,'name':'hidden'}, {'id':9,'name':'image'},
            {'id':10,'name':'month'}, {'id':11,'name':'number'}, {'id':12,'name':'password'},
            {'id':13,'name':'radio'}, {'id':14,'name':'range'}, {'id':15,'name':'reset'},
            {'id':16,'name':'search'}, {'id':17,'name':'submit'}, {'id':18,'name':'tel'},
            {'id':19,'name':'text'}, {'id':20,'name':'time'}, {'id':21,'name':'url'},
            {'id':22,'name':'week'},
        ]);
        const displayTypeOptions = (event) => {
            console.log(event)
        }

        // Add Multi Form Add
        const inputs = reactive([
            { length:'', width:'', height:'', unit:'' },
        ])
        const add = () => {
            inputs.push({ length: '', width: '', height: '', unit: '' });
        }
        const remove = (index) => {
            inputs.splice(index, 1);
        }
        // Form Submit code
        const MultiFormSubmit = () => {
            console.log(form_select.value);
            // for(let i in SelectFormData.value) { 
            //    console.log(SelectFormData.value[i].name);
            // }
        }

        return { 
            SelectFormData, displayFormOptions, form_select, SelectTypeData, displayTypeOptions, 
            inputs, add, remove, MultiFormSubmit,
        }
    },
}
</script>
<style lang="scss" scoped>
.mb_1 {margin-bottom: 4px;}
.mb_2 {margin-bottom: 8px;}
.mb_3 {margin-bottom: 12px;}
.mb_4 {margin-bottom: 16px;}
.mb_5 {margin-bottom: 20px;}
.bg_c {
    background-color: #ff3111;
}
.bg_c:hover {
    background-color: #f46853;
    box-shadow: 0px 15px 20px rgba(243, 74, 36, 0.4);
}
.multi_form {
    max-width: 80%;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 8px 20px 2px rgba(0, 0, 0, .15);
    border-radius: 4px;
    form {
        .heading {
            display: flex;
            justify-content: space-between;
        }
        .select_form {
            max-width: 300px;
        }
        .form_filed {
            ._grp {
                display: flex;
                column-gap: 12px;
                margin-bottom: 20px;
                ._l {
                    width: 90%;
                    display: flex;
                    column-gap: 8px;
                }
            }
        }
    }
}
</style>