<template>
    <div class="content_right">
        <div class="content_body">
            <div class="head">
                <div class="chat_nav">
                    <div class="profile">
                        <div class="img">
                            <img src="@/assets/avatar.png" alt="User Img">
                            <span class="status"></span>
                        </div>
                        <div class="name">Rajib</div>
                    </div>
                    <div class="my_action">
                        <div class="call"></div>
                        <div class="video"></div>
                        <div class="search"></div>
                        <div class="info">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="scroll" ref="messages">
                    <div class="chats" >
                        <div class="chat right">
                            <div class="avatar">
                                <img src="@/assets/avatar.png" alt="Avatar">
                            </div>
                            <div class="msg">
                                <div class="txt">Hello!</div>
                            </div>
                        </div>
                        <div class="chat left">
                            <div class="avatar">
                                <img src="@/assets/avatar.png" alt="Avatar">
                            </div>
                            <div class="msg">
                                <div class="txt">SDF tyt uiuyi deter!</div>
                            </div>
                        </div>
                        <div class="chat right">
                            <div class="avatar">
                                <img src="@/assets/avatar.png" alt="Avatar">
                            </div>
                            <div class="msg">
                                <div class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam corporis dolor iste accusamus optio doloribus quam mollitia at et eligendi.</div>
                            </div>
                        </div>
                        <div class="chat left">
                            <div class="avatar">
                                <img src="@/assets/avatar.png" alt="Avatar">
                            </div>
                            <div class="msg">
                                <div class="txt">Totam corporis dolor iste accusamus optio</div>
                                <div class="txt">Consectetur adipisicing elit totam corporis dolor sit amet consectetur.</div>
                            </div>
                        </div>
                        <div class="chat right">
                            <div class="avatar">
                                <img src="@/assets/avatar.png" alt="Avatar">
                            </div>
                            <div class="msg">
                                <div class="txt">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                            </div>
                        </div>
                        <div class="chat left">
                            <div class="avatar">
                                <img src="@/assets/avatar.png" alt="Avatar">
                            </div>
                            <div class="msg">
                                <div class="txt">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                                <div class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi totam aspernatur quas perferendis rerum aut voluptatem ullam dolorum eveniet doloribus rem, est, aliquid sed ea error, architecto natus dolor nemo!</div>
                            </div>
                        </div>
                        <div class="chat right">
                            <div class="avatar">
                                <img src="@/assets/avatar.png" alt="Avatar">
                            </div>
                            <div class="msg">
                                <div class="txt">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot">
                <div class="send_sms">
                    <form class="form">
                        <div class="type">
                            <input type="text" placeholder="Enter your message ...">
                        </div>
                        <div class="send"><span class="icon">&#10148;</span> <span class="txt">Send</span></div>
                    </form>
                </div>
            </div>
        </div>
        <friend-profile></friend-profile>
    </div>
</template>
<script>
import {ref, onUpdated, onMounted} from 'vue';
import FriendProfile from './FriendProfile.vue';
export default {
    components : { FriendProfile },
    setup(){
        const messages = ref('');

        onUpdated(()=>{
            messages.value.scrollTop = messages.value.scrollHeight;
        })
        onMounted(() => {
            messages.value.scrollTop = messages.value.scrollHeight;
        })

        return { messages };
    }
}
</script>
<style lang="scss">
    .content_right {
        width: 100%;
        .content_body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .head {
                border-left: 1px solid #fdf0f0;
                border-bottom: 1px solid #fdf0f0;
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: #fff;
                .chat_nav {
                    display: flex;
                    justify-content: space-between;
                    height: 70px;
                    padding: 0 16px;
                    .profile {
                        display: flex;
                        align-items: center;
                        column-gap: 6px;
                        .img {
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            cursor: pointer;
                            img {
                                max-width: 100%;
                            }
                        }
                        .name {
                            color: #444;
                            font-size: 14px;
                        }
                    }
                    .my_action {
                        display: flex;
                        align-items: center;
                        column-gap: 8px;
                        .call {
                            position: relative;
                            width: 30px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            &::after {
                                position: absolute;
                                content: '\260F';
                                font-size: 20px;
                                color: #999;
                                transition: all 0.3s ease 0s;
                                -webkit-transition: all 0.3s ease 0s;
                            }
                            &:hover::after {
                                color: #7367f0;
                            }
                        }
                        .video {
                            position: relative;
                            width: 30px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            &::after {
                                position: absolute;
                                content: '\26B1';
                                font-size: 28px;
                                transform: rotate(100deg);
                                color: #999;
                                transition: all 0.3s ease 0s;
                                -webkit-transition: all 0.3s ease 0s;
                            }
                            &:hover::after {
                                color: #7367f0;
                            }
                        }
                        .search {
                            position: relative;
                            width: 30px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            &:hover {

                            }
                            &::after {
                                position: absolute;
                                content: '\260C';
                                font-size: 28px;
                                transform: rotate(100deg);
                                color: #999;
                                transition: all 0.3s ease 0s;
                                -webkit-transition: all 0.3s ease 0s;
                            }
                            &:hover::after {
                                color: #7367f0;
                            }
                        }
                        .info {
                            width: 30px;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            span {
                                position: relative;
                                width: 4px;
                                height: 4px;
                                background-color: #777;
                                border-radius: 50%;
                                display: block;
                                &::before,
                                &::after {
                                    position: absolute;
                                    content: '';
                                    width: 100%;
                                    height: 100%;
                                    background-color: #777;
                                    border-radius: 50%;
                                }
                                &::before {
                                    top: -7px;
                                }
                                &::after {
                                    top: 7px;
                                }
                            }
                        }
                    }
                }
            }
            .body {
                background-image: url('@/assets/chat_bg.svg');
                background-size: 200px;
                background-repeat: repeat;
                height: 100%;
                .scroll {
                    height: calc(100vh - 240px);
                    overflow-y: auto;
                    padding: 24px 16px;
                    .chats {
                        .chat {
                            display: flex;
                            column-gap: 12px;
                            margin-bottom: 20px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            &.right {
                                flex-direction: row-reverse;
                                justify-content: end;
                                .msg {
                                    align-items: end;
                                    .txt {
                                        background-image: linear-gradient(80deg, #7367f0, #9e95f5);
                                        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
                                        color: #fff;
                                        &:first-child {
                                            position: relative;
                                            &::after {
                                                position: absolute;
                                                content: '';
                                                top: 0;
                                                right: -12px;
                                                width: 20px;
                                                height: 20px;
                                                background: linear-gradient(135deg, #9e95f5 0%, #9e95f5 50%, transparent 50%, transparent);
                                            }
                                        }
                                    }
                                }
                            }
                            &.left {
                                .msg {
                                    align-items: start;
                                    .txt {
                                        background-color: #fff;
                                        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
                                        color: #444;
                                        &:first-child {
                                            position: relative;
                                            &::after {
                                                position: absolute;
                                                content: '';
                                                top: 0;
                                                left: -12px;
                                                width: 20px;
                                                height: 20px;
                                                background: linear-gradient(-135deg, #fff 0%, #fff 50%, transparent 50%, transparent);
                                            }
                                        }
                                    }
                                }
                            }
                            .avatar {
                                max-width: 45px;
                                width: 100%;
                                height: 45px;
                                border-radius: 50%;
                                img {
                                    max-width: 100%;
                                }
                            }
                            .msg {
                                display: flex;
                                row-gap: 8px;
                                flex-direction: column;
                                .txt {
                                    border-radius: 6px;
                                    padding: 8px 16px;
                                    font-size: 14px;
                                    letter-spacing: 0.8px;
                                    line-height: 28px;
                                }
                            }
                        }
                    }
                }
            }
            .foot {
                width: 100%;
                border-left: 1px solid #fdf0f0;
                border-top: 1px solid #fdf0f0;
                .send_sms {
                    width: 100%;
                    height: 70px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    .form {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        column-gap: 20px;
                        padding: 0 16px;
                        .type {
                            width: calc(100% - 100px);
                            input {
                                outline: none;
                                border: 1px solid #ddd;
                                border-radius: 20px;
                                width: 100%;
                                padding: 10px 12px;
                                font-size: 15px;
                                color: #444;
                                letter-spacing: 0.8px;
                                transition: all 0.3s ease 0s;
                                -webkit-transition: all 0.3s ease 0s;
                                &::placeholder {
                                    color: #999;
                                }
                                &:focus {
                                    border: 1px solid #7367f0;
                                    padding-left: 16px;
                                }
                            }
                        }
                        .send {
                            background-image: linear-gradient(80deg,#9e95f5, #7367f0);
                            width: 100px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            column-gap: 8px;
                            color: #fff;
                            border-radius: 4px;
                            cursor: pointer;
                            .icon {
                                font-size: 24px;
                                transform: rotate(-25deg);
                            }
                        }
                    }
                }
            }
        }
    }




    $phone-width-small: 359px;
    $phone-width: 575px;
    $tablet-width: 767px;
    $desktop-width: 1023px;

    @media (max-width: #{$desktop-width}) {
        
    }

    @media (max-width: #{$tablet-width}) {
        .content_right {
            .content_body {
                .head {
                    .chat_nav {
                        .profile {
                            .img {
                                img {
                                }
                            }
                            .name {
                            }
                        }
                        .my_action {
                            .call {
                                &::after {
                                }
                                &:hover::after {
                                }
                            }
                            .video {
                                &::after {
                                }
                                &:hover::after {
                                }
                            }
                            .search {
                                &:hover {
                                }
                                &::after {
                                }
                                &:hover::after {
                                }
                            }
                            .info {
                                span {
                                    &::before,
                                    &::after {
                                    }
                                    &::before {
                                    }
                                    &::after {
                                    }
                                }
                            }
                        }
                    }
                }
                .body {
                    .scroll {
                        .chats {
                            .chat {
                                &:last-child {
                                }
                                &.right {
                                    .msg {
                                        .txt {
                                            &:first-child {
                                                &::after {
                                                }
                                            }
                                        }
                                    }
                                }
                                &.left {
                                    .msg {
                                        .txt {
                                            &:first-child {
                                                &::after {
                                                }
                                            }
                                        }
                                    }
                                }
                                .avatar {
                                    img {
                                    }
                                }
                                .msg {
                                    .txt {
                                    }
                                }
                            }
                        }
                    }
                }
                .foot {
                    .send_sms {
                        .form {
                            .type {
                                input {
                                    &::placeholder {
                                    }
                                    &:focus {
                                    }
                                }
                            }
                            .send {
                                .icon {
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: #{$phone-width}) {
        
    }

    @media (max-width: #{$phone-width-small}) {
        
    }
</style>