<template>
    <div class="friends_profile" :class="{'show':show_friend_profile}" >
        <div class="head">
            <div class="close_icon">
                <button type="button" @click="$emit('add', close_btn())">&#10005;</button>
            </div>
            <div class="content">
                <div class="img">
                    <img src="@/assets/avatar.png" alt="Avatar">
                </div>
                <div class="name">Dipankar</div>
                <div class="position">admin</div>
            </div>
        </div>
        <div class="body">
            <div class="scroll">
                <div class="about">
                    <div class="heading">
                        <h2>About</h2>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam dolor impedit, dolorum repellendus, incidunt delectus neque accusantium mollitia natus est dignissimos laborum. Aspernatur nesciunt minima corporis consectetur excepturi! Ullam, blanditiis.</p>
                    </div>
                </div>
                <div class="personal_info">
                    <div class="heading">
                        <h2>Personal Information</h2>
                    </div>
                    <div class="content">
                        <div class="lists">
                            <div class="list">
                                <div class="icon">
                                    <div class="img">
                                        <img src="@/assets/icons/chat/email.png">
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="txt">rajib@gmail.com</div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="icon">
                                    <div class="img">
                                        <img src="@/assets/icons/chat/phone.png">
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="txt">+8801741571104</div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="icon">
                                    <div class="img">
                                        <img src="@/assets/icons/chat/clock.png">
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="txt">Mon - Fri 10AM - 8PM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="options">
                    <div class="heading">
                        <h2>Options</h2>
                    </div>
                    <div class="content">
                        <div class="lists">
                            <div class="list">
                                <router-link to="" class="link">
                                    <div class="icon">
                                        <div class="img">
                                            <img src="@/assets/icons/chat/tag.png">
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="txt">Add Tag</div>
                                    </div>
                                </router-link>
                            </div>
                            <div class="list">
                                <router-link to="" class="link">
                                    <div class="icon">
                                        <div class="img">
                                            <img src="@/assets/icons/chat/star.png">
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="txt">Important Contact</div>
                                    </div>
                                </router-link>
                            </div>
                            <div class="list">
                                <router-link to="" class="link">
                                    <div class="icon">
                                        <div class="img">
                                            <img src="@/assets/icons/chat/image.png">
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="txt">Shared Media</div>
                                    </div>
                                </router-link>
                            </div>
                            <div class="list">
                                <router-link to="" class="link">
                                    <div class="icon">
                                        <div class="img">
                                            <img src="@/assets/icons/chat/delete.png">
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="txt">Delete Contact</div>
                                    </div>
                                </router-link>
                            </div>
                            <div class="list">
                                <router-link to="" class="link">
                                    <div class="icon">
                                        <div class="img">
                                            <img src="@/assets/icons/chat/blocked.png"> 
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="txt">Block Contact</div>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { ref } from 'vue';

export default {
    setup() {
        const show_friend_profile = ref(true);

        const close_btn = () => {
            show_friend_profile.value = false;
        }

        return { show_friend_profile, close_btn }
    }
}
</script>
<style lang="scss">
.friends_profile {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 20px #ccc;
    z-index: 2;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    &.show {
        width: 300px;
        height: 100%;
    }
    .head {
        border-bottom: 1px solid #fdf0f0;
        height: 200px;
        .close_icon {
            text-align: right;
            margin-top: 8px;
            margin-right: 8px;
            display: flex;
            justify-content: end;
            button {
                padding: 5px;
                cursor: pointer;
                border: none;
                outline: none;
                display: block;
                background: transparent;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                &:hover {
                    color: tomato;
                }
            }
        }
        .content {
            padding: 0 20px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .img {
                max-width: 80px;
                width: 100%;
                height: 80px;
                border-radius: 50%;
                img {
                    max-width: 100%;
                }
            }
            .name {
                font-size: 18px;
                color: #444;
                margin-top: 8px;
            }
            .position {
                font-size: 13px;
                color: #777;
                margin-top: 4px;
            }
        }
    }
    .body {
        height: calc(100vh - 310px);
        .scroll {
            height: 100%;
            padding: 20px 20px;
            overflow-y: auto;
            .heading {
                margin-bottom: 12px;
                h2 {
                    color: #999;
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
            .about {
                margin-bottom: 30px;
                .content {
                    p {
                        font-size: 14px;
                        color: #777;
                        line-height: 26px;
                        text-align: justify;
                    }
                }
            }
            .personal_info {
                margin-bottom: 30px;
                .content {
                    .lists {
                        .list {
                            display: flex;
                            align-items: center;
                            column-gap: 12px;
                            line-height: 30px;
                            .link {
                                display: flex;
                                align-items: center;
                                column-gap: 12px;
                                line-height: 30px;
                                text-decoration: none;
                            }
                            .icon {
                                display: flex;
                                align-items: center;
                                .img {
                                    display: flex;
                                    align-items: center;
                                    img {
                                        width: 20px;
                                    }
                                }
                            }
                            .text {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                .txt {
                                    font-size: 14px;
                                    color: #777;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
            .options {
                .content {
                    .lists {
                        .list {
                            display: flex;
                            align-items: center;
                            column-gap: 12px;
                            margin: 4px 0;
                            .link {
                                display: flex;
                                align-items: center;
                                column-gap: 12px;
                                line-height: 30px;
                                text-decoration: none;
                            }
                            .icon {
                                display: flex;
                                align-items: center;
                                .img {
                                    display: flex;
                                    align-items: center;
                                    img {
                                        width: 20px;
                                    }
                                }
                            }
                            .text {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                .txt {
                                    font-size: 14px;
                                    color: #777;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
</style>