<template>
    <div class="my_profile">
        <div class="head">
            <div class="close_icon">
                <button type="button">&#10005;</button>
            </div>
            <div class="content">
                <div class="img">
                    <img src="@/assets/avatar.png" alt="Avatar">
                </div>
                <div class="name">Dipankar</div>
                <div class="position">admin</div>
            </div>
        </div>
        <div class="body">
            <div class="scroll">
                <div class="about">
                    <div class="heading">
                        <h2>About</h2>
                    </div>
                    <div class="content">
                        <textarea name="info" rows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque repudiandae voluptatem perferendis ratione</textarea>
                    </div>
                </div>
                <div class="status">
                    <div class="heading">
                        <h2>Status</h2>
                    </div>
                    <div class="content">
                        <div class="_gp">
                            <input type="radio" id="Active" name="status">
                            <label for="Active">Active</label>
                        </div>
                        <div class="_gp">
                            <input type="radio" id="Do Not Disturb" name="status">
                            <label for="Do Not Disturb">Do Not Disturb</label>
                        </div>
                        <div class="_gp">
                            <input type="radio" id="Away" name="status">
                            <label for="Away">Away</label>
                        </div>
                        <div class="_gp">
                            <input type="radio" id="Offline" name="status">
                            <label for="Offline">Offline</label>
                        </div>
                    </div>
                </div>
                <div class="setting">
                    <div class="heading">
                        <h2>Settings</h2>
                    </div>
                    <div class="content">
                        <div class="lists">
                            <div class="list">
                                <div class="icon">
                                    <img src="@/assets/icons/chat/edit.png">
                                </div>
                                <div class="text">
                                    <div class="txt">Two-step Verification</div>
                                    <div class="action">
                                        <label class="switch">
                                            <input type="checkbox" checked>
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="icon">
                                    <img src="@/assets/icons/chat/notification.png">
                                </div>
                                <div class="text">
                                    <div class="txt">Notification</div>
                                    <div class="action">
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <router-link to="" class="link">
                                    <div class="icon">
                                        <img src="@/assets/icons/chat/user.png">
                                    </div>
                                    <div class="text">
                                        <div class="txt">Invite Friends</div>
                                        <div class="action"></div>
                                    </div>
                                </router-link>
                            </div>
                            <div class="list">
                                <router-link to="" class="link">
                                    <div class="icon">
                                        <img src="@/assets/icons/chat/delete.png">
                                    </div>
                                    <div class="text">
                                        <div class="txt">Delete Account</div>
                                        <div class="action"></div>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logout">
                    <button type="button">Logout</button>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss">
.my_profile {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 20px #ccc;
    z-index: 2;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    &.show {
        width: 300px;
        height: 100%;
    }
    .head {
        border-bottom: 1px solid #fdf0f0;
        height: 200px;
        .close_icon {
            text-align: right;
            margin-top: 8px;
            margin-right: 8px;
            display: flex;
            justify-content: end;
            button {
                padding: 5px;
                cursor: pointer;
                border: none;
                outline: none;
                display: block;
                background: transparent;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                &:hover {
                    color: tomato;
                }
            }
        }
        .content {
            padding: 0 20px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .img {
                max-width: 80px;
                width: 100%;
                height: 80px;
                border-radius: 50%;
                img {
                    max-width: 100%;
                }
            }
            .name {
                font-size: 18px;
                color: #444;
                margin-top: 8px;
            }
            .position {
                font-size: 13px;
                color: #777;
                margin-top: 4px;
            }
        }
    }
    .body {
        height: calc(100vh - 310px);
        .scroll {
            height: 100%;
            padding: 20px 20px;
            overflow-y: auto;
            .heading {
                margin-bottom: 12px;
                h2 {
                    color: #999;
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
            .about {
                margin-bottom: 30px;
                .content {
                    textarea {
                        width: 100%;
                        border: 1px solid #ddd;
                        border-radius: 4px;
                        font-size: 16px;
                        color: #777;
                        line-height: 26px;
                        outline: none;
                        padding: 8px;
                        &:focus {
                            border: 1px solid #7367f0;
                        }
                    }
                }
            }
            .status {
                margin-bottom: 30px;
                .content {
                    ._gp {
                        display: flex;
                        column-gap: 8px;
                        margin-bottom: 12px;
                        input {}
                        label {
                            font-size: 14px;
                            color: #777;
                            font-weight: 500;
                        }
                    }
                }
            }
            .setting {
                .content {
                    .lists {
                        .list {
                            display: flex;
                            align-items: center;
                            column-gap: 12px;
                            line-height: 30px;
                            .link {
                                display: flex;
                                align-items: center;
                                column-gap: 12px;
                                line-height: 30px;
                                text-decoration: none;
                            }
                            .icon {
                                display: flex;
                                align-items: center;
                                img {
                                    width: 20px;
                                }
                            }
                            .text {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                .txt {
                                    font-size: 14px;
                                    color: #777;
                                    font-weight: 500;
                                }
                                .action {
                                    display: flex;
                                    align-items: center;
                                    .switch {
                                        font-size: 17px;
                                        position: relative;
                                        display: inline-block;
                                        width: 40px;
                                        height: 20px;
                                    }
                                    /* Hide default HTML checkbox */
                                    .switch input {
                                        opacity: 0;
                                        width: 0;
                                        height: 0;
                                    }
                                    /* The slider */
                                    .slider {
                                        position: absolute;
                                        cursor: pointer;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        background-color: #ccc;
                                        transition: .4s;
                                        border-radius: 30px;
                                    }
                                    .slider:before {
                                        position: absolute;
                                        content: "";
                                        height: 14px;
                                        width: 14px;
                                        border-radius: 50%;
                                        left: 5px;
                                        bottom: 3.5px;
                                        background-color: white;
                                        transition: .4s;
                                    }
                                    input:checked + .slider {
                                        background-color: rgb(0,221,80);
                                    }
                                    input:focus + .slider {
                                        box-shadow: 0 0 1px rgb(0,221,80);
                                    }
                                    input:checked + .slider:before {
                                        transform: translateX(16px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .logout {
                button {
                    background-image: linear-gradient(80deg, #7367f0, #9e95f5);
                    border: none;
                    outline: none;
                    padding: 10px 20px;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 15px;
                    letter-spacing: 1px;
                    cursor: pointer;
                    margin-top: 30px;
                    transition: all 0.2s ease 0s;
                    -webkit-transition: all 0.2s ease 0s;
                    &:hover {
                        box-shadow: 0 8px 20px 0 #bbb4ff;
                    }
                }
            }
        }
    }
}
</style>