<template>
    <div class="sidebar_left">
        <div class="sidebar">
            <my-profile></my-profile>
            <div class="chat_list">
                <div class="head">
                    <div class="content">
                        <div class="profile">
                            <img class="img" src="@/assets/avatar.png" alt="User Img">
                            <span class="status"></span>
                        </div>
                        <div class="search">
                            <span>&#9740;</span>
                            <input type="text" placeholder="Search...">
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="content">
                        <div class="chats">
                            <div class="heading">
                                <h2>Chats</h2>
                            </div>
                            <ul class="lists">
                                <li class="list active">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>Dipankar</h1>
                                            <p>I am good boy</p>
                                        </div>
                                    </div>
                                    <div class="date">Sep 30</div>
                                </li>
                                <li class="list">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>Dipankar</h1>
                                            <p>I am good boy</p>
                                        </div>
                                    </div>
                                    <div class="date">Sep 30</div>
                                </li>
                            </ul>
                        </div>
                        <div class="contacts">
                            <div class="heading">
                                <h2>Contacts</h2>
                            </div>
                            <ul class="lists">
                                <li class="list">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>Dipankar</h1>
                                            <p>Lorem ipsum dolor sit...</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>SFI</h1>
                                            <p>Lorem ipsum dolor sit...</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>Dipankar</h1>
                                            <p>Lorem ipsum dolor sit...</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>SFI</h1>
                                            <p>Lorem ipsum dolor sit...</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>Dipankar</h1>
                                            <p>Lorem ipsum dolor sit...</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>SFI</h1>
                                            <p>Lorem ipsum dolor sit...</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>SFI</h1>
                                            <p>Lorem ipsum dolor sit...</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>Dipankar</h1>
                                            <p>Lorem ipsum dolor sit...</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>SFI</h1>
                                            <p>Lorem ipsum dolor sit...</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>Dipankar</h1>
                                            <p>Lorem ipsum dolor sit...</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list">
                                    <div class="avatar">
                                        <div class="img">
                                            <img src="@/assets/avatar.png" alt="Image">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="_content">
                                            <h1>SFI</h1>
                                            <p>Lorem ipsum dolor sit...</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import MyProfile from './MyProfile.vue'
export default {
    components : { MyProfile },
    setup(){

    }
}
</script>
<style lang="scss">
    .sidebar_left {
        height: 100%;
        .sidebar {
            width: 300px;
            height: 100%;
            background-color: #fff;
            position: relative;
            .chat_list {
                .head {
                    border-bottom: 1px solid #fdf0f0;
                    position: sticky;
                    top: 0;
                    z-index: 1;
                    background-color: #fff;
                    .content {
                        display: flex;
                        align-items: center;
                        column-gap: 12px;
                        height: 70px;
                        padding: 0 16px;
                        .profile {
                            position: relative;
                            max-width: 45px;
                            width: 100%;
                            height: 45px;
                            border-radius: 50%;
                            border: 1px solid #ddd;
                            display: block;
                            .img {
                                max-width: 100%;
                            }
                            .status {
                                position: absolute;
                                content: '';
                                width: 8px;
                                height: 8px;
                                bottom: 4px;
                                right: 4px;
                                background-color: #4bff4b;
                                border-radius: 50%;
                            }
                        }
                        .search {
                            border: 1px solid #ddd;
                            border-radius: 20px;
                            padding: 8px;
                            position: relative;
                            width: calc(100% - 50px);
                            transition: all 0.3s ease 0s;
                            -webkit-transition: all 0.3s ease 0s;
                            &:focus-within {
                                border: 1px solid #7367f0;
                                padding-left: 16px;
                                span {
                                    color: #7367f0;
                                }
                            }
                            span {
                                position: absolute;
                                font-size: 30px;
                                top: -2px;
                                transform: rotate(100deg);
                                color: #999;
                            }
                            input {
                                border: none;
                                outline: none;
                                font-size: 15px;
                                padding: 0 16px 0 24px;
                                width: 100%;
                                color: #444;
                                letter-spacing: 0.8px;
                                &::placeholder {
                                    color: #999;
                                }
                            }
                        }
                    }
                }
                .body {
                    .content {
                        overflow-y: auto;
                        overflow-x: hidden;
                        height: calc(100vh - 173px);
                        scrollbar-width: thin;
                        scrollbar-color: #0000 #0000;
                        z-index: 1;
                        &:hover {
                            scrollbar-width: thin;
                            scrollbar-color: #d9d9d9 #0000;
                        }
                        /* Chrome Scroll Support Css */
                        // &::-webkit-scrollbar {
                        //     // height: 8px;
                        //     width: 8px;
                        //     position: absolute;

                        // }
                        // &::-webkit-scrollbar-thumb {
                        //     background: #d9d9d9;
                        //     -webkit-border-radius: 10px;
                        //     display: block;
                        //     transition: all 0.3s ease 0s;
                        //     -webkit-transition: all 0.3s ease 0s;
                        // }
                        // &:hover::-webkit-scrollbar-thumb {
                        //     display: block;
                        // }
                        .heading {
                            padding: 16px 12px 4px 12px;
                            h2 {
                                font-size: 18px;
                                color: #7367f0;
                                font-weight: 500;
                            }
                        }
                        .chats {
                            .lists {
                                .list {
                                    display: flex;
                                    justify-content: space-between;
                                    column-gap: 12px;
                                    padding: 12px;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: #f6f6f6;
                                    }
                                    &.active {
                                        background-image: linear-gradient(80deg,#7367f0,#9e95f5);
                                        .info {
                                            ._content {
                                                h1 {
                                                    color: #fff;
                                                }
                                                p {
                                                    color: #fff;
                                                }
                                            }
                                        }
                                        .date {
                                            color: #fff;
                                        }
                                    }
                                    .avatar {
                                        .img {
                                            position: relative;
                                            width: 45px;
                                            height: 45px;
                                            border-radius: 50%;
                                            display: block;
                                            img {
                                                max-width: 100%;
                                            }
                                        }
                                    }
                                    .info {
                                        width: calc(100% - 100px);
                                        ._content {
                                            h1 {
                                                font-size: 15px;
                                                color: #000;
                                                margin-bottom: 4px;
                                                font-weight: 500;
                                            }
                                            p {
                                                font-size: 14px;
                                                color: #999;
                                            }
                                        }
                                    }
                                    .date {
                                        width: 55px;
                                        font-size: 13px;
                                        color: #777;
                                        display: flex;
                                        justify-content: end;
                                    }
                                }
                            }
                        }
                        .contacts {
                            .lists {
                                .list {
                                    display: flex;
                                    column-gap: 12px;
                                    padding: 12px;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: #f6f6f6;
                                    }
                                    .avatar {
                                        .img {
                                            position: relative;
                                            width: 45px;
                                            height: 45px;
                                            border-radius: 50%;
                                            display: block;
                                            img {
                                                max-width: 100%;
                                            }
                                        }
                                    }
                                    .info {
                                        width: calc(100% - 45px);
                                        ._content {
                                            h1 {
                                                font-size: 15px;
                                                color: #000;
                                                margin-bottom: 4px;
                                                font-weight: 500;
                                            }
                                            p {
                                                font-size: 14px;
                                                color: #999;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }



    $phone-width-small: 359px;
    $phone-width: 575px;
    $tablet-width: 767px;
    $desktop-width: 1023px;

    @media (max-width: #{$desktop-width}) {
        
    }

    @media (max-width: #{$tablet-width}) {
        .sidebar_left {
            .sidebar {
                .my_profile {}
                .chat_list {
                    .head {
                        .content {
                            .profile {
                                .img {
                                }
                                .status {
                                }
                            }
                            .search {
                                &:focus-within {
                                    span {
                                    }
                                }
                                span {
                                }
                                input {
                                    &::placeholder {
                                    }
                                }
                            }
                        }
                    }
                    .body {
                        .content {
                            .heading {
                                h2 {
                                }
                            }
                            .chats {
                                .lists {
                                    .list {
                                        &:hover {
                                        }
                                        &.active {
                                            .info {
                                                ._content {
                                                    h1 {
                                                    }
                                                    p {
                                                    }
                                                }
                                            }
                                            .date {
                                            }
                                        }
                                        .avatar {
                                            .img {
                                                img {
                                                }
                                            }
                                        }
                                        .info {
                                            ._content {
                                                h1 {
                                                }
                                                p {
                                                }
                                            }
                                        }
                                        .date {
                                        }
                                    }
                                }
                            }
                            .contacts {
                                .lists {
                                    .list {
                                        &:hover {
                                        }
                                        .avatar {
                                            .img {
                                                img {
                                                }
                                            }
                                        }
                                        .info {
                                            ._content {
                                                h1 {
                                                }
                                                p {
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: #{$phone-width}) {
        
    }

    @media (max-width: #{$phone-width-small}) {
        
    }
</style>