<template>
    <div class="blog_area">
        <div class="blog">
            <div class="cards">
                <div class="card" v-for="(data,index) in blog_items" :key="index">
                    <router-link to="" class="thumb">
                        <!-- <img src="@/assets/blog/01.jpg" alt="Image"> -->
                        <img :src="data.feature_image" alt="Image">
                    </router-link>
                    <div class="content">
                        <h2 class="title">
                            <router-link to="" class="link">{{data.title}}</router-link>
                        </h2>
                        <div class="media">
                            <div class="avatar">
                                <router-link to="" class="link">
                                    <img src="@/assets/avatar.png" alt="Image">
                                </router-link>
                            </div>
                            <div class="body">
                                <div class="person">by <router-link to="" class="link">{{data.user_name}}</router-link></div>
                                <div class="date">{{data.date}}</div>
                            </div>
                        </div>
                        <ul class="category">
                            <li class="item" v-for="(cat,i) in data.categories" :key="i">
                                <router-link to="" class="link">{{cat.name}}</router-link>
                            </li>
                        </ul>
                        <p class="description">{{data.description}}</p>
                        <div class="social">
                            <ul class="items">
                                <li class="item">
                                    <div class="icon">&#9755;</div>
                                    <div class="txt">Like</div>
                                </li>
                                <li class="item">
                                    <div class="icon">&#9993;</div>
                                    <div class="txt">Comment</div>
                                </li>
                                <li class="item">
                                    <div class="icon">&#9842;</div>
                                    <div class="txt">Share</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slidebar">
            <blog-aside></blog-aside>
        </div>
    </div>
</template>
<script>
import { ref } from 'vue';
import BlogAside from './comps/BlogAside.vue'

export default {
    components:{ BlogAside },
    setup(){
        const blog_items = ref([
            {
                title:"The Best Features Coming to iOS and Web design",
                feature_image:require("@/assets/blog/01.jpg"),
                user_name:"Dipankar",
                avatar:"",
                categories:{
                    0:{name:"Fashion"},
                    1:{name:"Quote"},
                },
                description:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsa natus tempora unde necessitatibus totam, repellendus quos vero soluta, voluptate ratione porro reprehenderit. Cupiditate nemo eveniet non, accusamus expedita voluptate.",
                date:"Jan 10, 2020",
            },
            {
                title:"Latest Quirky Opening Sentence or Paragraph",
                feature_image:require("@/assets/blog/02.jpg"),
                user_name:"Shakil",
                avatar:"",
                categories:{
                    0:{name:"Phone"},
                    1:{name:"Toy"},
                },
                description:"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.",
                date:"Jan 11, 2020",
            },
            {
                title:"Share an Amazing and Shocking Fact or Statistic",
                feature_image:require("@/assets/blog/03.jpg"),
                user_name:"Shakil",
                avatar:"",
                categories:{
                    0:{name:"Phone"},
                    1:{name:"Toy"},
                },
                description:"There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.",
                date:"Jan 12, 2020",
            },
            {
                title:"Withhold a Compelling Piece of Information",
                feature_image:require("@/assets/blog/04.jpg"),
                user_name:"Mahib",
                avatar:"",
                categories:{
                    0:{name:"Phone"},
                    1:{name:"Toy"},
                },
                description:"The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested..",
                date:"Jan 12, 2020",
            },
            {
                title:"Unadvertised Bonus Opening: Share a Quote",
                feature_image:require("@/assets/blog/05.jpg"),
                user_name:"Dipankar",
                avatar:"",
                categories:{
                    0:{name:"Phone"},
                    1:{name:"Toy"},
                },
                description:"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.",
                date:"Jan 12, 2020",
            },
            {
                title:"FJH Quirky Opening Sentence or Paragraph",
                feature_image:require("@/assets/blog/06.jpg"),
                user_name:"Razib",
                avatar:"",
                categories:{
                    0:{name:"Phone"},
                    1:{name:"Toy"},
                },
                description:"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.",
                date:"Jan 12, 2020",
            },
        ]);

        console.log(blog_items.value);

        return {
            blog_items,
        }
    }
}
</script>
<style lang="scss">
.blog_area {
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
    column-gap: 20px;
    .blog {
        width: calc(100% - 450px);
        .cards {
            display: grid;
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            column-gap: 24px;
            row-gap: 20px;
            .card {
                background-color: #fff;
                box-shadow: 0 4px 24px 0 rgba(0,0,0,.15);
                border-radius: 8px;
                overflow: hidden;
                .thumb {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 300px;
                    max-height: 450px;
                    background-color: #ddd;
                    overflow: hidden;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .content {
                    padding: 24px;
                    .title {
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 12px;
                        .link {
                            text-decoration: none;
                            color: #444;
                            transition: all 0.3s ease 0s;
                            -webkit-transition: all 0.3s ease 0s;
                            &:hover {
                                color: tomato;
                            }
                        }
                    }
                    .media {
                        display: flex;
                        column-gap: 8px;
                        align-items: center;
                        margin-bottom: 8px;
                        .avatar {
                            .link {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                overflow: hidden;
                                display: inline-block;
                                border: 1px solid transparent;
                                transition: all 0.3s ease 0s;
                                -webkit-transition: all 0.3s ease 0s;
                                &:hover {
                                    border: 1px solid tomato;
                                }
                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }
                        }
                        .body {
                            display: flex;
                            column-gap: 8px;
                            .person {
                                color: #777;
                                font-size: 14px;
                                .link {
                                    color: #777;
                                    cursor: pointer;
                                    &:hover {
                                        color: tomato;
                                    }
                                }
                            }
                            .date {
                                font-size: 14px;
                                color: #777;
                                padding-left: 12px;
                                position: relative;
                                &::before {
                                    position: absolute;
                                    content: '|';
                                    left: 0;
                                }
                            }
                        }
                    }
                    ul.category {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        column-gap: 16px;
                        margin-bottom: 20px;
                        .item {
                            .link {
                                background-color: #f2f2f2;
                                color: #777;
                                border-radius: 10px;
                                padding: 4px 12px;
                                font-size: 14px;
                                display: inline-block;
                                text-decoration: none;
                                cursor: pointer;
                                transition: all 0.3s ease 0s;
                                -webkit-transition: all 0.3s ease 0s;
                                &:hover {
                                    background-color: #4444;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .description {
                        color: #777;
                        line-height: 26px;
                        font-size: 14px;
                    }
                    .social {
                        border-top: 1px solid #ddd;
                        margin-top: 12px;
                        padding-top: 12px;
                        .items {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            list-style: none;
                            .item {
                                display: flex;
                                align-items: center;
                                column-gap: 8px;
                                color: #444;
                                font-size: 15px;
                                cursor: pointer;
                                transition: all 0.3s ease 0s;
                                -webkit-transition: all 0.3s ease 0s;
                                .icon {
                                    font-size: 24px;
                                }
                                &:hover {
                                    color: #1084d7;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .slidebar {
        width: 450px;
        background: #fff;
    }
}
</style>