<template>
    <div class="sidebar" :class="[PdtFilterSlide ? 'active' : '']">
        <div class="scroll">
            <aside class="aside">
                <h2 class="heading">Filters</h2>
                <div class="category">
                    <div class="title">Categories</div>
                    <ul class="items">
                        <li class="item tree" @click="catIsInvalid =! catIsInvalid">
                            <router-link to="" class="link">T-Shirts</router-link>
                            <ul class="items" v-if="catIsInvalid">
                                <li class="item">
                                    <router-link to="" class="link">Loafers</router-link>
                                </li>
                                <li class="item">
                                    <router-link to="" class="link">Jeans</router-link>
                                </li>
                                <li class="item">
                                    <router-link to="" class="link">Loafers</router-link>
                                </li>
                            </ul>
                        </li>
                        <li class="item tree" @click="catIsInvalid =! catIsInvalid">
                            <router-link to="" class="link">Jeans</router-link>
                            <ul class="items" v-if="catIsInvalid">
                                <li class="item">
                                    <router-link to="" class="link">Jeans</router-link>
                                </li>
                            </ul>
                        </li>
                        <li class="item">
                            <router-link to="" class="link">Loafers</router-link>
                        </li>
                    </ul>
                </div>

                <div class="price filter">
                    <div class="title">Price</div>
                    <div class="price_range">
                        <form class="form">
                            <div class="slider">
                                <div class="progress"></div>
                            </div>
                            <div class="range-input">
                                <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                                <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                            </div>
                            <div class="price-input">
                                <div class="field">
                                    <!-- <span>Min</span> -->
                                    <input type="number" class="input-min" value="2500">
                                </div>
                                <div class="separator">-</div>
                                <div class="field">
                                    <!-- <span>Max</span> -->
                                    <input type="number" class="input-max" value="7500">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="gander filter">
                    <div class="title arrow">Ganger</div>
                    <ul class="items">
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Men</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Women</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Men & Women</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">T-Shirts</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Jeans</span> <span class="count">( 0 )</span></div>
                        </li>
                    </ul>
                </div>

                <div class="category filter">
                    <div class="title arrow">Category</div>
                    <ul class="items">
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Test</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Laster</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Firster</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Maofs</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Wyes</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Sdfg</span> <span class="count">( 0 )</span></div>
                        </li>
                    </ul>
                </div>

                <div class="discount filter">
                    <div class="title arrow">Discount</div>
                    <ul class="items">
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">10%</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">20%</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">30%</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">40%</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">50%</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">60%</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">70%</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">80%</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">90%</span> <span class="count">( 0 )</span></div>
                        </li>
                    </ul>
                </div>

                <div class="size filter">
                    <div class="title arrow">Size</div>
                    <ul class="items">
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">S</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">M</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">L</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">XL</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">XXL</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">XXXL</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Free</span> <span class="count">( 0 )</span></div>
                        </li>
                    </ul>
                </div>

                <div class="rating filter">
                    <div class="title arrow">Customer Rating</div>
                    <ul class="items">
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">5 <span class="star">&#9733;</span> Plan</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">4 <span class="star">&#9733;</span> & above</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">3 <span class="star">&#9733;</span> & above</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">2 <span class="star">&#9733;</span> & above</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">1 <span class="star">&#9733;</span> & above</span> <span class="count">( 0 )</span></div>
                        </li>
                    </ul>
                </div>

                <div class="color filter">
                    <div class="title arrow">Color</div>
                    <ul class="items">
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text">
                                <span class="txt"><span class="_clr" style="background: black"></span> Block</span> <span class="count">( 0 )</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text">
                                <span class="txt"><span class="_clr" style="background: pink"></span> Pink</span> <span class="count">( 0 )</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text">
                                <span class="txt"><span class="_clr" style="background: green"></span> Green</span> <span class="count">( 0 )</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text">
                                <span class="txt"><span class="_clr" style="background: red"></span> Red</span> <span class="count">( 0 )</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="brand filter">
                    <div class="title arrow">Brand</div>
                    <ul class="items">
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Allen Solly</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">CHEROKEE</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">Dressberry</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">FLYING MACHINE</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">GINI & JONY</span> <span class="count">( 0 )</span></div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text"><span class="txt">HERE&NOW</span> <span class="count">( 0 )</span></div>
                        </li>
                    </ul>
                </div>

                <div class="offer filter">
                    <div class="title">Offers</div>
                    <ul class="items">
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text">Buy More, Save More</div>
                        </li>
                        <li class="item">
                            <div class="checkbox">
                                <span class="box">&#9744; <input type="checkbox"></span>
                                <span class="check">&check;</span>
                            </div>
                            <div class="text">Special Price</div>
                        </li>
                    </ul>
                </div>
                
            </aside>
        </div>
    </div>
</template>
<script>
import SiteOverlayStore from "../../../../store/SiteOverlayStore.js";
import { ref, onMounted } from 'vue'
export default {
    name: 'FilterSidebar',
    setup() {
        const { PdtFilterSlide, } = SiteOverlayStore();

        onMounted(() => {
            // Category
            let category_item = document.querySelectorAll('.category .items .item');
            for (let i = 0; i < category_item.length; i++) {
                category_item[i].addEventListener("click", function() {
                    this.classList.toggle("active"); 
                });
            }
            // Gender
            let gender_item = document.querySelectorAll('.gander .items .item');
            for (let i = 0; i < gender_item.length; i++) {
                gender_item[i].addEventListener("click", function() {
                    this.classList.toggle("active"); 
                });
            }

            // Discount
            let discount_item = document.querySelectorAll('.discount .items .item');
            for (let i = 0; i < discount_item.length; i++) {
                discount_item[i].addEventListener("click", function() {
                    this.classList.toggle("active"); 
                });
            }

            // Size
            let size_item = document.querySelectorAll('.size .items .item');
            for (let i = 0; i < size_item.length; i++) {
                size_item[i].addEventListener("click", function() {
                    this.classList.toggle("active"); 
                });
            }

            // Rating
            let rating_item = document.querySelectorAll('.rating .items .item');
            for (let i = 0; i < rating_item.length; i++) {
                rating_item[i].addEventListener("click", function() {
                    this.classList.toggle("active"); 
                });
            }

            // Color
            let color_item = document.querySelectorAll('.color .items .item');
            for (let i = 0; i < color_item.length; i++) {
                color_item[i].addEventListener("click", function() {
                    this.classList.toggle("active"); 
                });
            }

            // Brand
            let brand_item = document.querySelectorAll('.brand .items .item');
            for (let i = 0; i < brand_item.length; i++) {
                brand_item[i].addEventListener("click", function() {
                    this.classList.toggle("active"); 
                });
            }

            // Offer
            let offer_item = document.querySelectorAll('.offer .items .item');
            for (let i = 0; i < offer_item.length; i++) {
                offer_item[i].addEventListener("click", function() {
                    this.classList.toggle("active"); 
                });
            }

            
        })

        return {
            PdtFilterSlide:PdtFilterSlide(),
        }
    },
    data() {
        return {
            filter_value:'',
            catIsInvalid:false,
        }
    },

    mounted() {
        // Price Range 
        const rangeInput = document.querySelectorAll(".range-input input"),
        priceInput = document.querySelectorAll(".price-input input"),
        range = document.querySelector(".slider .progress");
        let priceGap = 1000;
        priceInput.forEach(input =>{
            input.addEventListener("input", e =>{
                let minPrice = parseInt(priceInput[0].value),
                maxPrice = parseInt(priceInput[1].value);
                
                if((maxPrice - minPrice >= priceGap) && maxPrice <= rangeInput[1].max){
                    if(e.target.className === "input-min"){
                        rangeInput[0].value = minPrice;
                        range.style.left = ((minPrice / rangeInput[0].max) * 100) + "%";
                    }else{
                        rangeInput[1].value = maxPrice;
                        range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
                    }
                }
            });
        });
        rangeInput.forEach(input =>{
            input.addEventListener("input", e =>{
                let minVal = parseInt(rangeInput[0].value),
                maxVal = parseInt(rangeInput[1].value);
                if((maxVal - minVal) < priceGap){
                    if(e.target.className === "range-min"){
                        rangeInput[0].value = maxVal - priceGap
                    }else{
                        rangeInput[1].value = minVal + priceGap;
                    }
                }else{
                    priceInput[0].value = minVal;
                    priceInput[1].value = maxVal;
                    range.style.left = ((minVal / rangeInput[0].max) * 100) + "%";
                    range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
                }
            });
        });


        // Filter Slide
        const title_arrow = document.getElementsByClassName("title arrow");
        for (let i = 0; i < title_arrow.length; i++) {
            title_arrow[i].addEventListener("click", function() {
                this.classList.toggle("active");
                let filter = this.closest(".filter").querySelector(".items");
                if (filter.style.maxHeight) {
                    filter.style.maxHeight = null;
                } else {
                    filter.style.maxHeight = filter.scrollHeight + "px";
                } 
            });
        }
    },

}
</script>


<style lang="scss" scoped>
.sidebar {
    width: 240px;
    position: relative;
    border-right: 1px solid #ddd;
    .scroll {
        position: sticky;
        top: 0;
        height: calc(100vh - 0px);
        overflow-y: auto;
        scrollbar-width: none;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        &:hover {
            scrollbar-width: thin;
        }
    }
    /* Chrome Scroll Support Css */
    .scroll::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }
    .scroll::-webkit-scrollbar-thumb {
        background: #b9b9b9;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        display: none;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }
    .scroll:hover::-webkit-scrollbar-thumb {
        display: block;
    }
    /* Buttons */
    .scroll:hover::-webkit-scrollbar-button:single-button {
        background-color: #d3d3d396;
        display: block;
        background-size: 10px;
        background-repeat: no-repeat;
    }
    /* Up */
    .scroll:hover::-webkit-scrollbar-button:single-button:vertical:decrement {
        height: 12px;
        width: 16px;
        background-position: center 4px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    // Down
    .scroll:hover::-webkit-scrollbar-button:single-button:vertical:increment {
        height: 12px;
        width: 16px;
        background-position: center 2px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
    }
}
.aside {
    padding: 0 8px;
    .heading {
        font-size: 18px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 8px;
        padding: 16px 16px 8px;
    }
    .category {
        padding: 12px 16px;
        .title {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            color: #444;
            margin-bottom: 8px;
        }
        .items {
            list-style: none;
            .item {
                line-height: 24px;
                .link {
                    font-size: 13px;
                    color: #777;
                    padding: 2px 12px;
                    cursor: pointer;
                }
            }
        }
        .item.tree {
            .items {
                .item {
                    .link {
                        padding: 0 24px;
                    }
                }
            }
        }

        .item.tree > .link {
            position: relative;
        }
        .item.tree > .link::before {
            position: absolute;
            content: '';
            background-image: url('@/assets/icons/arrow_right.png');
            background-repeat: no-repeat;
            background-size: 10px;
            width: 12px;
            height: 12px;
            right: -12px;
            bottom: 2px;
        }
    }
    // Price Range
    .price {
        .price_range {
            width: 100%;
            margin-top: 16px;
            .range_show {
                width:100%;
            }
            /*--- /.price-range-slider ---*/
            .price-input{
                width: 100%;
                display: flex;
                margin-top: 16px;
            }
            .price-input .field{
                display: flex;
                width: 100%;
                align-items: center;
                span {
                    font-size: 14px;
                }
            }
            .field input{
                width: 100%;
                height: 100%;
                outline: none;
                font-size: 14px;
                border-radius: 5px;
                text-align: center;
                padding: 6px;
                border: 1px solid #999;
                -moz-appearance: textfield;
            }
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            .price-input .separator{
                display: flex;
                font-size: 19px;
                align-items: center;
                justify-content: center;
                padding: 0 16px;
            }
            .slider{
                height: 5px;
                position: relative;
                background: #ddd;
                border-radius: 5px;
            }
            .slider .progress{
                height: 100%;
                left: 25%;
                right: 25%;
                position: absolute;
                border-radius: 5px;
                background: #17A2B8;
            }
            .range-input{
                position: relative;
            }
            .range-input input{
                position: absolute;
                width: 100%;
                height: 5px;
                top: -5px;
                background: none;
                pointer-events: none;
                cursor: pointer;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
            input[type="range"]::-webkit-slider-thumb{
                height: 17px;
                width: 17px;
                border-radius: 50%;
                background: #17A2B8;
                pointer-events: auto;
                -webkit-appearance: none;
                box-shadow: 0 0 6px rgba(0,0,0,0.05);
            }
            input[type="range"]::-moz-range-thumb{
                height: 17px;
                width: 17px;
                border: none;
                border-radius: 50%;
                background: #17A2B8;
                pointer-events: auto;
                -moz-appearance: none;
                box-shadow: 0 0 6px rgba(0,0,0,0.05);
            }
            /*--- /.price-range-slider ---*/

        }
    }
    // Gander / Discount
    .filter {
        padding: 12px 16px;
        .title {
            display: block;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            color: #444;
            margin-bottom: 8px;
            cursor: pointer;
        }
        .title.arrow {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                background-image: url('@/assets/icons/arrow_down.png');
                background-repeat: no-repeat;
                background-size: 10px;
                width: 12px;
                height: 12px;
                bottom: 0;
                right: 0;
                margin-left: 6px;
            }
            &.active::after {
                position: absolute;
                content: '';
                background-image: url('@/assets/icons/arrow_up.png');
            }
        }
        .items {
            list-style: none;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            .item {
                display: flex;
                column-gap: 8px;
                align-items: center;
                font-size: 13px;
                color: #777;
                cursor: pointer;
                margin-bottom: 4px;
                // &:hover {
                //     .checkbox {
                //         .check {
                //             display: block;
                //             visibility: visible;
                //             opacity: 1;
                //         }
                //     }
                // }
                &.active {
                    .checkbox {
                        .check {
                            display: block;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    .text {
                        color: #f19024;
                    }
                }
                .checkbox {
                    position: relative;
                    .box {
                        font-size: 20px;
                        position: relative;
                        input {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            z-index: 1;
                        }
                    }
                    .check {
                        font-size: 20px;
                        position: absolute;
                        left: 3px;
                        top: -3px;
                        color: #f19024;
                        visibility: hidden;
                        opacity: 0;
                        transition: all 0.1s ease-in 0.1s;
                        -webkit-transition: all 0.1s ease-in 0.1s;
                    }
                }
                .text {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 6px;
                    .star {
                        color: #f19024;
                    }
                    ._clr {
                        width: 16px;
                        height: 16px;
                        border-radius: 50px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .offer {
        .items {
            max-height: 100%;
        }
    }
}



$phone-width-small: 360px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    
}
@media (max-width: #{$tablet-width}) {
    .sidebar {
        position: fixed;
        display: block;
        width: 0;
        top: 0;
        left: 0;
        background-color: #fff;
        border-right: 1px solid #ddd;
        overflow: hidden;
        z-index: 998;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        &.active {
            width: 240px;
        }
        .scroll {
            height: calc(100vh - 70px);
        }
    }


}

@media (max-width: #{$phone-width}) {
    
}

@media (max-width: #{$phone-width-small}) {
    
}
</style>