<template>
    <div class="moble_toolbar">
        <div class="tools">
            <div class="item" :class="{'active':activeClass == 'Shop'}" @click="activeClass = 'Shop'">
                <router-link to="/products" class="link">
                    <div class="icon">
                        <img src="@/assets/icons/home.png" alt="Shop">
                    </div>
                    <div class="text">Shop</div>
                </router-link>
            </div>
            <div class="item" :class="{'active':activeClass == 'Wishlist'}" @click="activeClass = 'Wishlist'">
                <router-link to="" class="link">
                    <div class="icon">
                        <img src="@/assets/icons/heart.png" alt="Wishlist">
                    </div>
                    <div class="text">Wishlist</div>
                </router-link>
            </div>
            <div class="item" :class="{'active':activeClass == 'Home'}" @click="activeClass = 'Home'">
                <router-link to="/" class="link">
                    <div class="icon">
                        <img src="@/assets/icons/home.png" alt="Home">
                    </div>
                    <div class="text">Home</div>
                </router-link>
            </div>
            <div class="item" :class="{'active':activeClass == 'Account'}" @click="activeClass = 'Account'">
                <router-link to="" class="link">
                    <div class="icon">
                        <img src="@/assets/icons/user.png" alt="Account">
                    </div>
                    <div class="text">Account</div>
                </router-link>
            </div>
            <div class="item" :class="{'active':activeClass == 'Search'}" @click="activeClass = 'Search'">
                <router-link to="" class="link">
                    <div class="icon">
                        <img src="@/assets/icons/search(3).png" alt="Search">
                    </div>
                    <div class="text">Search</div>
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
import { ref } from 'vue'
export default {
    setup() {
        const activeClass = ref('Home');

        return {
            activeClass
        }
    }
}
</script>
<style lang="scss" scoped>
.moble_toolbar {
    display: none;
}

$phone-width-small: 360px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    
}
@media (max-width: #{$tablet-width}) {
    .moble_toolbar {
        display: block;
        position: relative;
        .tools {
            position: fixed;
            left: 0;
            bottom: 0;
            height: 70px;
            width: 100%;
            box-shadow: 0 -2px 4px rgba(0,0,0,0.15);
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #eee;
            z-index: 999;
            .item {
                height: 100%;
                width: 20%;
                text-align: center;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                &.active {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease 0s;
                    -webkit-transition: all 0.3s ease 0s;
                    .link {
                        position: absolute;
                        bottom: 25px;
                        width: 75px;
                        height: 75px;
                        background-color: #fff;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        &::after {
                            position: absolute;
                            content: '';
                            width: 90px;
                            height: 90px;
                            background-image: linear-gradient(0deg, #e05e5e, rgba(183, 255, 154, 0)), linear-gradient(0deg, rgba(158, 255, 151, 0.75), rgba(183, 255, 154, 0)), linear-gradient(0deg, #b4fffb, rgba(183, 255, 154, 0));
                            border-radius: 50%;
                            outline: none;
                            overflow: hidden;
                            z-index: -1;
                        }
                        .icon {
                            width: 25px;
                            height: 25px;
                            margin: 0;
                            margin-bottom: 4px;
                        }
                        .text {
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }
                .link {
                    text-decoration: none;
                    padding: 4px;
                    .icon {
                        width: 20px;
                        height: 20px;
                        overflow: hidden;
                        margin: auto;
                        margin-bottom: 4px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .text {
                        font-size: 12px;
                        color: #444;
                    }
                }
            }
        }
    }
}

@media (max-width: #{$phone-width}) {
    
}

@media (max-width: #{$phone-width-small}) {
    
}
</style>