<template>
    <div class="pdt_category">
        <ul class="items">
            <li class="item">
                <router-link to="/products/category" class="link">
                    <div class="image"><img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="Cat Img"></div>
                    <div class="text"><span class="_t">Top Offers</span></div>
                </router-link>
            </li>
            <li class="item">
                <router-link to="/products/category" class="link">
                    <div class="image"><img src="https://rukminim1.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100" alt="Cat Img"></div>
                    <div class="text"><span class="_t">Grocery</span></div>
                </router-link>
            </li>
            <li class="item">
                <router-link to="/products/category" class="link">
                    <div class="image"><img src="https://rukminim1.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100" alt="Cat Img"></div>
                    <div class="text"><span class="_t">Mobiles</span></div>
                </router-link>
            </li>
            <li class="item tree">
                <div class="arrow"></div>
                <router-link to="/products/category" class="link">
                    <div class="image"><img src="https://rukminim1.flixcart.com/flap/128/128/image/c12afc017e6f24cb.png?q=100" alt="Cat Img"></div>
                    <div class="text"><span class="_t">Fashion</span></div>
                </router-link>
                <div class="dropdown_menu">
                    <ul class="items">
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Top Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Bottom Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Ethnic</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Western</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men Footwear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Top Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Bottom Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Ethnic</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Western</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men Footwear</span></div>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item tree">
                <div class="arrow"></div>
                <router-link to="/products/category" class="link">
                    <div class="image"><img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="Cat Img"></div>
                    <div class="text"><span class="_t">Electronics</span></div>
                </router-link>
                <div class="dropdown_menu">
                    <ul class="items">
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Top Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Bottom Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Ethnic</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Western</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men Footwear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Top Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Bottom Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Ethnic</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Western</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men Footwear</span></div>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item tree">
                <div class="arrow"></div>
                <router-link to="/products/category" class="link">
                    <div class="image"><img src="https://rukminim1.flixcart.com/flap/128/128/image/ab7e2b022a4587dd.jpg?q=100" alt="Cat Img"></div>
                    <div class="text"><span class="_t">Home</span></div>
                </router-link>
                <div class="dropdown_menu">
                    <ul class="items">
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Top Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Bottom Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Ethnic</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Western</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men Footwear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Top Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Bottom Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Ethnic</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Western</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men Footwear</span></div>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <router-link to="/products/category" class="link">
                    <div class="image"><img src="https://rukminim1.flixcart.com/flap/128/128/image/0ff199d1bd27eb98.png?q=100" alt="Cat Img"></div>
                    <div class="text"><span class="_t">Appliances</span></div>
                </router-link>
            </li>
            <li class="item">
                <router-link to="/products/category" class="link">
                    <div class="image"><img src="https://rukminim1.flixcart.com/flap/128/128/image/71050627a56b4693.png?q=100" alt="Cat Img"></div>
                    <div class="text"><span class="_t">Travel</span></div>
                </router-link>
            </li>
            <li class="item tree">
                <div class="arrow"></div>
                <router-link to="/products/category" class="link">
                    <div class="image"><img src="https://rukminim1.flixcart.com/flap/128/128/image/dff3f7adcf3a90c6.png?q=100" alt="Cat Img"></div>
                    <div class="text"><span class="_t">Beauty, Toys & More</span></div>
                </router-link>
                <div class="dropdown_menu">
                    <ul class="items">
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Top Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Bottom Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Ethnic</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Western</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men Footwear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Top Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men's Bottom Wear</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Ethnic</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Women Western</span></div>
                            </router-link>
                        </li>
                        <li class="item">
                            <router-link to="/products/category" class="link">
                                <div class="text"><span class="_t">Men Footwear</span></div>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</template>
<style lang="scss" scoped>
.pdt_category {
    background-color: #f2f2f2;
    padding: 16px;
    .items {
        list-style: none;
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(9, minmax(70px, 1fr));
        column-gap: 8px;
        .item {
            display: flex;
            justify-content: center;
            .link {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                &:hover {
                    .text {
                        ._t {
                            color: #f19024;
                        }
                    }
                }
                .image {
                    width: 60px;
                    height: 60px;
                    display: inline-block;
                    margin: auto;
                    background: #e8e8e8;
                    font-size: 12px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 12px;
                    font-size: 12px;
                    color: #444;
                    margin-top: 4px;
                    ._t {
                        color: #444;
                    }
                }
            }
        }
        .item.tree {
            position: relative;
            &:hover {
                .link {
                    .text {
                        ._t {
                            color: #f19024;
                        }
                    }
                }
            }
            .arrow {
                display: none;
            }
            & > .link {
                .text {
                    margin-left: -18px;
                    ._t {
                        position: relative;
                        &::after {
                            position: absolute;
                            content: '';
                            background-image: url('@/assets/icons/arrow_down.png');
                            background-repeat: no-repeat;
                            background-size: 10px;
                            width: 12px;
                            height: 12px;
                            bottom: 0;
                            margin-left: 6px;
                        }
                    }
                }
            }
        }
        .item.tree:hover {
            .link {
                .text {
                    ._t::after {
                        position: absolute;
                        content: '';
                        background-image: url('@/assets/icons/arrow_up.png');
                    }
                }
            }
            .dropdown_menu {
                visibility: visible;
                opacity: 1;
                margin-top: 0;
                overflow: hidden;
                z-index: 998;
            }
            &::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: -16px;
                width: 100%;
                height: 30px;
            }
        }
        .item.tree:last-child .dropdown_menu {
            position: absolute;
            right: 0;
            left: auto;
        }
        .dropdown_menu {
            position: absolute;
            left: 0;
            top: 90px;
            width: 280px;
            height: auto;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0,0,0,0.15);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 12px 0;
            margin-top: 30px;
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            z-index: 0;
            .items {
                display: flex;
                flex-direction: column;
                width: 100%;
                .item {
                    display: block;
                    width: 100%;
                    .link {
                        display: block;
                        line-height: 32px;
                        cursor: pointer;
                        transition: all 0.3s ease 0s;
                        -webkit-transition: all 0.3s ease 0s;
                        &:hover {
                            .text {
                                ._t {
                                    color: #f19024;
                                }
                            }
                        }
                        .text {
                            display: block;
                            margin-left: 0;
                            ._t {
                                padding: 12px 20px;
                                color: #444;
                            }
                        }
                    }
                }
            }
        }
    }
}


$phone-width-small: 360px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {   
}
@media (max-width: #{$tablet-width}) {
    .pdt_category {
        padding: 0;
        background-color: #fff;
        .items {
            display: block;
            grid-template-columns: 1fr;
            .item {
                display: block;
                justify-content: center;
                .link {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 10px;
                    padding: 4px 16px;
                    .image {
                        width: 34px;
                        height: 34px;
                        margin: 0;
                    }
                }
            }
            .item.tree {
                position: relative;
                &:hover .dropdown_menu {
                    border-top: 1px solid #ddd;
                    height: auto;
                    visibility: visible;
                    overflow: hidden;
                }
                &:hover .link .text ._t::after {
                    background-image: none;
                }
                &:hover:last-child .dropdown_menu {
                    position: static;
                }
                &:hover::before {
                    height: 0;
                }
                .arrow {
                    position: absolute;
                    display: block;
                    top: 4px;
                    right: 0;
                    width: 34px;
                    height: 34px;
                    &::after {
                        position: absolute;
                        content: '';
                        background-image: url('@/assets/icons/arrow_down.png');
                        background-repeat: no-repeat;
                        background-size: 10px;
                        top: 50%;
                        left: 50%;
                        width: 12px;
                        height: 12px;
                        transform: translate(-50%, -50%);
                    }
                    &:hover::after {
                        background-image: url('@/assets/icons/arrow_up.png');
                    }
                }
                .link {
                    .text {
                        ._t {
                            &::after {
                                background-image: none;
                            }
                        }
                    }
                }
                .dropdown_menu {
                    position: static;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 0;
                    padding: 0;
                    margin-top: 0;
                    visibility: hidden;
                    opacity: 0;
                    .items {
                        padding: 8px 0;
                        .item {
                            .link {
                                display: block;
                                padding: 8px 16px;
                                .text {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width}) {  
}
@media (max-width: #{$phone-width-small}) {  
}
</style>