<template>
    <div class="vue_select">
        <label>Select</label>
        <div class="select_data">Select</div>
        <ul class="items">
            <li class="item">Item 1</li>
            <li class="item">Item 2</li>
            <li class="item">Item 3</li>
            <li class="item">Item 4</li>
            <li class="item">Item 5</li>
            <li class="item">Item 6</li>
            <li class="item">Item 7</li>
            <li class="item">Item 8</li>
            <li class="item">Item 9</li>
            <li class="item">Item 10</li>
            <li class="item">Item 11</li>
        </ul>
    </div>
    <br>
    
</template>
<script>
import { onMounted } from "vue";
export default {
    props: {
        label: {
            type: String,
            default: '',
        },
        options: {
            default: '',
        },
        modelValue: {
            type: [String, Number],
            default: '',
        },
        placeholder: {
            type: String,
            default: '',
        },
        type: {
            type: String,
            default: '',
        },
        divClass: {
            type: [String, Number],
            default: '',
        },
        labelClass: {
            default: '',
        },
        classValue: {
            type: [String, Number],
            default: '',
        },
    },

    mounted() {
      
        const select_data = document.getElementsByClassName("select_data");
        const items = document.getElementsByClassName("items");
        const item = document.getElementsByClassName("item");


        //select_data.addEventListener("click", function () {
        //    if (items == "items show"){
        //        document.querySelector(".items").classList.remove("show");
        //    }else {
        //        document.querySelector(".items").classList.add("show");
        //    }
        //});

        //select_data.addEventListener("click", function () {
        //if (items.classList == "items show") {
        //items.classList.remove("show");
        //} else {
        //items.classList.add("show");
        //}
        //});



        console.log(select_data.length);
        for (let i = 0; i < select_data.length; i++) {
           
            select_data[i].addEventListener("click", function () {
                console.log('ok fine')
                if (items[i].classList == "items show") {
                    items[i].classList.remove("show");
                } else {
                    items[i].classList.add("show");
                }
            });
        }



        for (let i = 0; i < item.length; i++) {
            item[i].addEventListener("click", function () {
                for (let j = 0; j < select_data.length; j++) {
                    select_data[j].innerHTML = item[i].innerHTML;
                    items[j].classList.remove("show");
                }
            });
        }
    },
    setup() {

        onMounted(() => {
          
        });
    },

}
</script>
<style lang="scss" scoped>

.vue_select {
    width: 100%;
    display: inline-block;
}

label {
    margin-bottom: 6px;
    display: inline-block;
    font-size: 14px;
}

.field {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 13px;
    height: 38px;
    &:focus {
        border: 1px solid #23c483;
        box-shadow: none;
    }
}

.select_data {
    width: 100%;
    display: block;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    padding: 0 12px;
    font-size: 14px;
    line-height: 36px;
}

.items {
    list-style: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    max-height: 0;
    height: 0;
    overflow-y: auto;
    z-index: 1;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
}

.show {
    max-height: 300px;
    height: 100%;
}

.item {
    padding: 8px 12px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.item:hover {
    background-color: #eee;
}
</style>
