<template>
    <div class="cart_sidebar">
        <div class="short_icon" @click="cart_slide_action =! cart_slide_action">
            <div class="items">
                <div class="icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                        <g>
                            <path class="st1" d="M54.46,13.39c-1.08-0.01-2.16-0.02-3.25,0.01c-0.43,0.01-0.58-0.12-0.57-0.56c0.03-1.08,0.01-2.16,0.01-3.25
                                c0-0.41-0.05-0.8-0.35-1.1c-0.4-0.4-0.87-0.55-1.42-0.34c-0.6,0.23-0.86,0.7-0.87,1.31c-0.02,1.12-0.02,2.25,0,3.37
                                c0.01,0.43-0.1,0.58-0.55,0.57c-1.06-0.03-2.12-0.01-3.18-0.01c-0.29,0-0.58,0-0.85,0.14c-0.54,0.27-0.81,0.83-0.69,1.46
                                c0.12,0.62,0.61,1.04,1.35,1.05c1.16,0.02,2.33,0.02,3.5,0c0.32,0,0.44,0.09,0.43,0.42C47.98,17.03,48,17.62,48,18.2
                                c0,0.54-0.01,1.08,0,1.62c0.02,0.93,0.51,1.51,1.3,1.52c0.82,0.02,1.34-0.55,1.35-1.52c0.01-1.1,0.02-2.21-0.01-3.31
                                c-0.01-0.39,0.12-0.5,0.5-0.49c1.1,0.02,2.21,0.02,3.31,0.01c0.94-0.01,1.56-0.57,1.54-1.36C55.97,13.91,55.38,13.4,54.46,13.39z"
                                />
                            <path class="st0" d="M12.2,14.21c-0.05-0.26-0.09-0.53-0.14-0.8c-0.44-2.17-0.88-4.35-1.32-6.52c-0.23-1.17-0.63-1.5-1.82-1.5
                                c-2.35,0-4.69,0.02-7.04-0.01C1.06,5.36,0.42,5.55,0,6.29c0,0.29,0,0.58,0,0.88c0.47,0.72,1.14,0.91,1.98,0.89
                                c1.89-0.04,3.79,0,5.69-0.02c0.43-0.01,0.61,0.09,0.7,0.54c2.08,10.51,4.19,21.01,6.27,31.51c0.97,4.9,4.65,7.96,9.65,7.96
                                c9.96,0,19.92,0,29.87,0c0.31,0,0.62,0.01,0.93-0.09c0.57-0.2,0.96-0.77,0.9-1.35c-0.06-0.61-0.51-1.1-1.11-1.18
                                c-0.27-0.04-0.54-0.03-0.81-0.03c-9.9,0-19.79,0-29.69,0c-2.41,0-4.43-0.82-5.89-2.82c-1.13-1.55-1.3-3.38-1.62-5.18
                                c-0.42-2.01-0.84-4.02-1.24-6.03C14.48,25.64,13.34,19.92,12.2,14.21z"/>
                            <path class="st0" d="M20.53,51.06c-2.56,0.88-4.4,3.3-4.52,5.94c-0.15,3.21,1.88,5.97,5,6.82c0.16,0.04,0.39,0.01,0.48,0.22
                                c0.75,0,1.5,0,2.25,0c0.1-0.22,0.33-0.15,0.49-0.19c4.9-1.29,6.69-6.96,3.43-10.84C25.95,50.97,23.07,50.18,20.53,51.06z
                                M28.06,59.1c-0.59,1.88-2.08,3.25-4.08,3.78c-0.25,0.01-0.45,0.07-0.61,0.15h-1.49c-0.24-0.14-0.48-0.17-0.6-0.18
                                c-2.68-0.73-4.4-3.07-4.27-5.81c0.1-2.23,1.68-4.3,3.84-5.04c0.58-0.2,1.18-0.3,1.79-0.3c1.64,0,3.23,0.73,4.25,1.95
                                C28.23,55.24,28.66,57.22,28.06,59.1z"/>
                            <path class="st0" d="M52.76,51.66c-3.16-1.9-7.25-0.87-9.14,2.29c-2.27,3.78-0.28,8.7,3.97,9.84c0.19,0.05,0.42,0.02,0.54,0.24
                                c0.75,0,1.5,0,2.25,0c0.05-0.16,0.2-0.11,0.31-0.14c1.89-0.42,3.34-1.47,4.34-3.1C56.96,57.67,55.92,53.56,52.76,51.66z
                                M54.18,60.28c-0.86,1.4-2.11,2.29-3.71,2.64c-0.19,0-0.35,0.05-0.48,0.11h-1.5c-0.25-0.14-0.49-0.18-0.61-0.2
                                c-1.75-0.47-3.12-1.69-3.79-3.35c-0.67-1.66-0.53-3.49,0.39-5.02c1.04-1.73,2.86-2.76,4.86-2.76c1.02,0,2.03,0.28,2.91,0.81
                                c1.31,0.79,2.23,2.03,2.59,3.52C55.2,57.5,54.96,59.01,54.18,60.28z"/>
                            <path class="st0" d="M44.37,31.23c-7.34-2.27-12.26-9.39-11.96-17.17c0.02-0.56-0.11-0.69-0.66-0.69
                                c-4.21,0.02-8.42,0.01-12.64,0.01c-2.14,0-4.27,0.01-6.41,0.02c0.05,0.27,0.09,0.53,0.14,0.8c1.13,5.72,2.25,11.44,3.38,17.15
                                c0.4,2.01,0.82,4.02,1.23,6.03c11.59,0,23.17,0,34.76,0c1.96,0,3.71-0.54,5.14-1.98c1.83-1.84,2.03-4.21,2.14-6.61
                                c-0.23-0.01-0.36,0.17-0.52,0.28C54.44,32.09,49.54,32.83,44.37,31.23z M56.66,34.69c-1.15,1.15-2.56,1.69-4.45,1.69l-33.96,0
                                l-0.24-1.15c-0.28-1.36-0.56-2.72-0.83-4.08c-1.01-5.12-2.02-10.23-3.03-15.35l-0.28-1.41l0.76,0c1.49-0.01,2.98-0.01,4.47-0.01
                                l6.15,0c2.05,0,4.09,0,6.14-0.01c-0.16,8.15,5.01,15.45,12.67,17.81c1.86,0.57,3.71,0.87,5.51,0.87c3.03,0,5.98-0.82,8.78-2.44
                                C58.19,32.21,57.78,33.57,56.66,34.69z"/>
                            <path class="st0" d="M59.49,28.79c0,0,0.01,0,0.01,0l-0.01-0.01C59.49,28.79,59.49,28.79,59.49,28.79z"/>
                            <path class="st0" d="M49.42,0.04c-8.06-0.08-14.75,6.49-14.75,14.64c0,8.09,6.38,14.66,14.63,14.68C57.5,29.38,63.9,22.85,64,14.79
                                C64.08,6.75,57.53,0.12,49.42,0.04z M49.35,28.36h-0.04c-7.65-0.02-13.64-6.03-13.64-13.68c0-7.52,6.1-13.64,13.6-13.64l0.14,0
                                c3.66,0.04,7.09,1.49,9.66,4.1c2.57,2.6,3.97,6.03,3.93,9.65C62.91,22.39,56.91,28.36,49.35,28.36z"/>
                            <path class="st0" d="M54.47,12.39c-0.57-0.01-1.14-0.01-1.7-0.01c-0.37,0-0.74,0-1.11,0.01c0.01-0.59,0-1.16,0-1.74l0-1.06
                                c0-0.5-0.06-1.23-0.65-1.81c-0.61-0.6-1.23-0.73-1.65-0.73c-0.28,0-0.56,0.05-0.84,0.16c-0.95,0.36-1.5,1.18-1.51,2.23
                                c-0.01,0.98-0.02,1.96-0.01,2.94c-0.31-0.01-0.62-0.01-0.92-0.01l-1.81,0.01c-0.36,0-0.82,0-1.3,0.24
                                c-0.94,0.48-1.42,1.47-1.23,2.53c0.21,1.11,1.12,1.84,2.32,1.87c0.56,0.01,1.11,0.02,1.67,0.02c0.42,0,0.84,0,1.26-0.01
                                c0,0.22,0,1.65,0,1.65c0,0.38,0,0.76,0,1.15c0.03,1.47,0.94,2.47,2.27,2.51c0,0,0,0,0,0c1.43,0,2.36-1.01,2.37-2.51
                                c0.01-0.93,0.02-1.87,0-2.8c0.38,0,0.75,0.01,1.12,0.01c0.56,0,1.13,0,1.69-0.01c0.77-0.01,1.45-0.28,1.92-0.76
                                c0.41-0.43,0.63-1.01,0.62-1.62C56.95,13.33,55.92,12.4,54.47,12.39z M54.45,16.04c-1.1,0.01-2.21,0.02-3.31-0.01
                                c-0.38-0.01-0.5,0.1-0.5,0.49c0.02,1.1,0.02,2.21,0.01,3.31c-0.01,0.97-0.53,1.54-1.35,1.52c-0.79-0.02-1.28-0.59-1.3-1.52
                                c-0.01-0.54,0-1.08,0-1.62c0-0.58-0.02-1.17,0.01-1.75c0.01-0.33-0.1-0.42-0.43-0.42c-1.17,0.02-2.33,0.02-3.5,0
                                c-0.74-0.01-1.24-0.43-1.35-1.05c-0.12-0.63,0.15-1.18,0.69-1.46c0.27-0.14,0.56-0.14,0.85-0.14c1.06,0,2.12-0.02,3.18,0.01
                                c0.45,0.01,0.56-0.14,0.55-0.57c-0.03-1.12-0.02-2.25,0-3.37c0.01-0.61,0.27-1.08,0.87-1.31c0.55-0.21,1.02-0.06,1.42,0.34
                                c0.3,0.3,0.35,0.69,0.35,1.1c0,1.08,0.02,2.16-0.01,3.25c-0.01,0.44,0.13,0.57,0.57,0.56c1.08-0.03,2.16-0.02,3.25-0.01
                                c0.92,0.01,1.51,0.52,1.53,1.29C56.01,15.47,55.39,16.03,54.45,16.04z"/>
                            <path class="st0" d="M59.53,28.74c-0.01,0.01-0.01,0.02-0.01,0.03c0.02-0.01,0.03-0.02,0.05-0.02
                                C59.55,28.75,59.53,28.74,59.53,28.74z"/>
                            <path class="st0" d="M59.5,28.79c0-0.01,0.01-0.01,0.01-0.02c-0.01,0-0.01,0.01-0.02,0.01C59.49,28.78,59.5,28.79,59.5,28.79z"/>
                        </g>
                    </svg>
                </div>
                <div class="count">
                    <div class="_number">0</div>
                    <div class="_txt">Items</div>
                </div>
            </div>
            <div class="amount">
                <div class="icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                    <path class="st0" d="M53.75,21.39c-6.98,0.02-13.96,0-20.93,0.03c-0.77,0-0.91-0.22-0.9-0.88c0.04-3.2,0.01-6.4,0.02-9.6
                        c0-1.01-0.13-2.01-0.4-2.98c-1.37-4.93-6.6-8.35-12-7.86C14.01,0.61,9.55,4.88,9.2,9.96c-0.04,0.59,0.05,0.82,0.77,0.8
                        c2.02-0.05,4.04-0.03,6.06-0.01c0.53,0.01,0.71-0.09,0.82-0.63c0.38-1.9,2.15-3.11,4.1-2.92c1.96,0.19,3.38,1.7,3.39,3.65
                        c0.02,3.29-0.02,6.58,0.02,9.86c0.01,0.63-0.23,0.71-0.8,0.7c-2.02-0.03-4.04,0.01-6.06-0.02c-0.55-0.01-0.76,0.08-0.75,0.66
                        c0.05,1.92,0.05,3.85,0,5.78c-0.02,0.64,0.25,0.7,0.81,0.69c1.96-0.03,3.92,0.02,5.87-0.03c0.71-0.02,0.95,0.12,0.94,0.85
                        c-0.05,3.52-0.02,7.05-0.02,10.57c0,0,0,0,0.01,0c0,3.44-0.04,6.87,0.01,10.31c0.11,7.44,6.81,13.7,14.73,13.83
                        c8.12,0.13,14.78-5.47,15.53-13.05c0.42-4.19-2.15-7.58-6.43-8.15c-2.75-0.37-5.55-0.07-8.32-0.12c-0.48-0.01-0.36,0.31-0.36,0.55
                        c-0.01,1.98,0.02,3.97-0.02,5.95c-0.01,0.53,0.18,0.63,0.7,0.62c1.7-0.03,3.41-0.01,5.11-0.01c2.08,0,2.08,0,1.48,1.94
                        c-1.04,3.36-4.59,5.59-8.17,5.13c-3.85-0.5-6.66-3.41-6.68-7.03c-0.03-6.84,0-13.69-0.03-20.53c0-0.71,0.22-0.85,0.93-0.85
                        c6.98,0.03,13.96,0,20.93,0.03c0.76,0,0.92-0.2,0.91-0.88c-0.05-1.81-0.06-3.61,0-5.42C54.71,21.52,54.46,21.39,53.75,21.39z"/>
                    </svg>
                </div>
                <div class="_number">0</div>
            </div>
        </div>
        <div class="cart_slide" :class="{'active':cart_slide_action}">
            <div class="cart_data">
                <div class="_head">
                    <div class="_top">
                        <div class="_l">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                <g>
                                    <path class="st1" d="M54.46,13.39c-1.08-0.01-2.16-0.02-3.25,0.01c-0.43,0.01-0.58-0.12-0.57-0.56c0.03-1.08,0.01-2.16,0.01-3.25
                                        c0-0.41-0.05-0.8-0.35-1.1c-0.4-0.4-0.87-0.55-1.42-0.34c-0.6,0.23-0.86,0.7-0.87,1.31c-0.02,1.12-0.02,2.25,0,3.37
                                        c0.01,0.43-0.1,0.58-0.55,0.57c-1.06-0.03-2.12-0.01-3.18-0.01c-0.29,0-0.58,0-0.85,0.14c-0.54,0.27-0.81,0.83-0.69,1.46
                                        c0.12,0.62,0.61,1.04,1.35,1.05c1.16,0.02,2.33,0.02,3.5,0c0.32,0,0.44,0.09,0.43,0.42C47.98,17.03,48,17.62,48,18.2
                                        c0,0.54-0.01,1.08,0,1.62c0.02,0.93,0.51,1.51,1.3,1.52c0.82,0.02,1.34-0.55,1.35-1.52c0.01-1.1,0.02-2.21-0.01-3.31
                                        c-0.01-0.39,0.12-0.5,0.5-0.49c1.1,0.02,2.21,0.02,3.31,0.01c0.94-0.01,1.56-0.57,1.54-1.36C55.97,13.91,55.38,13.4,54.46,13.39z"
                                        />
                                    <path class="st0" d="M12.2,14.21c-0.05-0.26-0.09-0.53-0.14-0.8c-0.44-2.17-0.88-4.35-1.32-6.52c-0.23-1.17-0.63-1.5-1.82-1.5
                                        c-2.35,0-4.69,0.02-7.04-0.01C1.06,5.36,0.42,5.55,0,6.29c0,0.29,0,0.58,0,0.88c0.47,0.72,1.14,0.91,1.98,0.89
                                        c1.89-0.04,3.79,0,5.69-0.02c0.43-0.01,0.61,0.09,0.7,0.54c2.08,10.51,4.19,21.01,6.27,31.51c0.97,4.9,4.65,7.96,9.65,7.96
                                        c9.96,0,19.92,0,29.87,0c0.31,0,0.62,0.01,0.93-0.09c0.57-0.2,0.96-0.77,0.9-1.35c-0.06-0.61-0.51-1.1-1.11-1.18
                                        c-0.27-0.04-0.54-0.03-0.81-0.03c-9.9,0-19.79,0-29.69,0c-2.41,0-4.43-0.82-5.89-2.82c-1.13-1.55-1.3-3.38-1.62-5.18
                                        c-0.42-2.01-0.84-4.02-1.24-6.03C14.48,25.64,13.34,19.92,12.2,14.21z"/>
                                    <path class="st0" d="M20.53,51.06c-2.56,0.88-4.4,3.3-4.52,5.94c-0.15,3.21,1.88,5.97,5,6.82c0.16,0.04,0.39,0.01,0.48,0.22
                                        c0.75,0,1.5,0,2.25,0c0.1-0.22,0.33-0.15,0.49-0.19c4.9-1.29,6.69-6.96,3.43-10.84C25.95,50.97,23.07,50.18,20.53,51.06z
                                        M28.06,59.1c-0.59,1.88-2.08,3.25-4.08,3.78c-0.25,0.01-0.45,0.07-0.61,0.15h-1.49c-0.24-0.14-0.48-0.17-0.6-0.18
                                        c-2.68-0.73-4.4-3.07-4.27-5.81c0.1-2.23,1.68-4.3,3.84-5.04c0.58-0.2,1.18-0.3,1.79-0.3c1.64,0,3.23,0.73,4.25,1.95
                                        C28.23,55.24,28.66,57.22,28.06,59.1z"/>
                                    <path class="st0" d="M52.76,51.66c-3.16-1.9-7.25-0.87-9.14,2.29c-2.27,3.78-0.28,8.7,3.97,9.84c0.19,0.05,0.42,0.02,0.54,0.24
                                        c0.75,0,1.5,0,2.25,0c0.05-0.16,0.2-0.11,0.31-0.14c1.89-0.42,3.34-1.47,4.34-3.1C56.96,57.67,55.92,53.56,52.76,51.66z
                                        M54.18,60.28c-0.86,1.4-2.11,2.29-3.71,2.64c-0.19,0-0.35,0.05-0.48,0.11h-1.5c-0.25-0.14-0.49-0.18-0.61-0.2
                                        c-1.75-0.47-3.12-1.69-3.79-3.35c-0.67-1.66-0.53-3.49,0.39-5.02c1.04-1.73,2.86-2.76,4.86-2.76c1.02,0,2.03,0.28,2.91,0.81
                                        c1.31,0.79,2.23,2.03,2.59,3.52C55.2,57.5,54.96,59.01,54.18,60.28z"/>
                                    <path class="st0" d="M44.37,31.23c-7.34-2.27-12.26-9.39-11.96-17.17c0.02-0.56-0.11-0.69-0.66-0.69
                                        c-4.21,0.02-8.42,0.01-12.64,0.01c-2.14,0-4.27,0.01-6.41,0.02c0.05,0.27,0.09,0.53,0.14,0.8c1.13,5.72,2.25,11.44,3.38,17.15
                                        c0.4,2.01,0.82,4.02,1.23,6.03c11.59,0,23.17,0,34.76,0c1.96,0,3.71-0.54,5.14-1.98c1.83-1.84,2.03-4.21,2.14-6.61
                                        c-0.23-0.01-0.36,0.17-0.52,0.28C54.44,32.09,49.54,32.83,44.37,31.23z M56.66,34.69c-1.15,1.15-2.56,1.69-4.45,1.69l-33.96,0
                                        l-0.24-1.15c-0.28-1.36-0.56-2.72-0.83-4.08c-1.01-5.12-2.02-10.23-3.03-15.35l-0.28-1.41l0.76,0c1.49-0.01,2.98-0.01,4.47-0.01
                                        l6.15,0c2.05,0,4.09,0,6.14-0.01c-0.16,8.15,5.01,15.45,12.67,17.81c1.86,0.57,3.71,0.87,5.51,0.87c3.03,0,5.98-0.82,8.78-2.44
                                        C58.19,32.21,57.78,33.57,56.66,34.69z"/>
                                    <path class="st0" d="M59.49,28.79c0,0,0.01,0,0.01,0l-0.01-0.01C59.49,28.79,59.49,28.79,59.49,28.79z"/>
                                    <path class="st0" d="M49.42,0.04c-8.06-0.08-14.75,6.49-14.75,14.64c0,8.09,6.38,14.66,14.63,14.68C57.5,29.38,63.9,22.85,64,14.79
                                        C64.08,6.75,57.53,0.12,49.42,0.04z M49.35,28.36h-0.04c-7.65-0.02-13.64-6.03-13.64-13.68c0-7.52,6.1-13.64,13.6-13.64l0.14,0
                                        c3.66,0.04,7.09,1.49,9.66,4.1c2.57,2.6,3.97,6.03,3.93,9.65C62.91,22.39,56.91,28.36,49.35,28.36z"/>
                                    <path class="st0" d="M54.47,12.39c-0.57-0.01-1.14-0.01-1.7-0.01c-0.37,0-0.74,0-1.11,0.01c0.01-0.59,0-1.16,0-1.74l0-1.06
                                        c0-0.5-0.06-1.23-0.65-1.81c-0.61-0.6-1.23-0.73-1.65-0.73c-0.28,0-0.56,0.05-0.84,0.16c-0.95,0.36-1.5,1.18-1.51,2.23
                                        c-0.01,0.98-0.02,1.96-0.01,2.94c-0.31-0.01-0.62-0.01-0.92-0.01l-1.81,0.01c-0.36,0-0.82,0-1.3,0.24
                                        c-0.94,0.48-1.42,1.47-1.23,2.53c0.21,1.11,1.12,1.84,2.32,1.87c0.56,0.01,1.11,0.02,1.67,0.02c0.42,0,0.84,0,1.26-0.01
                                        c0,0.22,0,1.65,0,1.65c0,0.38,0,0.76,0,1.15c0.03,1.47,0.94,2.47,2.27,2.51c0,0,0,0,0,0c1.43,0,2.36-1.01,2.37-2.51
                                        c0.01-0.93,0.02-1.87,0-2.8c0.38,0,0.75,0.01,1.12,0.01c0.56,0,1.13,0,1.69-0.01c0.77-0.01,1.45-0.28,1.92-0.76
                                        c0.41-0.43,0.63-1.01,0.62-1.62C56.95,13.33,55.92,12.4,54.47,12.39z M54.45,16.04c-1.1,0.01-2.21,0.02-3.31-0.01
                                        c-0.38-0.01-0.5,0.1-0.5,0.49c0.02,1.1,0.02,2.21,0.01,3.31c-0.01,0.97-0.53,1.54-1.35,1.52c-0.79-0.02-1.28-0.59-1.3-1.52
                                        c-0.01-0.54,0-1.08,0-1.62c0-0.58-0.02-1.17,0.01-1.75c0.01-0.33-0.1-0.42-0.43-0.42c-1.17,0.02-2.33,0.02-3.5,0
                                        c-0.74-0.01-1.24-0.43-1.35-1.05c-0.12-0.63,0.15-1.18,0.69-1.46c0.27-0.14,0.56-0.14,0.85-0.14c1.06,0,2.12-0.02,3.18,0.01
                                        c0.45,0.01,0.56-0.14,0.55-0.57c-0.03-1.12-0.02-2.25,0-3.37c0.01-0.61,0.27-1.08,0.87-1.31c0.55-0.21,1.02-0.06,1.42,0.34
                                        c0.3,0.3,0.35,0.69,0.35,1.1c0,1.08,0.02,2.16-0.01,3.25c-0.01,0.44,0.13,0.57,0.57,0.56c1.08-0.03,2.16-0.02,3.25-0.01
                                        c0.92,0.01,1.51,0.52,1.53,1.29C56.01,15.47,55.39,16.03,54.45,16.04z"/>
                                    <path class="st0" d="M59.53,28.74c-0.01,0.01-0.01,0.02-0.01,0.03c0.02-0.01,0.03-0.02,0.05-0.02
                                        C59.55,28.75,59.53,28.74,59.53,28.74z"/>
                                    <path class="st0" d="M59.5,28.79c0-0.01,0.01-0.01,0.01-0.02c-0.01,0-0.01,0.01-0.02,0.01C59.49,28.78,59.5,28.79,59.5,28.79z"/>
                                </g>
                            </svg>
                            <div class="_txt">
                                <div class="_n">(0)</div>
                                <div class="_t">Items</div>
                            </div>
                        </div>
                        <div class="_r" @click="cart_slide_action =! cart_slide_action">Close</div>
                    </div>
                    <div class="_bottom">
                        <div class="_l">Shop ৳400 more and save ৳10 fee</div>
                        <div class="_r">৳100</div>
                    </div>
                </div>
                <div class="_body">
                    <div class="_empty">
                        <div class="_img">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                <g>
                                    <path class="st1" d="M54.46,13.39c-1.08-0.01-2.16-0.02-3.25,0.01c-0.43,0.01-0.58-0.12-0.57-0.56c0.03-1.08,0.01-2.16,0.01-3.25
                                        c0-0.41-0.05-0.8-0.35-1.1c-0.4-0.4-0.87-0.55-1.42-0.34c-0.6,0.23-0.86,0.7-0.87,1.31c-0.02,1.12-0.02,2.25,0,3.37
                                        c0.01,0.43-0.1,0.58-0.55,0.57c-1.06-0.03-2.12-0.01-3.18-0.01c-0.29,0-0.58,0-0.85,0.14c-0.54,0.27-0.81,0.83-0.69,1.46
                                        c0.12,0.62,0.61,1.04,1.35,1.05c1.16,0.02,2.33,0.02,3.5,0c0.32,0,0.44,0.09,0.43,0.42C47.98,17.03,48,17.62,48,18.2
                                        c0,0.54-0.01,1.08,0,1.62c0.02,0.93,0.51,1.51,1.3,1.52c0.82,0.02,1.34-0.55,1.35-1.52c0.01-1.1,0.02-2.21-0.01-3.31
                                        c-0.01-0.39,0.12-0.5,0.5-0.49c1.1,0.02,2.21,0.02,3.31,0.01c0.94-0.01,1.56-0.57,1.54-1.36C55.97,13.91,55.38,13.4,54.46,13.39z"
                                        />
                                    <path class="st0" d="M12.2,14.21c-0.05-0.26-0.09-0.53-0.14-0.8c-0.44-2.17-0.88-4.35-1.32-6.52c-0.23-1.17-0.63-1.5-1.82-1.5
                                        c-2.35,0-4.69,0.02-7.04-0.01C1.06,5.36,0.42,5.55,0,6.29c0,0.29,0,0.58,0,0.88c0.47,0.72,1.14,0.91,1.98,0.89
                                        c1.89-0.04,3.79,0,5.69-0.02c0.43-0.01,0.61,0.09,0.7,0.54c2.08,10.51,4.19,21.01,6.27,31.51c0.97,4.9,4.65,7.96,9.65,7.96
                                        c9.96,0,19.92,0,29.87,0c0.31,0,0.62,0.01,0.93-0.09c0.57-0.2,0.96-0.77,0.9-1.35c-0.06-0.61-0.51-1.1-1.11-1.18
                                        c-0.27-0.04-0.54-0.03-0.81-0.03c-9.9,0-19.79,0-29.69,0c-2.41,0-4.43-0.82-5.89-2.82c-1.13-1.55-1.3-3.38-1.62-5.18
                                        c-0.42-2.01-0.84-4.02-1.24-6.03C14.48,25.64,13.34,19.92,12.2,14.21z"/>
                                    <path class="st0" d="M20.53,51.06c-2.56,0.88-4.4,3.3-4.52,5.94c-0.15,3.21,1.88,5.97,5,6.82c0.16,0.04,0.39,0.01,0.48,0.22
                                        c0.75,0,1.5,0,2.25,0c0.1-0.22,0.33-0.15,0.49-0.19c4.9-1.29,6.69-6.96,3.43-10.84C25.95,50.97,23.07,50.18,20.53,51.06z
                                        M28.06,59.1c-0.59,1.88-2.08,3.25-4.08,3.78c-0.25,0.01-0.45,0.07-0.61,0.15h-1.49c-0.24-0.14-0.48-0.17-0.6-0.18
                                        c-2.68-0.73-4.4-3.07-4.27-5.81c0.1-2.23,1.68-4.3,3.84-5.04c0.58-0.2,1.18-0.3,1.79-0.3c1.64,0,3.23,0.73,4.25,1.95
                                        C28.23,55.24,28.66,57.22,28.06,59.1z"/>
                                    <path class="st0" d="M52.76,51.66c-3.16-1.9-7.25-0.87-9.14,2.29c-2.27,3.78-0.28,8.7,3.97,9.84c0.19,0.05,0.42,0.02,0.54,0.24
                                        c0.75,0,1.5,0,2.25,0c0.05-0.16,0.2-0.11,0.31-0.14c1.89-0.42,3.34-1.47,4.34-3.1C56.96,57.67,55.92,53.56,52.76,51.66z
                                        M54.18,60.28c-0.86,1.4-2.11,2.29-3.71,2.64c-0.19,0-0.35,0.05-0.48,0.11h-1.5c-0.25-0.14-0.49-0.18-0.61-0.2
                                        c-1.75-0.47-3.12-1.69-3.79-3.35c-0.67-1.66-0.53-3.49,0.39-5.02c1.04-1.73,2.86-2.76,4.86-2.76c1.02,0,2.03,0.28,2.91,0.81
                                        c1.31,0.79,2.23,2.03,2.59,3.52C55.2,57.5,54.96,59.01,54.18,60.28z"/>
                                    <path class="st0" d="M44.37,31.23c-7.34-2.27-12.26-9.39-11.96-17.17c0.02-0.56-0.11-0.69-0.66-0.69
                                        c-4.21,0.02-8.42,0.01-12.64,0.01c-2.14,0-4.27,0.01-6.41,0.02c0.05,0.27,0.09,0.53,0.14,0.8c1.13,5.72,2.25,11.44,3.38,17.15
                                        c0.4,2.01,0.82,4.02,1.23,6.03c11.59,0,23.17,0,34.76,0c1.96,0,3.71-0.54,5.14-1.98c1.83-1.84,2.03-4.21,2.14-6.61
                                        c-0.23-0.01-0.36,0.17-0.52,0.28C54.44,32.09,49.54,32.83,44.37,31.23z M56.66,34.69c-1.15,1.15-2.56,1.69-4.45,1.69l-33.96,0
                                        l-0.24-1.15c-0.28-1.36-0.56-2.72-0.83-4.08c-1.01-5.12-2.02-10.23-3.03-15.35l-0.28-1.41l0.76,0c1.49-0.01,2.98-0.01,4.47-0.01
                                        l6.15,0c2.05,0,4.09,0,6.14-0.01c-0.16,8.15,5.01,15.45,12.67,17.81c1.86,0.57,3.71,0.87,5.51,0.87c3.03,0,5.98-0.82,8.78-2.44
                                        C58.19,32.21,57.78,33.57,56.66,34.69z"/>
                                    <path class="st0" d="M59.49,28.79c0,0,0.01,0,0.01,0l-0.01-0.01C59.49,28.79,59.49,28.79,59.49,28.79z"/>
                                    <path class="st0" d="M49.42,0.04c-8.06-0.08-14.75,6.49-14.75,14.64c0,8.09,6.38,14.66,14.63,14.68C57.5,29.38,63.9,22.85,64,14.79
                                        C64.08,6.75,57.53,0.12,49.42,0.04z M49.35,28.36h-0.04c-7.65-0.02-13.64-6.03-13.64-13.68c0-7.52,6.1-13.64,13.6-13.64l0.14,0
                                        c3.66,0.04,7.09,1.49,9.66,4.1c2.57,2.6,3.97,6.03,3.93,9.65C62.91,22.39,56.91,28.36,49.35,28.36z"/>
                                    <path class="st0" d="M54.47,12.39c-0.57-0.01-1.14-0.01-1.7-0.01c-0.37,0-0.74,0-1.11,0.01c0.01-0.59,0-1.16,0-1.74l0-1.06
                                        c0-0.5-0.06-1.23-0.65-1.81c-0.61-0.6-1.23-0.73-1.65-0.73c-0.28,0-0.56,0.05-0.84,0.16c-0.95,0.36-1.5,1.18-1.51,2.23
                                        c-0.01,0.98-0.02,1.96-0.01,2.94c-0.31-0.01-0.62-0.01-0.92-0.01l-1.81,0.01c-0.36,0-0.82,0-1.3,0.24
                                        c-0.94,0.48-1.42,1.47-1.23,2.53c0.21,1.11,1.12,1.84,2.32,1.87c0.56,0.01,1.11,0.02,1.67,0.02c0.42,0,0.84,0,1.26-0.01
                                        c0,0.22,0,1.65,0,1.65c0,0.38,0,0.76,0,1.15c0.03,1.47,0.94,2.47,2.27,2.51c0,0,0,0,0,0c1.43,0,2.36-1.01,2.37-2.51
                                        c0.01-0.93,0.02-1.87,0-2.8c0.38,0,0.75,0.01,1.12,0.01c0.56,0,1.13,0,1.69-0.01c0.77-0.01,1.45-0.28,1.92-0.76
                                        c0.41-0.43,0.63-1.01,0.62-1.62C56.95,13.33,55.92,12.4,54.47,12.39z M54.45,16.04c-1.1,0.01-2.21,0.02-3.31-0.01
                                        c-0.38-0.01-0.5,0.1-0.5,0.49c0.02,1.1,0.02,2.21,0.01,3.31c-0.01,0.97-0.53,1.54-1.35,1.52c-0.79-0.02-1.28-0.59-1.3-1.52
                                        c-0.01-0.54,0-1.08,0-1.62c0-0.58-0.02-1.17,0.01-1.75c0.01-0.33-0.1-0.42-0.43-0.42c-1.17,0.02-2.33,0.02-3.5,0
                                        c-0.74-0.01-1.24-0.43-1.35-1.05c-0.12-0.63,0.15-1.18,0.69-1.46c0.27-0.14,0.56-0.14,0.85-0.14c1.06,0,2.12-0.02,3.18,0.01
                                        c0.45,0.01,0.56-0.14,0.55-0.57c-0.03-1.12-0.02-2.25,0-3.37c0.01-0.61,0.27-1.08,0.87-1.31c0.55-0.21,1.02-0.06,1.42,0.34
                                        c0.3,0.3,0.35,0.69,0.35,1.1c0,1.08,0.02,2.16-0.01,3.25c-0.01,0.44,0.13,0.57,0.57,0.56c1.08-0.03,2.16-0.02,3.25-0.01
                                        c0.92,0.01,1.51,0.52,1.53,1.29C56.01,15.47,55.39,16.03,54.45,16.04z"/>
                                    <path class="st0" d="M59.53,28.74c-0.01,0.01-0.01,0.02-0.01,0.03c0.02-0.01,0.03-0.02,0.05-0.02
                                        C59.55,28.75,59.53,28.74,59.53,28.74z"/>
                                    <path class="st0" d="M59.5,28.79c0-0.01,0.01-0.01,0.01-0.02c-0.01,0-0.01,0.01-0.02,0.01C59.49,28.78,59.5,28.79,59.5,28.79z"/>
                                </g>
                            </svg>
                        </div>
                        <div class="_txt">Your shopping bag is empty. Start shopping</div>
                    </div>
                    <div class="_not_empty">
                        <div class="_heading">
                            <div class="_icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                    <path class="st1" d="M59.92,54.51c-2.59-0.27-5.04,0.18-7.31,1.52c-0.44,0.26-0.65,0.61-0.64,1.14c0.03,2.55,2.1,4.64,4.61,4.65
                                        c3.37,0.02,5.63-3.5,4.26-6.59C60.66,54.79,60.38,54.55,59.92,54.51z"/>
                                    <path class="st1" d="M31.88,25.81c-0.18,0.85,0.02,1.22,0.83,1.53c1.49,0.57,2.98,1.14,4.47,1.7c1.89,0.71,2.61,1.79,2.41,3.81
                                        c-0.43,4.39-0.91,8.78-1.37,13.17c-0.13,1.25-0.25,2.5-0.38,3.77c1.39,0,2.69,0,4.03,0c0-7.77,0-15.5,0-23.3
                                        c-3.42-0.41-6.49-1.68-9.27-3.86C32.34,23.75,32.1,24.78,31.88,25.81z"/>
                                    <path class="st1" d="M21.77,61.44c2.3-0.1,4.45-2.17,4.28-4.16c-3,0-6,0-9,0C17.03,59.56,19.3,61.55,21.77,61.44z"/>
                                    <path class="st0" d="M16.06,56.28l-0.01,0.99c-0.01,1.26,0.51,2.49,1.48,3.47c1.08,1.09,2.55,1.71,4.05,1.71l0.22,0
                                        c1.49-0.06,3-0.8,4.04-1.98c0.87-0.99,1.29-2.15,1.2-3.27l-0.08-0.91H16.06z M21.77,61.44c-2.47,0.1-4.74-1.88-4.72-4.16
                                        c3,0,6,0,9,0C26.23,59.27,24.08,61.35,21.77,61.44z"/>
                                    <path class="st0" d="M63.99,53.99c-0.26-2.15-1.13-4-2.7-5.47c-1.74-1.63-3.81-2.37-6.24-2.3c0.04-0.26,0.06-0.46,0.09-0.66
                                        c0.4-2.56-0.4-4.67-2.43-6.2c-3.17-2.4-3.97-5.87-4.47-9.64c0.79,0,1.48,0.02,2.17,0c1.64-0.05,2.93-1.36,2.99-3.02
                                        c0.03-0.67,0.01-1.33,0.01-2c-0.01-2.15-1.26-3.42-3.4-3.43c-1.7-0.01-3.41-0.05-5.11,0.01c-1.29,0.05-2.51-0.18-3.71-0.63
                                        c-2.5-0.93-4.9-2.03-6.73-4.09c-0.19-0.22-0.34-0.57-0.35-0.86c-0.04-2.04-1.44-3.74-3.3-3.96c-2.06-0.25-3.84,1.03-4.28,3.15
                                        c-1.01,4.81-1.99,9.63-2.96,14.46c-0.38,1.88,0.86,3.59,2.73,3.82c1.58,0.19,3.17,0.36,4.75,0.54c1.06,0.12,1.37,0.5,1.3,1.56
                                        c-0.21,3.59-0.42,7.18-0.63,10.77c-0.05,0.88-0.11,1.75-0.17,2.66c-1.51-1.01-1.98-2.81-1.64-6c-0.04-0.01-0.08-0.04-0.12-0.04
                                        c-5.16,0-10.32-0.01-15.48,0.01c-0.19,0-0.47,0.22-0.57,0.41c-0.74,1.43-1.5,2.86-2.15,4.33c-0.65,1.48-1.06,3.05-1.18,4.68
                                        c-0.17,2.37,0.94,4.3,2.92,4.97c0.47,0.16,0.98,0.2,1.5,0.3c0.03,0.15,0.07,0.32,0.09,0.49c0.49,3.28,3.27,5.71,6.57,5.74
                                        c3.28,0.03,6.16-2.36,6.66-5.63c0.1-0.65,0.36-0.71,0.88-0.71c5.42,0.01,10.84,0.01,16.26,0c0.63,0,1.26-0.13,1.91-0.2
                                        c0.08,0.26,0.19,0.62,0.32,0.97c0.55,1.44,1.29,1.58,2.32,0.42c0.02-0.02,0.07-0.01,0.11-0.01c1.13,4.72,5.27,6.11,8.17,5.41
                                        c3.66-0.89,5.52-4.01,5-8.47C63.76,55.13,64.07,54.69,63.99,53.99z M62.79,54.42l-0.74,0.27l0.09,0.78c0.04,0.38,0.07,0.75,0.08,1.1
                                        c-0.06-0.6-0.21-1.19-0.46-1.76c-0.34-0.78-0.93-1.22-1.74-1.3c-0.51-0.05-1.02-0.08-1.51-0.08c-2.3,0-4.46,0.58-6.41,1.73
                                        c-0.75,0.44-1.15,1.14-1.14,2.01c0.04,3.1,2.55,5.63,5.61,5.64c1.93,0,3.69-0.96,4.74-2.57c0.29-0.44,0.51-0.91,0.66-1.4
                                        c-0.53,2.08-1.93,3.5-4.08,4.02c-0.39,0.1-0.81,0.14-1.24,0.14c-2.21,0-4.87-1.26-5.72-4.81l-0.19-0.81c0,0-0.84,0.04-0.85,0.04
                                        c-0.33,0-0.6,0.13-0.8,0.36c-0.17,0.2-0.3,0.3-0.39,0.36c-0.06-0.09-0.14-0.24-0.24-0.49c-0.09-0.23-0.16-0.46-0.22-0.66l-0.33-1.03
                                        l-0.81,0.09c-0.22,0.02-0.43,0.05-0.64,0.08c-0.41,0.06-0.8,0.11-1.16,0.11c-2.66,0.01-5.33,0.01-7.99,0.01
                                        c-2.76,0-5.51,0-8.27-0.01c0,0,0,0,0,0c-0.46,0-1.63,0-1.87,1.56c-0.41,2.72-2.82,4.78-5.61,4.78c-2.87-0.03-5.22-2.08-5.64-4.89
                                        c-0.02-0.14-0.05-0.27-0.08-0.4l-0.16-0.8l-0.66-0.13c-0.18-0.04-0.36-0.06-0.54-0.09c-0.32-0.05-0.6-0.1-0.84-0.18
                                        c-1.52-0.51-2.37-2.02-2.24-3.95c0.11-1.47,0.47-2.94,1.1-4.35c0.55-1.26,1.21-2.52,1.84-3.73l0.21-0.41
                                        c2.65-0.01,5.31-0.01,7.97-0.01l6.29,0C28.7,45.87,29,48.15,31,49.5l1.44,0.97l0.17-2.55c0.04-0.62,0.08-1.24,0.12-1.85
                                        c0,0,0.5-8.58,0.63-10.77c0.1-1.61-0.6-2.44-2.19-2.61l-0.89-0.1c-1.29-0.14-2.57-0.28-3.86-0.44c-0.63-0.08-1.17-0.39-1.52-0.87
                                        c-0.36-0.49-0.48-1.12-0.35-1.75c0.97-4.82,1.96-9.64,2.96-14.45c0.3-1.45,1.4-2.39,2.79-2.39c0.13,0,0.26,0.01,0.39,0.02
                                        c1.34,0.16,2.38,1.45,2.42,2.99c0.01,0.52,0.24,1.1,0.6,1.5c1.87,2.11,4.2,3.27,7.13,4.36c1.26,0.47,2.48,0.7,3.73,0.7
                                        c0.12,0,0.25,0,0.37-0.01c0.7-0.03,1.41-0.03,2.11-0.03c0.6,0,1.2,0.01,1.8,0.01L50,22.26c1.58,0.01,2.39,0.83,2.4,2.44l0,0.37
                                        c0,0.53,0.01,1.06-0.01,1.58c-0.05,1.14-0.92,2.03-2.03,2.06c-0.25,0.01-0.5,0.01-0.76,0.01l-1.38-0.01h-1.14l0.15,1.13
                                        c0.47,3.57,1.28,7.59,4.86,10.3c1.72,1.3,2.39,3.02,2.05,5.25c-0.02,0.14-0.25,1.84-0.25,1.84l1.44-0.03c2.08,0,3.81,0.67,5.27,2.04
                                        c1.37,1.28,2.15,2.87,2.39,4.86C63.02,54.31,63.02,54.33,62.79,54.42z M56.58,61.81c-2.52-0.01-4.58-2.1-4.61-4.65
                                        c-0.01-0.52,0.2-0.88,0.64-1.14c2.27-1.34,4.72-1.78,7.31-1.52c0.46,0.05,0.74,0.28,0.93,0.71C62.22,58.31,59.95,61.83,56.58,61.81z
                                        "/>
                                    <path class="st0" d="M33.22,21.84l-1.24-0.97L31.4,23.4c-0.18,0.75-0.34,1.47-0.5,2.19c-0.29,1.33,0.17,2.18,1.45,2.67
                                        c1.49,0.57,2.98,1.14,4.48,1.71c1.49,0.56,1.92,1.24,1.77,2.78c-0.3,3.02-0.62,6.03-0.94,9.04l-0.43,4.12
                                        c-0.09,0.83-0.17,1.65-0.25,2.49l-0.24,2.38h6.13V25.6l-0.88-0.11C38.73,25.1,35.86,23.91,33.22,21.84z M41.87,49.79
                                        c-1.34,0-2.64,0-4.03,0c0.13-1.27,0.25-2.52,0.38-3.77c0.46-4.39,0.94-8.78,1.37-13.17c0.2-2.02-0.53-3.1-2.41-3.81
                                        c-1.49-0.56-2.98-1.13-4.47-1.7c-0.81-0.31-1.02-0.68-0.83-1.53c0.22-1.03,0.47-2.06,0.73-3.18c2.78,2.18,5.85,3.46,9.27,3.86
                                        C41.87,34.29,41.87,42.02,41.87,49.79z"/>
                                    <g>
                                        <path class="st0" d="M30.37,36.03c-0.02-0.68-0.46-1.01-1.21-1.01c-5.46,0-10.92-0.01-16.39,0c-0.88,0-1.27,0.42-1.22,1.33
                                            c0.06,1.37,0.54,2.59,1.36,3.67c0.26,0.35,0.56,0.48,0.99,0.48c4.48-0.02,8.96-0.01,13.44-0.01c0.98,0,1.96,0,3.04,0
                                            C30.39,38.95,30.41,37.49,30.37,36.03z M29.39,39.16l0,0.34l-7.6,0c-2.63,0-5.25,0-7.88,0.01h0c-0.1,0-0.13-0.01-0.13-0.01
                                            c-0.78-1.03-1.16-2.05-1.22-3.19c-0.01-0.15,0-0.24,0.01-0.28c0,0,0.01,0,0.02,0c0.03,0,0.1-0.01,0.19-0.01l8.57,0l7.82,0
                                            c0.19,0,0.26,0.04,0.26,0.04C29.4,37.08,29.4,38.11,29.39,39.16z"/>
                                    </g>
                                    <path class="st0" d="M33.57,10.65c2.87,0,5.23-2.36,5.25-5.27c0.02-2.95-2.31-5.37-5.2-5.39c-2.9-0.02-5.28,2.36-5.29,5.3
                                        C28.32,8.24,30.68,10.65,33.57,10.65z M33.59,1c1.14,0.01,2.19,0.45,2.98,1.26c0.82,0.83,1.27,1.94,1.26,3.12
                                        c-0.02,2.36-1.92,4.28-4.25,4.28h-0.01c-1.11,0-2.17-0.44-2.96-1.25c-0.82-0.83-1.27-1.93-1.27-3.1C29.34,2.93,31.25,1,33.59,1z"/>
                                    <path class="st0" d="M17.5,16.94c-2.36,0-4.72,0-7.08,0c-2.4,0-4.81-0.01-7.21,0c-1.96,0.01-3.28,1.36-3.29,3.36
                                        c-0.01,3.8-0.01,7.59,0,11.39c0,2.03,1.33,3.37,3.34,3.37c4.76,0,9.53,0,14.29,0c2.04,0,3.35-1.34,3.35-3.42c0-3.75,0-7.5,0-11.25
                                        C20.9,18.27,19.59,16.95,17.5,16.94z M19.9,31.64c0,1.54-0.86,2.42-2.35,2.42l-6.75,0l-7.54,0c-1.46,0-2.34-0.89-2.34-2.37
                                        c-0.01-3.79-0.01-7.59,0-11.38c0-1.45,0.88-2.35,2.29-2.36c0.48,0,1.72,0,2.86,0v3.23h9.9v-3.23l1.53,0c1.55,0,2.4,0.87,2.41,2.44
                                        C19.9,24.14,19.9,27.89,19.9,31.64z"/>
                                </svg>
                            </div>
                            <div class="_txt">Express Delivery</div>
                        </div>
                        <div class="_items">
                            <div class="_item">
                                <div class="_qty">
                                    <div class="_plus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M64.01,45.08c-0.31-1.54-1.35-2.58-2.41-3.64c-8.72-8.67-17.42-17.36-26.12-26.05
                                            c-1.38-1.38-2.96-1.95-4.88-1.36c-0.76,0.23-1.37,0.68-1.92,1.23C19.61,24.3,10.55,33.33,1.49,42.38c-2.38,2.38-1.83,5.99,1.13,7.38
                                            c1.55,0.73,3.08,0.54,4.49-0.45c0.34-0.24,0.64-0.53,0.93-0.83c7.82-7.8,15.65-15.6,23.46-23.42c0.38-0.38,0.58-0.43,0.99-0.02
                                            c7.85,7.86,15.72,15.7,23.59,23.56c1.36,1.36,2.94,1.94,4.82,1.34c1.44-0.46,2.39-1.44,2.88-2.88c0.07-0.2,0.03-0.46,0.23-0.61
                                            C64.01,46,64.01,45.54,64.01,45.08z"/>
                                        </svg>
                                    </div>
                                    <div class="_number">1</div>
                                    <div class="_minus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M63.99,18.92c-0.31,1.54-1.35,2.58-2.41,3.64c-8.72,8.67-17.42,17.36-26.12,26.05
                                            c-1.38,1.38-2.96,1.95-4.88,1.36c-0.76-0.23-1.37-0.68-1.92-1.23C19.6,39.7,10.53,30.67,1.48,21.62c-2.38-2.38-1.83-5.99,1.13-7.38
                                            c1.55-0.73,3.08-0.54,4.49,0.45c0.34,0.24,0.64,0.53,0.93,0.83c7.82,7.8,15.65,15.6,23.46,23.42c0.38,0.38,0.58,0.43,0.99,0.02
                                            c7.85-7.86,15.72-15.7,23.59-23.56c1.36-1.36,2.94-1.94,4.82-1.34c1.44,0.46,2.39,1.44,2.88,2.88c0.07,0.2,0.03,0.46,0.23,0.61
                                            C63.99,18,63.99,18.46,63.99,18.92z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="_img">
                                    <img src="https://woodmart.xtemos.com/wp-content/uploads/2017/04/dock-black-walnut-ip6-grid-A4_7-430x490.jpg.webp" alt="Image">
                                </div>
                                <div class="_title">
                                    <router-link to="" class="_link">
                                        <div class="_t">Boro Alu (Big Diamond Potato) ± 50 gm</div>
                                        <div class="_p_q">৳ 35 / 1kg</div>
                                    </router-link>
                                </div>
                                <div class="_price">
                                    <div class="_new">৳ 35</div>
                                    <div class="_old">৳ 30</div>
                                </div>
                                <div class="_remove">
                                    X
                                </div>
                            </div>
                            <div class="_item">
                                <div class="_qty">
                                    <div class="_plus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M64.01,45.08c-0.31-1.54-1.35-2.58-2.41-3.64c-8.72-8.67-17.42-17.36-26.12-26.05
                                            c-1.38-1.38-2.96-1.95-4.88-1.36c-0.76,0.23-1.37,0.68-1.92,1.23C19.61,24.3,10.55,33.33,1.49,42.38c-2.38,2.38-1.83,5.99,1.13,7.38
                                            c1.55,0.73,3.08,0.54,4.49-0.45c0.34-0.24,0.64-0.53,0.93-0.83c7.82-7.8,15.65-15.6,23.46-23.42c0.38-0.38,0.58-0.43,0.99-0.02
                                            c7.85,7.86,15.72,15.7,23.59,23.56c1.36,1.36,2.94,1.94,4.82,1.34c1.44-0.46,2.39-1.44,2.88-2.88c0.07-0.2,0.03-0.46,0.23-0.61
                                            C64.01,46,64.01,45.54,64.01,45.08z"/>
                                        </svg>
                                    </div>
                                    <div class="_number">1</div>
                                    <div class="_minus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M63.99,18.92c-0.31,1.54-1.35,2.58-2.41,3.64c-8.72,8.67-17.42,17.36-26.12,26.05
                                            c-1.38,1.38-2.96,1.95-4.88,1.36c-0.76-0.23-1.37-0.68-1.92-1.23C19.6,39.7,10.53,30.67,1.48,21.62c-2.38-2.38-1.83-5.99,1.13-7.38
                                            c1.55-0.73,3.08-0.54,4.49,0.45c0.34,0.24,0.64,0.53,0.93,0.83c7.82,7.8,15.65,15.6,23.46,23.42c0.38,0.38,0.58,0.43,0.99,0.02
                                            c7.85-7.86,15.72-15.7,23.59-23.56c1.36-1.36,2.94-1.94,4.82-1.34c1.44,0.46,2.39,1.44,2.88,2.88c0.07,0.2,0.03,0.46,0.23,0.61
                                            C63.99,18,63.99,18.46,63.99,18.92z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="_img">
                                    <img src="https://woodmart.xtemos.com/wp-content/uploads/2017/04/dock-black-walnut-ip6-grid-A4_7-430x490.jpg.webp" alt="Image">
                                </div>
                                <div class="_title">
                                    <router-link to="" class="_link">
                                        <div class="_t">Boro Alu (Big Diamond Potato) ± 50 gm</div>
                                        <div class="_p_q">৳ 35 / 1kg</div>
                                    </router-link>
                                </div>
                                <div class="_price">
                                    <div class="_new">৳ 35</div>
                                    <div class="_old">৳ 30</div>
                                </div>
                                <div class="_remove">
                                    X
                                </div>
                            </div>
                            <div class="_item">
                                <div class="_qty">
                                    <div class="_plus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M64.01,45.08c-0.31-1.54-1.35-2.58-2.41-3.64c-8.72-8.67-17.42-17.36-26.12-26.05
                                            c-1.38-1.38-2.96-1.95-4.88-1.36c-0.76,0.23-1.37,0.68-1.92,1.23C19.61,24.3,10.55,33.33,1.49,42.38c-2.38,2.38-1.83,5.99,1.13,7.38
                                            c1.55,0.73,3.08,0.54,4.49-0.45c0.34-0.24,0.64-0.53,0.93-0.83c7.82-7.8,15.65-15.6,23.46-23.42c0.38-0.38,0.58-0.43,0.99-0.02
                                            c7.85,7.86,15.72,15.7,23.59,23.56c1.36,1.36,2.94,1.94,4.82,1.34c1.44-0.46,2.39-1.44,2.88-2.88c0.07-0.2,0.03-0.46,0.23-0.61
                                            C64.01,46,64.01,45.54,64.01,45.08z"/>
                                        </svg>
                                    </div>
                                    <div class="_number">1</div>
                                    <div class="_minus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M63.99,18.92c-0.31,1.54-1.35,2.58-2.41,3.64c-8.72,8.67-17.42,17.36-26.12,26.05
                                            c-1.38,1.38-2.96,1.95-4.88,1.36c-0.76-0.23-1.37-0.68-1.92-1.23C19.6,39.7,10.53,30.67,1.48,21.62c-2.38-2.38-1.83-5.99,1.13-7.38
                                            c1.55-0.73,3.08-0.54,4.49,0.45c0.34,0.24,0.64,0.53,0.93,0.83c7.82,7.8,15.65,15.6,23.46,23.42c0.38,0.38,0.58,0.43,0.99,0.02
                                            c7.85-7.86,15.72-15.7,23.59-23.56c1.36-1.36,2.94-1.94,4.82-1.34c1.44,0.46,2.39,1.44,2.88,2.88c0.07,0.2,0.03,0.46,0.23,0.61
                                            C63.99,18,63.99,18.46,63.99,18.92z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="_img">
                                    <img src="https://woodmart.xtemos.com/wp-content/uploads/2017/04/dock-black-walnut-ip6-grid-A4_7-430x490.jpg.webp" alt="Image">
                                </div>
                                <div class="_title">
                                    <router-link to="" class="_link">
                                        <div class="_t">Boro Alu (Big Diamond Potato) ± 50 gm</div>
                                        <div class="_p_q">৳ 35 / 1kg</div>
                                    </router-link>
                                </div>
                                <div class="_price">
                                    <div class="_new">৳ 35</div>
                                    <div class="_old">৳ 30</div>
                                </div>
                                <div class="_remove">
                                    X
                                </div>
                            </div>
                            <div class="_item">
                                <div class="_qty">
                                    <div class="_plus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M64.01,45.08c-0.31-1.54-1.35-2.58-2.41-3.64c-8.72-8.67-17.42-17.36-26.12-26.05
                                            c-1.38-1.38-2.96-1.95-4.88-1.36c-0.76,0.23-1.37,0.68-1.92,1.23C19.61,24.3,10.55,33.33,1.49,42.38c-2.38,2.38-1.83,5.99,1.13,7.38
                                            c1.55,0.73,3.08,0.54,4.49-0.45c0.34-0.24,0.64-0.53,0.93-0.83c7.82-7.8,15.65-15.6,23.46-23.42c0.38-0.38,0.58-0.43,0.99-0.02
                                            c7.85,7.86,15.72,15.7,23.59,23.56c1.36,1.36,2.94,1.94,4.82,1.34c1.44-0.46,2.39-1.44,2.88-2.88c0.07-0.2,0.03-0.46,0.23-0.61
                                            C64.01,46,64.01,45.54,64.01,45.08z"/>
                                        </svg>
                                    </div>
                                    <div class="_number">1</div>
                                    <div class="_minus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M63.99,18.92c-0.31,1.54-1.35,2.58-2.41,3.64c-8.72,8.67-17.42,17.36-26.12,26.05
                                            c-1.38,1.38-2.96,1.95-4.88,1.36c-0.76-0.23-1.37-0.68-1.92-1.23C19.6,39.7,10.53,30.67,1.48,21.62c-2.38-2.38-1.83-5.99,1.13-7.38
                                            c1.55-0.73,3.08-0.54,4.49,0.45c0.34,0.24,0.64,0.53,0.93,0.83c7.82,7.8,15.65,15.6,23.46,23.42c0.38,0.38,0.58,0.43,0.99,0.02
                                            c7.85-7.86,15.72-15.7,23.59-23.56c1.36-1.36,2.94-1.94,4.82-1.34c1.44,0.46,2.39,1.44,2.88,2.88c0.07,0.2,0.03,0.46,0.23,0.61
                                            C63.99,18,63.99,18.46,63.99,18.92z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="_img">
                                    <img src="https://woodmart.xtemos.com/wp-content/uploads/2017/04/dock-black-walnut-ip6-grid-A4_7-430x490.jpg.webp" alt="Image">
                                </div>
                                <div class="_title">
                                    <router-link to="" class="_link">
                                        <div class="_t">Boro Alu (Big Diamond Potato) ± 50 gm</div>
                                        <div class="_p_q">৳ 35 / 1kg</div>
                                    </router-link>
                                </div>
                                <div class="_price">
                                    <div class="_new">৳ 35</div>
                                    <div class="_old">৳ 30</div>
                                </div>
                                <div class="_remove">
                                    X
                                </div>
                            </div>
                            <div class="_item">
                                <div class="_qty">
                                    <div class="_plus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M64.01,45.08c-0.31-1.54-1.35-2.58-2.41-3.64c-8.72-8.67-17.42-17.36-26.12-26.05
                                            c-1.38-1.38-2.96-1.95-4.88-1.36c-0.76,0.23-1.37,0.68-1.92,1.23C19.61,24.3,10.55,33.33,1.49,42.38c-2.38,2.38-1.83,5.99,1.13,7.38
                                            c1.55,0.73,3.08,0.54,4.49-0.45c0.34-0.24,0.64-0.53,0.93-0.83c7.82-7.8,15.65-15.6,23.46-23.42c0.38-0.38,0.58-0.43,0.99-0.02
                                            c7.85,7.86,15.72,15.7,23.59,23.56c1.36,1.36,2.94,1.94,4.82,1.34c1.44-0.46,2.39-1.44,2.88-2.88c0.07-0.2,0.03-0.46,0.23-0.61
                                            C64.01,46,64.01,45.54,64.01,45.08z"/>
                                        </svg>
                                    </div>
                                    <div class="_number">1</div>
                                    <div class="_minus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M63.99,18.92c-0.31,1.54-1.35,2.58-2.41,3.64c-8.72,8.67-17.42,17.36-26.12,26.05
                                            c-1.38,1.38-2.96,1.95-4.88,1.36c-0.76-0.23-1.37-0.68-1.92-1.23C19.6,39.7,10.53,30.67,1.48,21.62c-2.38-2.38-1.83-5.99,1.13-7.38
                                            c1.55-0.73,3.08-0.54,4.49,0.45c0.34,0.24,0.64,0.53,0.93,0.83c7.82,7.8,15.65,15.6,23.46,23.42c0.38,0.38,0.58,0.43,0.99,0.02
                                            c7.85-7.86,15.72-15.7,23.59-23.56c1.36-1.36,2.94-1.94,4.82-1.34c1.44,0.46,2.39,1.44,2.88,2.88c0.07,0.2,0.03,0.46,0.23,0.61
                                            C63.99,18,63.99,18.46,63.99,18.92z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="_img">
                                    <img src="https://woodmart.xtemos.com/wp-content/uploads/2017/04/dock-black-walnut-ip6-grid-A4_7-430x490.jpg.webp" alt="Image">
                                </div>
                                <div class="_title">
                                    <router-link to="" class="_link">
                                        <div class="_t">Boro Alu (Big Diamond Potato) ± 50 gm</div>
                                        <div class="_p_q">৳ 35 / 1kg</div>
                                    </router-link>
                                </div>
                                <div class="_price">
                                    <div class="_new">৳ 35</div>
                                    <div class="_old">৳ 30</div>
                                </div>
                                <div class="_remove">
                                    X
                                </div>
                            </div>
                            <div class="_item">
                                <div class="_qty">
                                    <div class="_plus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M64.01,45.08c-0.31-1.54-1.35-2.58-2.41-3.64c-8.72-8.67-17.42-17.36-26.12-26.05
                                            c-1.38-1.38-2.96-1.95-4.88-1.36c-0.76,0.23-1.37,0.68-1.92,1.23C19.61,24.3,10.55,33.33,1.49,42.38c-2.38,2.38-1.83,5.99,1.13,7.38
                                            c1.55,0.73,3.08,0.54,4.49-0.45c0.34-0.24,0.64-0.53,0.93-0.83c7.82-7.8,15.65-15.6,23.46-23.42c0.38-0.38,0.58-0.43,0.99-0.02
                                            c7.85,7.86,15.72,15.7,23.59,23.56c1.36,1.36,2.94,1.94,4.82,1.34c1.44-0.46,2.39-1.44,2.88-2.88c0.07-0.2,0.03-0.46,0.23-0.61
                                            C64.01,46,64.01,45.54,64.01,45.08z"/>
                                        </svg>
                                    </div>
                                    <div class="_number">1</div>
                                    <div class="_minus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M63.99,18.92c-0.31,1.54-1.35,2.58-2.41,3.64c-8.72,8.67-17.42,17.36-26.12,26.05
                                            c-1.38,1.38-2.96,1.95-4.88,1.36c-0.76-0.23-1.37-0.68-1.92-1.23C19.6,39.7,10.53,30.67,1.48,21.62c-2.38-2.38-1.83-5.99,1.13-7.38
                                            c1.55-0.73,3.08-0.54,4.49,0.45c0.34,0.24,0.64,0.53,0.93,0.83c7.82,7.8,15.65,15.6,23.46,23.42c0.38,0.38,0.58,0.43,0.99,0.02
                                            c7.85-7.86,15.72-15.7,23.59-23.56c1.36-1.36,2.94-1.94,4.82-1.34c1.44,0.46,2.39,1.44,2.88,2.88c0.07,0.2,0.03,0.46,0.23,0.61
                                            C63.99,18,63.99,18.46,63.99,18.92z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="_img">
                                    <img src="https://woodmart.xtemos.com/wp-content/uploads/2017/04/dock-black-walnut-ip6-grid-A4_7-430x490.jpg.webp" alt="Image">
                                </div>
                                <div class="_title">
                                    <router-link to="" class="_link">
                                        <div class="_t">Boro Alu (Big Diamond Potato) ± 50 gm</div>
                                        <div class="_p_q">৳ 35 / 1kg</div>
                                    </router-link>
                                </div>
                                <div class="_price">
                                    <div class="_new">৳ 35</div>
                                    <div class="_old">৳ 30</div>
                                </div>
                                <div class="_remove">
                                    X
                                </div>
                            </div>
                            <div class="_item">
                                <div class="_qty">
                                    <div class="_plus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M64.01,45.08c-0.31-1.54-1.35-2.58-2.41-3.64c-8.72-8.67-17.42-17.36-26.12-26.05
                                            c-1.38-1.38-2.96-1.95-4.88-1.36c-0.76,0.23-1.37,0.68-1.92,1.23C19.61,24.3,10.55,33.33,1.49,42.38c-2.38,2.38-1.83,5.99,1.13,7.38
                                            c1.55,0.73,3.08,0.54,4.49-0.45c0.34-0.24,0.64-0.53,0.93-0.83c7.82-7.8,15.65-15.6,23.46-23.42c0.38-0.38,0.58-0.43,0.99-0.02
                                            c7.85,7.86,15.72,15.7,23.59,23.56c1.36,1.36,2.94,1.94,4.82,1.34c1.44-0.46,2.39-1.44,2.88-2.88c0.07-0.2,0.03-0.46,0.23-0.61
                                            C64.01,46,64.01,45.54,64.01,45.08z"/>
                                        </svg>
                                    </div>
                                    <div class="_number">1</div>
                                    <div class="_minus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M63.99,18.92c-0.31,1.54-1.35,2.58-2.41,3.64c-8.72,8.67-17.42,17.36-26.12,26.05
                                            c-1.38,1.38-2.96,1.95-4.88,1.36c-0.76-0.23-1.37-0.68-1.92-1.23C19.6,39.7,10.53,30.67,1.48,21.62c-2.38-2.38-1.83-5.99,1.13-7.38
                                            c1.55-0.73,3.08-0.54,4.49,0.45c0.34,0.24,0.64,0.53,0.93,0.83c7.82,7.8,15.65,15.6,23.46,23.42c0.38,0.38,0.58,0.43,0.99,0.02
                                            c7.85-7.86,15.72-15.7,23.59-23.56c1.36-1.36,2.94-1.94,4.82-1.34c1.44,0.46,2.39,1.44,2.88,2.88c0.07,0.2,0.03,0.46,0.23,0.61
                                            C63.99,18,63.99,18.46,63.99,18.92z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="_img">
                                    <img src="https://woodmart.xtemos.com/wp-content/uploads/2017/04/dock-black-walnut-ip6-grid-A4_7-430x490.jpg.webp" alt="Image">
                                </div>
                                <div class="_title">
                                    <router-link to="" class="_link">
                                        <div class="_t">Boro Alu (Big Diamond Potato) ± 50 gm</div>
                                        <div class="_p_q">৳ 35 / 1kg</div>
                                    </router-link>
                                </div>
                                <div class="_price">
                                    <div class="_new">৳ 35</div>
                                    <div class="_old">৳ 30</div>
                                </div>
                                <div class="_remove">
                                    X
                                </div>
                            </div>
                            <div class="_item">
                                <div class="_qty">
                                    <div class="_plus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M64.01,45.08c-0.31-1.54-1.35-2.58-2.41-3.64c-8.72-8.67-17.42-17.36-26.12-26.05
                                            c-1.38-1.38-2.96-1.95-4.88-1.36c-0.76,0.23-1.37,0.68-1.92,1.23C19.61,24.3,10.55,33.33,1.49,42.38c-2.38,2.38-1.83,5.99,1.13,7.38
                                            c1.55,0.73,3.08,0.54,4.49-0.45c0.34-0.24,0.64-0.53,0.93-0.83c7.82-7.8,15.65-15.6,23.46-23.42c0.38-0.38,0.58-0.43,0.99-0.02
                                            c7.85,7.86,15.72,15.7,23.59,23.56c1.36,1.36,2.94,1.94,4.82,1.34c1.44-0.46,2.39-1.44,2.88-2.88c0.07-0.2,0.03-0.46,0.23-0.61
                                            C64.01,46,64.01,45.54,64.01,45.08z"/>
                                        </svg>
                                    </div>
                                    <div class="_number">1</div>
                                    <div class="_minus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M63.99,18.92c-0.31,1.54-1.35,2.58-2.41,3.64c-8.72,8.67-17.42,17.36-26.12,26.05
                                            c-1.38,1.38-2.96,1.95-4.88,1.36c-0.76-0.23-1.37-0.68-1.92-1.23C19.6,39.7,10.53,30.67,1.48,21.62c-2.38-2.38-1.83-5.99,1.13-7.38
                                            c1.55-0.73,3.08-0.54,4.49,0.45c0.34,0.24,0.64,0.53,0.93,0.83c7.82,7.8,15.65,15.6,23.46,23.42c0.38,0.38,0.58,0.43,0.99,0.02
                                            c7.85-7.86,15.72-15.7,23.59-23.56c1.36-1.36,2.94-1.94,4.82-1.34c1.44,0.46,2.39,1.44,2.88,2.88c0.07,0.2,0.03,0.46,0.23,0.61
                                            C63.99,18,63.99,18.46,63.99,18.92z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="_img">
                                    <img src="https://woodmart.xtemos.com/wp-content/uploads/2017/04/dock-black-walnut-ip6-grid-A4_7-430x490.jpg.webp" alt="Image">
                                </div>
                                <div class="_title">
                                    <router-link to="" class="_link">
                                        <div class="_t">Boro Alu (Big Diamond Potato) ± 50 gm</div>
                                        <div class="_p_q">৳ 35 / 1kg</div>
                                    </router-link>
                                </div>
                                <div class="_price">
                                    <div class="_new">৳ 35</div>
                                    <div class="_old">৳ 30</div>
                                </div>
                                <div class="_remove">
                                    X
                                </div>
                            </div>
                            <div class="_item">
                                <div class="_qty">
                                    <div class="_plus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M64.01,45.08c-0.31-1.54-1.35-2.58-2.41-3.64c-8.72-8.67-17.42-17.36-26.12-26.05
                                            c-1.38-1.38-2.96-1.95-4.88-1.36c-0.76,0.23-1.37,0.68-1.92,1.23C19.61,24.3,10.55,33.33,1.49,42.38c-2.38,2.38-1.83,5.99,1.13,7.38
                                            c1.55,0.73,3.08,0.54,4.49-0.45c0.34-0.24,0.64-0.53,0.93-0.83c7.82-7.8,15.65-15.6,23.46-23.42c0.38-0.38,0.58-0.43,0.99-0.02
                                            c7.85,7.86,15.72,15.7,23.59,23.56c1.36,1.36,2.94,1.94,4.82,1.34c1.44-0.46,2.39-1.44,2.88-2.88c0.07-0.2,0.03-0.46,0.23-0.61
                                            C64.01,46,64.01,45.54,64.01,45.08z"/>
                                        </svg>
                                    </div>
                                    <div class="_number">1</div>
                                    <div class="_minus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M63.99,18.92c-0.31,1.54-1.35,2.58-2.41,3.64c-8.72,8.67-17.42,17.36-26.12,26.05
                                            c-1.38,1.38-2.96,1.95-4.88,1.36c-0.76-0.23-1.37-0.68-1.92-1.23C19.6,39.7,10.53,30.67,1.48,21.62c-2.38-2.38-1.83-5.99,1.13-7.38
                                            c1.55-0.73,3.08-0.54,4.49,0.45c0.34,0.24,0.64,0.53,0.93,0.83c7.82,7.8,15.65,15.6,23.46,23.42c0.38,0.38,0.58,0.43,0.99,0.02
                                            c7.85-7.86,15.72-15.7,23.59-23.56c1.36-1.36,2.94-1.94,4.82-1.34c1.44,0.46,2.39,1.44,2.88,2.88c0.07,0.2,0.03,0.46,0.23,0.61
                                            C63.99,18,63.99,18.46,63.99,18.92z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="_img">
                                    <img src="https://woodmart.xtemos.com/wp-content/uploads/2017/04/dock-black-walnut-ip6-grid-A4_7-430x490.jpg.webp" alt="Image">
                                </div>
                                <div class="_title">
                                    <router-link to="" class="_link">
                                        <div class="_t">Boro Alu (Big Diamond Potato) ± 50 gm</div>
                                        <div class="_p_q">৳ 35 / 1kg</div>
                                    </router-link>
                                </div>
                                <div class="_price">
                                    <div class="_new">৳ 35</div>
                                    <div class="_old">৳ 30</div>
                                </div>
                                <div class="_remove">
                                    X
                                </div>
                            </div>
                            <div class="_item">
                                <div class="_qty">
                                    <div class="_plus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M64.01,45.08c-0.31-1.54-1.35-2.58-2.41-3.64c-8.72-8.67-17.42-17.36-26.12-26.05
                                            c-1.38-1.38-2.96-1.95-4.88-1.36c-0.76,0.23-1.37,0.68-1.92,1.23C19.61,24.3,10.55,33.33,1.49,42.38c-2.38,2.38-1.83,5.99,1.13,7.38
                                            c1.55,0.73,3.08,0.54,4.49-0.45c0.34-0.24,0.64-0.53,0.93-0.83c7.82-7.8,15.65-15.6,23.46-23.42c0.38-0.38,0.58-0.43,0.99-0.02
                                            c7.85,7.86,15.72,15.7,23.59,23.56c1.36,1.36,2.94,1.94,4.82,1.34c1.44-0.46,2.39-1.44,2.88-2.88c0.07-0.2,0.03-0.46,0.23-0.61
                                            C64.01,46,64.01,45.54,64.01,45.08z"/>
                                        </svg>
                                    </div>
                                    <div class="_number">1</div>
                                    <div class="_minus">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <path class="st0" d="M63.99,18.92c-0.31,1.54-1.35,2.58-2.41,3.64c-8.72,8.67-17.42,17.36-26.12,26.05
                                            c-1.38,1.38-2.96,1.95-4.88,1.36c-0.76-0.23-1.37-0.68-1.92-1.23C19.6,39.7,10.53,30.67,1.48,21.62c-2.38-2.38-1.83-5.99,1.13-7.38
                                            c1.55-0.73,3.08-0.54,4.49,0.45c0.34,0.24,0.64,0.53,0.93,0.83c7.82,7.8,15.65,15.6,23.46,23.42c0.38,0.38,0.58,0.43,0.99,0.02
                                            c7.85-7.86,15.72-15.7,23.59-23.56c1.36-1.36,2.94-1.94,4.82-1.34c1.44,0.46,2.39,1.44,2.88,2.88c0.07,0.2,0.03,0.46,0.23,0.61
                                            C63.99,18,63.99,18.46,63.99,18.92z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="_img">
                                    <img src="https://woodmart.xtemos.com/wp-content/uploads/2017/04/dock-black-walnut-ip6-grid-A4_7-430x490.jpg.webp" alt="Image">
                                </div>
                                <div class="_title">
                                    <router-link to="" class="_link">
                                        <div class="_t">Boro Alu (Big Diamond Potato) ± 50 gm</div>
                                        <div class="_p_q">৳ 35 / 1kg</div>
                                    </router-link>
                                </div>
                                <div class="_price">
                                    <div class="_new">৳ 35</div>
                                    <div class="_old">৳ 30</div>
                                </div>
                                <div class="_remove">
                                    X
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_foot">
                    <div class="_l">Place Order</div>
                    <div class="_r">৳100</div>
                </div>
            </div>
            <div class="slide_close_btn" :class="{'active':cart_slide_action}" @click="cart_slide_action =! cart_slide_action">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                <path class="st0" d="M18.91,0c1.54,0.31,2.58,1.35,3.64,2.41c8.67,8.72,17.36,17.42,26.05,26.12c1.38,1.38,1.95,2.96,1.36,4.88
                    c-0.23,0.76-0.68,1.37-1.23,1.92c-9.04,9.06-18.07,18.13-27.12,27.18c-2.38,2.38-5.99,1.83-7.38-1.13
                    c-0.73-1.55-0.54-3.08,0.45-4.49c0.24-0.34,0.53-0.64,0.83-0.93c7.8-7.82,15.6-15.65,23.42-23.46c0.38-0.38,0.43-0.58,0.02-0.99
                    c-7.86-7.85-15.7-15.72-23.56-23.59c-1.36-1.36-1.94-2.94-1.34-4.82c0.46-1.44,1.44-2.39,2.88-2.88c0.2-0.07,0.46-0.03,0.61-0.23
                    C18,0,18.46,0,18.91,0z"/>
                </svg>
            </div>
        </div>
    </div>
</template>
<script>
import { ref } from 'vue'

export default {
    setup() {
        const cart_slide_action = ref(false);

        return {
            cart_slide_action,
        }
    },
}
</script>
<style lang="scss" scoped>
.cart_sidebar {
    .short_icon {
        position: fixed;
        right: 0;
        top: 50%;
        width: 70px;
        height: 80px;
        transform: translateY(-50%);
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
        cursor: pointer;
        z-index: 1001;
        &:hover .items {
            background-color: #222;
        }
        &:hover .amount {
            font-weight: 600;
        }
        .items {
            background-color: #555555;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            .icon {
                svg {
                    width: 20px;
                    fill: #f19024;
                }
            }
            .count {
                display: flex;
                justify-content: center;
                column-gap: 4px;
                font-size: 14px;
                color: #fff;
                text-transform: uppercase;
                ._number {
                    color: #f19024;
                }
            }
        }
        .amount {
            height: 25px;
            background-color: #f5fceb;
            color: #444;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 4px;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            svg {
                width: 12px;
                fill: #444;
            }
            ._number {
                color: #f19024;
            }
        }
    }
    .cart_slide {
        position: fixed;
        width: 0;  
        height: 100%;
        top: 0;
        right: 0;
        background-color: #fff;
        box-shadow: -1px 2px 22px rgba( 0, 0, 0, 0.15 );
        z-index: 1002;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        &.active {
            width: 320px;
        }
        .cart_data {
            width: 100%;
            height: 100%;
            right: 0;
            ._head {
                height: 70px;
                width: 100%;
                ._top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #e5e5e5;
                    height: 40px;
                    padding: 0 16px;
                    ._l {
                        display: flex;
                        align-items: center;
                        column-gap: 12px;
                        svg {
                            width: 20px;
                            fill: #f19024;
                        }
                        ._txt {
                            display: flex;
                            column-gap: 4px;
                            color: #444;
                            text-transform: uppercase;
                        }
                    }
                    ._r {
                        font-size: 14px;
                        color: #444;
                        border: 1px solid #8f8f8f;
                        padding: 4px 12px;
                        cursor: pointer;
                        transition: all 0.3s ease 0s;
                        -webkit-transition: all 0.3s ease 0s;
                        &:hover {
                            background-color: #a0a0a0;
                            color: #fff;
                        }
                    }
                }
                ._bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #a0a0a0;
                    height: 30px;
                    padding: 0 16px;
                    ._l {
                        font-size: 13px;
                        color: #fff;
                    }
                    ._r {
                        font-size: 14px;
                        color: #fff;
                    }
                }
            }
            ._body {
                width: 100%;
                height: calc(100% - 110px);
                top: 70px;
                background-color: #fffcfc;
                overflow-y: auto;
                ._empty {
                    padding: 40px 16px;
                    text-align: center;
                    // display: none;
                    ._img {
                        svg {
                            width: 150px;
                            fill: #f19024;
                        }
                    }
                    ._txt {
                        font-size: 14px;
                        color: #777;
                        padding-top: 30px;
                    }
                }
                ._not_empty {
                    display: none;
                    ._heading {
                        display: flex;
                        align-items: center;
                        column-gap: 8px;
                        background-color: #f2f2f2;
                        padding: 4px 16px;
                        ._icon {
                            svg {
                                width: 20px;
                                fill: #f19024;
                            }
                        }
                        ._txt {
                            color: #444;
                            font-size: 14px;
                        }
                    }
                    ._items {
                        display: flex;
                        flex-direction: column;
                        column-gap: 8px;
                        padding-bottom: 50px;
                        ._item {
                            display: flex;
                            align-items: center;
                            column-gap: 8px;
                            padding: 8px 16px;
                            border-bottom: 1px solid #ddd;
                            ._qty {
                                width: 20px;
                                display: flex;
                                flex-direction: column;
                                ._plus {
                                    svg {
                                        width: 8px;
                                        fill: #444;
                                    }
                                }
                                ._number {
                                    color: #777;
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                                ._minus {
                                    svg {
                                        width: 8px;
                                        fill: #444;
                                    }
                                }
                            }
                            ._img {
                                width: 50px;
                                img {
                                    max-width: 40px;
                                }
                            }
                            ._title {
                                width: 174px;
                                ._link {
                                    color: #777;
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 8px;
                                    text-decoration: none;
                                    cursor: pointer;
                                    transition: all 0.3s ease 0s;
                                    -webkit-transition: all 0.3s ease 0s;
                                    ._t {
                                        font-size: 12px;
                                        &:hover {
                                            color: #f19024;
                                        }
                                    }
                                    ._p_q {
                                        font-size: 11px;
                                    }
                                }
                            }
                            ._price {
                                width: 40px;
                                display: flex;
                                row-gap: 4px;
                                flex-direction: column;
                                ._new {
                                    color: #444;
                                    font-size: 14px;
                                    text-align: center;
                                }
                                ._old {
                                    color: #777;
                                    font-size: 12px;
                                    text-align: center;
                                    position: relative;
                                    &::before {
                                        position: absolute;
                                        content: "";
                                        top: 50%;
                                        left: 0;
                                        width: 100%;
                                        height: 1px;
                                        transform: rotate(-13deg);
                                        background-color: #cb4117;
                                    }
                                }
                            }
                            ._remove {
                                width: 20px;
                                color: #777;
                                cursor: pointer;
                                transition: all 0.3s ease 0s;
                                -webkit-transition: all 0.3s ease 0s;
                                &:hover {
                                    color: #cb4117;
                                }
                            }
                        }
                    }
                }
            }
            ._foot {
                height: 40px;
                width: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                ._l {
                    width: 200px;
                    height: 100%;
                    background-color: #f19024;
                    font-weight: 600;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                ._r {
                    width: 120px;
                    height: 100%;
                    background-color: #5492bc;
                    font-weight: 600;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .slide_close_btn {
            position: absolute;
            left: 0;
            top: 50%;
            width: 30px;
            height: 50px;
            transform: translateY(-50%);
            background-color: #555;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            cursor: pointer;
            z-index: 1002;
            svg {
                width: 20px;
                fill: #fff;
            }
            &.active {
                left: -30px;
            }
            &:hover {
                background-color: #222;
            }
        }
    }
}
</style>