<template>
    <div class="header_main">
        <div class="wrap">
            <div class="left">
                <div class="toggle" @click="AsideToggleClick">
                    <span class="_line"></span>
                </div>
            </div>
            <div class="middle">
                <div class="logo">
                    <router-link to="" class="link">
                        <img class="img" src="../../assets/soft.png" alt="Logo">
                    </router-link>
                </div>
            </div>
            <div class="right">
                <div class="_left">
                    <div class="logo">
                        <img class="img" src="../../assets/soft.png" alt="Logo">
                    </div>
                </div>
                <div class="_middle">
                    <div class="search">
                        <form>
                            <input type="text" placeholder="Search Product...">
                            <button type="button">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                    <g>
                                        <path class="st0" d="M62.52,55.58c-3.49-3.57-7.02-7.09-10.55-10.62c-0.91-0.91-2.01-1.44-3.32-1.46
                                            c-0.29-0.01-0.46-0.17-0.64-0.34c-1.29-1.3-2.6-2.58-3.87-3.91c-0.41-0.43-0.6-0.5-1,0.03c-1.11,1.49-2.42,2.81-3.89,3.95
                                            c-0.42,0.33-0.32,0.48-0.01,0.79c1.34,1.31,2.64,2.66,3.97,3.98c0.22,0.22,0.34,0.43,0.36,0.76c0.08,1.22,0.55,2.29,1.42,3.16
                                            c3.59,3.59,7.17,7.18,10.76,10.77c0.91,0.91,2.04,1.29,3.21,1.33c2.03,0,3.83-1.14,4.58-2.94C64.39,59.03,64.05,57.14,62.52,55.58z
                                            "/>
                                        <path class="st0" d="M46,23.12C46,10.35,35.7,0,23,0C10.3,0,0,10.35,0,23.12s10.3,23.11,23,23.11C35.7,46.23,46,35.88,46,23.12z
                                            M22.96,41.46C12.84,41.44,4.67,33.2,4.7,23.05C4.74,12.85,12.89,4.7,23.03,4.71c10.13,0.01,18.28,8.23,18.26,18.4
                                            C41.28,33.28,33.08,41.49,22.96,41.46z"/>
                                    </g>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="_right">
                    <div class="user_options">
                        <ul class="items">
                            <li class="item search">
                                <router-link to="" class="link" @click="search_options_show =! search_options_show">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                        <g>
                                            <path class="st0" d="M62.52,55.58c-3.49-3.57-7.02-7.09-10.55-10.62c-0.91-0.91-2.01-1.44-3.32-1.46
                                                c-0.29-0.01-0.46-0.17-0.64-0.34c-1.29-1.3-2.6-2.58-3.87-3.91c-0.41-0.43-0.6-0.5-1,0.03c-1.11,1.49-2.42,2.81-3.89,3.95
                                                c-0.42,0.33-0.32,0.48-0.01,0.79c1.34,1.31,2.64,2.66,3.97,3.98c0.22,0.22,0.34,0.43,0.36,0.76c0.08,1.22,0.55,2.29,1.42,3.16
                                                c3.59,3.59,7.17,7.18,10.76,10.77c0.91,0.91,2.04,1.29,3.21,1.33c2.03,0,3.83-1.14,4.58-2.94C64.39,59.03,64.05,57.14,62.52,55.58z
                                                "/>
                                            <path class="st0" d="M46,23.12C46,10.35,35.7,0,23,0C10.3,0,0,10.35,0,23.12s10.3,23.11,23,23.11C35.7,46.23,46,35.88,46,23.12z
                                                M22.96,41.46C12.84,41.44,4.67,33.2,4.7,23.05C4.74,12.85,12.89,4.7,23.03,4.71c10.13,0.01,18.28,8.23,18.26,18.4
                                                C41.28,33.28,33.08,41.49,22.96,41.46z"/>
                                        </g>
                                    </svg>
                                </router-link>
                                <div class="mobile_search" :class="{'show':search_options_show}">
                                    <div class="_srh">
                                        <form>
                                            <input type="text" placeholder="Search Product...">
                                            <button type="button">
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                                    <g>
                                                        <path class="st0" d="M62.52,55.58c-3.49-3.57-7.02-7.09-10.55-10.62c-0.91-0.91-2.01-1.44-3.32-1.46
                                                            c-0.29-0.01-0.46-0.17-0.64-0.34c-1.29-1.3-2.6-2.58-3.87-3.91c-0.41-0.43-0.6-0.5-1,0.03c-1.11,1.49-2.42,2.81-3.89,3.95
                                                            c-0.42,0.33-0.32,0.48-0.01,0.79c1.34,1.31,2.64,2.66,3.97,3.98c0.22,0.22,0.34,0.43,0.36,0.76c0.08,1.22,0.55,2.29,1.42,3.16
                                                            c3.59,3.59,7.17,7.18,10.76,10.77c0.91,0.91,2.04,1.29,3.21,1.33c2.03,0,3.83-1.14,4.58-2.94C64.39,59.03,64.05,57.14,62.52,55.58z
                                                            "/>
                                                        <path class="st0" d="M46,23.12C46,10.35,35.7,0,23,0C10.3,0,0,10.35,0,23.12s10.3,23.11,23,23.11C35.7,46.23,46,35.88,46,23.12z
                                                            M22.96,41.46C12.84,41.44,4.67,33.2,4.7,23.05C4.74,12.85,12.89,4.7,23.03,4.71c10.13,0.01,18.28,8.23,18.26,18.4
                                                            C41.28,33.28,33.08,41.49,22.96,41.46z"/>
                                                    </g>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li class="item balance">
                                <router-link to="" class="link">
                                    <img src="@/assets/icons/balance.svg" alt="Balance">
                                    <div class="join">(200)</div>
                                </router-link>
                            </li>
                            <li class="item cart">
                                <router-link to="/cart" class="link">
                                    <img src="@/assets/icons/cart.svg" alt="Cart">
                                    <div class="join">(0)</div>
                                </router-link>
                            </li>
                            <li class="item activities">
                                <router-link to="" class="link" @click="user_options_show =! user_options_show">
                                    <img class="img users" src="../../assets/sc.png" alt="Users">
                                </router-link>
                                <div class="user_activities" :class="{'show':user_options_show}">
                                    <h4>Account</h4>
                                    <ul class="_items">
                                        <li class="_item">
                                            <router-link to="" class="_link">
                                                <div class="_icon"></div>
                                                <div class="_txt">Messages</div>
                                            </router-link>
                                        </li>
                                        <li class="_item">
                                            <router-link to="" class="_link">
                                                <div class="_icon"></div>
                                                <div class="_txt">Comments</div>
                                            </router-link>
                                        </li>
                                    </ul>

                                    <h4>Settings</h4>
                                    <ul class="_items">
                                        <li class="_item">
                                            <router-link to="" class="_link">
                                                <div class="_icon"></div>
                                                <div class="_txt">Profile</div>
                                            </router-link>
                                        </li>
                                        <li class="_item">
                                            <router-link to="" class="_link">
                                                <div class="_icon"></div>
                                                <div class="_txt">Settings</div>
                                            </router-link>
                                        </li>
                                        <li class="_item">
                                            <router-link to="" class="_link">
                                                <div class="_icon"></div>
                                                <div class="_txt">Payments</div>
                                            </router-link>
                                        </li>
                                        <li class="_item">
                                            <router-link to="" class="_link">
                                                <div class="_icon"></div>
                                                <div class="_txt">Projects</div>
                                            </router-link>
                                        </li>
                                    </ul>
                                    <ul class="_items">
                                        <li class="_item">
                                            <router-link to="" class="_link">
                                                <div class="_icon"></div>
                                                <div class="_txt">Lock Account</div>
                                            </router-link>
                                        </li>
                                        <li class="_item">
                                            <router-link to="" class="_link">
                                                <div class="_icon"></div>
                                                <div class="_txt">Logout</div>
                                            </router-link>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item login">
                                <router-link to="/login" class="link">
                                    <base-button type="button" small="btn_css">Login</base-button>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import SetupStore from "../../store/SetupStore.js"
export default {
    setup() {
        const { AsideToggleClick } = SetupStore();

        return {
            AsideToggleClick
        }
    },
    data(){
        return {
            user_options_show:false,
            search_options_show:false,
        }
    },
}
</script>
<style lang="scss" scoped>
.btn_css {
    padding: 10px 20px;
    font-size: 13px;
}
.header_main {
    background: #f2f2f2;
    height: 60px;
    display: flex;
    align-items: center;
    .wrap {
        display: flex;
        column-gap: 30px;
        padding: 0 16px;
        width: 100%;
        .left {
            display: flex;
            align-items: center;
            .toggle {
                padding: 9px 0;
                cursor: pointer;
                ._line {
                    width: 20px;
                    height: 2px;
                    background-color: #444;
                    background-image: linear-gradient(310deg,#7928ca,#ff0080);
                    display: block;
                    cursor: pointer;
                    position: relative;
                    transition: all 0.3s ease 0s;
                    -webkit-transition: all 0.3s ease 0s;
                    &::before,
                    &::after {
                        position: absolute;
                        content: '';
                        width: 20px;
                        height: 2px;
                        background-color: #444;
                        background-image: linear-gradient(310deg,#7928ca,#ff0080);
                        display: block;
                    }
                    &::before {
                        top: -7px;
                    }
                    &::after {
                        bottom: -7px;
                    }
                    &:hover,
                    &:hover::before,
                    &:hover::after {
                        color: #f19024;
                    }
                }
            }
        }
        .middle {
            display: none;
        }
        .right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 30px;
            width: 100%;
            ._left {
                width: 20%;
                display: flex;
                align-items: center;
                .logo {
                    max-width: 120px;
                    cursor: pointer;
                    .img {
                        max-width: 100%;
                    }
                }
            }
            ._middle {
                width: 60%;
                .search {
                    display: flex;
                    justify-content: center;
                    form {
                        display: flex;
                        border: 1px solid #ddd;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
                        width: -webkit-fit-content;
                        width: -moz-fit-content;
                        width: fit-content;
                        height: 40px;
                        border-radius: 8px;
                        overflow: hidden;
                        input {
                            width: 450px;
                            border: none;
                            outline: none;
                            padding: 4px 12px;
                            font-size: 16px;
                            color: #444;
                            letter-spacing: 1px;
                        }
                        button {
                            border: none;
                            outline: none;
                            width: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            background: #f2f2f2;
                            svg {
                                width: 20px;
                                fill: #f19024;
                            }
                        }
                    }
                }
            }
            ._right {
                width: 20%;
                .user_options {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    .items {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        column-gap: 20px;
                        .item {
                            position: relative;
                            &.search {
                                display: block;
                                position: relative;
                                .mobile_search {
                                    position: absolute;
                                    top: 30px;
                                    right: -35px;
                                    width: 300px;
                                    background-color: #fff;
                                    padding: 20px;
                                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
                                    border-radius: 4px;
                                    margin-top: 30px;
                                    z-index: 0;
                                    visibility: hidden;
                                    overflow: hidden;
                                    opacity: 0;
                                    transition: all 0.3s ease 0s;
                                    -webkit-transition: all 0.3s ease 0s;
                                    &.show {
                                        visibility: visible;
                                        opacity: 998;
                                        margin-top: 0;
                                        overflow: hidden;
                                        z-index: 1;
                                    }
                                    ._srh {
                                        display: flex;
                                        justify-content: center;
                                        form {
                                            display: flex;
                                            border: 1px solid #ddd;
                                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
                                            width: -webkit-fit-content;
                                            width: -moz-fit-content;
                                            width: fit-content;
                                            height: 40px;
                                            border-radius: 8px;
                                            overflow: hidden;
                                            input {
                                                width: 250px;
                                                border: none;
                                                outline: none;
                                                padding: 4px 12px;
                                                font-size: 16px;
                                                color: #444;
                                                letter-spacing: 1px;
                                            }
                                            button {
                                                border: none;
                                                outline: none;
                                                width: 40px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                cursor: pointer;
                                                background: #f2f2f2;
                                                svg {
                                                    width: 20px;
                                                    fill: #f19024;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.balance, &.cart {
                                display: inline-block;
                                .link {
                                    display: flex;
                                    column-gap: 4px;
                                    cursor: pointer;
                                    img {
                                        width: 24px;
                                        height: 24px;
                                    }
                                    .join {
                                        font-size: 12px;
                                        color: #444;
                                    }
                                }
                            }
                            .link {
                                color: #444;
                                text-decoration: none;
                                display: flex;
                                cursor: pointer;
                                transition: all 0.3s ease 0s;
                                -webkit-transition: all 0.3s ease 0s;
                                &:hover {
                                    color: #f19024;
                                }
                                .img {
                                    width: 20px;
                                    height: 20px;
                                    fill: #000;
                                }
                                .img.users {
                                    width: 36px;
                                    height: 36px;
                                    border-radius: 50%;
                                    border: 1px solid #ddd;
                                    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
                                }
                            }
                            .user_activities {
                                position: absolute;
                                right: 0;
                                top: 40px;
                                width: 200px;
                                height: auto;
                                background-color: #fff;
                                box-shadow: 0 2px 4px rgba(0,0,0,0.15);
                                border-bottom-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                margin-top: 30px;
                                visibility: hidden;
                                overflow: hidden;
                                opacity: 0;
                                transition: all 0.3s ease 0s;
                                -webkit-transition: all 0.3s ease 0s;
                                z-index: 0;
                                &.show {
                                    visibility: visible;
                                    opacity: 1;
                                    margin-top: 0;
                                    overflow: hidden;
                                    z-index: 2;
                                }
                                & > h4 {
                                    background-color: #f2f2f2;
                                    padding: 12px 8px;
                                    font-size: 12px;
                                    color: #444;
                                }
                                ._items {
                                    list-style: none;
                                    &:last-child {
                                        border-top: 1px solid #ddd;
                                    }
                                    ._item {
                                        ._link {
                                            text-decoration: none;
                                            padding: 8px 16px;
                                            display: block;
                                            transition: all 0.3s ease 0s;
                                            -webkit-transition: all 0.3s ease 0s;
                                            &:hover {
                                                background-color: #e0e0e0;
                                            }
                                            ._icon {

                                            }
                                            ._txt {
                                                font-size: 12px;
                                                color: #444;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}


$phone-width-small: 360px;
$phone-width: 575px;
$tablet-width: 767px;
$custom-width: 991px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    
}

@media (max-width: #{$custom-width}) {
    .header_main {
        .wrap {
            .left {

            }
            .right {
                column-gap: 12px;
                ._left {
                    width: 28%;
                }
                ._middle {
                    width: 44%;
                    .search {
                        form {
                            input {
                                width: 175px;
                            }
                        }
                    }
                }
                ._right {
                    width: 28%;
                }
            }
        }
    }
}

@media (max-width: #{$tablet-width}) {
    .btn_css {
        padding: 8px 16px;
        font-size: 12px;
    }
    .header_main {
        .wrap {
            .left {
                width: 20%;
            }
            .middle {
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                .logo {
                    max-width: 120px;
                    .img {
                        max-width: 100%;
                    }
                }
            }
            .right {
                width: 20%;
                display: flex;
                justify-content: end;
                ._left,
                ._middle {
                    display: none;
                }
                ._right {
                    .user_options {
                        .items {
                            column-gap: 8px;
                            .item {
                                &.search {
                                    display: block;
                                }
                                &.balance, &.cart, &.activities {
                                    display: none;
                                }
                                .link {
                                    svg {
                                        width: 20px;
                                        fill: #f19024;
                                    }
                                }
                                .user_activities {
                                    width: 160px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: #{$phone-width}) {
    
}

@media (max-width: #{$phone-width-small}) {
    
}
</style>