<template>
    <div class="slider">
        <div class="items">
            <div class="item" v-for="(data,index) in slides" :key="index" :class="{'active': currentSlide === index}">
                <div class="img">
                    {{data.title}}
                    <img :src="data.image" alt="Slider Image">
                </div>
            </div>
        </div>
        <div class="slide_arrow">
            <div class="arrow left" @click="slideDec">
                <img src="@/assets/icons/arrow_left.png" alt="Left Arrow">
            </div>
            <div class="arrow right" @click="slideInc">
                <img src="@/assets/icons/arrow_right.png" alt="Right Arror">
            </div>
        </div>
        <div class="slide_dots">
            <div class="dot" v-for="(data,index) in slides" :key="index" :class="{'active': currentSlide === index}" @click="currentSlide = index"></div>
        </div>
    </div>
</template>
<script>
    import { ref, onMounted } from 'vue';
    export default {
        setup() {
            const currentSlide = ref(0);
            const lengthValue = ref(0);
            const slides = ref([
                {
                    title: 'Slide #1',
                    content: 'Slide 1 content.',
                    // image: 'https://rukminim1.flixcart.com/flap/1688/280/image/8d8c292a102363ce.jpg?q=50',
                },
                {
                    title: 'Slide #2',
                    content: 'Slide 2 content.',
                    image: 'https://rukminim1.flixcart.com/flap/1688/280/image/8d8c292a102363ce.jpg?q=50',
                },
                {
                    title: 'Slide #3',
                    content: 'Slide 3 content.',
                    // image: 'https://rukminim1.flixcart.com/flap/1688/280/image/8d8c292a102363ce.jpg?q=50',
                }
            ]);
    
            const slidesTime = () => {
                setInterval(() => {
                    slideInc();
                }, 5000);
            };
            const slideDec = () => {
                if (currentSlide.value == 0) {
                    currentSlide.value = slides.length - 1;
                } else {
                    currentSlide.value--;
                }
            };
            const slideInc = () => {
                if (slides.length - 1 == currentSlide.value) {
                    currentSlide.value = 0;
                } else {
                    currentSlide.value++;
                }
            };
    
            onMounted(async()=>{
            //    console.log(slides.length);
            });
    
            
    
    
            return {
                currentSlide,
                lengthValue,
                slides,
                slideDec,
                slideInc,
                slidesTime
            }
        },
        
    }
    </script>
    <style lang="scss" scoped>
    .slider {
        position: relative;
        overflow: hidden;
        .items {
            width: 100%;
            display: flex;
            -webkit-animation: slide .5s;
            animation: slide .5s;
            .item {
                display: none;
                width: 100%;
                height: 100%;
                max-height: 500px;
                min-height: 200px;
                background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
                background-size: 400% 400%;
                -webkit-animation: gradient 15s ease infinite;
                animation: gradient 15s ease infinite;
                &.active {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .img {
                    display: flex;
                    img {
                        width: 100%;
                    } 
                }
            }
        }
    
        .slide_arrow {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
    
            .arrow {
                position: absolute;
                top: 50%;
                width: 24px;
                height: 40px;
                transform: translateY(-50%);
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 1;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
    
                &:hover {
                    background-color: #eee;
                }
    
                &:hover img {
                    transform: scale(1.2);
                }
    
                img {
                    width: 14px;
                    transition: all 0.8s ease 0s;
                    -webkit-transition: all 0.8s ease 0s;
                }
            }
    
            .left {
                left: 0;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
    
            .right {
                right: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }
    
        .slide_dots {
            position: absolute;
            left: 50%;
            bottom: 12px;
            transform: translateX(-50%);
            display: flex;
            column-gap: 12px;
            z-index: 1;
    
            .dot {
                width: 16px;
                height: 16px;
                background-color: #777;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
    
                &:hover {
                    background-color: #444;
                }
            }
    
            .active {
                background-color: #f19024;
    
                &:hover {
                    background-color: #f19024;
                }
            }
        }
    }
    
    @-webkit-keyframes gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        to {
            background-position: 0% 50%
        }
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        to {
            background-position: 0% 50%
        }
    }
    
    @-webkit-keyframes slide {
        0% {
            -webkit-transform: translate(100%);
            transform: translate(100%);
        }
        to {
            -webkit-transform: translate(0);
            transform: translate(0);
        }
    }
    @keyframes slide {
        0% {
            -webkit-transform: translate(100%);
            transform: translate(100%);
        }
        to {
            -webkit-transform: translate(0);
            transform: translate(0);
        }
    }
    
    
    $phone-width-small: 360px;
    $phone-width: 575px;
    $tablet-width: 767px;
    $desktop-width: 1023px;
    
    @media (max-width: #{$desktop-width}) {}
    
    @media (max-width: #{$tablet-width}) {
        .slider {
            .slide_arrow {
                .arrow {
                    width: 25px;
                    height: 45px;
    
                    img {
                        width: 15px;
                    }
                }
            }
    
            .slide_dots {
                bottom: 4px;
    
                .dot {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    
    @media (max-width: #{$phone-width}) {}
    
    @media (max-width: #{$phone-width-small}) {}
    </style>