<template>
    <div class="page">
        <div class="profile items">
            <div class="item">
                <div class="top">
                    <div class="_top">
                        <div class="left">
                            <div class="content">
                                <div class="avatar">
                                    <img src="@/assets/medicine/single-doctor.png" alt="Doctor Image">
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="content">
                                <div class="title">Speciality</div>
                                <div class="info">
                                    <div class="list">Experience:2 years</div>
                                    <div class="list">Experience: 2 years</div>
                                    <div class="list">Experience: 2 years</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_bottom">
                        <div class="list name"><router-link to="" class="link">Person Full Name</router-link></div>
                        <div class="list">Title/Degination</div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="address">
                        <div class="adrs">
                            <div class="icon">
                                <img src="@/assets/webp/grid/pin.webp" alt="Location">
                            </div>
                            <div class="_txt">Dhaka, Bangladesh</div>
                        </div>
                        <div class="distance">
                            <div class="icon">
                                <img src="@/assets/webp/grid/distance.webp" alt="Distance">
                            </div>
                            <div class="_txt">86.9km</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="_left">
                            <div class="_txt">Status: 
                                <span class="open">Open</span>
                                <!-- <span class="close">Close</span> -->
                            </div>
                        </div>
                        <div class="actions">
                            <div class="action favourite">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/heart.webp" alt="Distance">
                                </div>
                                <div class="_txt">Favourite</div>
                            </div>
                            <div class="action direction">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/direction.webp" alt="Direction">
                                </div>
                                <div class="_txt">Direction</div>
                            </div>
                            <div class="action share">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/share.webp" alt="Share">
                                </div>
                                <div class="_txt">Share</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <div class="_top">
                        <div class="left">
                            <div class="content">
                                <div class="avatar">
                                    <img src="@/assets/medicine/single-doctor.png" alt="Doctor Image">
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="content">
                                <div class="title">Speciality</div>
                                <div class="info">
                                    <div class="list">Experience:2 years</div>
                                    <div class="list">Experience: 2 years</div>
                                    <div class="list">Experience: 2 years</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_bottom">
                        <div class="list name"><router-link to="" class="link">Person Full Name</router-link></div>
                        <div class="list">Title/Degination</div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="address">
                        <div class="adrs">
                            <div class="icon">
                                <img src="@/assets/webp/grid/pin.webp" alt="Location">
                            </div>
                            <div class="_txt">Dhaka, Bangladesh</div>
                        </div>
                        <div class="distance">
                            <div class="icon">
                                <img src="@/assets/webp/grid/distance.webp" alt="Distance">
                            </div>
                            <div class="_txt">86.9km</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="_left">
                            <div class="_txt">Status: 
                                <span class="open">Open</span>
                                <!-- <span class="close">Close</span> -->
                            </div>
                        </div>
                        <div class="actions">
                            <div class="action favourite">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/heart.webp" alt="Distance">
                                </div>
                                <div class="_txt">Favourite</div>
                            </div>
                            <div class="action direction">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/direction.webp" alt="Direction">
                                </div>
                                <div class="_txt">Direction</div>
                            </div>
                            <div class="action share">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/share.webp" alt="Share">
                                </div>
                                <div class="_txt">Share</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <div class="_top">
                        <div class="left">
                            <div class="content">
                                <div class="avatar">
                                    <img src="@/assets/medicine/single-doctor.png" alt="Doctor Image">
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="content">
                                <div class="title">Speciality</div>
                                <div class="info">
                                    <div class="list">Experience:2 years</div>
                                    <div class="list">Experience: 2 years</div>
                                    <div class="list">Experience: 2 years</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_bottom">
                        <div class="list name"><router-link to="" class="link">Person Full Name</router-link></div>
                        <div class="list">Title/Degination</div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="address">
                        <div class="adrs">
                            <div class="icon">
                                <img src="@/assets/webp/grid/pin.webp" alt="Location">
                            </div>
                            <div class="_txt">Dhaka, Bangladesh</div>
                        </div>
                        <div class="distance">
                            <div class="icon">
                                <img src="@/assets/webp/grid/distance.webp" alt="Distance">
                            </div>
                            <div class="_txt">86.9km</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="_left">
                            <div class="_txt">Status: 
                                <span class="open">Open</span>
                                <!-- <span class="close">Close</span> -->
                            </div>
                        </div>
                        <div class="actions">
                            <div class="action favourite">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/heart.webp" alt="Distance">
                                </div>
                                <div class="_txt">Favourite</div>
                            </div>
                            <div class="action direction">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/direction.webp" alt="Direction">
                                </div>
                                <div class="_txt">Direction</div>
                            </div>
                            <div class="action share">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/share.webp" alt="Share">
                                </div>
                                <div class="_txt">Share</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <div class="_top">
                        <div class="left">
                            <div class="content">
                                <div class="avatar">
                                    <img src="@/assets/medicine/single-doctor.png" alt="Doctor Image">
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="content">
                                <div class="title">Speciality</div>
                                <div class="info">
                                    <div class="list">Experience:2 years</div>
                                    <div class="list">Experience: 2 years</div>
                                    <div class="list">Experience: 2 years</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_bottom">
                        <div class="list name"><router-link to="" class="link">Person Full Name</router-link></div>
                        <div class="list">Title/Degination</div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="address">
                        <div class="adrs">
                            <div class="icon">
                                <img src="@/assets/webp/grid/pin.webp" alt="Location">
                            </div>
                            <div class="_txt">Dhaka, Bangladesh</div>
                        </div>
                        <div class="distance">
                            <div class="icon">
                                <img src="@/assets/webp/grid/distance.webp" alt="Distance">
                            </div>
                            <div class="_txt">86.9km</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="_left">
                            <div class="_txt">Status: 
                                <span class="open">Open</span>
                                <!-- <span class="close">Close</span> -->
                            </div>
                        </div>
                        <div class="actions">
                            <div class="action favourite">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/heart.webp" alt="Distance">
                                </div>
                                <div class="_txt">Favourite</div>
                            </div>
                            <div class="action direction">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/direction.webp" alt="Direction">
                                </div>
                                <div class="_txt">Direction</div>
                            </div>
                            <div class="action share">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/share.webp" alt="Share">
                                </div>
                                <div class="_txt">Share</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <div class="_top">
                        <div class="left">
                            <div class="content">
                                <div class="avatar">
                                    <img src="@/assets/medicine/single-doctor.png" alt="Doctor Image">
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="content">
                                <div class="title">Speciality</div>
                                <div class="info">
                                    <div class="list">Experience:2 years</div>
                                    <div class="list">Experience: 2 years</div>
                                    <div class="list">Experience: 2 years</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_bottom">
                        <div class="list name"><router-link to="" class="link">Person Full Name</router-link></div>
                        <div class="list">Title/Degination</div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="address">
                        <div class="adrs">
                            <div class="icon">
                                <img src="@/assets/webp/grid/pin.webp" alt="Location">
                            </div>
                            <div class="_txt">Dhaka, Bangladesh</div>
                        </div>
                        <div class="distance">
                            <div class="icon">
                                <img src="@/assets/webp/grid/distance.webp" alt="Distance">
                            </div>
                            <div class="_txt">86.9km</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="_left">
                            <div class="_txt">Status: 
                                <span class="open">Open</span>
                                <!-- <span class="close">Close</span> -->
                            </div>
                        </div>
                        <div class="actions">
                            <div class="action favourite">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/heart.webp" alt="Distance">
                                </div>
                                <div class="_txt">Favourite</div>
                            </div>
                            <div class="action direction">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/direction.webp" alt="Direction">
                                </div>
                                <div class="_txt">Direction</div>
                            </div>
                            <div class="action share">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/share.webp" alt="Share">
                                </div>
                                <div class="_txt">Share</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <div class="_top">
                        <div class="left">
                            <div class="content">
                                <div class="avatar">
                                    <img src="@/assets/medicine/single-doctor.png" alt="Doctor Image">
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="content">
                                <div class="title">Speciality</div>
                                <div class="info">
                                    <div class="list">Experience:2 years</div>
                                    <div class="list">Experience: 2 years</div>
                                    <div class="list">Experience: 2 years</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_bottom">
                        <div class="list name"><router-link to="" class="link">Person Full Name</router-link></div>
                        <div class="list">Title/Degination</div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="address">
                        <div class="adrs">
                            <div class="icon">
                                <img src="@/assets/webp/grid/pin.webp" alt="Location">
                            </div>
                            <div class="_txt">Dhaka, Bangladesh</div>
                        </div>
                        <div class="distance">
                            <div class="icon">
                                <img src="@/assets/webp/grid/distance.webp" alt="Distance">
                            </div>
                            <div class="_txt">86.9km</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="_left">
                            <div class="_txt">Status: 
                                <span class="open">Open</span>
                                <!-- <span class="close">Close</span> -->
                            </div>
                        </div>
                        <div class="actions">
                            <div class="action favourite">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/heart.webp" alt="Distance">
                                </div>
                                <div class="_txt">Favourite</div>
                            </div>
                            <div class="action direction">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/direction.webp" alt="Direction">
                                </div>
                                <div class="_txt">Direction</div>
                            </div>
                            <div class="action share">
                                <div class="icon">
                                    <img src="@/assets/webp/grid/share.webp" alt="Share">
                                </div>
                                <div class="_txt">Share</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss">
.page {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,minmax(300px,1fr));
    row-gap: 12px;
    column-gap: 12px;
    .item {
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
        border-radius: 4px;
        text-decoration: none;
        display: block;
        .top {
            display: flex;
            flex-direction: column;
            column-gap: 8px;
            padding: 12px;
            ._top {
                display: flex;
                .left {
                    padding: 0 24px 0 8px;
                    .content {
                        display: flex;
                        justify-content: center;
                        background: #f6f6f6;
                        overflow: hidden;
                        width: 110px;
                        height: 110px;
                        border-radius: 50%;
                        border: 6px solid #d1d1d1;
                        box-shadow: 0 3px 12px rgba(36, 36, 36, 0.35);
                        .avatar {
                            display: flex;
                            overflow: hidden;
                            img {
                                max-width: 110px;
                                width: 100%;
                                height: 110px;
                            }
                        }
                    }  
                }
                .right {
                    .content {
                        .title {
                            font-size: 16px;
                            font-weight: 600;
                            color: #000;
                            text-transform: uppercase;
                        }
                        .info {
                            border-left: 1px solid #ddd;
                            padding-left: 8px;
                            margin-top: 16px;
                            .list {
                                font-size: 14px;
                                color: #777;
                                line-height: 28px;
                                display: block;
                            }
                        }
                    }
                }
            }
            ._bottom {
                margin-top: 12px;
                .list {
                    font-size: 13px;
                    color: #777;
                    line-height: 28px;
                    display: block;
                }
                .list {
                    .link {
                        font-weight: 600;
                        color: #000;
                        font-size: 20px;
                        text-decoration: none;
                    }
                }
            }
        }
        .bottom {
            padding: 12px;
            .address {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 4px;
                p {
                    color: #444;
                    font-size: 11px;
                    font-weight: 600;
                }
                .distance, .adrs {
                    display: flex;
                    align-items: center;
                    column-gap: 4px;
                    .icon {
                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                    ._txt {
                        color: #444;
                        font-size: 11px;
                        font-weight: 600;
                    }
                }
            }
            .content {
                border-top: 1px solid #f1f1f1;
                display: flex;
                justify-content: space-between;
                padding-top: 16px;
                ._left {
                    display: flex;
                    align-items: center;
                    ._txt {
                        font-size: 13px;
                        font-weight: 600;
                        color: #000;
                        .open {
                            color: #159215;
                        }
                        .close {
                            color: #707070;
                        }
                    }
                }
                .actions {
                    display: flex;
                    column-gap: 12px;
                    .action {
                        display: flex;
                        align-items: center;
                        column-gap: 4px;
                        cursor: pointer;
                        .icon {
                            display: flex;
                            img {
                                width: 24px;
                                height: 24px;
                            }
                        }
                        ._txt {
                            font-size: 12px;
                            color: #707070;
                        }
                    }
                }
            }
        }
    }
}





$phone-width-mini-small: 359px;
$phone-width-small: 375px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;
$desktop-width-normal: 1366px;

@media (max-width: #{$desktop-width-normal}) {
    .items {
        .item {
            .top {
                ._top {
                    .left {
                        padding: 0 16px 0 0;
                    }
                }
            }
            .bottom {
                .content {
                    .actions {
                        column-gap: 24px;
                        .action {
                            position: relative;
                            &:hover {
                                ._txt {
                                    visibility: visible;
                                    margin-top: 0;
                                    opacity: 1;
                                }
                            }
                            ._txt {
                                visibility: hidden;
                                position: absolute;
                                opacity: 0;
                                top: -30px;
                                left: 50%;
                                transform: translateX(-50%);
                                background-color: #000;
                                color: #fff;
                                padding: 4px 12px;
                                border-radius: 4px;
                                margin-top: 10px;
                                font-size: 10px;
                                transition: all 0.3s ease 0s;
                                -webkit-transition: all 0.3s ease 0s;
                                &::after {
                                    position: absolute;
                                    content: '';
                                    top: 100%;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 0; 
                                    height: 0; 
                                    border-left: 6px solid transparent;
                                    border-right: 6px solid transparent;
                                    border-top: 6px solid #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: #{$desktop-width}) {
    
}
@media (max-width: #{$tablet-width}) {
    
}
@media (max-width: #{$phone-width}) {
    .page {
        padding: 20px 0;
    }
    .items {
        grid-template-columns: repeat(1,minmax(300px,1fr));
        .item {
            .bottom {
                .content {
                    ._left {
                        ._txt {
                            font-size: 12px;
                        }
                    }
                    .actions {
                        .action {
                            .icon {
                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                            ._txt {
                                visibility: visible;
                                position: relative;
                                opacity: 1;
                                top: auto;
                                left: auto;
                                transform: none;
                                background-color: transparent;
                                color: #707070;
                                padding: 0;
                                border-radius: 0;
                                margin-top: 0;
                                font-size: 12px;
                                &::after {
                                    position: relative;
                                    content: '';
                                    top: 0;
                                    left: 0;
                                    transform: none;
                                    width: 0; 
                                    height: 0; 
                                    border-left: 0px solid transparent;
                                    border-right: 0px solid transparent;
                                    border-top: 0px solid #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small}) { 
    .items {
        .item {
            .bottom {
                .content {
                    ._left {
                        ._txt {
                            font-size: 12px;
                        }
                    }
                    .actions {
                        column-gap: 12px;
                        .action {
                            .icon {
                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                            ._txt {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small}) { 
    .items {
        .item {
            .bottom {
                .content {
                    .actions {
                        column-gap: 6px;
                    }
                }
            }
        }
    }
}
</style>