<template>
    <div class="doctor">
        <div class="profile">
            <div class="left">
                <div class="content">
                    <div class="avatar">
                        <img src="@/assets/medicine/single-doctor.png" alt="Doctor Image">
                        <div class="bg">
                            <span class="one"></span>
                            <span class="two"></span>
                            <span class="three"></span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <strong>Dr. Micale</strong>
                            <span>jordan</span>
                        </div>
                        <div class="profession">Dental Surgeon</div>
                        <div class="institute">Dhaka Hospital, Dhaka</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="content">
                    <h2>Profile</h2>
                    <div class="info">
                        <div class="name">Dr. Micale jordan</div>
                        <div class="profession">Dental Surgeon</div>
                        <div class="edu">
                            <span>Followship (Dental Surgeon)</span>
                            <span>MS(medicine), FCPS, MBBS</span>
                        </div>
                    </div>
                    <div class="facility">
                        <div class="lists">
                            <div class="list">
                                <strong>Experience </strong>
                                <span>12 years+</span>
                            </div>
                            <div class="list">
                                <strong>Languages </strong>
                                <span>English, Bangla</span>
                            </div>
                            <div class="list">
                                <strong>Types of </strong>
                                <span>Surgeon</span>
                            </div>
                        </div>
                    </div>
                    <div class="speciality">
                        <h4>Speciality</h4>
                        <div class="items">
                            <div class="item">Dentistry</div>
                            <div class="item">Surgery</div>
                            <div class="item">Implantology</div>
                            <div class="item">Paediatric</div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="actions">
                            <router-link to="" class="phone">
                                <img src="@/assets/icons/phone-call.png" alt="Phone">
                                <span>01741571104</span>
                            </router-link>
                        </div>
                        <ul class="social">
                            <li class="item">
                                <router-link to="" class="link">
                                    <img src="@/assets/social/facebook(1).png" alt="Facebook">
                                    <span>Facebook</span>
                                </router-link>
                            </li>
                            <li class="item">
                                <router-link to="" class="link">
                                    <img src="@/assets/social/twitter(1).png" alt="Twitter">
                                    <span>Twitter</span>
                                </router-link>
                            </li>
                            <li class="item">
                                <router-link to="" class="link">
                                    <img src="@/assets/social/instagram(1).png" alt="Instagram">
                                    <span>Instagram</span>
                                </router-link>
                            </li>
                            <li class="item">
                                <router-link to="" class="link">
                                    <img src="@/assets/social/linkedin(1).png" alt="Linkedin">
                                    <span>Linkedin</span>
                                </router-link>
                            </li> 
                            <li class="item">
                                <router-link to="" class="link">
                                    <img src="@/assets/social/pinterest(1).png" alt="Pinterest">
                                    <span>Pinterest</span>
                                </router-link>
                            </li>
                        </ul>
                        <div class="foot">
                            <p>Suite#5, Floor#19, Planners Tower, 13/A, Sonargaon Road, Dhaka-1000, Bangladesh.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss">
.doctor {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .profile {
        max-width: 1000px;
        width: 100%;
        box-shadow: 0 4px 20px rgba(0,0,0,0.15);
        display: flex;
        column-gap: 8px;
        padding: 30px 0;
        .left {
            width: 60%;
            .content {
                .avatar {
                    position: relative;
                    display: flex;
                    overflow: hidden;
                    img {
                        max-width: 420px;
                        width: 100%;
                        // height: 600px;
                    }
                    .bg {
                        position: absolute;
                        max-width: 600px;
                        width: 100%;
                        max-height: 600px;
                        height: 100%;
                        left: -100px;
                        bottom: -100px;
                        z-index: -1;
                        .one, .two, .three {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            border-radius: 50%;
                        }
                        .one {
                            background: rgba(48, 203, 246, 0.15);
                        }
                        .two {
                            background: rgba(48, 246, 187, 0.15);
                            max-width: 500px;
                            max-height: 500px;
                        }
                        .three {
                            background: rgba(48, 203, 246, 0.15);
                            max-width: 400px;
                            max-height: 400px;
                        }
                    }
                }
                .info {
                    padding: 20px;
                    max-width: 420px;
                    width: 100%;
                    padding-left: 50px;
                    .name {
                        font-size: 40px;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                        strong {
                            color: #444;
                        }
                        span {
                            color: #777;
                        }
                    }
                    .profession, .institute {
                        color: #444;
                        line-height: 24px;
                        font-size: 18px;
                    }
                }
            }  
        }
        .right {
            width: 40%;
            .content {
                padding: 30px 20px 30px 0;
                & > h4 {
                    color: #444;
                }
                .info {
                    margin-top: 20px;
                    .name {
                        color: #17C3B2;
                        font-size: 32px;
                        font-weight: 600;
                    }
                    .profession {
                        color: #444;
                        line-height: 24px;
                        font-size: 18px;
                    }
                    .edu {
                        margin-top: 12px;
                        color: #777;
                        line-height: 24px;
                        font-size: 16px;
                        display: flex;
                        flex-direction: column;
                    }
                }
                .facility {
                    padding: 40px 0;
                    .lists {
                        .list {
                            line-height: 30px;
                            font-size: 15px;
                            strong {
                                color: #444;
                            }
                            span {
                                color: #777;
                            }
                        }
                    }
                }
                .speciality {
                    & > h4 {
                        font-size: 18px;
                        color: #444;
                    }
                    .items {
                        display: flex;
                        flex-wrap: wrap;
                        column-gap: 8px;
                        row-gap: 12px;
                        margin-top: 20px;
                        .item {
                            font-size: 14px;
                            border: 1px solid #ddd;
                            border-radius: 20px;
                            padding: 8px 16px;
                            color: #777;
                            transition: all 0.3s ease 0s;
                            -webkit-transition: all 0.3s ease 0s;
                            &:hover {
                                background-color: #17C3B2;
                                color: #fff
                            }
                        }
                    }
                }
                .contact {
                    margin-top: 50px;
                    .actions {
                        .phone {
                            position: relative;
                            text-align: center;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            column-gap: 8px;
                            text-align: center;
                            text-decoration: none;
                            &::before {
                                position: absolute;
                                content: '';
                                width: 90%;
                                height: 50px;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) skewX(20deg);
                                background: #17C3B2;
                                display: block;
                                z-index: -1;
                            }
                            img {
                                max-width: 24px;
                            }
                            span {
                                color: #fff;
                                font-weight: 600;
                                font-size: 24px;
                            }
                        }
                    }
                    .social {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        column-gap: 16px;
                        list-style: none;
                        margin-top: 40px;
                        .item {
                            .link {
                                text-decoration: none;
                                position: relative;
                                &:hover img {
                                    transform: translateY(-10px);
                                }
                                &:hover span {
                                    transform: translate(-50%, -12px);
                                    visibility: visible;
                                    opacity: 1;
                                    margin-bottom: 0;
                                }
                                img {
                                    width: 20px;
                                    transition: all 0.3s ease 0s;
                                    -webkit-transition: all 0.3s ease 0s;
                                }
                                span {
                                    position: absolute;
                                    padding: 6px 12px;
                                    background-color: #222;
                                    border-radius: 6px;
                                    color: #fff;
                                    width: 100px;
                                    bottom: 32px;
                                    left: 50%;
                                    font-size: 12px;
                                    transform: translateX(-50%);
                                    text-align: center;
                                    visibility: hidden;
                                    opacity: 0;
                                    margin-bottom: -8px;
                                    transition: all 0.3s ease 0s;
                                    -webkit-transition: all 0.3s ease 0s;
                                    &::after {
                                        position: absolute;
                                        content: '';
                                        left: 50%;
                                        bottom: -8px;
                                        transform: translateX(-50%);
                                        border-left: 8px solid transparent;
                                        border-right: 8px solid transparent;
                                        border-top: 8px solid #222;
                                    }
                                }
                            }
                        }
                    }
                    .foot {
                        margin-top: 20px;
                        p {
                            font-size: 14px;
                            color: #777;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
}





$phone-width-small: 359px;
$phone-width: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;

@media (max-width: #{$desktop-width}) {
    
}
@media (max-width: #{$tablet-width}) {
    
}
@media (max-width: #{$phone-width}) {
    .doctor {
        padding: 0;
        .profile {
            display: flex;
            flex-direction: column;
            .left {
                width: 100%;
                .content {
                    .avatar {
                        img {
                            max-width: 280px;
                        }
                        .bg {
                            max-width: 500px;
                            max-height: 500px;
                            left: -25px;
                            .two {
                                max-width: 400px;
                                max-height: 400px;
                            }
                            .three {
                                max-width: 300px;
                                max-height: 300px;
                            }
                        }
                    }
                    .info {
                        display: none;
                    }
                }  
            }
            .right {
                width: 100%;
                .content {
                    padding: 20px;
                    & > h2 {
                        display: none;
                    }
                    .info {
                        margin-top: 0;
                        .name {
                            font-size: 32px;
                        }
                        .profession {
                            font-size: 16px;
                            font-weight: 600;
                            color: #777;
                        }
                        .edu {
                            font-size: 14px;
                        }
                    }
                    .facility {
                        padding: 30px 0;
                        .lists {
                            .list {
                                font-size: 14px;
                                strong {
                                    color: #444;
                                }
                                span {
                                    color: #777;
                                }
                            }
                        }
                    }
                    .speciality {
                        & > h4 {
                            font-size: 17px;
                        }
                        .items {
                            margin-top: 12px;
                            .item {
                                padding: 8px 16px;
                            }
                        }
                    }
                    .contact {
                        margin-top: 30px;
                        .actions {
                            .phone {
                                &::before {
                                    height: 40px;
                                }
                                img {
                                    max-width: 20px;
                                }
                                span {
                                    font-size: 20px;
                                }
                            }
                        }
                        .social {
                            margin-top: 30px;
                        }
                        .foot {
                            margin-top: 12px;
                            p {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: #{$phone-width-small}) { 

}
</style>