<template>
    <div class="local_pdf" style="padding:20px 0">
        <button type="button" class="print_btn" @click="printDiv('printableAreaLocalhost')" style="border: none;outline: none;font-size:20px; color:#fff; background:green;padding: 6px 12px;border-radius: 4px;cursor: pointer;margin: auto;display: table;">&copysr;</button>
        <div class="application_data" id="printableAreaLocalhost" style="max-width: 1030px;margin: auto;">
            <div class="step one" :style="{ backgroundImage: `url(${require('@/assets/localhost-bg.png')})` }" style="background-repeat: no-repeat;background-position: initial;background-size: cover;max-width: 1030px;height: 1456px;margin-bottom: 100px;">
                <div class="content" style="position: relative;height: 100%;">
                    <div class="header" style="padding-top: 20%;">
                        <h1 style="color: #444;border-bottom: 1px solid #444;width: fit-content;margin: auto;font-size: 28px;margin-bottom: 12px;">Local Host (Vendor) Application Form:</h1>
                        <h5 style="color: #444;border-bottom: 1px solid #444;width: fit-content;margin: auto;font-size: 17px;margin-bottom: 24px;">(For 5000 Outlet/ Professionals)</h5>
                        <h4 style="color: #444;border-bottom: 1px solid #444;width: fit-content;margin: auto;font-size: 22px;font-weight: 600;">Personal Information:</h4>
                    </div>
                    <div class="body" style="padding: 50px 110px 20px 110px;">
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Full Name:</span>
                            <span class="data" style="font-size: 15px;color: #666;">Dipankar Biswas</span>
                        </div>
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Mobile No:</span>
                            <span class="data" style="font-size: 15px;color: #666;">01741571104</span>
                        </div>
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Email:</span>
                            <span class="data" style="font-size: 15px;color: #666;">dip@gmail.com</span>
                        </div>
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Education Qualification:</span>
                            <span class="data" style="font-size: 15px;color: #666;">BS.c</span>
                        </div>
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Date of Birth:</span>
                            <span class="data" style="font-size: 15px;color: #666;">10/45/2506</span>
                        </div>
                        <div class="item _h_2" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px; height:110px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Present Address:</span>
                            <div class="data" style="font-size: 15px;color: #666;margin: 8px;">Moghbazar, Dhaka</div>
                        </div>
                        <div class="item _h_2" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px; height:110px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Permanent Address:</span>
                            <div class="data" style="font-size: 15px;color: #666;margin: 8px;">Matlab North, Chandpur</div>
                        </div>
                    </div>
                    <div class="footer" style="position: absolute;bottom: 0;padding-bottom: 6%;width: 100%;">
                        <div class="signature" style="font-size: 15px;padding-bottom: 50px;margin-left: 110px;padding-left: 8px;padding-right: 8px;border-top: 1px solid #007bff;display: inline-block;">Applicant Signature</div>
                        <div class="page_num" style="text-align: right;">Page : 1</div>
                    </div>
                </div>
            </div>
            <div class="step two" :style="{ backgroundImage: `url(${require('@/assets/localhost-bg.png')})` }" style="background-repeat: no-repeat;background-position: initial;background-size: cover;max-width: 1030px;height: 1456px;margin-bottom: 100px;">
                <div class="content" style="position: relative;height: 100%;">
                    <div class="header" style="padding-top: 20%;">
                        <h4 style="color: #444;border-bottom: 1px solid #444;width: fit-content;margin: auto;font-size: 22px;font-weight: 600;">Business Details:</h4>
                    </div>
                    <div class="body" style="padding: 50px 110px 20px 110px;">
                        <div class="item _h_3" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px; height:180px;">
                            <span class="title" style="font-size: 15px;color: #000;">Provide Present Business Type, Address, Designation and Employability Period</span>
                            <div class="data" style="font-size: 15px;color: #666;margin: 8px;">Business One</div>
                        </div>
                        <div class="item _h_3" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px; height:180px;">
                            <span class="title" style="font-size: 15px;color: #000;">Provide Previous (if any) Business Type</span>
                            <div class="data" style="font-size: 15px;color: #666;margin: 8px;">Business Two</div>
                        </div>
                        <div class="item _h_2" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px; height:110px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Current dealership name (if any) :</span>
                            <div class="data" style="font-size: 15px;color: #666;margin: 8px;">DSRG</div>
                        </div>
                        <div class="item _h_2" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px; height:110px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Current dealership address (if any) :</span>
                            <div class="data" style="font-size: 15px;color: #666;margin: 8px;">TYET</div>
                        </div>
                    </div>
                    <div class="footer" style="position: absolute;bottom: 0;padding-bottom: 6%;width: 100%;">
                        <div class="signature" style="font-size: 15px;padding-bottom: 50px;margin-left: 110px;padding-left: 8px;padding-right: 8px;border-top: 1px solid #007bff;display: inline-block;">Applicant Signature</div>
                        <div class="page_num" style="text-align: right;">Page : 3</div>
                    </div>
                </div>
            </div>
            <div class="step three" :style="{ backgroundImage: `url(${require('@/assets/localhost-bg.png')})` }" style="background-repeat: no-repeat;background-position: initial;background-size: cover;max-width: 1030px;height: 1456px;margin-bottom: 100px;">
                <div class="content" style="position: relative;height: 100%;">
                    <div class="header" style="padding-top: 20%;">
                        <h4 style="color: #444;border-bottom: 1px solid #444;width: fit-content;margin: auto;font-size: 22px;font-weight: 600;">Reference Details:</h4>
                    </div>
                    <div class="body" style="padding: 50px 110px 20px 110px;">
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">First referee name:</span>
                            <span class="data" style="font-size: 15px;color: #666;">lkedf</span>
                        </div>
                        <div class="item _h_2" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px; height:110px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">First referee address:</span>
                            <div class="data" style="font-size: 15px;color: #666;margin: 8px;">dfgad</div>
                        </div>
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">First referee occupation:</span>
                            <span class="data" style="font-size: 15px;color: #666;">hjkh</span>
                        </div>
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Relation with first referee:</span>
                            <span class="data" style="font-size: 15px;color: #666;">eryfh</span>
                        </div>
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">First referee phone number:</span>
                            <span class="data" style="font-size: 15px;color: #666;">ryetg</span>
                        </div>
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Second referee name:</span>
                            <span class="data" style="font-size: 15px;color: #666;">rjghj</span>
                        </div>
                        <div class="item _h_2" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px; height:110px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Second referee address:</span>
                            <div class="data" style="font-size: 15px;color: #666;margin: 8px;">sdfxfgd</div>
                        </div>
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Second referee occupation:</span>
                            <span class="data" style="font-size: 15px;color: #666;">jyg</span>
                        </div>
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Relation with second referee:</span>
                            <span class="data" style="font-size: 15px;color: #666;">fgh</span>
                        </div>
                        <div class="item" style="border: 1px solid #000;margin-bottom: 36px;padding: 10px 16px;">
                            <span class="title" style="font-size: 15px;color: #000; padding-right:6px">Second referee phone number:</span>
                            <span class="data" style="font-size: 15px;color: #666;">ftgh</span>
                        </div>
                    </div>
                    <div class="footer" style="position: absolute;bottom: 0;padding-bottom: 6%;width: 100%;">
                        <div class="signature" style="font-size: 15px;padding-bottom: 50px;margin-left: 110px;padding-left: 8px;padding-right: 8px;border-top: 1px solid #007bff;display: inline-block;">Applicant Signature</div>
                        <div class="page_num" style="text-align: right;">Page : 3</div>
                    </div>
                </div>
            </div>
            <div class="step four" :style="{ backgroundImage: `url(${require('@/assets/localhost-bg.png')})` }" style="background-repeat: no-repeat;background-position: initial;background-size: cover;max-width: 1030px;height: 1456px;margin-bottom: 100px;">
                <div class="content" style="position: relative;height: 100%;">
                    <div class="header" style="padding-top: 20%;">
                        <h4 style="color: #444;border-bottom: 1px solid #444;width: fit-content;margin: auto;font-size: 22px;font-weight: 600;">Checklist:</h4>
                    </div>
                    <div class="body pt-2" style="padding: 50px 110px 20px 110px;">
                        <ul class="check_list">
                            <li style="line-height: 26px;display: flex;align-items: center;font-size: 14px;">
                                <span class="text" style="width: 250px;">Passport Size Image:</span>
                                <span class="box" style="width: 14px;height: 14px;border: 1px solid #444;display: inline-block;position: relative;">
                                    <span class="check" style="position: absolute;top: -11px;left: 1px;color: #f19024;font-size: 20px;">&#10003;</span>
                                </span>
                            </li>
                            <li style="line-height: 26px;display: flex;align-items: center;font-size: 14px;">
                                <span class="text" style="width: 250px;">Trade License Copy:</span>
                                <span class="box" style="width: 14px;height: 14px;border: 1px solid #444;display: inline-block;position: relative;">
                                    <span class="check" style="position: absolute;top: -11px;left: 1px;color: #f19024;font-size: 20px;">&#10003;</span>
                                </span>
                            </li>
                            <li style="line-height: 26px;display: flex;align-items: center;font-size: 14px;">
                                <span class="text" style="width: 250px;">TIN certificate Copy:</span>
                                <span class="box" style="width: 14px;height: 14px;border: 1px solid #444;display: inline-block;position: relative;">
                                    <span class="check" style="position: absolute;top: -11px;left: 1px;color: #f19024;font-size: 20px;">&#10003;</span>
                                </span>
                            </li>
                            <li style="line-height: 26px;display: flex;align-items: center;font-size: 14px;">
                                <span class="text" style="width: 250px;">Bank Solvency Certificate Copy:</span>
                                <span class="box" style="width: 14px;height: 14px;border: 1px solid #444;display: inline-block;position: relative;">
                                    <span class="check" style="position: absolute;top: -11px;left: 1px;color: #f19024;font-size: 20px;">&#10003;</span>
                                </span>
                            </li>
                            <li style="line-height: 26px;display: flex;align-items: center;font-size: 14px;">
                                <span class="text" style="width: 250px;">National ID Card Copy:</span>
                                <span class="box" style="width: 14px;height: 14px;border: 1px solid #444;display: inline-block;position: relative;">
                                </span>
                            </li>
                            <li style="line-height: 26px;display: flex;align-items: center;font-size: 14px;">
                                <span class="text" style="width: 250px;">Reference letter (First):</span>
                                <span class="box" style="width: 14px;height: 14px;border: 1px solid #444;display: inline-block;position: relative;">
                                </span>
                            </li>
                            <li style="line-height: 26px;display: flex;align-items: center;font-size: 14px;">
                                <span class="text" style="width: 250px;">Reference letter (Second):</span>
                                <span class="box" style="width: 14px;height: 14px;border: 1px solid #444;display: inline-block;position: relative;">
                                    <span class="check" style="position: absolute;top: -11px;left: 1px;color: #f19024;font-size: 20px;">&#10003;</span>
                                </span>
                            </li>
                            <li style="line-height: 26px;display: flex;align-items: center;font-size: 14px;">
                                <span class="text" style="width: 250px;">Additional Information:</span>
                                <span class="box" style="width: 14px;height: 14px;border: 1px solid #444;display: inline-block;position: relative;">
                                </span>
                            </li>
                        </ul>
                        <p style="margin-bottom: 4px;">Please write any additional Information you would like to share with us:.......................</p>
                        <h4 style="font-size: 18px;color: #000;text-align: center;text-decoration: underline;margin-bottom: 8px;margin-top: 8px;">Benefits of Local Host:</h4>
                        <ul class="bold">
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;font-weight: 600;color: #444;">1. Local Host shall be receivable of TK.20 or 20% for each paid merchant on board.</li>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;font-weight: 600;color: #444;">2. Sales Commission for 5000 outlet/ professionals.</li>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;font-weight: 600;color: #444;">3. After completion of agreement present local host will be given priority for the next agreement.</li>
                        </ul>
                        <h4 style="font-size: 18px;color: #000;text-align: center;text-decoration: underline;margin-bottom: 8px;margin-top: 8px;">Terms and Conditions:</h4>
                        <ul>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;">1. Local Host Applicant shall have his own or rented space (which will be partially used by the Company/ which will be used for the official work of the company)</li>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;">2. Local Host must have valid Trade License.</li>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;">3. Local Host Agreement shall be validated for next 3 years from the date of signing.</li>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;">4. Local Host Agreement may be renewed after 3 conclusive years on the basis of mutual understanding of the both parties.</li>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;">5. Local Host shall not be able to claim the deposited money before 3 years.</li>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;">6. Only one Local Host will be provided against one valid Trade License.</li>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;">7. One Local Host will cover 5000 (Five Thousand) on boarded shop or professionals.</li>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;">8. Local Host shall not be able to get back any of the security deposited amount if the force majeure occurs or deterioration of business condition.</li>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;">9. Local Host shall have to appoint minimum 10 (ten) commission-based PRA (Part-Time Relationship Ambassador) in his jurisdictions.</li>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;">10. Local host can take 05 (five) RA (Relationship Ambassador) from the company for the two months. In this regard they will be fully paid by the company if they (RA) can achieve their targets set by the company or otherwise local host will be responsible for paying 50% of their salary.</li>
                            <li style="line-height: 20px;margin-bottom: 10px;font-size: 14px;">11. Local Host shall have to monitor all the activities of RA (Relationship Ambassador) and PRA (Part-Time Relationship Ambassador) in the selected area. If any problem arise local host shall have to solve that at his own responsibility. </li>
                        </ul>
                        <p style="margin-bottom: 4px;">I, have signed the application form as a token of acceptance of the aforesaid terms and conditions. I, hereby declare that the above mentioned information are correct and I shall provide any further information that is required. I hereby also acknowledge that I have read, understand and agreed to the terms & conditions.</p>
                        <p class="bold" style="font-weight: 600;color: #444;">**The Soft Commerce Limited reserves the right to amend the terms and condition at any time without any farther notice</p>
                        <div class="agree" style="margin-top: 8px;color: #5492bc;">
                                <span class="box" style="width: 14px;height: 14px;border: 1px solid #444;display: inline-block;position: relative;">
                                    <span class="check" style="position: absolute;top: -13px;left: 1px;color: #f19024;font-size: 20px;">&#10003;</span>
                                </span>
                            I agree to terms and conditions
                        </div>
                    </div>
                    <div class="footer" style="position: absolute;bottom: 0;padding-bottom: 6%;width: 100%;">
                        <div class="signature" style="font-size: 15px;padding-bottom: 50px;margin-left: 110px;padding-left: 8px;padding-right: 8px;border-top: 1px solid #007bff;display: inline-block;">Applicant Signature</div>
                        <div class="page_num" style="text-align: right;">Page : 4</div>
                    </div>
                </div>
            </div>
            <div class="step five" :style="{ backgroundImage: `url(${require('@/assets/localhost-bg.png')})` }" style="background-repeat: no-repeat;background-position: initial;background-size: cover;max-width: 1030px;height: 1456px;">
                <div class="content" style="position: relative;height: 100%;">
                    <div class="header" style="padding-top: 20%;">
                        <h1 style="color: #444;border-bottom: 1px solid #444;width: fit-content;margin: auto;font-size: 28px;margin-bottom: 12px;">Local Host / Vendor Security Deposit Receipt</h1>
                    </div>
                    <div class="body last" style="padding: 50px 110px 20px 110px;">
                        <p style="font-size: 15px;margin-bottom: 4px;line-height: 28px;">Receipt Number ................................</p>
                        <p style="font-size: 15px;margin-bottom: 4px;line-height: 28px;">This is to confirm that on ........................., we received Tk=3,00,000/=(Three Lac Taka Only) from you through cheque no/Cash ......................... dated: ............................ as a Security Deposit for 01 (One) Local Host / Vendor for the Area of ......................... Dhaka.</p>
                        <p style="font-size: 15px;margin-bottom: 4px;line-height: 28px;">Amount Received From:</p>
                        <p style="font-size: 15px;margin-bottom: 4px;line-height: 28px;">Name: .......................................</p>
                        <p style="font-size: 15px;margin-bottom: 4px;line-height: 28px;">Address: .............................................................</p>
                        <p style="font-size: 15px;margin-bottom: 4px;line-height: 28px;">Amount Received From: ........................</p>
                        <div class="_g">
                            <p style="font-size: 15px;margin-bottom: 4px;line-height: 28px;">Amount: 3,00,000/=</p>
                            <p style="font-size: 15px;margin-bottom: 4px;line-height: 28px;">In Wards: <span>Three Lac Taka Only</span></p>
                        </div>
                        <p style="font-size: 15px;margin-bottom: 4px;line-height: 28px;">Purpose of Payment: <span>Local Host/Vendor Security Deposit</span></p>
                        <table class="table table-bordered" style="margin-top: 40px;margin-bottom: 40px;">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-center">Mode of Payment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cash</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Cheque</td>
                                    <td rowspan="2">Amount</td>
                                    <td>Cheque Number</td>
                                    <td>Bank Details & Date</td>
                                </tr>
                                <tr>
                                    <td class="_h" style="height: 45px;"></td>
                                    <td class="_h" style="height: 45px;"></td>
                                </tr>
                                <tr>
                                    <td>Others</td>
                                    <td></td>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="font-size: 15px;margin-bottom: 4px;line-height: 28px;">Amount Received By: Soft Commerce Limited</p>
                        <p style="font-size: 15px;margin-bottom: 4px;line-height: 28px;">These security deposit fund will remain to us for a period of 03(three) years/for the full duration of the Local Host/Vendor agreement.</p>
                    </div>
                    <div class="footer" style="position: absolute;bottom: 0;padding-bottom: 6%;width: 100%;">
                        <div class="signature" style="font-size: 15px;padding-bottom: 50px;margin-left: 110px;padding-left: 8px;padding-right: 8px;border-top: 1px solid #007bff;display: inline-block;">Applicant Signature</div>
                        <div class="page_num" style="text-align: right;">Page : 5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    setup(){
        const printDiv = (divName) => {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }

        return {
            printDiv,
        }
    }
}
</script>
<style>
* {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
}
</style>