<template>
    <div class="local_form">
        <div class="form_data">
            <form action="">
                <div class="step one active" step="one" v-if="step_one">
                    <h1>Personal Information:</h1>
                    <div class="form">
                        <input type="text" name="fullname" class="control fullname" placeholder="Full name">
                        <input type="text" name="phone" class="control phone" placeholder="Mobile No">
                        <input type="email" name="email" class="control email" placeholder="Email">
                        <input type="text" name="education" class="control education" placeholder="Education Qualification">
                        <input type="text" name="date_of_birth" class="control date_of_birth" placeholder="Date of Birth">
                        <textarea name="present_address" class="control present_address tah_2" rows="2" placeholder="Present Address"></textarea>
                        <textarea name="permanent_address" class="control permanent_address tah_2" rows="2" placeholder="Permanent Address"></textarea>
                        <!-- <my-switch :switch-value="switchValue" @switchValueChanged="switchValue =! switchValue"></my-switch> -->


                        <my-switch v-model="switchValue"/>


                        <div class="actions">
                            <button type="button" class="btn continue" @click="stepBtn('Step_One')">Save & Continue</button>
                        </div>
                    </div>
                </div>
                <div class="step two" step="two" v-if="step_two">
                    <h1>Business Details:</h1>
                    <div class="form">
                        <textarea name="present_business " class="control present_business tah_3" rows="4" placeholder="Provide Present Business Type, Address, Designation and Employability Period"></textarea>
                        <textarea name="previous_business" class="control previous_business tah_3" rows="4" placeholder="Provide Previous (if any) Business Type"></textarea>
                        <input type="text" name="dealership_name" class="control dealership_name" placeholder="Current dealership name (if any)">
                        <textarea name="dealership_address" class="control dealership_address tah_2" rows="2" placeholder="Current dealership address (if any)"></textarea>
                        <div class="actions">
                            <button type="button" class="btn back">Previous</button>
                            <button type="button" class="btn continue" @click="stepBtn('Step_Two')">Save & Continue</button>
                        </div>
                    </div>
                </div>
                <div class="step three" step="three" v-if="step_three">
                        <h1>Reference Details:</h1>
                        <div class="form">
                            <input type="text" name="first_referee_name" class="control first_referee_name" placeholder="First referee name">
                            <textarea name="first_referee_address" class="control first_referee_address tah_2" rows="2" placeholder="First referee address"></textarea>
                            <input type="text" name="first_referee_occupation" class="control first_referee_occupation" placeholder="First referee occupation">
                            <input type="text" name="first_referee_relation" class="control first_referee_relation" placeholder="Relation with first referee">
                            <input type="text" name="first_referee_phone" class="control first_referee_phone" placeholder="First referee phone number">
                            <input type="text" name="second_referee_name" class="control second_referee_name" placeholder="Second referee name">
                            <textarea name="second_referee_address" class="control second_referee_address tah_2" rows="2" placeholder="Second referee address"></textarea>
                            <input type="text" name="second_referee_occupation" class="control second_referee_occupation" placeholder="Second referee occupation">
                            <input type="text" name="second_referee_relation" class="control second_referee_relation" placeholder="Relation with Second referee">
                            <input type="text" name="second_referee_phone" class="control second_referee_phone" placeholder="Second referee phone number">
                            <div class="actions">
                                <button type="button" class="btn back">Previous</button>
                                <button type="button" class="btn continue" @click="stepBtn('Step_Three')">Save & Continue</button>
                            </div>
                        </div>
                    </div>
                    <div class="step four" step="four" v-if="step_four">
                        <h1>Checklist:</h1>
                        <div class="form">
                            <div class="check_form">
                                <div class="_gp">
                                    <label class="" for="">Passport Size Image</label>
                                    <input class="passport_size_image" name="passport_size_image" type="checkbox">
                                </div>
                                <div class="_gp">
                                    <label class="" for="">Trade License Copy</label>
                                    <input class="trade_license" name="trade_license" type="checkbox">
                                </div>
                                <div class="_gp">
                                    <label class="" for="">TIN certificate Copy</label>
                                    <input class="tin_certificate" name="tin_certificate" type="checkbox">
                                </div>
                                <div class="_gp">
                                    <label class="" for="">Bank Solvency Certificate Copy</label>
                                    <input class="bank_solvency_certi" name="bank_solvency_certi" type="checkbox">
                                </div>
                                <div class="_gp">
                                    <label class="" for="">National ID Card Copy</label>
                                    <input class="national_id" name="national_id" type="checkbox">
                                </div>
                                <div class="_gp">
                                    <label class="" for="">Reference letter (First)</label>
                                    <input class="first_reference_letter" name="first_reference_letter" type="checkbox">
                                </div>
                                <div class="_gp">
                                    <label class="" for="">Reference letter (Second)</label>
                                    <input class="second_reference_letter" name="second_reference_letter" type="checkbox">
                                </div>
                                <div class="_gp">
                                    <label class="" for="">Additional Information</label>
                                    <input class="additinal_info" name="additinal_info" type="checkbox">
                                </div>
                            </div>
                            <div class="content">
                                <p>Please write any additional Information you would like to share with us:.......................</p>
                                <h4>Benefits of Local Host:</h4>
                                <ul class="bold">
                                    <li>1. Local Host shall be receivable of TK.20 or 20% for each paid merchant on board.</li>
                                    <li>2. Sales Commission for 5000 outlet/ professionals.</li>
                                    <li>3. After completion of agreement present local host will be given priority for the next agreement.</li>
                                </ul>
                                <h4>Terms and Conditions:</h4>
                                <ul>
                                    <li>1. Local Host Applicant shall have his own or rented space (which will be partially used by the Company/ which will be used for the official work of the company)</li>
                                    <li>2. Local Host must have valid Trade License.</li>
                                    <li>3. Local Host Agreement shall be validated for next 3 years from the date of signing.</li>
                                    <li>4. Local Host Agreement may be renewed after 3 conclusive years on the basis of mutual understanding of the both parties.</li>
                                    <li>5. Local Host shall not be able to claim the deposited money before 3 years.</li>
                                    <li>6. Only one Local Host will be provided against one valid Trade License.</li>
                                    <li>7. One Local Host will cover 5000 (Five Thousand) on boarded shop or professionals.</li>
                                    <li>8. Local Host shall not be able to get back any of the security deposited amount if the force majeure occurs or deterioration of business condition.</li>
                                    <li>9. Local Host shall have to appoint minimum 10 (ten) commission-based PRA (Part-Time Relationship Ambassador) in his jurisdictions.</li>
                                    <li>10. Local host can take 05 (five) RA (Relationship Ambassador) from the company for the two months. In this regard they will be fully paid by the company if they (RA) can achieve their targets set by the company or otherwise local host will be responsible for paying 50% of their salary.</li>
                                    <li>11. Local Host shall have to monitor all the activities of RA (Relationship Ambassador) and PRA (Part-Time Relationship Ambassador) in the selected area. If any problem arise local host shall have to solve that at his own responsibility. </li>
                                </ul>
                                <p>I, have signed the application form as a token of acceptance of the aforesaid terms and conditions. I, hereby declare that the above mentioned information are correct and I shall provide any further information that is required. I hereby also acknowledge that I have read, understand and agreed to the terms & conditions.</p>
                                <p class="bold">**The Soft Commerce Limited reserves the right to amend the terms and condition at any time without any farther notice</p>
                                <div class="condi_agree">
                                    <input type="checkbox" class="agree_condition" name="agree_condition" value="1">
                                    <label class=" text-primary" for="">
                                        I agree to <a href="#">terms and conditions</a>
                                    </label>
                                </div>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn back">Previous</button>
                                <button type="submit" class="btn submit" @click="stepBtn('Step_Four')">Submit</button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</template>
<script>
import { ref } from "vue";
import MySwitch from "./MySwitch1.vue";
export default {
    components: { MySwitch },
    data(){
        return {
            switchValue: true,
        }
    },
    setup(){
        // const switchValue = ref(false);
        const step_one = ref(true);
        const step_two = ref(false);
        const step_three = ref(false);
        const step_four = ref(false);

        const stepBtn = (value) => {
            if(value == 'Step_One'){
                step_one.value = false;
                step_three.value = false;
                step_four.value = false;
                step_two.value = true;
            }else if(value == 'Step_Two'){
                step_one.value = false;
                step_two.value = false;
                step_four.value = false;
                step_three.value = true;
            }else if(value == 'Step_Three'){
                step_one.value = false;
                step_two.value = false;
                step_three.value = false;
                step_four.value = true;
            }
        }

        return {
            // switchValue,
            step_one,
            step_two,
            step_three,
            step_four,
            stepBtn
        }
    }
}
</script>
<style lang="scss">
.local_form {
    .form_data {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 20px;
        form {
            max-width: 600px;
            padding: 30px;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 2px 8px rgba(0,0,0,0.15);
            .form {
                textarea {
                    font-size: 16px;
                }
                .control {
                    width: 100%;
                    height: 40px;
                    outline: none;
                    margin-bottom: 12px;
                    font-size: 15px;
                    color: #444;
                    border: 1px solid #ddd;
                    padding: 4px 12px;
                    border-radius: 4px;
                    &::placeholder {
                        color: #999;
                    }
                    &:focus {
                        border-color: #80bdff;
                    }
                }
                .actions {
                    display: flex;
                    justify-content: space-between;
                    button {
                        padding: 12px 20px;
                        border: none;
                        outline: none;
                        background: linear-gradient(80deg, #4e8d43, #46c723);
                        display: inline-block;
                        color: #fff;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        transition: all 0.2s ease 0s;
                        -webkit-transition: all 0.2s ease 0s;
                        &:hover {
                            box-shadow: 0 10px 30px rgba(97, 180, 45, 0.45);
                            transform: translateY(4px);
                        }
                    }
                }
            }
            .step {
                h1 {
                    font-size: 20px;
                    color: #444;
                    margin-bottom: 20px;
                }
                .form {
                    textarea.tah_2 {
                        height: 60px;
                    }
                    textarea.tah_3 {
                        height: 80px;
                    }
                }
                &.one {
                    .form {
                        .actions {
                            justify-content: flex-end;
                        }
                    }
                }
                &.four {
                    .form {
                        ._gp {
                            margin-bottom: 12px;
                            display: flex;
                            align-items: center;
                            label {
                                width: 240px;
                                font-size: 13px;
                                color: #444;
                                display: inline-block;
                            }
                        }
                        .content {
                            h4 {
                                font-family: "Segoe UI",Arial,sans-serif;
                                font-weight: 400;
                                font-size: 20px;
                                color: #555;
                                text-align: center;
                                text-decoration: underline;
                                margin-bottom: 8px;
                                margin-top: 20px;
                            }
                            p {
                                color: #444;
                                font-size: 13px;
                                line-height: 22px;
                                margin-bottom: 16px;
                            }
                            ul {
                                list-style: none;
                                font-size: 13px;
                                color: #444;
                                &.bold {
                                    font-weight: 600;
                                }
                                li {
                                    line-height: 20px;
                                    margin-bottom: 12px;
                                }
                            }
                            .condi_agree {
                                margin-bottom: 20px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
</style>