<template>
    <div class="vue_switch" @click="changeSwitchValue">
        <div class="switch on" :class="[ switchValue ? 'on' : 'off' ]">
            <div class="circle"></div>
        </div>
    </div>
</template>
<script>
export default {
    props: ["switchValue",],
    setup(_,context) {
        const changeSwitchValue = () => {
            context.emit("switchValueChanged")
            
        }

        return {
            changeSwitchValue
        }
    }
}
</script>
<style lang="scss">
.vue_switch {
    .switch {
        width: 60px;
        height: 24px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 0 6px;
        cursor: pointer;
        &.on {
            background-color: green;
            justify-content: flex-end;
        }
        &.off {
            background-color: gray;
            justify-content: flex-start;
        }
        .circle {
            height: 18px;
            width: 18px;
            background-color: #f2f2f2;
            border-radius: 50%;
        }
    }
}
</style>