<template>
    <header class="head">
        <div class="scroll_fixed">
            <div class="left">
                <div class="logo">
                    <router-link to="" class="link">
                        <img src="@/assets/medicine/web-logo.png" alt="Logo">
                    </router-link>
                </div>
            </div>
            <div class="middle">
                <div class="search">
                    <form action="">
                        <input type="text" placeholder="Search...">
                        <button type="button">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                                <g>
                                    <path class="st0" d="M62.52,55.58c-3.49-3.57-7.02-7.09-10.55-10.62c-0.91-0.91-2.01-1.44-3.32-1.46
                                        c-0.29-0.01-0.46-0.17-0.64-0.34c-1.29-1.3-2.6-2.58-3.87-3.91c-0.41-0.43-0.6-0.5-1,0.03c-1.11,1.49-2.42,2.81-3.89,3.95
                                        c-0.42,0.33-0.32,0.48-0.01,0.79c1.34,1.31,2.64,2.66,3.97,3.98c0.22,0.22,0.34,0.43,0.36,0.76c0.08,1.22,0.55,2.29,1.42,3.16
                                        c3.59,3.59,7.17,7.18,10.76,10.77c0.91,0.91,2.04,1.29,3.21,1.33c2.03,0,3.83-1.14,4.58-2.94C64.39,59.03,64.05,57.14,62.52,55.58z
                                        "/>
                                    <path class="st0" d="M46,23.12C46,10.35,35.7,0,23,0C10.3,0,0,10.35,0,23.12s10.3,23.11,23,23.11C35.7,46.23,46,35.88,46,23.12z
                                        M22.96,41.46C12.84,41.44,4.67,33.2,4.7,23.05C4.74,12.85,12.89,4.7,23.03,4.71c10.13,0.01,18.28,8.23,18.26,18.4
                                        C41.28,33.28,33.08,41.49,22.96,41.46z"/>
                                </g>
                                </svg>
                        </button>
                    </form>
                </div>
            </div>
            <div class="right">
                <div class="user_options">
                    <ul class="cart">
                        <li class="item">
                            <router-link to="" class="link"></router-link>
                        </li>
                    </ul>
                    <div class="users"></div>
                </div>
            </div>
        </div>
    </header>
</template>
<style lang="scss" scoped>
header.head {
    height: 80px;
    width: 100%;
    // box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    background: #fff;
    .scroll_fixed {
        height: 80px;
        width: 100%;
        padding: 4px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
        .left,
        .right {
            width: 30%;
        }
        .middle {
            width: 40%;
        }
        .left {
            .logo {
                width: 100%;
                height: 100%;
                .link {
                    display: block;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        .middle {
            .search {
                form {
                    position: relative;
                    input {
                        max-width: 450px;
                        width: 100%;
                        height: 45px;
                        border: 1px solid #ddd;
                        border-radius: 20px;
                        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
                        font-size: 16px;
                        color: #444;
                        outline: none;
                        padding: 4px 16px 4px 50px;
                        &::placeholder {
                            color: #aaa;
                        }
                    }
                    button {
                        position: absolute;
                        top: 50%;
                        left: 16px;
                        border: none;
                        background: transparent;
                        outline: none;
                        cursor: pointer;
                        transform: translateY(-50%);
                        svg {
                            fill: #005e6a;
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
}
</style>