<template>
    <div class="section_product men_product">
        <div class="heading">
            <h2>Men's Products</h2>
        </div>
        <div class="items">
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/products/durex-extra-safe-1646047428769.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">KY Jelly 50g (Johnson & Johnson)</div>
                        <div class="generic">Gel</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳250.00</div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/products/ky-jelly-50g-johnson-johnson-1644061182498.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Durex Strawberry 50 ml</div>
                        <div class="generic">Gel</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳780.00</div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/products/durex-strawberry-50-ml-1646044902203.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Durex Extra Safe</div>
                        <div class="generic">Condom</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳100.00</div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/products/1604845928813.png?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Sensation Classic</div>
                        <div class="generic">Condom</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳625.00</div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/medicine/kool-deo-body-spray-blu-passion-1611644864528.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Kool Deodorant Body Spray (Blue Passion)</div>
                        <div class="generic">Spray</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳240.00</div>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.section_product {
    padding: 40px;
    .heading {
        h2 {
            font-size: 32px;
            color: #444;
            margin-bottom: 30px;
            text-align: center;
            font-weight: 500;
        }
    }
    .items {
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(5, minmax(160px, 1fr));
        column-gap: 20px;
        row-gap: 20px;
        .item {
            height: 100%;
            .link {
                padding: 8px;
                box-shadow: 0 2px 4px rgba(0,0,0,.15);
                display: inline-block;
                border-radius: 4px;
                text-decoration: none;
                height: 100%;
                .thumbnail {
                    border-radius: 4px;
                    overflow: hidden;
                    display: flex;
                    img {
                        max-width: 100%;
                    }
                }
                .content {
                    .title {
                        font-size: 14px;
                        font-weight: 600;
                        color: #444;
                        margin-top: 16px;
                    }
                    .generic {
                        font-size: 13px;
                        color: #777;
                        margin-top: 4px;
                        margin-bottom: 8px;
                    }
                    .price {
                        display: flex;
                        column-gap: 8px;
                        align-items: center;
                        .text {
                            font-size: 13px;
                            color: #777;
                        }
                        .sell_price {
                            font-size: 20px;
                            color: #f19024;
                        }
                        .regular_price {
                            font-weight: 14px;
                            color: #777;
                        }
                    }
                }
            }
        }
    }
}
</style>