<template>
    <div class="nav_menu">
        <ul class="items">
            <li class="item">
                <router-link to="" class="link">Home</router-link>
            </li>
            <li class="item">
                <router-link to="" class="link">OTC Medicines</router-link>
            </li>
            <li class="item">
                <router-link to="" class="link">Prescription Medicines</router-link>
            </li>
            <li class="item">
                <router-link to="" class="link">Healthcare Products</router-link>
            </li>
            <li class="item">
                <router-link to="" class="link">Devices & Equipment</router-link>
            </li>
            <li class="item">
                <router-link to="" class="link">Baby Care</router-link>
            </li>
            <li class="item">
                <router-link to="" class="link">Men's Products</router-link>
            </li>
            <li class="item">
                <router-link to="" class="link">Online Doctor's</router-link>
            </li>
            <li class="item">
                <router-link to="" class="link">Women's Products</router-link>
            </li>
            <li class="more dropdown">
                <span class="txt">More </span>
                <ul class="items">
                    <li class="item">
                        <router-link to="" class="link">Kid's Item</router-link>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</template>
<style lang="scss" scoped>
.nav_menu {
    height: 40px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(#45bdaa,transparent);
    background-color: #005e6a;
    padding: 4px 50px;
    ul.items {
        display: flex;
        align-items: center;
        column-gap: 16px;
        list-style: none;
        .item {
            .link {
                font-size: 13px;
                color: #fff;
                text-decoration: none;
            }
        }
        .dropdown {
            position: relative;
            &:hover .items {
                margin-top: 0;
                visibility: visible;
                opacity: 1;
            }
            &::after {
                position: absolute;
                content: "";
                left: 0;
                top: 10px;
                width: 100%;
                height: 20px;
                background: transparent;
                cursor: pointer;
            }
            span.txt {
                font-size: 15px;
                cursor: pointer;
            }
            .items {
                position: absolute;
                right: 0;
                top: 25px;
                width: 200px;
                height: auto;
                background: linear-gradient(#45bdaa,transparent);
                background-color: #005e6a;
                margin-top: 16px;
                visibility: hidden;
                opacity: 0;
                overflow: hidden;
                transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                .item {
                    width: 100%;
                    .link {
                        padding: 10px 16px;
                        display: block;
                        text-align: left;
                    }
                }
            }
        }
    }
}
</style>