<template>
    <div class="section_product otcc_mediccine">
        <div class="heading">
            <h2>OTC Medicines</h2>
        </div>
        <div class="items">
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/diseases/png6-1655549245892.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Fever</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/diseases/png4-1655550484051.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Headache</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/diseases/png2-1655549071618.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Diarrhea</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/diseases/png7-1655549257017.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Eczema</div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/diseases/png3-1655549044137.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="txt">Pregnancy</div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.section_product {
    padding: 40px;
    .heading {
        h2 {
            font-size: 32px;
            color: #444;
            margin-bottom: 30px;
            text-align: center;
            font-weight: 500;
        }
    }
    .items {
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(5, minmax(100px, 1fr));
        column-gap: 20px;
        row-gap: 20px;
        .item {
            height: 100%;
            .link {
                padding: 8px;
                box-shadow: 0 2px 4px rgba(0,0,0,.15);
                display: inline-block;
                border-radius: 4px;
                text-decoration: none;
                height: 100%;
                .thumbnail {
                    border-radius: 4px;
                    overflow: hidden;
                    display: flex;
                    img {
                        max-width: 100%;
                    }
                }
                .content {
                    padding: 20px 0;
                    .txt {
                        font-size: 12px;
                        font-weight: 600;
                        color: #444;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
</style>