<template>
    <div class="section_product pres_medicine">
        <div class="heading">
            <h2>Prescripttion Mediciness</h2>
        </div>
        <div class="items">
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/medicine/sergel-20-1636287026630.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Sergel 20</div>
                        <div class="generic">Capsule</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳6.65</div>
                            <div class="regular_price"><del>৳7.00</del></div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/medicine/clopid-1636287396222.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Clopid 75</div>
                        <div class="generic">Tablet</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳6.65</div>
                            <div class="regular_price"><del>৳7.00</del></div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/medicine/monas-10-1636287216759.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Monas 10</div>
                        <div class="generic">Tablet</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳6.65</div>
                            <div class="regular_price"><del>৳7.00</del></div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/medicine/bisocor-1636289033432.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Bisocor 2.5</div>
                        <div class="generic">Tablet</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳6.65</div>
                            <div class="regular_price"><del>৳7.00</del></div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/medicine/bizoran-1636288240602.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Bizoran 5/40</div>
                        <div class="generic">Tablet</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳6.65</div>
                            <div class="regular_price"><del>৳7.00</del></div>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.section_product {
    padding: 40px;
    .heading {
        h2 {
            font-size: 32px;
            color: #444;
            margin-bottom: 30px;
            text-align: center;
            font-weight: 500;
        }
    }
    .items {
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(5, minmax(160px, 1fr));
        column-gap: 20px;
        row-gap: 20px;
        .item {
            height: 100%;
            .link {
                padding: 8px;
                box-shadow: 0 2px 4px rgba(0,0,0,.15);
                display: inline-block;
                border-radius: 4px;
                text-decoration: none;
                height: 100%;
                .thumbnail {
                    border-radius: 4px;
                    overflow: hidden;
                    display: flex;
                    img {
                        max-width: 100%;
                    }
                }
                .content {
                    .title {
                        font-size: 14px;
                        font-weight: 600;
                        color: #444;
                        margin-top: 16px;
                    }
                    .generic {
                        font-size: 13px;
                        color: #777;
                        margin-top: 4px;
                        margin-bottom: 8px;
                    }
                    .price {
                        display: flex;
                        column-gap: 8px;
                        align-items: center;
                        .text {
                            font-size: 13px;
                            color: #777;
                        }
                        .sell_price {
                            font-size: 20px;
                            color: #f19024;
                        }
                        .regular_price {
                            font-weight: 14px;
                            color: #777;
                        }
                    }
                }
            }
        }
    }
}
</style>