<template>
    <div class="service_area">
        <div class="items">
            <div class="item">
                <div class="offer"><span>Upto 15% off</span></div>
                <div class="content">
                    <div class="text">Upload Prescription</div>
                    <base-button small="btn_css">Upload Now</base-button>
                </div>
            </div>
            <div class="item">
                <div class="offer"><span>Upto 40% off</span></div>
                <div class="content">
                    <div class="text">Healthcare Products</div>
                    <base-button small="btn_css">Order Now</base-button>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="text">Help Line</div>
                    <base-button small="btn_css">Call Now</base-button>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.service_area {
    padding: 40px;
    .items {
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(3, minmax(180px, 1fr));
        column-gap: 30px;
        .item {
            background-position: top;
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 200px;
            position: relative;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
            border-radius: 4px;
            overflow: hidden;
            &:nth-child(1){
                background-image: url('@/assets/medicine/presciptionUploaderBg.png');
                .offer {
                    background-image: url('@/assets/medicine/service-offer-batch.png');
                }
            }
            &:nth-child(2){
                background-image: url('@/assets/medicine/healthcare-service-bg.png');
                .offer {
                    background-image: url('@/assets/medicine/service-offer-batch.png');
                }
            }
            &:nth-child(3){
                background-image: url('@/assets/medicine/calltoActionBg.png');
            }
            .offer {
                position: absolute;
                background-position: top;
                background-size: contain;
                background-repeat: no-repeat;
                max-width: 150px;
                width: 100%;
                max-height: 40px;
                height: 100%;
                top: 3px;
                span {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    left: 8px;
                    font-size: 14px;
                    color: #fff;
                }
            }
            .content {
                .text {
                    position: absolute;
                    top: 50%;
                    left: 12px;
                    font-size: 14px;
                    font-weight: 600;
                    color: #444;
                }
                .btn_css {
                    position: absolute;
                    left: 12px;
                    bottom: 0;
                    padding: 12px 20px;
                    font-size: 13px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}
</style>