<template>
    <div class="slider">
        <div class="items">
            <div class="item">
                <img src="https://osudpotro.com/_next/image?url=https%3A%2F%2Fcdn.osudpotro.com%2Fcarousal%2Fweb-banner-50-offer2-1659526951650.webp&w=1920&q=75" alt="Image">
            </div>
        </div>
        <div class="arrows"></div>
        <div class="dots"></div>
    </div>
</template>
<style lang="scss" scoped>
.slider {
    .items {
        .item {
            display: flex;
            img {
                max-width: 100%;
            }
        }
    }
}
</style>