<template>
    <div class="section_product men_product">
        <div class="heading">
            <h2>Women's Products</h2>
        </div>
        <div class="items">
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/products/untitled-1-1632993793719.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">New Whisper Maxi Nights (15 Pads)</div>
                        <div class="generic">Sanitary Napkin</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳253.00</div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/products/norix-1-1635153230623.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Norix 1</div>
                        <div class="generic">Tablet</div>  
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳780.00</div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/products/Freedom-Heavy-Flow-Wings-16pads-1606209128845.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Freedom Heavy Flow Wings 16pads</div>
                        <div class="generic">Sanitary Napkin</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳200.00</div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/products/senora-confidence-ultra-8-pcs-1633427446868.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Senora Confidence Ultra 8 Pcs</div>
                        <div class="generic">Sanitary Napkin</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳110.00</div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="item">
                <router-link to="" class="link">
                    <div class="thumbnail">
                        <img src="https://cdn.osudpotro.com/thumb/medicine/FREEDOM-PREGNANCY-STRIP-1611640317128.webp?w=640" alt="Image">
                    </div>
                    <div class="content">
                        <div class="title">Freedom pregnancy strip</div>
                        <div class="generic">Pregnancy test strip</div>
                        <div class="price">
                            <div class="text">Best Price*</div>
                            <div class="sell_price">৳35.00</div>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.section_product {
    padding: 40px;
    .heading {
        h2 {
            font-size: 32px;
            color: #444;
            margin-bottom: 30px;
            text-align: center;
            font-weight: 500;
        }
    }
    .items {
        display: grid;
        height: auto;
        align-content: start;
        grid-template-columns: repeat(5, minmax(160px, 1fr));
        column-gap: 20px;
        row-gap: 20px;
        .item {
            height: 100%;
            .link {
                padding: 8px;
                box-shadow: 0 2px 4px rgba(0,0,0,.15);
                display: inline-block;
                border-radius: 4px;
                text-decoration: none;
                height: 100%;
                .thumbnail {
                    border-radius: 4px;
                    overflow: hidden;
                    display: flex;
                    img {
                        max-width: 100%;
                    }
                }
                .content {
                    .title {
                        font-size: 14px;
                        font-weight: 600;
                        color: #444;
                        margin-top: 16px;
                    }
                    .generic {
                        font-size: 13px;
                        color: #777;
                        margin-top: 4px;
                        margin-bottom: 8px;
                    }
                    .price {
                        display: flex;
                        column-gap: 8px;
                        align-items: center;
                        .text {
                            font-size: 13px;
                            color: #777;
                        }
                        .sell_price {
                            font-size: 20px;
                            color: #f19024;
                        }
                        .regular_price {
                            font-weight: 14px;
                            color: #777;
                        }
                    }
                }
            }
        }
    }
}
</style>